<div class="pager_wrap" *ngIf="!pageInfo">
    <div style="color: rgb(199,98,98); font-size: 40px; justify-content: center; align-items: center;">Error</div>
</div><!--ToDo проверить на наличие полей currentPage и totalPage и удалить этот блок-->
<div class="pager_wrap" *ngIf="isVisible">
    <pbx-button name="pagination_first"
                value="«"
                buttonType="pagination"
                [inactive]="!canMoveToFirst"
                (onClick)="moveToFirst()"
                >
    </pbx-button>
    <pbx-button name="pagination_prev"
                [inactive]="!canMoveBack" 
                buttonType="pagination"
                value="Prev"
                (onClick)="moveBack()"
                >
    </pbx-button>
    <div class="pager_info">
        <div class="pager_select" (clickOutside)="hideLimitSelector()">
            <div class="pager_select_value"
                 (click)="toggleLimitSelector()"
                 >
                {{currentPageRange}}
            </div>
            <div class="pager_select_wrap show" *ngIf="limitSelectorVisible">
                <div *ngFor="let item of limitSelectorOptions"
                     class="pager_select_item"
                     [ngClass]="{ 'current': isCurrentLimit(item) }"
                     (click)="selectLimit(item)"
                     >
                     {{item}}
                </div>
            </div>
        </div>
        <div class="pager_total">{{' of ' + pageInfo.itemsCount}}</div>
    </div>
    <pbx-button name="pagination_next" 
                value="Next"
                buttonType="pagination"
                [inactive]="!canMoveForward"
                (onClick)="moveForward()"
                >
    </pbx-button>
    <pbx-button name="pagination_last"
                value="»"
                buttonType="pagination"
                [inactive]="!canMoveToLast"
                (onClick)="moveToLast()"
                >
    </pbx-button>
</div>
