@import '../../vars'

.sidebar
  flex: 0 0 rem(352)
  flex-direction: column
  margin: 0 rem(-32) 0 rem(24)
  width: rem(352)
  padding: rem(40) rem(24) rem(24)
  &_info
    &_wrap
      flex-direction: column
    &_title
      flex: 0 0 auto
      font-size: rem(40)
      margin-bottom: rem(20)
    &_description
      min-height: rem(32)
      &:not(:first-child)
        margin-top: rem(16)
  &_description
    flex: 0 0 auto
    &_wrap
      flex-direction: column
      overflow-y: auto
      .description_item_wrap
        flex: 1 0 auto
        justify-content: space-between
        min-height: rem(32)
      .description_text
        align-items: center

// Theme styles
\:host-context(.dark_theme)
  .sidebar
    background: $dark_overlay
    .side_wrap
      background: $dark_overlay
