@import '../../vars'

.sidebar
  flex: 0 0 rem(352)
  flex-direction: column
  margin: 0 rem(-32) 0 rem(24)
  width: rem(352)
  padding: rem(40) rem(24) rem(24)
  &_info
    &_wrap
      flex-direction: column
    &_title
      flex: 0 0 auto
      font-size: rem(40)
      margin-bottom: rem(20)
    &_description
      min-height: rem(32)
      &:not(:first-child)
        margin-top: rem(16)
  &_description
    flex: 0 0 auto
    &_wrap
      flex-direction: column
      overflow-y: auto
      .description_item_wrap
        flex: 1 0 auto
        justify-content: space-between
        min-height: rem(32)
        &.column
          flex-direction: column
      .description_text
        align-items: center
        //&.column
        //  margin-top: 15px
        &.title
          margin-bottom: rem(16)
          font-size: rem(12)
          opacity: .8
    &_link
      cursor: pointer
      &:hover
        text-decoration: underline
      &.warning
        color: $dark_error
  &_buttons
    //padding: rem(0) rem(24) rem(24)
    display: grid
    grid-gap: rem(24)
    grid-template-columns: 1fr 1fr
    pbx-button
      flex: 1
      /deep/ .button
        flex: 1

// Theme styles
\:host-context(.dark_theme)
  .sidebar
    background: $dark_overlay
