<div class="sidebar">
    <pbx-loader *ngIf="sidebarInfo && sidebarInfo.loading"></pbx-loader>
    <div class="sidebar_info_wrap" *ngIf="sidebarInfo && !sidebarInfo.loading">
        <div class="sidebar_info_title">{{sidebarInfo.title}}</div>
        <div class="sidebar_description_wrap">
            <div class="sidebar_info_description" *ngFor="let item of viewItems()">
                <div class="description_text" *ngIf="!item.value && !item.link">
                    {{item.title}}
                </div>
                <div class="description_item_wrap {{sidebarInfo.position}}" *ngIf="item.value && !item.link">
                    <div class="description_text title">{{item.title}}</div>
                    <div class="description_text {{sidebarInfo.position}}">{{item.value}}</div>
                </div>
                <div class="sidebar_description_link warning" *ngIf="item.link" (click)="click(item)">
                    {{item.title}}
                </div>
            </div>
        </div>
    </div>
    <ng-content></ng-content>
    <div class="sidebar_buttons" *ngIf="sidebarInfo && sidebarInfo.buttons.length > 0">
        <pbx-button
                *ngFor="let button of sidebarInfo.buttons"
                [value]="button.title"
                [buttonType]="button.type"
                (onClick)="click(button)"
        ></pbx-button>
    </div>
</div>
