<div class="overview">
    <div class="overview_header">
        Our referral bonus program will reward you for each new user registered using your referral link. Invite your friends and get 5% bonus of the amount they spent. Bonus rewards will be active for 90 days and will be burned after.
    </div>
    <div class="overview_body">
        <div class="overview_wrap">
            <div class="overview_title"></div>
            <div class="overview_item">
                <span>Available</span>
                <span>0 ETT</span>
            </div>
            <div class="overview_item">
                <span>Pending</span>
                <span>0 ETT</span>
            </div>
            <div class="overview_title">Tags</div>
            <div class="overview_tag_wrap" *ngIf="!loading.tag" [@Fade]>
                <div class="overview_tag active color_{{item.color}}"
                     *ngFor="let item of tag.active"
                     (click)="clickActiveTag(item)">{{item.title}}
                </div>
                <div class="overview_tag off"
                     *ngFor="let item of tag.inactive"
                     (click)="clickInactiveTag(item)">{{item.title}}
                </div>
            </div>
        </div>
    </div>
</div>
