<div class="notificator-wrap"
     *ngIf="notificatorOne && notificatorOne.visible"
     [ngClass]="{
       'warning' : notificatorOne.type === 'warning',
       'success' : notificatorOne.type === 'success',
       'error' : notificatorOne.type === 'error'
      }"
     [ngStyle]="{'width.px' : notificatorWidth}"
     [@Swipe]>
  <div class="notificator-message">
      {{notificatorOne.message}}
  </div>
  <div class="notificator-action" (click)="notificatorAction()" *ngIf="notificatorOne.actionName">
    {{notificatorOne.actionName}}
  </div>
</div>
