@import "../../vars" // Global variables import

.loader_wrap
  display: flex
  flex-direction: row
  flex: 1 0 auto
  justify-content: center
  align-items: center
  height: 100%
  span.loader
    display: flex
    width: 2px
    background: $accent
    border-radius: 1px
    animation: loader_animation ease-out infinite .7s
    &:not(:first-child)
      margin-left: 8px

@for $i from 1 through 9
  .loader_wrap > span.loader:nth-child(#{$i})
    animation-delay: ($i / 10 + s)
