@import "../../../../../../vars"
// Global variables import

.call_queues_members_add
  &_wrap
    flex: 1
    padding: rem(24)
    flex-flow: column
  &_header
    flex-flow: row
    align-items: center
    margin-bottom: rem(24)
  &_filter
    flex-flow: row
    align-items: center
    margin-right: rem(24)
    input, pbx-select
      width: rem(240)
      margin-left: rem(24)

// Themes styles
\:host-context(.dark_theme)
  .call_queues_members_add_wrap
    background: $dark_pagination_inactive
