<pbx-loader *ngIf="loading"></pbx-loader>
<div class="call_queues_members_add_wrap" *ngIf="!loading" [@Fade]>
  <div class="call_queues_members_add_header">
    <div class="call_queues_members_add_filter">
      Department:
      <pbx-select [placeholder]="'all'" [options]="departments"></pbx-select>
    </div>
    <div class="call_queues_members_add_filter">
      Search:
      <input type="search" placeholder="Search by Name or Phone" (keyup)="search($event)">
    </div>
  </div>
  <pbx-table [tableInfo]="table.title" [tableItems]="members" (onSelect)="selectMember($event)" (onDelete)="deleteMember($event)" [multiple]="true" [selected]="_service.userView.members"></pbx-table>
</div>
