@import "../../vars"
// Global variables import
.tariff
  &_message
    font-size: rem(24)
    color: $dark_error
  &_wrap
    grid-gap: rem(24)
    &.not_enough
      .tariff_wrap_button
        display: none
      .tariff_list
        grid-column: 2/3
    &_button
      transition: .3s
      height: rem(64)
      width: rem(64)
      padding: rem(8)
      border-radius: 100vmax
      align-self: center
      justify-self: center
      &:hover
        background: rgba($dark_primary, 0.1)
        cursor: pointer
        /deep/ *
          cursor: pointer
      &.tariff_inactive
        &:hover
          background: rgba($dark_primary, 0)
          cursor: default
          /deep/ *
            cursor: default
        >.tariff_wrap_icon /deep/ polygon
          fill: rgba($dark_primary, .1)
      &:first-child>.tariff_wrap_icon
        transform: rotate(90deg)
      &:last-child>.tariff_wrap_icon
        transform: rotate(270deg)
    &_icon
      height: 100%
      width: 100%
      /deep/ polygon
        fill: $dark_accent
  &_list
    height: 100%
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-gap: rem(24)
  &_item
    transition: 0s
    flex: 1
    flex-direction: column
    background: $dark_accent
    color: $dark_primary
    &.current_tariff
      background: $dark_pagination_inactive
      .tariff_item_button
        background: rgba($dark_primary,0)
        color: rgba($dark_primary,.2)
        &:hover
          cursor: default
          background: rgba($dark_primary,0)
    &_title
      padding: rem(32) 0
      font-size: rem(32)
      justify-content: center
    &_body
      flex-direction: column
      flex: 1
      &:nth-child(2)
        display: flex
      &:nth-child(3)
        display: none
    &_ul
      flex-direction: column
      padding: 0 rem(24)
      flex: 1
      font-size: rem(16)
      overflow-y: hidden
      &_li:not(:last-child)
        margin-bottom: rem(8)
    &_price
      justify-content: center
      font-size: rem(18)
      margin: rem(64) 0 rem(32)
    &_button
      background: rgba($dark_primary, .2)
      justify-content: center
      font-size: rem(20)
      padding: rem(24) 0
      text-transform: uppercase
      &:hover
        cursor: pointer
        background-color: rgba($dark_primary,.4)
  &_high_resolution
    display: grid
    grid-template-columns: rem(64) 1fr rem(64)
    width: 100%
    height: 100%
  &_mid_resolution
    display: none
    width: calc(100% + 32px)
    max-height: calc(100% + 48px)
    overflow-y: auto
    margin: rem(-24) rem(-32) rem(-24) 0
    padding: rem(24) rem(24) rem(24) 0
    grid-template-columns: repeat(auto-fill,minmax(rem(232),1fr))

@media (max-width: 1279px)
  .tariff
    &_high_resolution
      display: none
    &_mid_resolution
      display: grid
    &_item
      &_title
        padding: rem(24) 0
      &_price
        font-size: rem(16)
        margin: rem(24) 0
      &_button
        font-size: rem(18)
        padding: rem(16)
//@media (max-width: 767px)
//  .tariff
//    &_mid_resolution
//      display: block
//      flex-direction: column
//      width: 100vw
//      flex: 1
//      margin: rem(-24)
//      padding: rem(24)
//      position: relative
//      -ms-overflow-style: none
//      overflow: -moz-scrollbars-none
//      &::-webkit-scrollbar
//        width: 0
//    &_item
//      display: block
//      overflow: hidden
//      &:not(:last-child)
//        margin-bottom: rem(24)
//      &_title
//        font-size: rem(32)
//        padding: rem(16) 0
//        font-weight: 400
//        text-transform: uppercase
//      &_body
//        overflow: hidden
//        &:nth-child(2)
//          display: none
//        &:nth-child(3)
//          display: block
//      &_button
//        font-size: rem(24)
//        width: 100%
//@media (max-width: 511px)
//  .tariff_item
//    &_title, &_button
//      font-size: rem(20)
//    &_price
//      font-size: rem(18)
//    &_ul_li
//      font-size: rem(16)
//@media (max-width: 383px)
//  .tariff_item
//    &_title, &_button, &_price
//      font-size: rem(16)
