@import "../../vars"
// Global variables import
.tariff
  &_wrap
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-gap: rem(24)
    padding-right: 24px
    width: calc(100vw - 272px)
    height: calc(100vh - 128px)
    overflow-x: hidden
    overflow-y: auto
  &_item
    display: flex
    flex-direction: column
    background: $dark_accent
    border-radius: 2px
    &.current_tariff
      background: #5A5A5A
      >.tariff_description>.tariff_description_button:hover
          cursor: default
          background: none
  &_title
    justify-content: center
    padding: rem(40) 0
    font-size: rem(40)
  &_description
    flex-direction: column
    flex: 1
    &_list
      flex-direction: column
      flex: 1
      padding: 0 rem(64)
      &_item
        font-size: rem(16)
        line-height: 200%
        &:last-child
          flex: 1
    &_price
      justify-content: center
      margin: rem(16) 0
      font-size: rem(16)
    &_button
      justify-content: center
      padding: rem(16) 0
      font-size: rem(24)
      background-color: rgba($dark_primary, .25)
      border-radius: 2px
      text-transform: uppercase
      &:hover
        cursor: pointer
.hidden_sm_down
  display: flex
.hidden_sm_up
  display: none

@media (max-width: 1399px)
  .tariff_description_list
    padding: 0 rem(32)
@media (max-width: 1279px)
  .tariff
    &_wrap
      grid-template-columns: 1fr 1fr 1fr
    &_title
      font-size: rem(32)
      padding: rem(24) 0
@media (max-width: 1023px)
  .tariff
    &_wrap
      min-height: calc(100vh - 128)
      max-height: calc(100vh - 128)
      grid-template-columns: 1fr
      align-content: start
    &_item
      flex: auto
      &:hover>.tariff_title
        background-color: rgba($dark_primary, .25)
      &.pick_tariff
        >.tariff_description
          max-height: none
        &:hover>.tariff_title
          background: none
    &_title
      border-radius: 2px
    &_description
      transition: 150ms all linear
      overflow-y: hidden
      &_list
        margin: 24px 0
      &_price
        margin-top: 0
  .hidden_sm_up
    display: flex
  .hidden_sm_down
    display: none
