@import "../../vars"
// Global variables import

.tariff
  &_wrap
    width: 100%
    height: 100%
    display: flex
    flex-flow: row
    justify-content: space-around
    align-items: center
  &_item
    height: 80%
    width: 22%
    display: flex
    flex-flow: column
    justify-content: space-between
    background: $dark_accent
    &__description
      display: flex
      flex-flow: column
      align-items: center
      height: 90%
      &-title
        font-size: rem(27)
        width: 100%
        display: flex
        flex-flow: row
        justify-content: center
        align-items: center
        height: 20%
      &-list
        display: flex
        flex-flow: column
        align-items: center
        width: 100%
        height: 70%
        &__item
          width: 50%
          font-size: rem(18)
          margin-top: 10px
      &-price
        width: 100%
        height: 10%
        display: flex
        flex-flow: column
        justify-content: center
        align-items: center
        font-size: rem(17)
    &__button
      width: 100%
      height: 10%
      display: flex
      flex-flow: row
      align-items: center
      justify-content: center
      background: $dark_pagination
      font-size: rem(18)
      text-transform: uppercase
      cursor: pointer

.current_tariff
  background: $dark_overlay

@media all and (max-width: 1024px)
  .tariff_item__description-title
    font-size: rem(23)
  .tariff_item__description-list__item
    font-size: rem(15)
    width: 65%
