<div class="auth_form">
  <svg-icon src="/assets/icons/logo.svg" class="auth_form_icon"></svg-icon>
  <form (submit)="signIn($event)" [formGroup]="signInForm" (keyup)="clearMessage($event)">
    <div class="auth_form_message" [ngClass]="message.type" *ngIf="message" [@Fade] (click)="_services.clearMessage()">{{message.message}}</div>
    <div class="input_wrap">
      <input name="Username" id="username" placeholder="Username" formControlName="login">
      <div class="input_error" *ngIf="inputValidation('login')" [@Fade]>
        <span class="input_error_item" *ngIf="inputValidation('login', 'required')">Please enter your e-mail address</span>
        <span class="input_error_item" *ngIf="inputValidation('login', 'pattern')">Please enter correct e-mail address</span>
      </div>
    </div>
    <div class="input_wrap">
      <input type="password" name="Password" placeholder="Password" formControlName="password" #passwordField>
      <div class="input_error" *ngIf="inputValidation('password')" [@Fade]>
        <span class="input_error_item" *ngIf="inputValidation('password', 'required')">Please enter password</span>
        <span class="input_error_item" *ngIf="inputValidation('password', 'minlength')">Password is too short</span>
      </div>
    </div>
    <pbx-button [buttonType]="'accent'" [loading]="loading" [value]="'Sign In'" (onClick)="signIn()"></pbx-button>
    <a routerLink="../recovery" class="auth_form_link">Forgot your password?</a>
    <div class="auth_form_text">Don't have an EncryptoTel Account?</div>
    <a routerLink="../sign-up" class="auth_form_link">Create one now</a>
  </form>
</div>
