<div class="auth_form" [ngClass]="!imageLoad?'':'auth_form_loaded'">
    <img src="./assets/images/auth_bg.jpg" loaded="imageLoaded()" (load)="imageLoaded()" style="display: none;">
  <svg-icon src="/assets/icons/_logo/encryptotel_logo.svg" class="auth_form_icon"></svg-icon>
  <form (submit)="signIn($event)" [formGroup]="signInForm" (keyup)="clearMessage($event)">
    <div class="auth_form_message" [ngClass]="message.type" *ngIf="message" [@Fade] (click)="_services.clearMessage()">{{message.message}}</div>
    <div class="input_wrap">
      <input #nameInput name="Username" id="username" placeholder="Email or internal number" formControlName="login" (focus)="setFocus(nameInput)" (blur)="removeFocus(nameInput)" (mouseenter)="mouseEnter(nameInput)" (mouseleave)="mouseLeave(nameInput)">
      <div class="input_error" *ngIf="inputValidation('login') && errorName" [@Fade]>
        <span id="sign_in_err_no_email" class="input_error_item" *ngIf="inputValidation('login', 'required')">Please enter your e-mail address or internal number</span>
        <span id="sign_in_err_invalid_email" class="input_error_item" *ngIf="inputValidation('login', 'pattern')">Please enter correct e-mail address or internal number</span>
      </div>
    </div>
    <div class="input_wrap">
      <input #passwordInput type="password" name="Password" placeholder="Password" formControlName="password" (focus)="setFocus(passwordInput)" (blur)="removeFocus(passwordInput)" (mouseenter)="mouseEnter(passwordInput)" (mouseleave)="mouseLeave(passwordInput)">
      <div class="input_error" *ngIf="(inputValidation('password') && errorPassword) || passwordFormError" [@Fade]>
        <span id="sign_in_err_no_password" class="input_error_item" *ngIf="!passwordFormError && inputValidation('password', 'required')">Please enter password</span>
        <span id="sign_in_err_short_password" class="input_error_item" *ngIf="!passwordFormError && inputValidation('password', 'minlength')">Password is too short</span>
        <span id="sign_in_err_password_form_error" class="input_error_item" *ngIf="passwordFormError">{{passwordFormErrorMessage}}</span>
      </div>
    </div>
    <pbx-button [buttonType]="'accent'" [loading]="loading" [value]="'Sign In'" (onClick)="signIn()"></pbx-button>
    <div class="auth_form_text"><a routerLink="../password-recovery" class="auth_form_link">Forgot your password?</a>&nbsp;
      or use&nbsp;<a routerLink="../temporary-code" class="auth_form_link">Temporary Code</a>
    </div>
    <div class="auth_form_text">Don't have an EncryptoTel Account?&nbsp;<a routerLink="../sign-up" class="auth_form_link">Create one now</a></div>
  </form>
</div>
