<pbx-loader *ngIf="chats.length === 0"></pbx-loader>

<div class="list_of_chats" *ngIf="listOfChats">

    <div class="search_wrap">

        <div class="input_wrap">
            <div class="search_icon">
                <svg-icon src="../../assets/images/chat/magnifier_18px.svg"></svg-icon>
            </div> <!-- search-icon -->
            <input type="text" name="searching" placeholder="Search people">
        </div> <!-- input_wrap -->

        <div class="create" (click)="changeCreateStatus()">
            <svg-icon src="../../assets/images/chat/create_18px.svg"></svg-icon>
            <div class="dropdown_block_create" *ngIf="createStatus">
                <div class="item" (click)="createNewGroup()">New Group</div>
                <div class="item">New Secret Chat</div>
            </div> <!-- dropdown -->
        </div> <!-- create -->

    </div> <!-- search_wrap -->

    <div class="items">

        <div class="item menu_block" *ngFor="let chat of chatObjects; let i = index">
            <div class="logo_wrap">
                <div class="logo"><span>AS</span></div>
            </div> <!-- logo_wrap -->
            <div class="cnt">
                <div class="name">
                    <span>{{chat.isGroup ? chat.titleGroup : chat.userName}}</span>
                </div>
                <div class="date">{{chat.lastMessageTime}}</div>
                <div class="msg">{{chat.lastMessage}}</div>
                <div class="new_msgs"><span [ngClass]="chat.countUnread > 10 ? 'long' : ''">{{chat.countUnread > 999 ? '999+': chat.countUnread}}</span></div>
            </div> <!-- cnt -->
            <div class="settings" (click)="dropdownSettings($event, i)" (clickOutside)="clickOutside(i)">
                <svg-icon src="../../assets/images/chat/overflow_16px.svg"></svg-icon>
                <div class="dropdown_block_settings user" *ngIf="!chat.isGroup && dropdownSettingsStatus[i]">
                    <div class="item">Pin</div>
                    <div class="item">Mute</div>
                    <div class="item">Call</div>
                    <div class="item">Clear History</div>
                    <div class="item">Delete Chat</div>
                    <div class="item">Mark As Reed</div>
                </div> <!-- dropdown_block -->
                <div class="dropdown_block_settings group" *ngIf="chat.isGroup && dropdownSettingsStatus[i]">
                    <div class="item">Pin</div>
                    <div class="item">Mute</div>
                    <div class="item">Mark As Reed</div>
                    <div class="item">Clear History</div>
                    <div class="item">Leave Group</div>
                </div> <!-- dropdown_block -->
            </div> <!-- settings -->
        </div> <!-- item -->

    </div> <!-- items -->


    <!--<div class="add_people">-->
        <!--<svg-icon src="../../assets/images/chat/add_people_32px.svg"></svg-icon>-->
    <!--</div>-->

</div> <!-- list -->

<div class="single_chat" *ngIf="chats.length > 0"> <!-- can have the class 'group' - for group conversation -->

    <div class="top">
        <div class="back">
            <svg-icon src="../../assets/images/chat/return_24px.svg"></svg-icon>
        </div> <!-- back -->
        <div class="data">
            <div class="ava">
                <img src="../../assets/images/avatar/no_avatar.jpg" alt="" title="">
            </div> <!-- ava -->
            <div class="name">Alex Freeman</div>
        </div> <!-- data -->
        <div class="search">
            <svg-icon src="../../assets/images/chat/magnifier_18px.svg"></svg-icon>
        </div> <!-- search -->
        <div class="settings" (click)="changeSettingsUserChat()">
            <svg-icon src="../../assets/images/chat/overflow_16px.svg"></svg-icon>
            <div class="dropdown_block_settings user_chat" *ngIf="dropdownSettingsUserChat">
                <div class="item">Edit</div>
                <div class="item">Shared Media</div>
                <div class="item">Info</div>
                <div class="item">Clear Chat History</div>
                <div class="item">Delete Chat</div>
            </div> <!-- dropdown_block -->
        </div> <!-- settings -->
    </div> <!-- top -->

    <div class="calling">
        <span>calling...</span>
        <span>+43 02754 8457</span>
    </div> <!-- calling -->

    <div class="messages scrollToDown">
        <div class="message" *ngFor="let message of messages"
             [ngClass]="message.chatMember.userId == currentUserId?'right':'left'">

            <div class="avatar">
                <img [src]="message.chatMember.avatar" alt="">
            </div>

            <div class="cnt">
                <span class="name">{{message.chatMember ? message.chatMember.name : ''}}&nbsp;</span>
                <div class="msg">{{message.text}}&nbsp;</div>
                <div class="info">
                    <span class="date">{{message.created | date: 'hh:mm'}}</span>
                    <span class="status ext_table_item_circle2" *ngIf="getStatus(message) === 2 && message.my">
                     <svg-icon src="../../assets/images/chat/check_mark_14px.svg"></svg-icon>
                    </span>
                    <span class="status ext_table_item_circle" *ngIf="getStatus(message) === 3 && message.my">
                        <svg-icon src="../../assets/images/chat/check_mark_double_16px.svg"></svg-icon>
                    </span>
                </div>
            </div> <!-- cnt -->

        </div> <!-- message -->
    </div> <!-- messages -->

    <div class="empty_text">No messages here yet</div>

    <div class="input_wrap" [ngClass]="message.length > 0 ? 'send':''">
        <div class="smiles">
            <svg-icon src="../../assets/images/chat/smiley_18px.svg"></svg-icon>
        </div> <!-- smiles -->
        <input type="text" placeholder="Write a message..." [(ngModel)]="message" (keyup)="onMessageKeyUp($event)">
        <div class="files" [ngClass]="dropdownFilesStatus ? 'active':''" (click)="dropdownFilesFunc()">
            <svg-icon src="../../assets/images/chat/clip_18px.svg"></svg-icon>
            <div class="dropdown_block" *ngIf="dropdownFilesStatus">
                <div class="item">Photo or Video</div>
                <div class="item">Camera</div>
                <div class="item">File</div>
                <div class="item">Location</div>
            </div> <!-- dropdown_block -->
        </div> <!-- files -->
        <div class="record">
            <svg-icon class="mic" src="../../assets/images/chat/microphone_18px.svg"></svg-icon>
            <svg-icon class="send" src="../../assets/images/chat/send_message.svg"></svg-icon>
        </div> <!-- record -->
    </div> <!-- input_wrap -->

</div> <!-- talking -->

<div class="new_group create" *ngIf="!listOfChats">

    <div class="top">

        <div class="line {{chatGroupName ? 'acceptedName':''}} {{groupName.length > 0 && !chatGroupName ? 'typingName':''}}">
            <div class="back" (click)="createNewGroup()">
                <svg-icon src="../../assets/images/chat/return_24px.svg"></svg-icon>
            </div> <!-- back -->

            <div class="avatar">
                <div class="inner">
                    <svg-icon src="../../assets/images/chat/new_group_24px.svg"></svg-icon>
                </div> <!-- inner -->
            </div> <!-- avatar -->

            <div class="cnt">
                <div class="title" *ngIf="chatGroupName">{{groupName}}</div>
                <input class="enter_name" type="text" placeholder="Enter Name" [(ngModel)]="groupName" (keyup)="onMessageKeyUp($event)" *ngIf="!chatGroupName">
            </div> <!-- cnt -->

            <div class="accept" *ngIf="!chatGroupName" [ngClass]="groupName.length > 0 ? 'active':''" (click)="acceptGroupName()">
                <svg-icon src="../../assets/images/chat/check_mark_14px.svg"></svg-icon>
            </div> <!-- accept -->

            <div class="search" *ngIf="chatGroupName">
                <svg-icon src="../../assets/images/chat/magnifier_18px.svg"></svg-icon>
            </div> <!-- search -->

            <div class="settings" *ngIf="chatGroupName" (click)="dropdownSettingsGroup()">
                <svg-icon src="../../assets/images/chat/overflow_16px.svg"></svg-icon>
                <div class="dropdown_block_settings" *ngIf="dropdownSettingsGroupStatus">
                    <div class="item">Edit</div>
                    <div class="item">Shared Media</div>
                    <div class="item">Info</div>
                    <div class="item">Mute</div>
                    <div class="item">Clear Chat History</div>
                    <div class="item">Leave Group</div>
                </div> <!-- dropdown_block -->
            </div> <!-- settings -->
        </div> <!-- line -->

        <div class="line" *ngIf="!chatGroupName" [ngClass]="countOfAddedUsers > 0 ? 'coloredAddedUsers': ''">
            <div class="add_people"> <!-- enter_name -->
                <input type="text" placeholder="Add people..." *ngIf="countOfAddedUsers === 0">
                <div class="addedUsers" *ngIf="countOfAddedUsers > 0">
                    <div *ngFor="let item of chatMessages; let i = index">
                        <div class="item" *ngIf="item.status">
                            <div class="letters"><span>AS</span></div>
                            <div class="name">{{item.userName}}</div>
                        </div> <!-- item -->
                    </div>
                </div> <!-- addedUsers -->
            </div> <!-- add_people -->
            <div class="info_block">Info block</div>
        </div> <!-- line -->

        <div class="line">
            <div class="members" *ngIf="countOfAddedUsers > 0 && !chatGroupName">{{countOfAddedUsers}}&nbsp;member{{countOfAddedUsers > 1 ? 's':''}}</div>
        </div> <!-- line -->

    </div> <!-- top -->

    <div class="items" *ngIf="!chatGroupName">

        <div class="item" *ngFor="let item of chatMessages; let i = index" (click)="addUserToGroup(i)" [ngClass]="item.status ? 'added':''">
            <div class="avatar">
                <div class="inner"><span>AS</span></div>
            </div> <!-- avatar -->
            <div class="cnt">
                <div class="name">
                    <span>{{item.userName}}</span></div>
                <div class="msg">
                    <span>{{item.lastMessage}}</span></div>
            </div> <!-- cnt -->
        </div> <!-- item -->

    </div> <!-- items -->

    <div class="items group_chat" *ngIf="chatGroupName">
        <div class="messages">

            <div class="message left">
                <div class="avatar"> </div>
                <div class="cnt">
                    <span class="name">John Smith</span>
                    <div class="msg">Some random phrase. Let's see what will happen if we had typed long message here. I think I have some mistakes, cuz English isn't my native language.</div>
                    <div class="info">
                        <span class="date">14:54</span>
                        <span class="status ext_table_item_circle2">
                            <svg-icon src="../../assets/images/chat/check_mark_14px.svg"></svg-icon>
                        </span>
                        <span class="status ext_table_item_circle">
                            <svg-icon src="../../assets/images/chat/check_mark_double_16px.svg"></svg-icon>
                        </span>
                    </div>
                </div> <!-- cnt -->
            </div> <!-- message -->

            <div class="message right">
                <div class="avatar"> </div>
                <div class="cnt">
                    <span class="name">John Smith</span>
                    <div class="msg">Some random phrase. Let's type more random phrases. More amd more. London is the capital of Great Britan.</div>
                    <div class="info">
                        <span class="date">14:54</span>
                        <span class="status ext_table_item_circle2">
                            <svg-icon src="../../assets/images/chat/check_mark_14px.svg"></svg-icon>
                        </span>
                        <span class="status ext_table_item_circle">
                            <svg-icon src="../../assets/images/chat/check_mark_double_16px.svg"></svg-icon>
                        </span>
                    </div>
                </div> <!-- cnt -->
            </div> <!-- message -->

        </div> <!-- messages -->
    </div> <!-- group_chat -->

    <div class="input_wrap bottom" [ngClass]="message.length > 0 ? 'send':''" *ngIf="chatGroupName">
        <div class="smiles">
            <svg-icon src="../../assets/images/chat/smiley_18px.svg"></svg-icon>
        </div> <!-- smiles -->
        <input type="text" placeholder="Write a message..." [(ngModel)]="message" (keyup)="onMessageKeyUp($event)">
        <div class="files" [ngClass]="dropdownFilesStatus ? 'active':''" (click)="dropdownFilesFunc()">
            <svg-icon src="../../assets/images/chat/clip_18px.svg"></svg-icon>
            <div class="dropdown_block_files" *ngIf="dropdownFilesStatus">
                <div class="item">Photo or Video</div>
                <div class="item">Camera</div>
                <div class="item">File</div>
                <div class="item">Location</div>
            </div> <!-- dropdown_block -->
        </div> <!-- files -->
        <div class="record">
            <svg-icon class="mic" src="../../assets/images/chat/microphone_18px.svg"></svg-icon>
            <svg-icon class="send" src="../../assets/images/chat/send_message.svg"></svg-icon>
        </div> <!-- record -->
    </div> <!-- input_wrap -->

</div> <!-- new_group -->
