<pbx-loader *ngIf="chats.length === 0"></pbx-loader>

<div class="list">

    <div class="search_wrap">

        <div class="search_icon">
            <svg-icon src="../../assets/images/chat/magnifier_18px.svg"></svg-icon>
        </div> <!-- search-icon -->

        <input type="text" name="searching" placeholder="Search people">

        <div class="create" (click)="changeCreateStatus()">
            <svg-icon src="../../assets/images/chat/create_18px.svg"></svg-icon>
            <div class="dropdown_block_create" *ngIf="createStatus">
                <div class="item">New Group</div>
                <div class="item">New Secret Chat</div>
            </div> <!-- dropdown -->
        </div> <!-- create -->

    </div> <!-- search_wrap -->

    <div class="items">

        <div class="item menu_block" *ngFor="let chat of chatObjects; let i = index">
            <div class="logo_wrap">
                <div class="logo"><span>AS</span></div>
            </div> <!-- logo_wrap -->
            <div class="cnt">
                <div class="name">
                    <span>{{chat.isGroup ? chat.titleGroup : chat.userName}}</span>
                </div>
                <div class="date">{{chat.lastMessageTime}}</div>
                <div class="msg">{{chat.lastMessage}}</div>
                <div class="new_msgs"><span [ngClass]="chat.countUnread > 10 ? 'long' : ''">{{chat.countUnread > 999 ? '999+': chat.countUnread}}</span></div>
            </div> <!-- cnt -->
            <div class="settings" (click)="dropdownSettings($event, i)" (clickOutside)="clickOutside(i)">
                <svg-icon src="../../assets/images/chat/overflow_16px.svg"></svg-icon>
                <div class="dropdown_block_settings user" *ngIf="!chat.isGroup && dropdownSettingsStatus[i]">
                    <div class="item">Pin</div>
                    <div class="item">Mute</div>
                    <div class="item">Call</div>
                    <div class="item">Clear History</div>
                    <div class="item">Delete Chat</div>
                    <div class="item">Mark As Reed</div>
                </div> <!-- dropdown_block -->
                <div class="dropdown_block_settings group" *ngIf="chat.isGroup && dropdownSettingsStatus[i]">
                    <div class="item">Pin</div>
                    <div class="item">Mute</div>
                    <div class="item">Mark As Reed</div>
                    <div class="item">Clear History</div>
                    <div class="item">Leave Group</div>
                </div> <!-- dropdown_block -->
            </div> <!-- settings -->
        </div> <!-- item -->

    </div> <!-- items -->


    <div class="add_people">
        <svg-icon src="../../assets/images/chat/add_people_32px.svg"></svg-icon>
    </div>

</div> <!-- list -->

<div class="talking" *ngIf="chats.length > 0">

    <div class="top">
        <div class="back">
            <svg-icon src="../../assets/images/chat/return_24px.svg"></svg-icon>
        </div> <!-- back -->
        <div class="data">
            <div class="ava">
                <img src="../../assets/images/avatar/no_avatar.jpg" alt="" title="">
            </div> <!-- ava -->
            <div class="name">Alex Freeman</div>
        </div> <!-- data -->
        <div class="search">
            <svg-icon src="../../assets/images/chat/magnifier_18px.svg"></svg-icon>
        </div> <!-- search -->
        <div class="settings">
            <svg-icon src="../../assets/images/chat/overflow_16px.svg"></svg-icon>
        </div> <!-- settings -->
    </div> <!-- top -->

    <div class="calling">
        <span>calling...</span>
        <span>+43 02754 8457</span>
    </div> <!-- calling -->

    <div class="messages scrollToDown">
        <div class="message" *ngFor="let message of messages"
             [ngClass]="message.chatMember.userId == currentUserId?'right':'left'">

            <div class="avatar">
                <img [src]="message.chatMember.avatar" alt="">
            </div>

            <div class="cnt">
                <span class="name">{{message.chatMember ? message.chatMember.name : ''}}&nbsp;</span>
                <div class="msg">{{message.text}}&nbsp;</div>
                <div class="info">
                    <span class="date">{{message.created | date: 'hh:mm'}}</span>
                    <span class="status ext_table_item_circle2" *ngIf="getStatus(message) === 2 && message.my">
                     <svg-icon src="../../assets/images/chat/check_mark_14px.svg"></svg-icon>
                    </span>
                    <span class="status ext_table_item_circle" *ngIf="getStatus(message) === 3 && message.my">
                        <svg-icon src="../../assets/images/chat/check_mark_double_16px.svg"></svg-icon>
                    </span>
                </div>
            </div> <!-- cnt -->

        </div> <!-- message -->
    </div> <!-- messages -->

    <div class="input_wrap">
        <div class="smiles">
            <svg-icon src="../../assets/images/chat/smiley_18px.svg"></svg-icon>
        </div> <!-- smiles -->
        <input type="text" placeholder="Message" [(ngModel)]="message" (keyup)="onMessageKeyUp($event)">
        <div class="files">
            <svg-icon src="../../assets/images/chat/clip_18px.svg"></svg-icon>
        </div> <!-- files -->
        <div class="record">
            <svg-icon src="../../assets/images/chat/microphone_18px.svg"></svg-icon>
        </div> <!-- record -->
    </div> <!-- input_wrap -->

</div> <!-- talking -->

<div class="new_group">

    <div class="top">

        <div class="back">
            <svg-icon src="../../assets/images/chat/return_24px.svg"></svg-icon>
        </div> <!-- back -->

        <div class="avatar"> <!-- class remove -->
            <div class="inner">
                <svg-icon src="../../assets/images/chat/new_group_24px.svg"></svg-icon>
            </div> <!-- inner -->
        </div> <!-- avatar -->

        <div class="cnt">
            <div class="title">New group</div> <!-- class naming -->
            <div class="desc">up to 20000 members</div> <!-- class remove -->
        </div> <!-- cnt -->

        <div class="accept">
            <svg-icon src="../../assets/images/chat/check_mark_14px.svg"></svg-icon>
        </div> <!-- accept -->

    </div> <!-- top -->

    <div class="add_people">
        <input type="text" placeholder="Add people...">
    </div> <!-- add_people -->

    <div class="items">

        <div class="item">
            <div class="avatar">
                <div class="inner"><span>AS</span></div>
            </div> <!-- avatar -->
            <div class="cnt">
                <div class="name">
                    <span>Adam Smit</span></div>
                <div class="msg">
                    <span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- cnt -->
        </div> <!-- item -->

        <div class="item">
            <div class="avatar">
                <div class="inner"><span>AS</span></div>
            </div> <!-- avatar -->
            <div class="cnt">
                <div class="name">
                    <span>Adam Smit</span></div>
                <div class="msg">
                    <span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- cnt -->
        </div> <!-- item -->

        <div class="item">
            <div class="avatar">
                <div class="inner"><span>AS</span></div>
            </div> <!-- avatar -->
            <div class="cnt">
                <div class="name">
                    <span>Adam Smit</span></div>
                <div class="msg">
                    <span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- cnt -->
        </div> <!-- item -->

        <div class="item">
            <div class="avatar">
                <div class="inner"><span>AS</span></div>
            </div> <!-- avatar -->
            <div class="cnt">
                <div class="name">
                    <span>Adam Smit</span></div>
                <div class="msg">
                    <span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- cnt -->
        </div> <!-- item -->

        <div class="item">
            <div class="avatar">
                <div class="inner"><span>AS</span></div>
            </div> <!-- avatar -->
            <div class="cnt">
                <div class="name">
                    <span>Adam Smit</span></div>
                <div class="msg">
                    <span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- cnt -->
        </div> <!-- item -->

        <div class="item">
            <div class="avatar">
                <div class="inner"><span>AS</span></div>
            </div> <!-- avatar -->
            <div class="cnt">
                <div class="name">
                    <span>Adam Smit</span></div>
                <div class="msg">
                    <span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- cnt -->
        </div> <!-- item -->

        <div class="item">
            <div class="avatar">
                <div class="inner"><span>AS</span></div>
            </div> <!-- avatar -->
            <div class="cnt">
                <div class="name">
                    <span>Adam Smit</span></div>
                <div class="msg">
                    <span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- cnt -->
        </div> <!-- item -->

        <div class="item">
            <div class="avatar">
                <div class="inner"><span>AS</span></div>
            </div> <!-- avatar -->
            <div class="cnt">
                <div class="name">
                    <span>Adam Smit</span></div>
                <div class="msg">
                    <span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- cnt -->
        </div> <!-- item -->

        <div class="item">
            <div class="avatar">
                <div class="inner"><span>AS</span></div>
            </div> <!-- avatar -->
            <div class="cnt">
                <div class="name">
                    <span>Adam Smit</span></div>
                <div class="msg">
                    <span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- cnt -->
        </div> <!-- item -->

        <div class="item">
            <div class="avatar">
                <div class="inner"><span>AS</span></div>
            </div> <!-- avatar -->
            <div class="cnt">
                <div class="name">
                    <span>Adam Smit</span></div>
                <div class="msg">
                    <span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- cnt -->
        </div> <!-- item -->

        <div class="item">
            <div class="avatar">
                <div class="inner"><span>AS</span></div>
            </div> <!-- avatar -->
            <div class="cnt">
                <div class="name">
                    <span>Adam Smit</span></div>
                <div class="msg">
                    <span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- cnt -->
        </div> <!-- item -->

        <div class="item">
            <div class="avatar">
                <div class="inner"><span>AS</span></div>
            </div> <!-- avatar -->
            <div class="cnt">
                <div class="name">
                    <span>Adam Smit</span></div>
                <div class="msg">
                    <span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- cnt -->
        </div> <!-- item -->

        <div class="item">
            <div class="avatar">
                <div class="inner"><span>AS</span></div>
            </div> <!-- avatar -->
            <div class="cnt">
                <div class="name">
                    <span>Adam Smit</span></div>
                <div class="msg">
                    <span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- cnt -->
        </div> <!-- item -->

        <div class="item">
            <div class="avatar">
                <div class="inner"><span>AS</span></div>
            </div> <!-- avatar -->
            <div class="cnt">
                <div class="name">
                    <span>Adam Smit</span></div>
                <div class="msg">
                    <span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- cnt -->
        </div> <!-- item -->

        <div class="item">
            <div class="avatar">
                <div class="inner"><span>AS</span></div>
            </div> <!-- avatar -->
            <div class="cnt">
                <div class="name">
                    <span>Adam Smit</span></div>
                <div class="msg">
                    <span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- cnt -->
        </div> <!-- item -->

    </div> <!-- items -->

    <div class="adding">

        <div class="added">

            <div class="item">
                <div class="letters"><span>AS</span></div>
                <div class="name">Adam Smit</div>
            </div> <!-- item -->

            <div class="item">
                <div class="letters"><span>AF</span></div>
                <div class="name">Alex Freeman</div>
            </div> <!-- item -->

            <div class="item">
                <div class="letters"><span>J</span></div>
                <div class="name">John</div>
            </div> <!-- item -->

            <div class="item">
                <div class="letters"><span>D</span></div>
                <div class="name">Daniel</div>
            </div> <!-- item -->

            <div class="item">
                <div class="letters"><span>K</span></div>
                <div class="name">Kevin</div>
            </div> <!-- item -->

            <div class="item">
                <div class="letters"><span>DC</span></div>
                <div class="name">Dani Connors</div>
            </div> <!-- item -->

            <div class="item">
                <div class="letters"><span>WG</span></div>
                <div class="name">Work group</div>
            </div> <!-- item -->

        </div> <!-- added -->

        <div class="choose_to_add">

            <div class="item">
                <div class="ava">
                    <div class="inner">
                        <span>AS</span>
                    </div> <!-- inner -->
                </div> <!-- ava -->
                <div class="name"><span>Adam Smit</span></div>
                <div class="msg"><span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- item -->

            <div class="item">
                <div class="ava">
                    <div class="inner">
                        <span>AS</span>
                    </div> <!-- inner -->
                </div> <!-- ava -->
                <div class="name"><span>Adam Smit</span></div>
                <div class="msg"><span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- item -->

            <div class="item">
                <div class="ava">
                    <div class="inner">
                        <span>AS</span>
                    </div> <!-- inner -->
                </div> <!-- ava -->
                <div class="name"><span>Adam Smit</span></div>
                <div class="msg"><span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- item -->

            <div class="item">
                <div class="ava">
                    <div class="inner">
                        <span>AS</span>
                    </div> <!-- inner -->
                </div> <!-- ava -->
                <div class="name"><span>Adam Smit</span></div>
                <div class="msg"><span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- item -->

            <div class="item">
                <div class="ava">
                    <div class="inner">
                        <span>AS</span>
                    </div> <!-- inner -->
                </div> <!-- ava -->
                <div class="name"><span>Adam Smit</span></div>
                <div class="msg"><span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- item -->

            <div class="item">
                <div class="ava">
                    <div class="inner">
                        <span>AS</span>
                    </div> <!-- inner -->
                </div> <!-- ava -->
                <div class="name"><span>Adam Smit</span></div>
                <div class="msg"><span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- item -->

            <div class="item">
                <div class="ava">
                    <div class="inner">
                        <span>AS</span>
                    </div> <!-- inner -->
                </div> <!-- ava -->
                <div class="name"><span>Adam Smit</span></div>
                <div class="msg"><span>Hello. If a curator called Mona Lisa tell me</span></div>
            </div> <!-- item -->

        </div> <!-- choose_to_add -->

    </div> <!-- adding -->

    <div class="naming">

        <div class="enter_name">
            <div class="ava">
                <svg-icon src="../../assets/images/chat/new_group_24px.svg"></svg-icon>
            </div> <!-- ava -->
            <div class="input_wrap">
                <input type="text" placeholder="Enter group name">
            </div> <!-- input_wrap -->
        </div> <!-- enter_name -->

        <div class="members">

            <div class="amount">6 members</div>

            <div class="members_list">

                <div class="member">
                    <div class="avatar">
                        <div class="inner"><span>AS</span></div>
                    </div> <!-- avatar -->
                    <div class="cnt">
                        <div class="name">
                            <span>Adam Smit</span></div>
                        <div class="msg">
                            <span>Hello. If a curator called Mona Lisa tell me</span></div>
                    </div> <!-- cnt -->
                </div> <!-- member -->

                <div class="member">
                    <div class="avatar">
                        <div class="inner"><span>AS</span></div>
                    </div> <!-- avatar -->
                    <div class="cnt">
                        <div class="name">
                            <span>Adam Smit</span></div>
                        <div class="msg">
                            <span>Hello. If a curator called Mona Lisa tell me</span></div>
                    </div> <!-- cnt -->
                </div> <!-- member -->

                <div class="member">
                    <div class="avatar">
                        <div class="inner"><span>AS</span></div>
                    </div> <!-- avatar -->
                    <div class="cnt">
                        <div class="name">
                            <span>Adam Smit</span></div>
                        <div class="msg">
                            <span>Hello. If a curator called Mona Lisa tell me</span></div>
                    </div> <!-- cnt -->
                </div> <!-- member -->

                <div class="member">
                    <div class="avatar">
                        <div class="inner"><span>AS</span></div>
                    </div> <!-- avatar -->
                    <div class="cnt">
                        <div class="name">
                            <span>Adam Smit</span></div>
                        <div class="msg">
                            <span>Hello. If a curator called Mona Lisa tell me</span></div>
                    </div> <!-- cnt -->
                </div> <!-- member -->

                <div class="member">
                    <div class="avatar">
                        <div class="inner"><span>AS</span></div>
                    </div> <!-- avatar -->
                    <div class="cnt">
                        <div class="name">
                            <span>Adam Smit</span></div>
                        <div class="msg">
                            <span>Hello. If a curator called Mona Lisa tell me</span></div>
                    </div> <!-- cnt -->
                </div> <!-- member -->

                <div class="member">
                    <div class="avatar">
                        <div class="inner"><span>AS</span></div>
                    </div> <!-- avatar -->
                    <div class="cnt">
                        <div class="name">
                            <span>Adam Smit</span></div>
                        <div class="msg">
                            <span>Hello. If a curator called Mona Lisa tell me</span></div>
                    </div> <!-- cnt -->
                </div> <!-- member -->

                <div class="member">
                    <div class="avatar">
                        <div class="inner"><span>AS</span></div>
                    </div> <!-- avatar -->
                    <div class="cnt">
                        <div class="name">
                            <span>Adam Smit</span></div>
                        <div class="msg">
                            <span>Hello. If a curator called Mona Lisa tell me</span></div>
                    </div> <!-- cnt -->
                </div> <!-- member -->

                <div class="member">
                    <div class="avatar">
                        <div class="inner"><span>AS</span></div>
                    </div> <!-- avatar -->
                    <div class="cnt">
                        <div class="name">
                            <span>Adam Smit</span></div>
                        <div class="msg">
                            <span>Hello. If a curator called Mona Lisa tell me</span></div>
                    </div> <!-- cnt -->
                </div> <!-- member -->

                <div class="member">
                    <div class="avatar">
                        <div class="inner"><span>AS</span></div>
                    </div> <!-- avatar -->
                    <div class="cnt">
                        <div class="name">
                            <span>Adam Smit</span></div>
                        <div class="msg">
                            <span>Hello. If a curator called Mona Lisa tell me</span></div>
                    </div> <!-- cnt -->
                </div> <!-- member -->

                <div class="member">
                    <div class="avatar">
                        <div class="inner"><span>AS</span></div>
                    </div> <!-- avatar -->
                    <div class="cnt">
                        <div class="name">
                            <span>Adam Smit</span></div>
                        <div class="msg">
                            <span>Hello. If a curator called Mona Lisa tell me</span></div>
                    </div> <!-- cnt -->
                </div> <!-- member -->

                <div class="member">
                    <div class="avatar">
                        <div class="inner"><span>AS</span></div>
                    </div> <!-- avatar -->
                    <div class="cnt">
                        <div class="name">
                            <span>Adam Smit</span></div>
                        <div class="msg">
                            <span>Hello. If a curator called Mona Lisa tell me</span></div>
                    </div> <!-- cnt -->
                </div> <!-- member -->

                <div class="member">
                    <div class="avatar">
                        <div class="inner"><span>AS</span></div>
                    </div> <!-- avatar -->
                    <div class="cnt">
                        <div class="name">
                            <span>Adam Smit</span></div>
                        <div class="msg">
                            <span>Hello. If a curator called Mona Lisa tell me</span></div>
                    </div> <!-- cnt -->
                </div> <!-- member -->

                <div class="member">
                    <div class="avatar">
                        <div class="inner"><span>AS</span></div>
                    </div> <!-- avatar -->
                    <div class="cnt">
                        <div class="name">
                            <span>Adam Smit</span></div>
                        <div class="msg">
                            <span>Hello. If a curator called Mona Lisa tell me</span></div>
                    </div> <!-- cnt -->
                </div> <!-- member -->

                <div class="member">
                    <div class="avatar">
                        <div class="inner"><span>AS</span></div>
                    </div> <!-- avatar -->
                    <div class="cnt">
                        <div class="name">
                            <span>Adam Smit</span></div>
                        <div class="msg">
                            <span>Hello. If a curator called Mona Lisa tell me</span></div>
                    </div> <!-- cnt -->
                </div> <!-- member -->

                <div class="member">
                    <div class="avatar">
                        <div class="inner"><span>AS</span></div>
                    </div> <!-- avatar -->
                    <div class="cnt">
                        <div class="name">
                            <span>Adam Smit</span></div>
                        <div class="msg">
                            <span>Hello. If a curator called Mona Lisa tell me</span></div>
                    </div> <!-- cnt -->
                </div> <!-- member -->

                <div class="member">
                    <div class="avatar">
                        <div class="inner"><span>AS</span></div>
                    </div> <!-- avatar -->
                    <div class="cnt">
                        <div class="name">
                            <span>Adam Smit</span></div>
                        <div class="msg">
                            <span>Hello. If a curator called Mona Lisa tell me</span></div>
                    </div> <!-- cnt -->
                </div> <!-- member -->

            </div> <!-- items -->

        </div> <!-- members_list -->

    </div> <!-- naming -->

</div> <!-- new_group -->
