<div class="call-rules-create">
    <pbx-input name="Action applies for"
               key="appliesForTime"
               [form]="true"
               [(object)]="form"
               formKey="timeRulesGroup.appliesForTime"
               [options]="callRuleTimeTypes"
               displayKey="code"
               [selectedItem]="selectedCallRuleTimeType"
               [validationHost]="validationHost"
               validationKey="timeRulesGroup.appliesForTime"
               (onSelect)="selectTimeRule($event)"
               >
    </pbx-input>

    <div class="call-rules-create_row days"
         *ngIf="isCallRuleDaysSelected">
        <label>Days</label>
        <div>
            <pbx-button *ngFor="let day of callRuleTimeDays; let idx = index" 
                        class="eqwwqewrqwer"
                        [buttonType]="day.type"
                        [value]="day.day" 
                        (onClick)="selectDay(idx)"
                        >
            </pbx-button>
        </div>
    </div>

    <pbx-input name="Duration time"
               key="durationTime"
               [form]="true"
               [(object)]="form"
               formKey="timeRulesGroup.durationTime"
               [options]="durationTimeTypes"
               displayKey="code"
               [selectedItem]="selectedDurationTimeType"
               [validationHost]="validationHost"
               validationKey="timeRulesGroup.durationTime"
               (onSelect)="selectDurationTime($event)"
               >
    </pbx-input>

    <div class="call-rules-create_row"
         *ngIf="isDurationTimeRangeSelected">
        <label>Time</label>
        <div class="time_wrap">
            <pbx-select [singleBorder]="true" 
                        [objectKey]="'time'" 
                        [options]="callRuleTimes"
                        [selected]="selectedDurationTimeRange[0]"
                        (onSelect)="selectTime($event, 0)"
                        >
            </pbx-select>
            <span>―</span>
            <pbx-select [singleBorder]="true" 
                        [objectKey]="'time'" 
                        [options]="callRuleTimes"
                        [selected]="selectedDurationTimeRange[1]"
                        (onSelect)="selectTime($event, 1)"
                        >
            </pbx-select>
        </div>
    </div>
</div>
