<div class="table_head">
  <div class="table_row">
    <div class="table_column" *ngFor="let title of tableInfo.titles">{{title}}</div>
  </div>
</div>
<div class="table_body">
  <div class="table_row" *ngFor="let item of tableItems" (click)="selectItem(item)" [ngClass]="{'active': selected?.id === item.id}">
    <div class="table_column" *ngFor="let key of tableInfo.keys">{{item[key]}}</div>
    <div class="table_row_icon_wrap">
      <svg-icon src="/assets/icons/edit_12px.svg" class="table_row_icon edit" *ngIf="editable" (click)="editItem(item)"></svg-icon>
      <svg-icon src="/assets/icons/cancel_delete_12px.svg" class="table_row_icon delete" (click)="deleteItem(item.id)"></svg-icon>
    </div>
  </div>
</div>
