<div class="pbx_list">

    <pbx-header [buttons]="buttons"
                [filters]="!loading && !loadingEx && (pageInfo.itemsCount > 0 || activeFilter()) ? filters : null"
                (onClick)="create()"
                (onUpdate)="updateFilter($event)"
                (onReload)="reloadFilter($event)"
                [inactive]="loading || loadingEx">
    </pbx-header>

    <pbx-loader *ngIf="loading || loadingEx || filter.loading"></pbx-loader>

    <div class="pbx_list_empty {{sidebarVisible?'notArrow':''}}" *ngIf="showEmptyInfo && !loading && !loadingEx && pageInfo.itemsCount === 0 && !activeFilter()">
        <div class="pbx_list_empty_text" *ngIf="!EmptyInfo">
            You do not have any {{itemsName ? itemsName : name}}<br>Click on the button to create
        </div>
        <div class="pbx_list_empty_text" *ngIf="EmptyInfo" [innerHTML]="EmptyInfo">

        </div>
        <div class="pbx_list_empty_icon" *ngIf="!sidebarVisible">
            <svg-icon id="arrow_edge" src="../../assets/icons/_onbording/onbording_arrow.svg"></svg-icon>
            <object id="arrow_safari" data="../../assets/icons/_onbording/onbording_arrow.svg" type="image/svg+xml"></object>
        </div>
    </div>

    <pbx-table *ngIf="!loading && !loadingEx && !filter.loading && pageInfo.itemsCount > 0"
               [name]="itemName ? itemName : name"
               [tableInfo]="table"
               [tableInfoEx]="tableInfo"
               [tableItems]="pageInfo.items"
               [editable]="editable"
               [deletable]="deletable"
               [multiple]="multiple"
               [selected]="selected"
               (onSort)="sort($event)"
               (onSelect)="select($event)"
               (onEdit)="edit($event)"
               (onDelete)="delete($event)">
    </pbx-table>
    <div class="pbx_list_message" *ngIf="!loading && !loadingEx && !filter.loading && activeFilter() && pageInfo.itemsCount === 0">
        Nothing found
    </div>

    <pbx-pagination
            [pageInfo]="pageInfo"
            (onLimitSelect)="this.pageInfo.page=1;getItems()"
            (onPageChange)="pageInfo.page=$event;getItems()">
    </pbx-pagination>

</div>
