<div class="pbx_list">

    <pbx-header [buttons]="buttons"
                [filters]="!loading && !loadingEx && pageInfo.itemsCount > 0 ? filters : null"
                (onClick)="create()"
                (onReload)="updateFilter($event)"
                [inactive]="loading || loadingEx">
    </pbx-header>

    <pbx-loader *ngIf="loading || loadingEx"></pbx-loader>

    <div class="pbx_list_empty" *ngIf="!loading && !loadingEx && pageInfo.itemsCount === 0">
        <div class="pbx_list_empty_text">
            You do not have any {{itemName ? itemName : name}}<br>Click on the button to create
        </div>
        <div class="pbx_list_empty_icon">
            <svg-icon src="../../assets/icons/onbording_arrow.svg"></svg-icon>
        </div>
    </div>

    <pbx-table *ngIf="!loading && !loadingEx && pageInfo.itemsCount > 0"
               [name]="itemName ? itemName : name"
               [tableInfo]="table"
               [tableItems]="pageInfo.items"
               [editable]="editable"
               [deletable]="deletable"
               (onSelect)="select($event)"
               (onEdit)="edit($event)"
               (onDelete)="delete($event)">
    </pbx-table>

    <pbx-pagination
            [pageInfo]="pageInfo"
            (onLimitSelect)="this.pageInfo.page=1;getItems()"
            (onPageChange)="pageInfo.page=$event;getItems()">
    </pbx-pagination>

</div>
