@import "../../../../../vars"
// Global variables import

.call_queues_members
  &_wrap
    display: flex
    flex-flow: column
    width: 100%
    height: 100%
  &_header
    display: flex
    flex-flow: row
    align-items: center
    height: 8%
    background: $dark_pagination_inactive
    button
      display: flex
      flex-flow: column
      justify-content: center
      align-items: center
      background: $dark_accent
      height: 65%
      width: 10%
      cursor: pointer
      border-radius: 2px
    span
      margin: 0 15px
