@import "../../../../../vars"
// Global variables import

.call_queues_members
  &_wrap
    flex-flow: column
    flex: 1
    padding: rem(24)
  &_header
    flex-flow: row
    align-items: center
    font-size: rem(16)
    font-weight: 400
    a
      font-weight: 300
      padding: rem(12) rem(24)
      cursor: pointer
      border-radius: rem(2)
      margin-left: auto

// Themes styles
\:host-context(.dark_theme)
  .call_queues_members
    &_wrap
      background: $dark_pagination_inactive
    &_header a
      background: $dark_accent
