@import "../../vars"

.knowledge-base
    display: block
    .content
        background: $dark_overlay
        padding: 126px 190px
        margin-top: 32px
        .left, .right
            width: 50%;
            flex-direction: column
            .inner
                margin-bottom: 42px
                display: block
                .title
                    font-family: Roboto, Arial, sans-serif
                    font-weight: 400
                    font-size: 32px
                    line-height: 32px
                    color: #fff
                    margin-bottom: 16px
                    cursor: pointer
                .desc
                    font-family: Roboto, Arial, sans-serif
                    font-weight: 300
                    font-size: 24px
                    line-height: 32px
                    color: #fff
                    margin-bottom: 16px
        .left
            border-right: 1px solid rgba(193, 254, 255, .19)
            .inner
                margin-right: 80px
        .right
            .inner
                margin-left: 80px