<div class="knowledge-base">
  <pbx-header
              [buttons]="buttons"
              [filters]="filters"
              (onUpdate)="updateFilter($event)"
              (onReload)="reloadFilter($event)"
              [inactive]="loading || loadingEx">
  </pbx-header>

  <div class="content">

    <div class="left">

      <div class="inner">
        <div class="title">Account management</div>
        <div class="desc">
            Use the tips and tricks listed on this page to create Call Rules, Queues, Groups, IVR, Schedule faster using PBX.
        </div> <!-- desc -->
      </div> <!-- inner -->

      <div class="inner">
          <div class="title">Plans and membership</div>
          <div class="desc">
              Use the tips and tricks listed on this page to create Call Rules, Queues, Groups, IVR, Schedule faster using PBX.
          </div> <!-- desc -->
      </div> <!-- inner -->

      <div class="inner">
          <div class="title">Common questions</div>
          <div class="desc">
              Use the tips and tricks listed on this page to create Call Rules, Queues, Groups, IVR, Schedule faster using PBX.
          </div> <!-- desc -->
      </div> <!-- inner -->

    </div> <!-- left -->

    <div class="right">

        <div class="inner">
            <div class="title">Tips and tricks</div>
            <div class="desc">
                Use the tips and tricks listed on this page to create Call Rules, Queues, Groups, IVR, Schedule faster using PBX.
            </div> <!-- desc -->
        </div> <!-- inner -->

        <div class="inner">
            <div class="title">Profile, ID, and Password</div>
            <div class="desc">
                Use the tips and tricks listed on this page to create Call Rules, Queues, Groups, IVR, Schedule faster using PBX.
            </div> <!-- desc -->
        </div> <!-- inner -->

    </div> <!-- right -->

  </div> <!-- content -->

</div> <!-- knowledge-base -->
