<div class="knowledge-base">
    <pbx-header
            [buttons]="buttons"
            [filters]="filters"
            (onReload)="reloadFilter($event)"
            (onClick)="back($event)">
    </pbx-header>

    <div class="content">
        <pbx-loader *ngIf="loading"></pbx-loader>

        <div class="blocks" *ngIf="!loading && !selectedGroup && helps.items.length === 0">
            <div class="left">

                <div class="inner" *ngFor="let item of leftGroups">
                    <div class="title" (click)="showQuestions(item)">{{item.title}}</div>
                    <div class="desc">
                        {{item.description}}
                    </div> <!-- desc -->
                </div> <!-- inner -->

            </div> <!-- left -->

            <div class="right">

                <div class="inner" *ngFor="let item of rightGroups">
                    <div class="title" (click)="showQuestions(item)">{{item.title}}</div>
                    <div class="desc">
                        {{item.description}}
                    </div> <!-- desc -->
                </div> <!-- inner -->

            </div> <!-- right -->
        </div> <!-- blocks -->

        <div class="questions" *ngIf="!loading && (selectedGroup || helps.items.length > 0)">
            <div class="item" *ngFor="let item of helps.items; let i = index">
                <div class="title" [ngClass]="helps.items[i].open ? 'title-open': ''" (click)="showAnswer(i)">{{item.title}}
                    <svg-icon
                      class="arrow"
                      [ngClass]="helps.items[i].open ? 'rotate': ''"
                      src="../../assets/icons/_middle/dropdown_arrow_12px.svg"></svg-icon>
                </div>
                <div class="desc" *ngIf="helps.items[i].open">
                    {{item.text}}
                </div>
            </div> <!-- item -->

        </div> <!-- questions -->
    </div> <!-- content -->
</div> <!-- knowledge-base -->
