<form [formGroup]="form" class="add_ext_form" *ngIf="loading===0">
    <div class="add_ext_form_title">User information</div>

    <pbx-input name="Phone"
               displayKey="title"
               key="outer"
               placeholder="Please select phone"
               [form]="true"
               [options]="sipOuters.option"
               [errors]="service.errors"
               [object]="form"
               [objectView]="sipOuters.selected"
    ></pbx-input>

    <pbx-input name="Extension"
               key="phoneNumber"
               [form]="true"
               [errors]="service.errors"
               [object]="form"
    ></pbx-input>

    <pbx-input name="Set Ext Default"
               key="default"
               [form]="true"
               [checkbox]="true"
               [errors]="service.errors"
               [object]="form"
    ></pbx-input>

    <pbx-input name="First Name"
               key="firstName"
               errorKey="user.firstName"
               [form]="true"
               [errors]="service.errors"
               [object]="form.controls.user"
    ></pbx-input>

    <pbx-input name="Last Name"
               key="lastName"
               errorKey="user.lastName"
               [form]="true"
               [errors]="service.errors"
               [object]="form.controls.user"
    ></pbx-input>

    <pbx-input name="Email"
               key="email"
               errorKey="user.email"
               [form]="true"
               [errors]="service.errors"
               [object]="form.controls.user"
    ></pbx-input>

    <div class="add_ext_form_title">Mobile. Allows to make calls through the mobile app.</div>

    <pbx-input name="Enable"
               key="mobileApp"
               [form]="true"
               [checkbox]="true"
               [errors]="service.errors"
               [object]="form"
    ></pbx-input>

    <div class="add_ext_form_title">Enable phone encryption</div>

    <pbx-input name="Enable"
               key="encryption"
               [form]="true"
               [checkbox]="true"
               [errors]="service.errors"
               [object]="form"
    ></pbx-input>

    <div class="add_ext_form_title">Generate new password and send to:</div>

    <pbx-input name="Admin email"
               description="Send password to admin email address"
               descriptionClass="add_ext_form_item_description"
               key="toAdmin"
               [form]="true"
               [checkbox]="true"
               [errors]="service.errors"
               [object]="form"
    ></pbx-input>

    <pbx-input name="User email"
               description="Send password to user email address"
               descriptionClass="add_ext_form_item_description"
               key="toUser"
               [form]="true"
               [checkbox]="true"
               [errors]="service.errors"
               [object]="form"
    ></pbx-input>


    <div class="add_ext_form_item" *ngIf="id">
        <label class="inactive"></label>
        <pbx-button [value]="'Generate and Send Password'" (onClick)="sendPassword()"></pbx-button>
    </div>

</form>
<pbx-loader *ngIf="loading!==0"></pbx-loader>
<pbx-modal [modal]="modal"
           (onConfirm)="confirmModal()"
           (onDecline)="cancelModal()">{{modal.text}}
</pbx-modal>
