@import "../../../../../vars"
// Global variables import
.call_queues_general
  &_wrap
    display: block
    flex: 1
    flex-flow: column
    padding: rem(24)
  &_title
    font-weight: 500
    font-size: rem(16)
    height: rem(40)
    align-items: center
  &_item
    flex-flow: row
    margin-bottom: rem(16)
    pbx-select
      flex: 1
    &_label
      font-size: rem(14)
      align-items: center
      width: rem(160)
      margin-right: rem(24)
    &_input_wrap
      flex-flow: row
      align-items: center
      flex: 1
.time
  input
    width: rem(48)
    margin-right: rem(16)
.checkbox
  pbx-checkbox
    margin-right: rem(16)
    cursor: pointer

// Themes styles
\:host-context(.dark_theme)
  .call_queues_general_wrap
      background: $dark_pagination_inactive
