@import "../../../../../vars"
// Global variables import
.call_queues_general
  background: $dark_overlay
  display: grid
  flex: 1
  &_wrap
    padding: rem(24)
    display: block
    overflow: auto
    flex-direction: column
    /deep/ input, pbx-select
      flex: 1
      height: rem(40)
      &:focus
        background: $dark_background
        border-color: $dark_accent
    pbx-loader
      height: 100%
  &_body
    display: grid
    grid-gap: rem(16)
  &_title
    font-size: rem(16)
    color: $dark_primary
  &_item
    flex-direction: row
    >*:last-child
      flex: 1
    &_label
      width: rem(176)
      font-weight: 100
      font-size: rem(12)
      align-items: center
    &_input_wrap
      display: flex
      flex-flow: row
      align-items: center
      &.time
        max-width: rem(64)
        /deep/ input
          text-align: center
    &_description
      font-size: rem(12)
      margin: auto auto auto rem(24)
  &_ballast
    margin-top: auto

@media all and (max-width: 768px)
  .call_queues_general
    &_item
      flex-flow: column
      &_label
        margin: 5px 0
