<pbx-loader *ngIf="loading"></pbx-loader>
<div class="call_queues_general_wrap" *ngIf="!loading" [@Fade]>
  <ng-container>
    <div class="call_queues_general_title">
      <h3>Create New Queue</h3>
    </div>
    <div class="call_queues_general_item mobile">
      <div class="call_queues_general_item_label">Name</div>
      <div class="call_queues_general_item_input_wrap">
        <input type="text" placeholder="Unnamed" [(ngModel)]="_services.callQueue.name">
      </div>
    </div>
    <div class="call_queues_general_item mobile">
      <div class="call_queues_general_item_label">Description</div>
      <div class="call_queues_general_item_input_wrap">
        <input type="text" placeholder="Description" [(ngModel)]="_services.callQueue.description">
      </div>
    </div>
    <div class="call_queues_general_item mobile">
      <div class="call_queues_general_item_label">Phone number</div>
      <div class="call_queues_general_item_input_wrap">
        <pbx-select [singleBorder]="true" [options]="numbers.items" [objectKey]="'phoneNumber'"
                    [selected]="_services.userView" (onSelect)="setNumber($event)"
                    [placeholder]="'[choose one]'"></pbx-select>
      </div>
    </div>
    <div class="call_queues_general_item mobile">
      <div class="call_queues_general_item_label">Ring Strategy</div>
      <div class="call_queues_general_item_input_wrap">
        <pbx-select [singleBorder]="true" [options]="_services.params.strategies" [objectKey]="'code'"
                    [selected]="_services.userView.strategy" (onSelect)="setStrategies($event)"
                    [placeholder]="'[choose one]'"></pbx-select>
      </div>
    </div>
    <div class="call_queues_general_item">
      <div class="call_queues_general_item_label">Ring Time</div>
      <div class="call_queues_general_item_input_wrap time">
        <input type="number" [(ngModel)]="_services.callQueue.timeout">seconds</div>
    </div>
    <div class="call_queues_general_item">
      <div class="call_queues_general_item_label">Maximum Callers in Queue</div>
      <div class="call_queues_general_item_input_wrap time">
        <input type="number" [(ngModel)]="_services.callQueue.maxlen">
      </div>
    </div>
    <div class="call_queues_general_item">
      <div class="call_queues_general_item_label">
      </div>
      <div class="call_queues_general_item_input_wrap checkbox">
        <pbx-checkbox [value]="_services.callQueue.announcePosition"
                      (onToggle)="setAnnouncePosition($event)">
        </pbx-checkbox>Announce Queue position to caller</div>
    </div>
    <div class="call_queues_general_item">
      <div class="call_queues_general_item_label">
      </div>
      <div class="call_queues_general_item_input_wrap checkbox">
        <pbx-checkbox [value]="_services.userView.announceHoldtime"
                      (onToggle)="setAnnounceHoldtime($event)"></pbx-checkbox>Announce Holdtime</div>
    </div>
  </ng-container>
</div>
