@import '../../vars'
.company, form
  flex: 1
  form
    flex-direction: column
  .pbx_input_error_float_down_focus[_ngcontent-c8]
    position: absolute
    margin-top: 0
    margin-left: -110px
    padding: 10px
    background-color: green
    color: white
    width: 250px
    display: -webkit-box
    display: -ms-flexbox
    display: flex

pbx-button
    position: fixed
    top: 160px
    width: 94px
    height: 40px
    right: 42px