@import '../../vars'

.company
  flex: 1 0 auto
  display: flex
  flex-flow: column
  &_header
    display: flex
    flex-flow: row
    justify-content: flex-end
    &_controls
      margin-bottom: 33px
      button
        padding: 13px 0
        width: 90px
        border-radius: 2px
        display: flex
        flex-flow: row
        justify-content: center
        cursor: pointer
  &_body
    &_form
      display: flex
      flex-flow: column
      width: 100%
      .input_wrap
        margin-bottom: 15px
        label
          width: 115px
          margin: auto 0
          color: $font-color
          font-size: rem(12)
        input
          height: 35px
          color: $font-color
        pbx-select
          width: 100%
        .invalid
          /deep/
            .select_item
              border-bottom: 1px solid $dark_error

.save
  background: $dark_success

.cancel
  background: $dark_pagination_inactive
  margin-right: 10px

.active
  color: $dark_accent !important
