<pbx-loader *ngIf="loading"></pbx-loader>
<div class="company" *ngIf="!loading">
  <div class="company_header">
    <div class="company_header_controls">
      <button class="cancel" (click)="cancel()">Cancel</button>
      <button class="save" (click)="save()">Save</button>
    </div>
  </div>
  <div class="company_body_wrap">
    <form [formGroup]="companyForm" class="company_body_form">
      <div class="input_wrap">
        <label for="organization">Organization</label>
        <input type="text" id="organization" formControlName="name">
      </div>
      <div class="input_wrap">
        <label>Country</label>
        <pbx-select [options]="countries"
                    [objectKey]="'title'"
                    [singleBorder]="true"
                    (onSelect)="selectCountry($event)"
                    [selected]="selectedCountry"></pbx-select>
      </div>
      <ng-container formArrayName="companyAddress">
        <ng-container [formGroupName]="0">
          <div class="input_wrap">
            <label for="state">State/Region</label>
            <input type="text" id="state"  formControlName="regionName">
          </div>
          <div class="input_wrap">
            <label for="city">City</label>
            <input type="text" id="city" formControlName="locationName">
          </div>
          <div class="input_wrap">
            <label for="street">Street</label>
            <input type="text" id="street" formControlName="street">
          </div>
          <div class="input_wrap">
            <label for="house">House №</label>
            <input type="text" id="house" formControlName="building">
          </div>
          <div class="input_wrap">
            <label for="office" #label>Office</label>
            <input type="text" id="office" formControlName="office">
          </div>
          <div class="input_wrap">
            <label for="postal" #label>Postal code</label>
            <input type="text" id="postal" formControlName="postalCode">
          </div>
        </ng-container>
      </ng-container>
      <div class="input_wrap">
        <label for="email" #label>Email</label>
        <input type="email" id="email" formControlName="email">
      </div>
      <div class="input_wrap">
        <label for="phone" #label>Phone</label>
        <input type="text" id="phone" (keyup)="formatPhone($event)" (blur)="formatPhone($event)"
               formControlName="phone">
      </div>
      <div class="input_wrap">
        <label for="vat">VAT ID</label>
        <input type="number" id="vat" formControlName="vatId">
      </div>
    </form>
  </div>
</div>
<pbx-sidebar [sidebarInfo]="sidebarInfo"></pbx-sidebar>
