<div class="support">
    <pbx-header
            [buttons]="buttons"
            [filters]="filters">
    </pbx-header>

    <div class="content">

        <!--<pbx-list style="width: 100%"-->
                  <!--key="support"-->
                  <!--name="Support"-->
        <!--&gt;-->
        <!--</pbx-list>-->

        <!--<div class="tablet">-->
            <!--<div class="tablet_header">-->
                <!--<div class="tablet_item">Ticket</div>-->
                <!--<div class="tablet_item">Subject</div>-->
                <!--<div class="tablet_item">Last Update</div>-->
                <!--<div class="tablet_item">Status</div>-->
                <!--<div class="tablet_item">Support</div>-->
            <!--</div> &lt;!&ndash; tablet_header &ndash;&gt;-->
            <!--<div class="tablet_body">-->
                <!--<div class="tablet_content">-->
                    <!--<div class="tablet_item">3651</div>-->
                    <!--<div class="tablet_item">The problem of buying a phone number</div>-->
                    <!--<div class="tablet_item">29/06/2017 14:47:25</div>-->
                    <!--<div class="tablet_item">New</div>-->
                    <!--<div class="tablet_item">Mike</div>-->
                <!--</div> &lt;!&ndash; tablet_content &ndash;&gt;-->
            <!--</div> &lt;!&ndash; tablet_body &ndash;&gt;-->
        <!--</div> &lt;!&ndash; tablet &ndash;&gt;-->

        <pbx-sidebar>
            sidebar
        </pbx-sidebar>

    </div> <!-- content -->

</div>