<div class="support">

    <div class="content">

        <pbx-header
                [buttons]="buttons"
                [filters]="filters"
                (onClick)="click($event)">
        </pbx-header>

       <div class="tablet">
           <div class="tablet_header">
               <div class="tablet_item" *ngFor="let item of tableHeader, let i = index">
                   <div class="wrap" (click)="sortIt(i)">{{item.title}} <svg-icon *ngIf="item.isDown !== null" src="{{sortIcon(item)}}"></svg-icon></div>
               </div>
           </div> <!-- tablet_herader -->
           <div class="tablet_body">
               <div class="tablet_content" *ngFor="let item of supportModel.items; let i = index" (click)="showTicket(i)">
                   <div class="tablet_item">{{item.id}}</div>
                   <div class="tablet_item">{{item.subject}}</div>
                   <div class="tablet_item">{{item.updated}}</div>
                   <div class="tablet_item {{item.ticketStatusClass}}"><div class="circle"></div>{{item.ticketStatusName}}</div>
                   <div class="tablet_item">{{item.supportUserName}}</div>
               </div> <!-- tablet_content -->
           </div> <!-- tablet_body -->
       </div>

    </div> <!-- content -->

    <pbx-sidebar *ngIf="sidebarVisible"
                 [sidebarInfo]="sidebar"
                 (onClick)="click($event)"
                 [@Swipe]
    >

        <form *ngIf="createMode" class="create_ticket_form">
            <div class="create_ticket">

                <div class="fields">

                    <div class="item category">
                        <label for="category">Category *</label>
                        <div class="wrapper">
                            <div class="arrow">
                                <svg-icon src="/assets/icons/_middle/dropdown_arrow_12px.svg"></svg-icon>
                            </div>
                            <!--<input required id="category" type="number" name="category">-->
                            <select name="category" id="category">
                                <option value="">Financial questions</option>
                                <option value="">question 1</option>
                                <option value="">question 2</option>
                                <option value="">question 3</option>
                                <option value="">question 4</option>
                                <option value="">question 5</option>
                            </select>
                            <div class="visual"></div>
                        </div> <!-- wrapper -->
                        <div class="error_wrap">
                            <span class="error" *ngIf="false">Error</span>
                        </div>
                    </div> <!-- item -->

                    <div class="item subject">
                        <label for="subject">Subject *</label>
                        <div class="wrapper">
                            <textarea required id="subject" type="text" name="subject"></textarea>
                        </div> <!-- wrapper -->
                        <div class="error_wrap">
                            <span class="error" *ngIf="false">Error</span>
                        </div>
                    </div> <!-- item -->

                    <div class="item message">
                        <label for="message">Message *</label>
                        <div class="wrapper">
                            <textarea required id="message" type="text" name="message"></textarea>
                        </div> <!-- wrapper -->
                        <div class="error_wrap">
                            <span class="error" *ngIf="false">Error</span>
                        </div>
                    </div> <!-- item -->

                </div> <!-- fields -->

                <div class="choose_block">
                    <div class="choose_file_wrap">
                        <input type="file" id="files">
                        <label for="files" class="choose_files">Choose Files</label>
                        <div class="files_status">No file chosen</div>
                    </div> <!-- choose_file_wrap -->
                    <div class="sizing">(Max size: 4 МБ)</div>
                </div> <!-- choose_block -->

                <div class="files">

                    <div class="item">
                        <div class="name">Screenshot-01-2017-06-27.jpg</div>
                        <div class="icon">
                            <svg-icon src="/assets/icons/buttons/trash.svg"></svg-icon>
                        </div>
                    </div> <!-- item -->

                    <div class="item">
                        <div class="name">Screenshot-01-2017-06-27.jpg</div>
                        <div class="icon">
                            <svg-icon src="/assets/icons/buttons/trash.svg"></svg-icon>
                        </div>
                    </div> <!-- item -->

                    <div class="item">
                        <div class="name">Screenshot-01-2017-06-27.jpg</div>
                        <div class="icon">
                            <svg-icon src="/assets/icons/buttons/trash.svg"></svg-icon>
                        </div>
                    </div> <!-- item -->

                    <div class="item">
                        <div class="name">Screenshot-01-2017-06-27.jpg</div>
                        <div class="icon">
                            <svg-icon src="/assets/icons/buttons/trash.svg"></svg-icon>
                        </div>
                    </div> <!-- item -->

                </div> <!-- files -->

            </div> <!-- create_ticket -->
        </form>

        <div *ngIf="!createMode" class="ticket {{shown ? 'show' : 'hide'}}">

            <div class="items">

                <div class="item shown">
                    <div class="left">
                        <div class="key">Ticket</div>
                        <div class="val">{{currentItem.id}}</div>
                    </div> <!-- left -->
                    <div class="right">
                        <div class="key">Status</div>
                        <div class="val {{currentItem.ticketStatusClass}}">{{currentItem.ticketStatusName}}</div>
                    </div> <!-- right -->
                </div> <!-- item -->

                <div class="item">
                    <div class="key">Date</div>
                    <div class="val">{{currentItem.updated}}</div>
                </div> <!-- item -->

                <div class="item shown">
                    <div class="key">Subject</div>
                    <div class="val">{{currentItem.subject}}</div>
                </div> <!-- item -->

                <div class="item">
                    <div class="key">Message</div>
                    <div class="val">{{currentItem.message}}</div>
                </div> <!-- item -->

                <div class="item">
                    <div class="key">File</div>
                    <div class="file_name">Screenshot-01-2017-06-27.jpg</div>
                    <div class="file_name">Screenshot-01-2017-06-27.jpg</div>
                    <div class="file_name">Screenshot-01-2017-06-27.jpg</div>
                    <div class="file_name">Screenshot-01-2017-06-27.jpg</div>
                </div> <!-- item -->

            </div> <!-- items -->

            <div class="show_more" (click)="showDetails()">
                <svg-icon src="/assets/icons/_middle/dropdown_arrow_12px.svg"></svg-icon>
            </div>

            <div class="messages" id="ticket_messages">

                <div class="wrap" *ngFor="let item of currentTicketMessages; let i = index">
                    <div class="item" [ngClass]="item.supportUserName ? 'support_team' : 'user'">
                        <div class="ava"><span>SB</span></div>
                        <div class="cnt">
                            <div class="name" *ngIf="item.supportUserName">{{item.supportUserName}}</div>
                            <div class="name" *ngIf="!item.supportUserName">{{item.user.firstname + ' ' + item.user.lastname}}</div>
                            <div class="message">
                                {{item.message}}
                            </div> <!-- message -->
                            <div class="when">14:54</div>
                        </div> <!-- cnt -->
                    </div>
                </div> <!-- item -->

            </div> <!-- messages -->

            <div class="input_wrap" [ngClass]="ticketMessage.message && ticketMessage.message.length > 0 ? 'send':''">
                <div class="smiles">
                    <svg-icon src="../../assets/images/chat/smiley_18px.svg"></svg-icon>
                </div> <!-- smiles -->
                <input type="text" placeholder="Write a message..." [(ngModel)]="ticketMessage.message">
                <!--<input required type="text" id="externalHost" [(ngModel)]="phoneExternal.host" name="host">-->
                <div class="files" [ngClass]="dropdownFilesStatus ? 'active':''" (click)="dropdownFilesFunc()">
                    <svg-icon src="../../assets/images/chat/clip_18px.svg"></svg-icon>
                    <div class="dropdown_block" *ngIf="dropdownFilesStatus">
                        <div class="item">Photo or Video</div>
                        <div class="item">Camera</div>
                        <div class="item">File</div>
                        <div class="item">Location</div>
                    </div> <!-- dropdown_block -->
                </div> <!-- files -->
                <div class="record">
                    <svg-icon class="mic" src="../../assets/images/chat/microphone_18px.svg"></svg-icon>
                    <svg-icon class="send" src="../../assets/images/chat/send_message.svg" (click)="sendMessage()"></svg-icon>
                </div> <!-- record -->
            </div> <!-- input_wrap -->

        </div> <!-- ticket -->

    </pbx-sidebar>

</div>