@import "../../vars"
// Global variables import

.pbx-select-placeholder
    color: rgba(255, 255, 255, 0.35)
    top: 13px
    left: 8px
    position: relative
    height: 1px

.pbx-select-empty
    color: rgba(255, 255, 255, 0.35)
.select
    &_wrap
        position: relative
        flex: 1 0 auto
        flex-direction: column
        width: 100%
        &.active .select_icon
            transform: rotate(180deg)
        &.bottom
            > .select_options
                top: 100%
        &.top
            > .select_options
                bottom: 100%
            .select_icon
                transform: rotate(180deg)
            &.active .select_icon
                transform: rotate(0deg)
    &_item
        flex: 1 0 auto
        width: 100%
        cursor: pointer
        height: 40px
        padding: 0 16px
        align-items: center
        &.selected
            flex: 1 0 auto
            width: 100%
    &_icon
        flex-direction: column
        margin-left: auto
        width: 12px
        height: 12px
    &_options
        position: absolute
        left: 0
        flex-direction: column
        max-height: 200px
        width: 100%
        overflow-y: auto
        z-index: 10
        &.ng-animating
            overflow: hidden
        input
            width: 100%
            max-width: 350px
            min-height: 40px
            padding: 0 16px
            font: inherit
            font-size: 13px
            position: fixed
            color: #22b2b4
            background: #262424
    &_error
        position: absolute
        top: calc(100% + 4px)
        font-size: rem(12)

.select-icon svg polygon,
.select-icon svg path
    fill: #ffffff !important

// .select_options > .select_item:first-child
//     margin-top: 40px

.pbx_select_edit_input
    width: 100%
    font: inherit
    color: #22b2b4
    
\:host
    width: 100%

.hide
    display: none

// Theme styles
\:host-context(.dark_theme)
    .select
        &_item
            transition: none
            &.selected
                border: 1px solid rgba($dark_primary, .1)
                &.no_border
                    border: none
                    border-bottom: 1px solid rgba($dark_primary, .1)
            &.blank
                color: rgba($dark_primary, .5)
                transition: border linear 100ms
        &_options
            background: $dark_background
            .select_item.current
                background: rgba($dark_primary, .03)
            .select_item:hover
                background: rgba($dark_primary, .1)
        &_wrap
            &:focus > .selected
                border-color: $dark_accent
            &.active > .selected /deep/ .cls-1
                fill: $dark_accent !important
            &.error > .selected
                border-color: $dark_error
            &.top > .select_options
                border: 1px solid rgba($dark_primary, .1)
                border-bottom: none
            &.bottom > .select_options
                border: 1px solid rgba($dark_primary, .1)
                border-top: none
        &_error
            color: $dark_error
        &_icon /deep/ .cls-1
            fill: $dark_primary !important

    .select_icon /deep/ path, .select_icon /deep/ polygon
        fill: $dark_primary !important

\:host-context(.light_theme)
    .select
        &_item
            &.selected
                border: 1px solid rgba($dark_background, .1)
            &.blank
                color: rgba($dark_background, .5)
        &_options
            background: $dark_primary
            .select_item.current
                background: rgba($dark_background, .03)
            .select_item:hover
                background: rgba($dark_background, .1)
            .select_item.pbx-select-empty
                color: rgba(0, 0, 0, .45) !important
        &_wrap
            &:focus > .selected
                border-color: $dark_accent
            &.active > .selected /deep/ .cls-1
                fill: $dark_accent
            &.error > .selected
                border-color: $dark_error
            &.top > .select_options
                border: 1px solid rgba($dark_background, .1)
                border-bottom: none
            &.bottom > .select_options
                border: 1px solid rgba($dark_background, .1)
                border-top: none
        &_error
            color: $dark_error
        &_icon /deep/ .cls-1
            fill: $dark_background

    .select_icon /deep/ path, .select_icon /deep/ polygon
        fill: $dark_background !important
