<pbx-loader *ngIf="loading"></pbx-loader>
<div *ngIf="!loading" class="call_queues_create_wrap" [@Fade]>
    <div class="call_queues_create_header">
        <div class="call_queues_create_tabs">
            <div class="call_queues_create_tab">
                <a routerLink="general" routerLinkActive="active" [skipLocationChange]="true">General</a>
            </div>
            <div class="call_queues_create_tab">
                <a routerLink="members" routerLinkActive="active" [skipLocationChange]="true">Members</a>
            </div>
        </div>
        <div class="call_queues_create_buttons" [ngClass]="{'back-wrap':service.userView.isCurCompMembersAdd}">
            <pbx-button *ngIf="!service.userView.isCurCompMembersAdd"
                        (onClick)="cancel()"
                        value="Cancel"
                        buttonType="cancel">
            </pbx-button>
            <pbx-button *ngIf="!service.userView.isCurCompMembersAdd"
                        (onClick)="save()"
                        value="Save"
                        buttonType="success"
                        [loading]="saving">
                        <!--[ngClass]="{'inactive':validation()}"-->
            </pbx-button>
            <pbx-button *ngIf="service.userView.isCurCompMembersAdd"
                        (onClick)="back()"
                        value="Back"
                        buttonType="cancel">
                Back
            </pbx-button>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
