<pbx-loader *ngIf="loading"></pbx-loader>
<pbx-form *ngIf="!loading"
          [tabs]="tabs"
          [inactiveTabs]="[false,!service.item.sipId]"
          [background]="currentTab==='General'"
          [confirm]="addMembers?{}:confirm"
          [decline]="decline[addMembers?'member':'standard']"
          (onConfirm)="save()"
          (onDecline)="addMembers?back():cancel()"
          (onSelect)="selectTab($event)">
    <ring-groups-general *ngIf="currentTab===tabs[0]"></ring-groups-general>
    <ring-groups-members *ngIf="currentTab===tabs[1]&&!addMembers" (onClick)="addMembers=true"></ring-groups-members>
    <ring-groups-members-add *ngIf="addMembers"></ring-groups-members-add>
</pbx-form>
