@import "../../vars"
// Global variables import

.view-edit-control-wrapper
    flex-direction: column
    width: 100%

.view-edit-control
    flex-direction: column
    flex: 1
    &-header
        flex-direction: row
        align-items: center
        padding: rem(24)
        background: $dark_overlay
        margin-bottom: rem(24)
        pbx-button
            width: unset
            margin-left:  rem(16)
    pbx-table
        flex: 1