<div class="view-edit-control-wrapper" *ngIf="!editMode">
    <div class="view-edit-control-header">
        {{ headerText }}
        <pbx-button (onClick)="toggleEditMode()" value="{{ buttonText }}"></pbx-button>
    </div>
    <pbx-table [tableInfo]="tableInfo"
               [tableItems]="selectedItems"
               [multiple]="false"
               (onDelete)="deleteSelectedItem($event)">
    </pbx-table>
</div>
<div class="view-edit-control-wrapper" *ngIf="editMode">
    <div class="view-edit-control-header toHide">
        <ng-content></ng-content>
    </div>
    <pbx-table [tableInfo]="tableInfo" 
               [tableItems]="items"
               [selected]="selectedItems"
               [multiple]="true"
               (onSelect)="selectItem($event)"
               (onDelete)="selectItem($event)">
    </pbx-table>
</div>
