<div class="view-edit-control-wrapper" *ngIf="!editMode" #myElement>
    <div class="view-edit-control-header">
        {{ headerText }}
        <pbx-button (onClick)="toggleEditMode()" value="{{ buttonText }}"></pbx-button>
    </div>
    <pbx-table *ngIf="hasData"
               [tableInfo]="tableInfo"
               [tableItems]="selectedItems"
               [multiple]="false"
               [editMode]="parentEditMode"
               (onDelete)="delete($event)">
    </pbx-table>
    <span class="pbx_queue_empty_text" *ngIf="!hasData">{{ noDataMessage }}</span>
</div>
<div class="view-edit-control-wrapper" *ngIf="editMode" #myElement>
    <div class="view-edit-control-header">
        <ng-content></ng-content>
    </div>
    <pbx-table [tableInfo]="tableInfo"
               [tableItems]="items"
               [selected]="selectedItems"
               [allSelected]="allSelected"
               [multiple]="true"
               [deletable]="false"
               (onSelect)="selectItem($event)"
               (onToggleAll)="toggleAll($event)"
               >
    </pbx-table>
    <div class="nothing-found-class" *ngIf="items.length === 0 || nothingFound" translate>{{nothingFoundText}}</div>
</div>
<pbx-modal [modalEx]="modal"></pbx-modal>
