<div class="item one_up" [ngClass]="{ 'one_up': level.levelNum===1, 'two': level.levelNum!==1 }"> <!-- class two and one_up-->

    <div class="top" (click)="onSelectLevel()" [ngClass]="{ 'selected': selectedItem === level }">
        <div class="desc">{{ level.description }}</div>
        <div class="title">{{ level.name }}</div>
    </div> <!-- top -->

    <div class="numbers">

        <div *ngFor="let item of level.digits"
             class="number"
             [ngClass]="{ 'selected': selectedItem === item }"
             (click)="onSelectDigit(item)"
        >
            <div class="digit">
                <div class="inner"><span>{{ item.digit }}</span></div>
            </div> <!-- digit -->
            <div class="line line1"><span>{{ getAction(item) }}</span></div>
            <div class="line line2"><span>{{ item.description }}</span></div>
            <div class="line line3" *ngIf="item.parameter">
                <span>{{ getParameter(item) }}</span>
            </div>
        </div> <!-- number -->

    </div> <!-- numbers -->

    <div class="buttons">
        <pbx-button value="Add Digit" buttonType="accent" (onClick)="addDigit()" *ngIf="isValidForm"></pbx-button>
        <pbx-button value="Delete Level IVR" buttonType="error" *ngIf="level.levelNum!==1"></pbx-button>
    </div> <!-- buttons -->

</div> <!-- item -->

<pbx-modal [modalEx]="modalExit"
           (onConfirmEx)="cancel()"
           >
</pbx-modal>
