@import '../../../_vars.sass'

.link
  flex: 1
  &_wrap
    display: grid
    grid-gap: rem(24)
    grid-template-rows: auto 1fr
    flex: 1
  &_header
    padding: rem(24)
    align-items: center
    background: $dark_overlay
    pbx-button
      width: unset
      margin-left: rem(16)
