<div class="select_wrap"
     tabindex="0"
     #selectWrap
     [ngClass]="[errors ? 'error' : '', isVisible ? 'active' : '', calcPosition()]"
     (clickOutside)="hideOptions()"
     (focus)="showOptions()"
     (blur)="hideOptions()"
     (mousedown)="toggleOptions($event)"
     (keydown)="keyboardNavigation($event)">

    <span *ngIf="!selectedObject || !_selected[objectKey]" class="pbx-select-placeholder">{{_placeholder}}</span>
    <!--<div class="wrapper">-->
        <div [ngClass]="['select_item', 'selected', !selected ? 'blank' : '', singleBorder ? 'no_border' : '', errors ? 'error' : '', name ? 'pbx_select_' + name : '']">
            {{_selected ? _selected[objectKey] : ''}}
            <svg-icon src="/assets/icons/_middle/dropdown_arrow_12px.svg" class="select_icon"></svg-icon>
        </div>
    <!--</div>-->

    <div class="select_options" *ngIf="isVisible" [@Swipe] #optionsWrap>
        <div class="select_item" *ngFor="let option of options" [ngClass]="{'current': isCurrent(option)}"
             (mousedown)="selectItem(option, $event)">{{ option[objectKey] }}
        </div>
    </div>
</div>
