<pbx-loader *ngIf="loading"></pbx-loader>
<div class="one" *ngIf="!loading">
    <pbx-input name="{{ form.value.levelNum === 1 ? 'IVR Name' : 'Level Name' }}"
               key="name"
               placeholder=""
               [required]="true"
               [form]="true"
               [object]="form"
               [errors]="service.errors"
               [validationHost]="validationHost"
               >
    </pbx-input>
    <pbx-input name="{{ form.value.levelNum === 1 ? 'IVR Description' : 'Level Description' }}"
               key="description"
               placeholder=""
               [form]="true"
               [object]="form"
               [errors]="service.errors"
               [validationHost]="validationHost"
               >
    </pbx-input>
    <pbx-input *ngIf="form.value.levelNum === 1"
               name="Phone number"
               key="sipId"
               placeholder="[choose one]"
               [required]="true"
               [form]="true"
               [object]="form"
               [options]="service.references.sip"
               displayKey="phoneNumber"
               [errors]="service.errors"
               [validationHost]="validationHost"
               class="phone_number"
               >
    </pbx-input>
    <ng-container *ngIf="!!form.value.sipId || form.value.levelNum !== 1">
    <div class="call-rules-create_row">
        <h3>{{'IVR Options' | translate }}</h3>
    </div>

    <pbx-input *ngIf="form.value.levelNum === 1"
               name="{{ 'Enable IVR' | translate }}"
               key="enabled"
               [checkbox]="true"
               [form]="true"
               [object]="form"
               [(errors)]="service.errors"
               [validationHost]="validationHost"
               >
    </pbx-input>

    <pbx-input name="{{ 'Voice greeting' | translate }}"
               key="voiceGreeting"
               [required]="true"
               [placeholder]="'[choose file]'"
               [form]="true"
               [object]="form"
               [options]="this.service.references.files"
               displayKey="fileName"
               [(errors)]="service.errors"
               [validationHost]="validationHost"
               >
        <div class="greeting">
            <pbx-button [value]="playButtonText"
                        [inactive]="!isFileSelected"
                        [loading]="!mediaPlayer.locker.free"
                        (onClick)="togglePlay()"
                        >
            </pbx-button>
            <div class="hidden_button_wrapper">
                <pbx-button value="Upload"
                            buttonType="accent"
                            [loading]="storage.loading"
                            >
                </pbx-button>
                <input type="file" class="hidden_input" #fileInput (change)="uploadFile($event)">
            </div>
        </div>
    </pbx-input>

    <pbx-input name="{{ 'Loop message' | translate }}"
               key="loopMessage"
               [form]="true"
               [object]="form"
               [required]="true"
               [(errors)]="service.errors"
               [validationHost]="validationHost"
               >
    </pbx-input>

    <div *ngIf="form.value.levelNum === 1"
         class="call-rules-create_row"
         >
        <h3>{{ 'If user has chosen nothing' | translate }}</h3>
    </div>
    <pbx-input name="{{ 'Then' | translate }}"
               key="action"
               [form]="true"
               [object]="form"
               [options]="service.references.levelParams"
               displayKey="code"
               [(errors)]="service.errors"
               [validationHost]="validationHost"
               >
    </pbx-input>

    <pbx-input *ngIf="paramsInfo.visible"
               name="{{ paramsInfo.label | translate }}"
               key="parameter"
               [required]="true"
               [form]="true"
               [object]="form"
               [options]="paramsInfo.option"
               [(errors)]="service.errors"
               [validationHost]="validationHost"
               displayKey="name"
               placeholder="{{ paramsPlaceholder }}"
               >
    </pbx-input>
    </ng-container>
</div>
{{ actionVal | json }}
<pbx-media-player
    #mediaPlayer
    [mediaStream]="currentMediaStream"
    (onGetMediaData)="getMediaData($event)"
    (onMediaStateChanged)="mediaStateChanged($event)"
    >
</pbx-media-player>
<pbx-modal
    [modalEx]="modalExit"
    (onConfirmEx)="cancel()"
    >
</pbx-modal>
