.light_theme
    amo-crm-integration
        .amo_crm_integration
            .integration_cnt
                background: $white_grey_dark
                .connection_block,
                .sync
                    .item
                        .label
                            &:hover
                                color: $white_black_70
                .title
                    color: $white_black_80
                .item
                    .label
                        color: $white_black_70
                    .info_block
                        .text
                            color: $white_black_80
                            background: $white_queue_tab_grey_light
                .sync
                    .item
                        .text
                            color: $white_black
                        .date
                            svg-icon.ok
                                svg
                                    polygon
                                        fill: $white_black
                            .text
                                color: $white_black
            .info
                background: $white_grey_dark
                .title
                    color: $white_black
                .desc
                    color: $white_black
        .amo_crm_integration_edit
            .amo_crm_header
                .information
                    color: $white_black_70
            .amo_crm_info
                background: $white_grey_dark
                .extensions
                    span
                        color: $white_black_80
                .title
                    color: $white_black
                .desc
                    color: $white_black
            .amo_crm_header
                .amo_crm_tab_wrap
                    .amo_crm_tab
                        background: $white_queue_tab_grey_light
                        color: $white_black_70
                        &.active
                            background: $white_grey_dark
                            color: $dark_accent
                        svg-icon
                            svg
                                path
                                    fill: $white_black_70
            amo-crm-integration-general-component
                .main_inner
                    background: $white_grey_dark
                    pbx-checkbox
                        color: $white_black_60
                    .label.enable
                        cursor: pointer !important
                        &:hover
                            color: $dark_accent
                    .title
                        color: $white_black_80
                    .item
                        .label
                            cursor: default
                            color: $white_black_70
                        input
                            border-top: none !important
                            border-left: none !important
                            border-right: none !important
                    .integration_block
                        pbx-select
                            .select_wrap:focus > .selected
                                border-top: 1px solid transparent !important
                                border-left: 1px solid transparent !important
                                border-right: 1px solid transparent !important
                            .select_item.selected
                                border-top: 1px solid transparent !important
                                border-left: 1px solid transparent !important
                                border-right: 1px solid transparent !important
            amo-crm-integration-address-book-component
                .top
                    background: $white_grey_dark
                    .label
                        color: $white_black_70
                .table
                    pbx-checkbox
                        color: $white_black_60
                    .header
                        .item
                            color: $white_black_60
                    .body
                        .line
                            .item
                                color: $white_black
                            &.active
                                background: $white_queue_tab_grey_light
            amo-crm-integration-managers-component
                .top
                    background: $white_grey_dark
                    .item
                        .label
                            color: $white_black_70
                        .checkbox_round
                            .label
                                color: $white_black_70
                .table
                    pbx-checkbox
                        color: $white_black_60
                    .header
                        .item
                            color: $white_black_60
                    .body
                        .line
                            .item
                                color: $white_black
                                input
                                    background: transparent
                                pbx-select
                                    .select_item.selected
                                        background: transparent
                            &.active
                                background: $white_queue_tab_grey_light
                                .item
                                    input
                                        background: transparent
                                    pbx-select
                                        .select_item.selected
                                            background: transparent