.light_theme
    amo-crm-integration
        .integration_cnt
            background: $white_grey_dark
            .connection_block,
            .sync
                .item
                    .label
                        &:hover
                            color: $white_black_70
            .title
                color: $white_black_80
            .item
                .label
                    color: $white_black_70
                .info_block
                    .text
                        color: $white_black_80
                        background: $white_queue_tab_grey_light
            .sync
                .item
                    .text
                        color: $white_black
                    .date
                        svg-icon.ok
                            svg
                                polygon
                                    fill: $white_black
                        .text
                            color: $white_black
        .info
            background: $white_grey_dark
            .title
                color: $white_black
            .desc
                color: $white_black