.light_theme
    pbx-call-queues-create,
    ring-groups-create-component
        .form-header
            .form-tab
                background: $white_queue_tab_grey_light
                &:hover
                    // background: $white_grey_hover
                &.selected
                    background: $white_grey_dark
        pbx-queue-members
            .call_queues_members_header
                background: $white_grey_dark
        pbx-queue-members-add
            .call_queues_members_add_header
                background: $white_grey_dark
            .call_queues_members_add_filter
                input
                    font-family: Roboto, sans-serif