.light_theme
    pbx-call-queues-create,
    ring-groups-create-component,
    pbx-department-create,
    add-extension-component
        .form-header
            .form-tab
                background: $white_queue_tab_grey_light
                span
                    color: $white_black_70
                svg-icon
                    path
                        fill: $white_black_70
                &:hover
                    // background: $white_grey_hover
                &.selected
                    background: $white_grey_dark
                    span
                        color: $dark_accent
        pbx-queue-members
            .call_queues_members_header
                background: $white_grey_dark
        pbx-queue-members-add
            .call_queues_members_add_header
                background: $white_grey_dark
            .call_queues_members_add_filter
                input
                    font-family: Roboto, sans-serif

    ring-groups-create-component,
    pbx-call-queues-create
        pbx-queue-create
            .form-body
                .form-body-content
                    pbx-queue-members-add
                        .call_queues_members_add
                            .nothing-found-class
                                color: $white_empty_message !important

.light_theme
    pbx-index
        pbx-call-queues-create,
        ring-groups-create-component
            .pbx_header_wrap
                pbx-input
                    input:not([type="submit"])
                        border: 1px solid $white_details_calendar_border !important
                        &:focus
                            border: 1px solid $dark_accent !important