.light_theme
    pbx-company
        .company_details
            .inner
                background: $white_grey_dark
                .item
                    border-color: $dark_white
                    .mini
                        .title
                            color: $white_black_50
                        .info
                            color: $white_black
                    .big
                        .title
                            color: $dark_accent
                        .line,
                        .number
                            .key,
                            .val,
                            .status
                                color: $white_black