.light_theme
    pbx-index
        background: $white_main_bg
        button.cancel
            background: $white_button_cancel
            color: $dark-white
        button.success
            background: $white_button_success
            color: $dark-white
        input:not([type="submit"])
            color: $white_black
            border: 1px solid $white_input_border !important
            &:focus
                border: 1px solid $white_salad !important
        pbx-editable-select,
        pbx-select
            .pbx-select-placeholder
                color: $white_black !important
            .select_item.selected
                border: 1px solid $white_input_border !important
            .select_options
                background: $white_grey_dark !important
            .select_item
                color: $white_black !important
        pbx-select
            .select_wrap
                &.active
                    .select_item.selected
                        border: 1px solid $white_salad !important
        .checkbox
            &.active
                &:after
                    // content: url('data:image/svg+xml; utf8, <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><title>ok_32px</title><polygon fill="#000" points="31.91 5.75 31.2 5.04 10.71 25.55 0.8 15.62 0.09 16.33 10.71 26.96 10.71 26.96 10.71 26.96 31.91 5.75"/></svg>') !important
                    background: $white_salad
        pbx-table
            .tablet_row
                border-bottom: 1px solid $white_nav_border_80
            .tablet_header
                border-bottom: 1px solid $white_nav_border_80
                .tablet_item
                    span
                        color: $white_black_60
            .tablet_body
                .tablet_row:hover
                    background: $white_grey_dark
                .tablet_item
                    color: $white_black
        pbx-pagination
            .pager_info
                color: $white_black
            .pbx_button_pagination_next,
            .pbx_button_pagination_prev,
            .pbx_button_pagination_first,
            .pbx_button_pagination_last
                background: $white_salad
        pbx-form
            .form-body-content,
            .form-ballast
                background: $white_grey_dark !important
        pbx-call-rules-create,
        pbx-call-queues-create,
        ring-groups-create-component
            pbx-button
                button
                    span
                        color: $dark-white
            .call-rules-create_row
                label
                    color: $white_black_70 !important
                    font-size: 12px
                    font-weight: 300 !important
                h3
                    color: $white_black
            span
                color: $white_black_70
            pbx-input[name="Action"]
                .pbx_input_item_label
                    span
                        color: $white_black_70
        .pbx_list_empty
            .pbx_list_empty_text
                color: $white_black
        .pbx_list_message,
        .media-table-message,
        .table-message span
            color: $white_empty_message !important
        pbx-company,
        pbx-call-rules-create,
        pbx-call-queues-create,
        ring-groups-create-component,
        add-extension-component,
        profile-component,
        base-settings-component,
        authorization-component
            pbx-editable-select,
            pbx-select
                .select_wrap
                    input,
                    .select_item.selected
                        border-top: none !important
                        border-left: none !important
                        border-right: none !important
                    &.active
                        input,
                        .select_item.selected
                            border-top: none !important
                            border-left: none !important
                            border-right: none !important
            pbx-input
                input:not([type="submit"])
                    border-top: none !important
                    border-left: none !important
                    border-right: none !important
                    &:focus
                        border-top: none !important
                        border-left: none !important
                        border-right: none !important
        pbx-queue-members-add
            pbx-select
                .select_wrap
                    input,
                    .select_item.selected
                        border-top: 1px solid $white_input_border !important
                        border-left: 1px solid $white_input_border !important
                        border-right: 1px solid $white_input_border !important
                    &.active
                        input,
                        .select_item.selected
                            border-top: 1px solid $dark_accent !important
                            border-left: 1px solid $dark_accent !important
                            border-right: 1px solid $dark_accent !important

    pbx-table
    .tablet_header
        .tablet_item
            color: $white_black_60 !important
    .tablet_body
        .tablet_item
            color: $white_black !important
            font-weight: 300 !important

    profile-component
        pbx-input
            input
                color: $white_black !important

    input#search
        color: $white_black !important
    .pbx_input_item_input_wrap
        color: $white_black !important

    pbx-department-create pbx-tabs .form .form-body.class1
        background: $white_grey_dark

// placeholder and text
profile-component
    pbx-input
        input
            &.error-border.error-text
                color: $dark_white !important
                &::placeholder
                    color: yellow !important





.light_theme[_nghost-c11] .button.success[_ngcontent-c11]:disabled,
.light_theme [_nghost-c11] .button.success[_ngcontent-c11]:disabled
    background: transparent !important

