.light_theme
    pbx-index
        background: $white_main_bg
        button.cancel
            background: $white_button_cancel
            color: $dark-white
        button.success
            background: $white_button_success
            color: $dark-white