.light_theme
    pbx-company
        .company_details
            .inner
                background: $white_grey_dark
                .item
                    border-color: $dark_white
                    .mini
                        .title
                            color: $white_black_50
                        .info
                            color: $white_black
                    .big
                        .title
                            color: $dark_accent
                        .line,
                        .number
                            .key,
                            .val,
                            .status
                                color: $white_black
        .company
            .form-body
                background: none !important
            .form-body-content
                background: unset !important
            pbx-input
                .pbx_input_wrap
                    .pbx_input_item_label
                        span
                            color: $white_black_70
                input,
                input:focus
                    border-top: none !important
                    border-left: none !important
                    border-right: none !important
                    color: $white_black !important
            pbx-editable-select .select_item.selected
                border-top: none !important
                border-left: none !important
                border-right: none !important
            .select_item.selected
                border-top: none !important
                border-left: none !important
                border-right: none !important
            .profile_settings_photo
                .inner
                    .wrapper
                        background: $white_grey_dark !important