.light_theme
    pbx-dashboard
        color: $dark-white
        .dashboard_balance
            background: $white_dashboard_balance !important
        .dashboard_tariff
            background: $white_dashboard_tariff !important
        .dashboard_numbers
            background: $white_dashboard_numbers !important
        .dashboard_drive
            background: $white_dashboard_drive !important
        .dashboard_history
            background: $white_dashboard_history !important