.light_theme
    pbx-department-create
        .department_form_wrapper
            background: $white_grey_dark
            .pbx_input_row_label
                span
                    color: $white_black_60
            input,
            textarea
                border-color: $white_input_border
                color: $white_black
                font-weight: 300
        pbx-view-edit-control
            .view-edit-control-header
                background: $white_grey_dark