.light_theme
    pbx-department-create
        .form-body
            pbx-view-edit-control
                .view-edit-control-header
                    .pbx_input_item_label
                        span
                            color: $white_black_60
        .department_form_wrapper
            background: $white_grey_dark
            .pbx_input_row_label
                span
                    color: $white_black_60
            input
                border-color: $white_input_border
                color: $white_black
                font-weight: 300
                border-top: none !important
                border-left: none !important
                border-right: none !important
                &:focus
                    border-top: none !important
                    border-left: none !important
                    border-right: none !important
        pbx-view-edit-control
            .view-edit-control-header
                background: $white_grey_dark
            .pbx_queue_empty_text
                color: $white_nothing_found

    pbx-department-create
        .nothing-found-class
            color: $white_empty_message !important

    pbx-department-create
        pbx-view-edit-control
            pbx-table
                .tablet
                    .tablet_body
                        .tablet_row:nth-child(even)
                            background: $white_grey_hover