.light_theme
    pbx-details-and-records
        .filters
            border-right-color: $white_black_31 !important
            .tags-button
                color: $dark_white
            .inactive-button
                border-color: $white_btn_border_details
                color: $white_btn_border_details
        pbx-media-table
            .tablet
                .tablet_header
                    border-bottom-color: $white_nav_border_80
                    .tablet_item
                        span
                            color: $white_black_60