.light_theme
    add-extension-component
        pbx-input
            .more
                background: $white_queue_tab_grey_light !important
                .host_port
                    color: $white_black
    extensions-component,
    pbx-storage,
    .knowledge-base
        .pbx_header_wrap
            pbx-input
                .pbx_input_item_label
                    span
                        color: $white_black_70
    add-extension-component
        .add_ext_form_item_description
            color: $white_black_80
        .add_ext_form_title
            color: $white_black_80
            font-weight: 400
            span
                color: $white_black_80 !important
                font-weight: 300
        .pbx_input_item_label
            span
                color: $white_black_70
        pbx-editable-select
            .select_item.selected
                border-top: none !important
                border-left: none !important
                border-right: none !important
        pbx-input
            input:not([type="submit"])
                border-top: none !important
                border-left: none !important
                border-right: none !important
                &:focus
                    border-top: none !important
                    border-left: none !important
                    border-right: none !important
    rights-add-extension-component,
    options-add-extension-component
        .add_ext_form_item
            &:hover
                label
                    color: $white_black !important
            label
                font-weight: 300 !important
    extensions-component
        pbx-sidebar
            .ext_sidebar_contain
                .ext_sidebar_item_row, .ext_sidebar_item
                    .ext_sidebar_item_key
                        font-family: Roboto, sans-serif
                        font-weight: 300
                        color: $white_black_70
                    .ext_sidebar_item_value
                        font-family: Roboto, sans-serif
                        font-weight: 300
                        color: $white_black
            .ext_sidebar_button_wrap
                font-family: Roboto, sans-serif
                font-weight: 300
                color: $white_black