.light_theme
    .header_line_wrap   
        .header_title
            color: $white_black !important
        .header_button_hide
            background: $white_grey_caller !important
            polygon
                fill: $white_caller_arrow !important