.light_theme
    .header_line_wrap
        .desc
            color: $white_black_50 !important
        .header_title
            color: $white_black !important
        .header_button_hide
            background: $white_grey_caller !important
            polygon
                fill: $white_caller_arrow !important
        .header_button
            &.active
                path
                    fill: $white_salad !important
            &:after
                background: $white_main_bg !important
        .header_button_wrap
            .header_button.locked
                background: $white_disabled_btn_grey !important
                svg-icon
                    svg
                        path
                            fill: rgba($dark_white, .6) !important