.light_theme
    .knowledge-base
        .content
            background: $white_grey_dark !important
            .empty-message
                color: $white_black_50
            .inner
                .title
                    color: $white_black !important
                .desc
                    color: $white_black !important
                    font-weight: 300 !important
            .questions
                .item
                    .title
                        color: $white_black !important
                        &.title-open
                            color: $dark_accent !important
                    .desc
                        color: $white_black_50 !important
                    svg-icon
                        polygon
                            fill: $white_black !important
                        &.rotate
                            polygon
                                fill: $dark_accent !important
                    &:hover
                        .title
                            color: $dark_accent !important
                        svg-icon
                            polygon
                                fill: $dark_accent !important
