.light_theme
    pbx-modal
        .modal_wrap
            background: $dark-white
            .modal_close span
                background: $white_black
            .modal_title,
            .modal_body
                color: $white_black
            button.cancel
                background: $dark-white
                color: $white_black
            button.error
                background: $dark_error
                color: $dark-white