.light_theme
    partner-program-component
        .partner_header
            .partner_tab
                background: $white_queue_tab_grey_light
                color: $white_black_70
                &.active
                    background: $white_grey_dark
                    color: $dark_accent
        .overview_header,
        .link_header
            background: $white_grey_dark
            color: $white_black
        .overview_body
            .overview_title
                color: $white_black
                border-bottom-color: $white_black_30 !important
            .overview_item
                color: $white_black_80
                border-bottom-color: $white_black_30 !important