.light_theme
    partner-program-component
        .partner_header
            .partner_tab
                background: $white_queue_tab_grey_light
                color: $white_black_70
                .partner_tab_icon_wrap
                    margin-right: 12px
                    svg-icon
                        svg
                            width: 16px
                            height: 16px
                            path,
                            rect
                                fill: rgba(0, 0, 0, .6)
                &.active
                    background: $white_grey_dark
                    color: $dark_accent
                    .partner_tab_icon_wrap
                        svg-icon
                            path
                                fill: $dark_accent
        .overview_header,
        .link_header
            background: $white_grey_dark
            color: $white_black
        .overview_body
            .overview_title
                color: $white_black
                border-bottom-color: $white_black_30 !important
            .overview_item
                color: $white_black_80
                border-bottom-color: $white_black_30 !important

.light_theme
    pbx-index
        .transfer_modal
            input
                border: none !important
                border-bottom: 1px solid $white_input_border !important
                &:focus,
                &:active
                    border: none !important
                    border-bottom: 1px solid $dark_accent !important

    partner-program-component
        links-partner-program-component
            pbx-table
                .tablet_body
                    .tablet_content
                        .tablet_item
                            .link_all
                                .link_icon
                                    svg-icon
                                        svg
                                            *
                                                fill: $white_black