.light_theme
    phone-numbers-component
        .tablet_header
            border-bottom-color: $white_table_border
            .tablet_item
                span
                    color: $white_black_60
        .tablet_body
            color: $white_black
            .tablet_row
                border-bottom-color: $white_table_border