.light_theme
    phone-numbers-component
        .tablet_header
            border-bottom-color: $white_table_border
            .tablet_item
                span
                    color: $white_black_60
        .tablet_body
            color: $white_black
            .tablet_row
                border-bottom-color: $white_table_border
    buy-phone-numbers-component
        .buy_phone_header
            background: $white_grey_dark
            .buy_phone_header_block_key,
            .buy_phone_header_options_title
                color: $white_black_70
            .buy_phone_header_refresh
                .buy_phone_header_refresh_icon
                    path
                        fill: $white_black
        .buy_phone_table_contain
            .buy_phone_table_row,
            .buy_phone_table_title
                border-bottom: 1px solid $white_nav_border_80 !important
            .buy_phone_table_title
                color: $white_black_60
            .buy_phone_table_body
                .buy_phone_table_item
                    color: $white_black

    buy-phone-numbers-component
        .buy_phone_table_contain
            .buy_phone_table_row
                pbx-button
                    button
                        svg-icon.bought
                            display: none
                        &.pbx-button-disabled
                            background: transparent !important
                            span
                                color: transparent
                                position: relative
                                display: none !important
                            svg-icon.bought
                                display: block
                                svg
                                    width: 18px
                                    fill: transparent
                                    polygon
                                        fill: $white_black