.light_theme
    refill-balance
        .refill_header
            background: $white_grey_dark
            span, .labels-second-line
                color: $white_black !important
                &.label-focus
                    color: $white_salad !important
        .refill_currency_item
            background: $white_grey_dark
            &:nth-child(7)
                svg-icon #Group
                    fill: unset
        .refill_sidebar
            background: $white_grey_dark
            color: $white_black
        .refill_body
            &.paying,
            &.processing
                background: $white_grey_dark
        .refill_processing
            .refill_processing_amount,
            .refill_processing_address
                color: $dark_white
                color: $white_black
            .refill_processing_qr_code_wrap
                img
                    -webkit-user-select: none
                    -moz-user-select: none