.light_theme
    refill-balance
        .refill_header
            background: $white_grey_dark
            span, .labels-second-line
                color: $white_black !important
                &.label-focus
                    color: $white_salad !important
            pbx-input
                input:not([type="submit"])
                    color: $white_black
                    border: 1px solid $white_input_border
        .refill_currency_item
            background: $white_grey_dark
            &:nth-child(7)
                svg-icon #Group
                    fill: unset
        .refill_sidebar
            background: $white_grey_dark
            color: $white_black