.light_theme
    profile-component,
    base-settings-component
        .pbx_input_item
            .pbx_input_item_label
                span
                    color: $white_black_80
        .profile_settings_photo
            background: $white_grey_dark
            .inner
                .grey,
                .wrapper,
                .grey_2,
                .store
                    border-color: $dark_white !important
                .grey,
                .grey_2
                    background: $dark_white