.light_theme
    pbx-editable-select .select_item,
    pbx-select .select_item,
    pbx-input input
        font-weight: 300 !important
        font-family: Roboto, sans-serif !important
    pbx-sidebar
        .sidebar
            background: $white_grey_dark
            .description_text
                color: $white_black
                &.title
                    color: $white_black_70 !important
            .pbx_input_row
                .pbx_input_row_label
                    span
                        color: $white_black_70
            .ext_sidebar_item_value
                color: $white_black
        .pbx-select-placeholder
            color: $white_black_70