.light_theme
    pbx-sidebar
        .sidebar
            background: $white_grey_dark
            .description_text
                color: $white_black
                &.title
                    color: $white_black_70 !important