.light_theme
    pbx-storage
        pbx-sidebar
            .sidebar
                .store_sidebar_audio
                    border: 1px dashed $white_black_25
        .tablet_body
            .tablet_row
                border-bottom-color: rgba(0, 0, 0, .15) !important
                &.pick
                    background: $white_grey_dark
                .tablet_item
                    color: $white_black
        pbx-header
            pbx-button
                button.error
                    background: $dark_error
        //pbx-media-table-player
        //    .player-container
        //        background: transparent !important
        //    .player--play-pause
        //        svg-icon
        //            fill: $white_black !important
        //    .player-wave
        //        span
        //            background: $white_black !important
        //            &.active
        //                background: $dark_accent !important
        //    .player-time
        //        color: $white_black !important
        //    .player-arrow
        //        polygon
        //            fill: $white_black !important