.light_theme
    pbx-tariff-plans
        .tariff_item
            background: $white_theme_tariff_plan_bg !important
            &.current_tariff
                background: $white_theme_tariff_plan_bg_current !important
            .tariff_item_button
                background: $dark_white_25 !important
                color: $dark_white !important
        .info
            background: $white_grey_dark !important
            .title, p
                color: $white_black !important