.light_theme
    .user_wrap
        &:after
            background: $white_grey_dark !important
        .user_profile_image
            border-color: $white_grey_light !important
        .dropdown_arrow *
            fill: $white_black !important
        .user_navigation_wrap
            background: $white_grey_dark !important
            .user_navigation_item
                &:hover
                    background: $white_grey_hover !important
            path
                fill: $white_black !important