<div class="auth_form">
    <svg-icon src="/assets/icons/_logo/encryptotel_logo.svg" class="auth_form_icon"></svg-icon>
    <form [formGroup]="confirmationCode"
          (submit)="codeConfirm($event)"
          (keyup)="clearMessage()"
          [@Fade]
          >
        <div class="input_wrap">
            <input name="Confirmation code"
                   id="confirmation_code"
                   [class.error]="errorForm"
                   placeholder="Confirmation code"
                   formControlName="code"
                   >
            <div *ngIf="message"
                class="input_error"
                [@Fade]
                (click)="clearMessage()"
                >
                <span class="input_error_item"
                      >
                    {{ message.message }}
                </span>
            </div>
            <div *ngIf="inputValidation('code')"
                 class="input_error"
                 [@Fade]
                 >
                <span *ngIf="inputValidation('code')"
                      class="input_error_item"
                      >
                    Please enter your confirmation code
                </span>
            </div>
        </div>
        <pbx-button [buttonType]="'accent'"
                    [value]="'Sign In'"
                    [loading]="loading"
                    (onClick)="codeConfirm()"
                    >
        </pbx-button>
    </form>
</div>

