<div class="auth_form">
  <svg-icon src="/assets/icons/logo.svg" class="auth_form_icon"></svg-icon>
  <form (submit)="changePassword($event)" [formGroup]="passwordChangingForm" [@Fade] (keyup)="_services.clearError()">
    <div class="auth_form_error" *ngIf="error" [@Fade] (click)="_services.clearError()">{{error}}</div>
    <div class="input_wrap">
      <input type="password" name="Password" placeholder="Password" formControlName="password">
      <div class="input_error" *ngIf="inputValidation('password')" [@Fade]>
        <span class="input_error_item" *ngIf="inputValidation('password', 'required')">Please enter password</span>
        <span class="input_error_item" *ngIf="inputValidation('password', 'minlength')">Password is too short</span>
      </div>
    </div>
    <div class="input_wrap">
      <input type="password" name="Confirm password" placeholder="Confirm password" [ngClass]="{'ng-invalid ng-touched': passwordsMismatch()}" formControlName="password_confirmation">
      <div class="input_error" *ngIf="passwordsMismatch()" [@Fade]>
        <div class="input_error_item" *ngIf="passwordsMismatch()">Passwords doesn't match</div>
      </div>
    </div>
    <pbx-button [buttonType]="'accent'" [value]="'Change'" [loading]="loading" (onClick)="changePassword()"></pbx-button>
  </form>
</div>
