/*
  Local variables declaration

$theme_1: rgba(102, 103, 103, 0.81)
$theme_2: rgba(192, 109, 242, 0.81)
$theme_3: rgba(155, 113, 255, 0.81)
$theme_4: rgba(40, 162, 226, 0.81)
$theme_5: rgba(44, 193, 228, 0.81)
$theme_6: rgba(17, 176, 163, 0.81)
