<pbx-modal
    [modalEx]="modal"
    (onConfirmEx)="purchaseService()"
></pbx-modal>
<pbx-loader *ngIf="!locker.free"></pbx-loader>
<div class="marketplace_wrap" *ngIf="locker.free">
    <div *ngFor="let item of modules" class="marketplace_item color_{{item.color}}"
         [ngClass]="[item.status ? 'bought' : '']">
        <div class="marketplace_column">
            <div class="marketplace_title" translate>{{item.title}}</div>
            <div class="marketplace_info" *ngIf="item.content" translate>{{item.content}}</div>
        </div>
        <div class="marketplace_row">
            <div *ngIf="item.price" class="marketplace_cost">${{item.price}} &nbsp;<span translate>per month</span></div>
            <div *ngIf="!item.price" class="marketplace_cost" translate>free</div>
            <div *ngIf="item.status" class="marketplace_button bought" translate>bought</div>
            <div *ngIf="!item.status" class="marketplace_button" (click)="onServiceClick(item)">
                <span *ngIf="!item.loading" translate>buy now</span>
                <pbx-loader *ngIf="item.loading"></pbx-loader>
            </div>
        </div>
        <!-- <svg-icon *ngIf="item.status" src="../../assets/icons/_middle/ok_32px.svg" class="marketplace_icon ok"></svg-icon> -->
        <svg-icon *ngIf="item.status" (click)="returnModule(item)" src="../../assets/icons/_middle/cancel_delete_12px.svg" class="marketplace_icon delete"></svg-icon>
    </div>
</div>
