<pbx-loader *ngIf="loading"></pbx-loader>
<div class="marketplace_wrap" *ngIf="!loading" [@Fade]>
  <div *ngFor="let item of modules" class="marketplace_item color_{{item.color}}">
    <div class="marketplace_column">
      <div class="marketplace_title">{{item.title}}</div>
      <div class="marketplace_info" *ngIf="item.content">{{item.content}}</div>
    </div>
    <div class="marketplace_row">
      <div *ngIf="item.price" class="marketplace_cost">${{item.price}} monthly</div>
      <div *ngIf="!item.price" class="marketplace_cost">free</div>
      <div *ngIf="item.status" class="marketplace_button">bought</div>
      <div *ngIf="!item.status" class="marketplace_button">buy now</div>
    </div>
    <svg-icon *ngIf="item.status" src="../../assets/icons/ok_32px.svg" class="marketplace_icon"></svg-icon>
  </div>
</div>
