<pbx-tabs [buttons]="tabsButtons"
          (onClick)="buttonClick($event)">
    <!-- General tab content -->
    <pbx-tab tabTitle='General'>
        <pbx-loader *ngIf="!locker.free"></pbx-loader>
        <div class="form-body-content background" *ngIf="locker.free">
            <form class="sidebar_form" [formGroup]="departmentForm" *ngIf="!saving">

                    <pbx-input name="Department"
                                key="name"
                                labelPosition="top"
                                [form]="true"
                                [singleBorder]="false"
                                [floatError]="true"
                                [required]="true"
                                [object]="departmentForm"
                                [errors]="service.errors"
                    ></pbx-input>
        
                    <div class="sidebar_row select_row">
                        <div formArrayName="sipInner" class="sidebar_row unmargin">
                            <div class="sidebar_row_select"
                                    *ngFor="let sip of departmentForm.get('sipInner')['controls']; let i=index"
                                    [formGroupName]="i">
        
                                <pbx-input name="Department Phone"
                                            displayKey="phoneNumber"
                                            formKey="sipInner"
                                            errorKey="sipInner"
                                            labelPosition="top"
                                            [options]="getSelectNumbers()"
                                            [singleBorder]="false"
                                            [index2]="i"
                                            [form]="true"
                                            [floatError]="true"
                                            [object]="departmentForm"
                                            [objectView]="selectedSips[i]"
                                            [errors]="service.errors"
                                            [actions]="phoneActions"
                                            [formBuilder]="_fb"
                                            (onSelect)="selectPhone($event, i)"
                                            [placeholder]="'[choose one]'"
                                ></pbx-input>
        
                            </div>
                        </div>
                    </div>
        
                    <pbx-input name="Comment"
                                key="comment"
                                labelPosition="top"
                                type="textarea"
                                [form]="true"
                                [singleBorder]="false"
                                [floatError]="true"
                                [object]="departmentForm"
                                [errors]="service.errors"
                    ></pbx-input>
        
            </form>
        </div>
    </pbx-tab>
    <!-- Members tab content -->
    <pbx-tab tabTitle='Members'>
        <pbx-loader *ngIf="!locker.free"></pbx-loader>
        <div class="form-body-content background">
            2
        </div>
    </pbx-tab>
</pbx-tabs>