<pbx-tabs [buttons]="tabsButtons()"
          (onClick)="buttonClick($event)">
    <!-- General tab content -->
    <pbx-tab tabTitle='General'>
        <div class="department_form_wrapper">
            <pbx-loader *ngIf="!locker.free"></pbx-loader>
            <div class="call_queues_general_body" *ngIf="locker.free">
                <div class="queue-group-create">
                    <h3 class="queue-group-create_h3">Information</h3>
                </div>
                <form class="sidebar_form" [formGroup]="departmentForm" *ngIf="!saving">

                        <pbx-input name="Name"
                                   key="name"
                                   labelPosition="top"
                                   [form]="true"
                                   [singleBorder]="false"
                                   [floatError]="true"
                                   [required]="false"
                                   [object]="departmentForm"
                                   [errors]="service.errors"
                                   >
                        </pbx-input>
                        <pbx-input name="Description"
                                   key="comment"
                                   labelPosition="top"
                                   [form]="true"
                                   [singleBorder]="false"
                                   [floatError]="true"
                                   [object]="departmentForm"
                                   [errors]="service.errors"
                                   >
                        </pbx-input>
            
                        <!-- <div class="sidebar_row select_row">
                            <div formArrayName="sipInner" class="sidebar_row unmargin">
                                <div class="sidebar_row_select"
                                        *ngFor="let sip of sipInners.controls; let i = index;"
                                        [formGroupName]="i">
                                    <pbx-input name="Department Phone"
                                                displayKey="phoneNumber"
                                                formKey="sipInner"
                                                errorKey="sipInner"
                                                labelPosition="top"
                                                [options]="getSelectNumbers()"
                                                [singleBorder]="false"
                                                [index2]="i"
                                                [form]="true"
                                                [floatError]="true"
                                                [object]="departmentForm"
                                                [objectView]="selectedSips[i]"
                                                [errors]="service.errors"
                                                [actions]="phoneActions"
                                                [formBuilder]="_fb"
                                                [placeholder]="'[choose one]'"
                                                (onSelect)="selectPhone($event, i)">
                                    </pbx-input>
                                </div>
                            </div>
                        </div> -->
                </form>
            </div>
        </div>
    </pbx-tab>
    <!-- Members tab content -->
    <pbx-tab tabTitle='Members'>
        <pbx-view-edit-control #sipInnersControl
                               buttonText="Add Member"
                               headerText="Department Members"
                               [tableInfo]="sipTable"
                               [items]="sips"
                               [(selectedItems)]="selectedSips"
                               (onEditModeChanged)="sipInnersEditModeChanged($event)"
                               >
        </pbx-view-edit-control>
    </pbx-tab>
</pbx-tabs>
