<pbx-loader *ngIf="loading"></pbx-loader>
<div *ngIf="!loading" class="ivr_create_wrap" [@Fade]>
    <div class="ivr_create_header">
        <div class="ivr_create_tab_wrap">
            <pbx-button buttonType="accent" *ngIf="false"
                        value="Add IVR Level"
                        (onClick)="addLevel()">
            </pbx-button>
        </div>
        <div class="ivr_create_buttons">
            <pbx-button buttonType="cancel"
                        value="Cancel"
                        (onClick)="onCancel()">
            </pbx-button>
            <pbx-button buttonType="success"
                        value="Save"
                        (onClick)="save()"
                        [loading]="saving">
            </pbx-button>
        </div>
    </div>
    <div class="ivr_create_body"> <!-- class one_block -->

        <!-- IVR levels -->
        <div class="left" *ngIf="!modelTemplate">
            <pbx-ivr-level *ngFor="let level of ivrLevels; index as i;"
                           [level]="level"
                           [lastLevel]="isLastLevel(i)"
                           [selectedIds]="selectedDigits"
                           [title]="getLevelTitle(i)"
                           [description]="getLevelDescription(i)"
                           (ivrDigitSelected)="onIvrDigitSelected($event)"
            >
            </pbx-ivr-level>
        </div>

        <div class="right" *ngIf="!modelTemplate">

            <!-- IVR main form -->
            <div class="one" *ngIf="!ivrDigitSelected">
                <pbx-input name="IVR Name"
                           key="name"
                           placeholder="Unnamed"
                           [required]="true"
                           [form]="true"
                           [object]="form"
                           [errors]="service.errors"
                           [validationHost]="validationHost"
                >
                </pbx-input>
                <pbx-input name="IVR Description"
                           key="description"
                           placeholder="IVR from 8 a.m. to 6 p.m."
                           [form]="true"
                           [object]="form"
                           [errors]="service.errors"
                           [validationHost]="validationHost"
                >
                </pbx-input>
                <pbx-input name="Phone number"
                           key="sip"
                           placeholder="[choose one]"
                           [required]="true"
                           [form]="true"
                           [object]="form"
                           [options]="sipOuters"
                           displayKey="phoneNumber"
                           [selectAsObject]="true"
                           [errors]="service.errors"
                           [validationHost]="validationHost"
                           class="phone_number"
                           (onSelect)="onSipOuterSelected($event)"
                >
                </pbx-input>
            </div>

            <!-- IVR digit form -->
            <div class="one" *ngIf="ivrDigitSelected">
                <div class="select_digit">
                    <pbx-input name="Select Digit"
                               key="digit"
                               [form]="true"
                               [object]="digitForm"
                               [options]="service.digits"
                               displayKey="title"
                               [selectAsObject]="true"
                               [errors]="service.errors"
                               errorKey="digit"
                               [validationHost]="validationHost"
                               validationKey="digit"
                               (onSelect)="onDigitSelected($event)"
                               >
                    </pbx-input>
                    <pbx-button value="Delete" buttonType="error"></pbx-button>

                </div> <!-- select_digit -->

                <pbx-input name="Description"
                           key="digitDescription"
                           placeholder=""
                           [form]="true"
                           [object]="digitForm"
                           [errors]="service.errors"
                           errorKey="digitDescription"
                           [validationHost]="validationHost"
                           >
                </pbx-input>

                <div class="title accent">When the caller presses {{ formSelectedDigit.title }}</div>
                <pbx-input name="then"
                           key="action"
                           [required]="true"
                           placeholder="[choose one]"
                           [form]="true"
                           [object]="digitForm"
                           [options]="service.actions"
                           displayKey="title"
                           [selectAsObject]="true"
                           [errors]="service.errors"
                           errorKey="action"
                           [validationHost]="validationHost"
                           validationKey="parameter"
                           >
                </pbx-input>

                <pbx-input *ngIf="sipOutersVisible"
                           name="External phone"
                           key="parameter"
                           [required]="true"
                           placeholder="[ select an external number ]"
                           [form]="true"
                           [object]="digitForm"
                           [errors]="service.errors"
                           errorKey="actionParameter"
                           [validationHost]="validationHost"
                           validationKey="parameter"
                           >
                </pbx-input>

                <pbx-loader *ngIf="loadingExt"></pbx-loader>

                <pbx-input *ngIf="sipInnersVisible && !loadingExt"
                           name="Ext"
                           key="parameter"
                           [required]="true"
                           placeholder="[choose one]"
                           [form]="true"
                           [object]="digitForm"
                           [options]="sipInners"
                           displayKey="phoneNumber"
                           [selectAsObject]="true"
                           [errors]="service.errors"
                           errorKey="sipInner"
                           [validationHost]="validationHost"
                           validationKey="parameter"
                           >
                </pbx-input>

            </div> <!-- two -->
        </div>

        <div class="left" *ngIf="modelTemplate">

            <div class="item one_up"> <!-- class two and one_up-->

                <div class="top">
                    <div class="desc">Menu IVR</div>
                    <div class="title">Horns & Co</div>
                </div> <!-- top -->

                <div class="numbers">

                    <div class="number selected">
                        <div class="digit">
                            <div class="inner"><span>1</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>send to IVR</span></div>
                        <div class="line line2"><span>Sale</span></div>
                    </div> <!-- number -->

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>2</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>send to IVR</span></div>
                        <div class="line line2"><span>Balance</span></div>
                    </div> <!-- number -->

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>3</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>send to IVR</span></div>
                        <div class="line line2"><span>IT Department</span></div>
                    </div> <!-- number -->

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>4</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>forward</span></div>
                        <div class="line line2"><span>+1 (800) 800 55 55</span></div>
                        <div class="line line3"><span>#100 John Watson</span></div>
                    </div> <!-- number -->

                </div> <!-- numbers -->

                <div class="buttons">
                    <pbx-button value="Add Digit" buttonType="accent"></pbx-button>
                    <pbx-button value="Delete Level IVR" buttonType="error"></pbx-button>
                </div> <!-- buttons -->

            </div> <!-- item -->

            <div class="item two"> <!-- class two and one_up-->

                <div class="top">
                    <div class="desc">Level 1</div>
                    <div class="title">Sale</div>
                </div> <!-- top -->

                <div class="numbers">

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>1</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>send to IVR</span></div>
                        <div class="line line2"><span>Sale</span></div>
                    </div> <!-- number -->

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>2</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>send to IVR</span></div>
                        <div class="line line2"><span>Balance</span></div>
                    </div> <!-- number -->

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>3</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>send to IVR</span></div>
                        <div class="line line2"><span>IT Department</span></div>
                    </div> <!-- number -->

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>4</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>forward</span></div>
                        <div class="line line2"><span>+1 (800) 800 55 55</span></div>
                        <div class="line line3"><span>#100 John Watson</span></div>
                    </div> <!-- number -->

                    <div class="number selected">
                        <div class="digit">
                            <div class="inner"><span>5</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>forward</span></div>
                        <div class="line line2"><span>+1 (800) 800 55 55</span></div>
                        <div class="line line3"><span>#100 John Watson</span></div>
                    </div> <!-- number -->

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>6</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>forward</span></div>
                        <div class="line line2"><span>+1 (800) 800 55 55</span></div>
                        <div class="line line3"><span>#100 John Watson</span></div>
                    </div> <!-- number -->

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>7</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>forward</span></div>
                        <div class="line line2"><span>+1 (800) 800 55 55</span></div>
                        <div class="line line3"><span>#100 John Watson</span></div>
                    </div> <!-- number -->

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>8</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>forward</span></div>
                        <div class="line line2"><span>+1 (800) 800 55 55</span></div>
                        <div class="line line3"><span>#100 John Watson</span></div>
                    </div> <!-- number -->

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>9</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>forward</span></div>
                        <div class="line line2"><span>+1 (800) 800 55 55</span></div>
                        <div class="line line3"><span>#100 John Watson</span></div>
                    </div> <!-- number -->

                </div> <!-- numbers -->

                <div class="buttons">
                    <pbx-button value="Add Digit" buttonType="accent"></pbx-button>
                    <pbx-button value="Delete Level IVR" buttonType="error"></pbx-button>
                </div> <!-- buttons -->

            </div> <!-- item -->

            <div class="item two"> <!-- class two and one_up-->

                <div class="top active">
                    <div class="desc">Level 2</div>
                    <div class="title">Balance</div>
                </div> <!-- top -->

                <div class="numbers">

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>1</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>send to IVR</span></div>
                        <div class="line line2"><span>Sale</span></div>
                    </div> <!-- number -->

                    <div class="number selected">
                        <div class="digit">
                            <div class="inner"><span>2</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>send to IVR</span></div>
                        <div class="line line2"><span>Balance</span></div>
                    </div> <!-- number -->

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>3</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>send to IVR</span></div>
                        <div class="line line2"><span>IT Department</span></div>
                    </div> <!-- number -->

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>4</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>forward</span></div>
                        <div class="line line2"><span>+1 (800) 800 55 55</span></div>
                        <div class="line line3"><span>#100 John Watson</span></div>
                    </div> <!-- number -->

                </div> <!-- numbers -->

                <div class="buttons">
                    <pbx-button value="Add Digit" buttonType="accent"></pbx-button>
                    <pbx-button value="Delete Level IVR" buttonType="error"></pbx-button>
                </div> <!-- buttons -->

            </div> <!-- item -->

            <div class="item two selected"> <!-- class two and one_up-->

                <div class="top">
                    <div class="desc">Level 3</div>
                    <div class="title">IT Department</div>
                </div> <!-- top -->

                <div class="numbers">

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>1</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>send to IVR</span></div>
                        <div class="line line2"><span>Sale</span></div>
                    </div> <!-- number -->

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>2</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>send to IVR</span></div>
                        <div class="line line2"><span>Balance</span></div>
                    </div> <!-- number -->

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>3</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>send to IVR</span></div>
                        <div class="line line2"><span>IT Department</span></div>
                    </div> <!-- number -->

                    <div class="number">
                        <div class="digit">
                            <div class="inner"><span>4</span></div>
                        </div> <!-- digit -->
                        <div class="line line1"><span>forward</span></div>
                        <div class="line line2"><span>+1 (800) 800 55 55</span></div>
                        <div class="line line3"><span>#100 John Watson</span></div>
                    </div> <!-- number -->

                </div> <!-- numbers -->

                <div class="buttons">
                    <pbx-button value="Add Digit" buttonType="accent"></pbx-button>
                    <pbx-button value="Delete Level IVR" buttonType="error"></pbx-button>
                </div> <!-- buttons -->

            </div> <!-- item -->

        </div> <!-- left -->

        <div class="right" *ngIf="modelTemplate">

            <div class="one">
                <div class="title general">General</div>
                <pbx-input name="IVR Name"
                           key="name"
                           placeholder="Unnamed"
                           [(errors)]="service.errors"
                           [(object)]="service.item">
                </pbx-input>
                <pbx-input name="IVR Description"
                           key="description"
                           placeholder="IVR from 8 a.m. to 6 p.m."
                           [(errors)]="service.errors"
                           [(object)]="service.item">
                </pbx-input>
                <pbx-input name="Phone number"
                           key="sipId"
                           placeholder="[choose one]"
                           displayKey="phoneNumber"
                           class="phone_number"
                           errorKey="sip"
                           [options]="numbers"
                           [(errors)]="service.errors"
                           [(object)]="service.item"
                           [(objectView)]="selectedNumber">
                </pbx-input>

                <div class="title">IVR Options</div>
                <pbx-input name="Enable IVR"
                           key="enabled"
                           [checkbox]="true"
                           [(errors)]="service.errors"
                           [(object)]="service.item">
                </pbx-input>
                <div class="voice_wrap">
                    <pbx-input name="Voice greeting"
                               key="voice_greeting"
                               displayKey="phoneNumber"
                               errorKey="sip"
                               [options]="numbers"
                               [(errors)]="service.errors"
                               [(object)]="service.item"
                               [(objectView)]="selectedNumber">
                    </pbx-input>
                    <div class="buttons_block">
                        <pbx-button buttonType="accent"
                                    value="Play">
                        </pbx-button>
                        <pbx-button buttonType="accent"
                                    value="Upload">
                        </pbx-button>
                    </div> <!-- buttons_block -->
                </div> <!-- voice_wrap -->
                <pbx-input name="Loop message"
                           key="loop_message"
                           [(errors)]="service.errors"
                           [(object)]="service.item">
                </pbx-input>
                <pbx-input name="Rule applies for"
                           key="rule_applies_for"
                           placeholder="Date (period)"
                           displayKey="phoneNumber"
                           class="rule_applies_for"
                           errorKey="sip"
                           [options]="numbers"
                           [(errors)]="service.errors"
                           [(object)]="service.item"
                           [(objectView)]="selectedNumber">
                </pbx-input>
                <div class="duration_period_wrap">
                    <div class="label">Time</div>
                    <pbx-calendar></pbx-calendar>
                </div> <!-- duration_period_wrap -->
                <pbx-input name="Duration time"
                           key="duration_time"
                           displayKey="phoneNumber"
                           errorKey="sip"
                           placeholder="Set the time"
                           [options]="numbers"
                           [(errors)]="service.errors"
                           [(object)]="service.item">
                </pbx-input>
                <div class="time_wrap">
                </div>

                <div class="title">If user nothing is chosen</div>
                <pbx-input name="then"
                           key="then"
                           placeholder="Terminate Call"
                           displayKey="phoneNumber"
                           errorKey="sip"
                           [options]="numbers"
                           [(errors)]="service.errors"
                           [(object)]="service.item"
                           [(objectView)]="selectedNumber">
                </pbx-input>
            </div> <!-- one -->
            <div class="two">

                <div class="select_digit">
                    <pbx-input name="Select Digit"
                               key="select_digit"
                               displayKey="phoneNumber"
                               errorKey="sip"
                               [options]="numbers"
                               [(errors)]="service.errors"
                               [(object)]="service.item"
                               [(objectView)]="selectedNumber">
                    </pbx-input>
                    <pbx-button value="Delete" buttonType="error"></pbx-button>
                </div> <!-- select_digit -->

                <div class="title accent">When the caller Press 1</div>
                <pbx-input name="then"
                           key="select_digit_then"
                           displayKey="phoneNumber"
                           errorKey="sip"
                           placeholder="forward to Ext phone number"
                           [options]="numbers"
                           [(errors)]="service.errors"
                           [(object)]="service.item"
                           [(objectView)]="selectedNumber">
                </pbx-input>
                <pbx-input name="Phone"
                           key="select_digit_phone"
                           displayKey="phoneNumber"
                           errorKey="sip"
                           placeholder="+1 (800) 800 55 55"
                           [options]="numbers"
                           [(errors)]="service.errors"
                           [(object)]="service.item"
                           [(objectView)]="selectedNumber">
                </pbx-input>
                <pbx-input name="Ext"
                           key="select_digit_ext"
                           displayKey="phoneNumber"
                           errorKey="sip"
                           placeholder="100 John Watson"
                           [options]="numbers"
                           [(errors)]="service.errors"
                           [(object)]="service.item"
                           [(objectView)]="selectedNumber">
                </pbx-input>

                <div class="table_block">
                    <div class="label">Ext Forwarding Rules</div>
                    <div class="table">
                        <div class="header">
                            <div class="item">Priority</div>
                            <div class="item">Rule Name</div>
                            <div class="item">Duration period</div>
                            <div class="item">Duration time</div>
                            <div class="item">Status</div>
                        </div> <!-- header -->
                        <div class="body">
                            <div class="line">
                                <div class="item">1</div>
                                <div class="item">Business Trip</div>
                                <div class="item">25.07.2017-25.07.2017</div>
                                <div class="item">Всегда (24 часа)</div>
                                <div class="item">Enabled</div>
                            </div> <!-- line -->
                            <div class="line">
                                <div class="item">2</div>
                                <div class="item">Lunch</div>
                                <div class="item">Всегда</div>
                                <div class="item">с 13:00 до 14:00</div>
                                <div class="item">Enabled</div>
                            </div> <!-- line -->
                            <div class="line">
                                <div class="item">3</div>
                                <div class="item">Work 365</div>
                                <div class="item">Всегда</div>
                                <div class="item">с 10:00 до 19:00</div>
                                <div class="item">Enabled</div>
                            </div> <!-- line -->
                        </div> <!-- body -->
                    </div> <!-- table -->
                </div> <!-- table_block -->

            </div> <!-- two -->

            <div class="three">

                <div class="table_block">
                    <div class="table">
                        <div class="header">
                            <div class="item">IVR Name</div>
                            <div class="item">Duration period</div>
                            <div class="item">Duration time</div>
                            <div class="item">Status</div>
                            <div class="item">IVR Description</div>
                        </div> <!-- header -->
                        <div class="body">
                            <div class="line">
                                <div class="item">Unnamed</div>
                                <div class="item">25.07.2017-25.07.2017</div>
                                <div class="item">8 a.m. - 6 p.m.</div>
                                <div class="item">Enabled</div>
                                <div class="item">IVR from 8 a.m. to 6 p.m.</div>
                                <div class="item icons">
                                    <div class="tablet_icon edit">
                                        <svg-icon src="../../assets/icons/_middle/edit_12px.svg"></svg-icon>
                                    </div>
                                    <div class="tablet_icon delete">
                                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg"></svg-icon>
                                    </div>
                                </div> <!-- item -->
                            </div> <!-- line -->
                        </div> <!-- body -->
                    </div> <!-- table -->
                </div> <!-- table_block -->

            </div> <!-- three -->

        </div> <!-- right -->

    </div> <!-- ivr_create_body -->
</div>
<pbx-modal [modalEx]="modalExit"
           (onConfirmEx)="cancel()"
           >
</pbx-modal>
