@import "../../vars"

.pbx_input_error_float_down_focus 
    position: absolute
    display: block
    content: ''
    width: 0
    height: 0
    top: -6px
    left: 20px
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    border-bottom: 6px solid #c76262

.pbx_input_error    
    position: absolute !important
    left: 30px !important
    top: 100% !important
    margin: 6px 0 0 !important
    padding: 10px
    background-color: #c76262
    color: white

.down-position:before 
    position: absolute
    display: block
    content: ''
    width: 0
    height: 0
    top: -6px
    left: 20px
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    border-bottom: 6px solid #c76262  

.left-position:before
    position: absolute
    display: block
    content: ''
    width: 0
    height: 0
    top: 10px
    left: 100%
    border-top: 6px solid transparent
    border-bottom: 6px solid transparent
    border-left: 6px solid #c76262