.sidebar
    .phone-block,
    .email-block
        pbx-input
            .pbx_input_row_label
                display: none
        pbx-input:nth-child(1)
            .pbx_input_row_label
                display: block