amo-crm-integration
    .amo_crm_integration
        display: grid
        grid-template-columns: 1fr 384px
        grid-template-rows: min-content 1fr
        height: 100%
        display: none
        pbx-header
            grid-column: 1/2
            grid-row: 1/2
            .pbx_header
                margin-bottom: 8px
        .integration_cnt
            grid-column: 1/2
            grid-row: 2/3
            background: $dark_overlay
            padding: 32px 28px
            flex-direction: column
            .connection_block
                flex-direction: column
            .connection_block,
            .sync
                .item
                    .label
                        cursor: default !important
                        &:hover
                            color: $dark_white_70
            .item
                display: grid
                grid-template-columns: 116px 1fr
                height: 40px
                align-items: center
                margin-bottom: 16px
                .info_block
                    height: 36px
                    .text
                        background: $dark_sidebar_input_link
                        padding: 0 16px
                        align-items: center
                        min-width: 300px
                        max-width: 300px
                        font-family: Roboto, sans-serif
                        font-weight: 300
                        font-size: 14px
                        color: $dark_white
                        margin-right: 12px
                        span
                            width: 100%
                            overflow: hidden
                            white-space: nowrap
                            text-overflow: ellipsis
                            display: inline-block
                    .warning
                        svg-icon
                            display: flex
                            align-items: center
                            svg
                                width: 14px
                                height: 14px
                                cursor: pointer
                                *
                                    cursor: pointer
                                path, circle
                                    fill: $dark_error_message
                .label
                    font-family: Roboto, sans-serif
                    font-weight: 300
                    font-size: 12px
                    line-height: 16px
                    color: $dark_white_70
                    text-align: left
                    padding-left: 0
                    cursor: pointer
                    &:hover
                        color: $dark_accent
                pbx-button
                    .button.accent
                        width: auto !important
            .sync
                flex-direction: column
                margin-top: 46px
                .item
                    height: 24px
                    .date
                        svg-icon.ok
                            svg
                                width: 13px
                                width: 13px
                                polygon
                                    fill: $dark_white
                        svg-icon.refresh
                            display: none
                            svg
                                width: 14px
                                width: 14px
                                cursor: pointer
                                *
                                    cursor: pointer
                                path
                                    fill: $dark_accent
                        .text
                            font-family: Roboto, sans-serif
                            font-weight: 300
                            font-size: 10px
                            line-height: 13px
                            color: $dark_white
                            margin: 0 12px 0 16px
                            a
                                color: $dark_yellow
                                text-decoration: underline
                        .warning
                            margin-left: 6px
                            svg-icon
                                svg
                                    width: 14px
                                    height: 14px
                                    cursor: pointer
                                    *
                                        cursor: pointer
                                    path, circle
                                        fill: $dark_error_message

            .title
                font-family: Roboto, sans-serif
                font-weight: 400
                font-size: 14px
                line-height: 19px
                color: $dark_white_80
                margin-bottom: 16px
        .info
            grid-column: 2/3
            grid-row: 1/3
            padding: 40px 32px
            background: $dark_overlay
            margin-left: 24px
            flex-direction: column
            .title
                font-family: Roboto, sans-serif
                font-size: 40px
                font-weight: 300
                color: $dark_white
                margin-bottom: 24px
            .desc
                font-family: Roboto, sans-serif
                font-size: 16px
                font-weight: 300
                color: $dark_white
                line-height: 21px
                flex-direction: column
                a
                    color: $dark_accent



    .amo_crm_integration_edit
        display: grid
        grid-template-columns: 1fr 384px
        grid-template-rows: min-content 1fr
        height: 100%
        overflow: hidden
        //display: none
        .amo_crm_control
            pbx-button
                margin-left: 8px
        amo-crm-integration-general-component,
        amo-crm-integration-address-book-component,
        amo-crm-integration-managers-component
            width: 100%
            .main_inner
                width: inherit
                min-height: 100%
                height: max-content
                flex-direction: column
                .table
                    .body
                        .line
                            .item
                                white-space: nowrap
                                overflow: hidden
                                text-overflow: ellipsis
                                display: inline-block !important
                                line-height: 48px
        .amo_crm_header
            grid-column: 1/2
            grid-row: 1/2
            display: grid
            grid-template-columns: min-content 1fr min-content
            .amo_crm_tab_wrap
                grid-column: 1/2
                .amo_crm_tab
                    padding: rem(16)
                    background: rgba($dark_overlay, .33)
                    white-space: nowrap
                    cursor: pointer
                    *
                        cursor: pointer
                    &:hover
                        background: rgba($dark_overlay, .67)
                    &.active
                        cursor: default
                        color: $dark_accent
                        background: $dark_overlay
                        &:hover
                            background: $dark_overlay
            .information
                grid-column: 2/3
                align-items: center
                justify-content: center
                font-family: Roboto, sans-serif
                font-size:  12px
                font-weight: 300
                color: $dark_white_70
            .amo_crm_control
                grid-column: 3/4
                margin-left: auto
        .amo_crm_cnt
            grid-column: 1/2
            grid-row: 2/3
            //overflow: auto
            overflow: hidden
        .amo_crm_info
            grid-column: 2/3
            grid-row: 1/3
            padding: 40px 32px
            background: $dark_overlay
            margin-left: 24px
            display: block
            overflow: auto
            .title
                font-family: Roboto, sans-serif
                font-size: 40px
                font-weight: 300
                color: $dark_white
                margin-bottom: 24px
            .desc
                font-family: Roboto, sans-serif
                font-size: 16px
                font-weight: 300
                color: $dark_white
                line-height: 21px
                flex-direction: column
                .extensions
                    margin-bottom: 16px
                    span
                        color: $dark_info_yellow
                        font-weight: 400
                .block
                    display: block
                    margin-bottom: 32px
                    line-height: 21px
                    span
                        display: inline-block
                        font-weight: 400
                    a
                        display: inline-block
                        color: $dark_accent
                        text-decoration: underline
        amo-crm-integration-general-component
            overflow: hidden
            .main_inner
                background: $dark_overlay
                padding: 32px 28px
                .item
                    display: grid
                    grid-template-columns: 116px 1fr
                    height: 48px
                    align-items: center
                    margin-bottom: 16px
                    .label
                        font-family: Roboto, sans-serif
                        font-weight: 300
                        font-size: 12px
                        line-height: 16px
                        color: $dark_white_70
                        text-align: left
                        padding-left: 0
                        cursor: pointer
                        &:hover
                            color: $dark_accent
                    pbx-button
                        grid-column: 2/3
                .title
                    font-family: Roboto, sans-serif
                    font-weight: 400
                    font-size: 14px
                    line-height: 19px
                    color: $dark_white_80
                    margin-bottom: 16px
                .connection_block
                    flex-direction: column
                    pbx-button
                        width: min-content
                .integration_block
                    flex-direction: column
                    margin-top: 48px
                    pbx-select
                        .select_wrap:focus > .selected
                            border-top: 1px solid transparent !important
                            border-left: 1px solid transparent !important
                            border-right: 1px solid transparent !important
                        .select_item.selected
                            border-top: 1px solid transparent
                            border-left: 1px solid transparent
                            border-right: 1px solid transparent
        amo-crm-integration-address-book-component
            overflow: hidden
            .main_inner
                height: inherit
                display: grid
                grid-template-rows: min-content auto
            .top
                background: $dark_overlay
                padding: 18px 0
                .item
                    display: grid
                    grid-template-columns: 80px 1fr
                    height: 40px
                    align-items: center
                    .label
                        font-family: Roboto, sans-serif
                        font-weight: 300
                        font-size: 12px
                        line-height: 16px
                        color: $dark_white_70
                        cursor: pointer
                        padding-left: 24px
                        &:hover
                            color: $dark_accent
                    input
                        width: 224px
                        border: 1px solid rgba($dark_white, .1)
                        &:focus
                            border: 1px solid $dark_accent
                        &::placeholder
                            font-family: Roboto, sans-serif
                            font-weight: 300
                            font-size: 14px
                            color: $dark_white_35
            .table
                display: grid
                grid-template-columns: 1fr
                grid-template-rows: min-content 1fr
                margin-top: 16px
                overflow: hidden
                .header, .body .line
                    display: grid
                    width: 100%
                    grid-template-columns: 80px repeat(4, 1fr)
                    .item
                        display: grid
                        align-items: center
                        height: 48px
                        &:first-child
                            padding-left: 24px
                            display: grid !important
                .header
                    border-bottom: 1px solid rgba($white_nav_border, .2)
                    .item
                        font-family: Roboto, sans-serif
                        font-weight: 300
                        font-size: 12px
                        color: $dark_white_60
                .body
                    display: grid
                    grid-template-columns: 1fr
                    grid-template-rows: min-content
                    overflow: auto
                    .line
                        cursor: pointer
                        height: 48px
                        border-bottom: 1px solid rgba($white_nav_border, .2)
                        *
                            cursor: pointer
                        &.active
                            background: $dark_overlay
                        .item
                            font-family: Roboto, sans-serif
                            font-weight: 300
                            font-size: 14px
                            color: $dark_white
        amo-crm-integration-managers-component
            overflow: hidden
            .main_inner
                height: inherit
                display: grid
                grid-template-rows: min-content auto
                .top
                    background: $dark_overlay
                    padding: 18px 0
                    .item
                        display: grid
                        grid-template-columns: 80px min-content 1fr
                        height: 40px
                        align-items: center
                        .label
                            font-family: Roboto, sans-serif
                            font-weight: 300
                            font-size: 12px
                            line-height: 16px
                            color: $dark_white_70
                            cursor: pointer
                            padding-left: 24px
                            &:hover
                                color: $dark_accent
                        input
                            width: 224px
                            border: 1px solid rgba($dark_white, .1)
                            &:focus
                                border: 1px solid $dark_accent
                            &::placeholder
                                font-family: Roboto, sans-serif
                                font-weight: 300
                                font-size: 14px
                                color: $dark_white_35
                        .checkbox_round
                            .label
                                font-family: Roboto, sans-serif
                                font-weight: 300
                                font-size: 12px
                                line-height: 16px
                                color: $dark_white_70
                                cursor: pointer
                                padding-left: 48px
                                &:hover
                                    color: $dark_accent
                            .wrapper
                                position: relative
                                width: 44px
                                height: 20px
                                margin-left: 12px
                                cursor: pointer
                                *
                                    cursor: pointer
                                label
                                    position: absolute
                                    top: 0
                                    right: 0
                                    bottom: 0
                                    left: 0
                                    opacity: 0
                                    z-index: 10
                                input[type="checkbox"]
                                    position: relative
                                    z-index: -20
                                    opacity: 0
                                    &:checked
                                        + .visual
                                            background: $dark_accent
                                            span
                                                left: unset
                                                right: 5px
                                .visual
                                    position: absolute
                                    top: 0
                                    right: 0
                                    bottom: 0
                                    left: 0
                                    background: $checkbox_round_grey
                                    border-radius: 10px
                                    span
                                        width: 10px
                                        height: 10px
                                        border-radius: 100%
                                        background: $dark_white
                                        position: absolute
                                        top: 50%
                                        left: 5px
                                        transform: translateY(-50%)
                .table
                    display: grid
                    grid-template-columns: 1fr
                    grid-template-rows: min-content 1fr
                    margin-top: 16px
                    overflow: hidden
                    .header, .body .line
                        display: grid
                        width: 100%
                        grid-template-columns: 80px repeat(5, 1fr)
                        .item
                            display: grid
                            align-items: center
                            height: 48px
                            &:first-child
                                display: grid !important
                                padding-left: 24px
                            &:nth-child(2)
                                display: grid !important
                    .header
                        border-bottom: 1px solid rgba($white_nav_border, .2)
                        .item
                            font-family: Roboto, sans-serif
                            font-weight: 300
                            font-size: 12px
                            color: $dark_white_60
                    .body
                        display: grid
                        grid-template-columns: 1fr
                        grid-template-rows: min-content
                        overflow: auto
                        .line
                            cursor: pointer
                            height: 48px
                            border-bottom: 1px solid rgba($white_nav_border, .2)
                            *
                                cursor: pointer
                            &.active
                                background: $dark_overlay
                            .item
                                font-family: Roboto, sans-serif
                                font-weight: 300
                                font-size: 14px
                                color: $dark_white
                                input
                                    width: 84px
                                    height: 32px
                                    border: 1px solid $white_input_border
                                    background: $dark_overlay
                                    cursor: text
                                    &:focus
                                        border: 1px solid $dark_accent
                                pbx-select
                                    width: 84px
                                    height: 32px
                                    .select_item.selected
                                        height: 32px
                                        border: 1px solid $white_input_border
                                        background: $dark_overlay
                                        svg-icon
                                            right: 8px
                            &.active
                                .item
                                    input
                                        border: 1px solid $white_input_border
                                        background: $dark_background
                                    pbx-select
                                        .select_item.selected
                                            background: $dark_background