amo-crm-integration
    .amo_crm_integration
        display: grid
        grid-template-columns: 1fr 384px
        grid-template-rows: min-content 1fr
        height: 100%
        display: none
        pbx-header
            grid-column: 1/2
            grid-row: 1/2
            .pbx_header
                margin-bottom: 8px
        .integration_cnt
            grid-column: 1/2
            grid-row: 2/3
            background: $dark_overlay
            padding: 32px 28px
            flex-direction: column
            .connection_block
                flex-direction: column
            .connection_block,
            .sync
                .item
                    .label
                        cursor: default !important
                        &:hover
                            color: $dark_white_70 !important
            .item
                display: grid
                grid-template-columns: 116px 1fr
                height: 40px
                align-items: center
                margin-bottom: 16px
                .info_block
                    height: 36px
                    .text
                        background: $dark_sidebar_input_link
                        padding: 0 16px
                        align-items: center
                        min-width: 300px
                        max-width: 300px
                        font-family: Roboto, sans-serif
                        font-weight: 300
                        font-size: 14px
                        color: $dark_white
                        margin-right: 12px
                        span
                            width: 100%
                            overflow: hidden
                            white-space: nowrap
                            text-overflow: ellipsis
                            display: inline-block
                    .warning
                        svg-icon
                            display: flex
                            align-items: center
                            svg
                                width: 14px
                                height: 14px
                                cursor: pointer
                                *
                                    cursor: pointer
                                path, circle
                                    fill: $dark_error_message
                .label
                    font-family: Roboto, sans-serif
                    font-weight: 300
                    font-size: 12px
                    line-height: 16px
                    color: $dark_white_70
                    cursor: pointer
                    &:hover
                        color: $dark_accent
                pbx-button
                    .button.accent
                        width: auto !important
            .sync
                flex-direction: column
                margin-top: 46px
                .item
                    height: 24px
                    .date
                        svg-icon.ok
                            svg
                                width: 13px
                                width: 13px
                                polygon
                                    fill: $dark_white
                        svg-icon.refresh
                            display: none
                            svg
                                width: 14px
                                width: 14px
                                cursor: pointer
                                *
                                    cursor: pointer
                                path
                                    fill: $dark_accent
                        .text
                            font-family: Roboto, sans-serif
                            font-weight: 300
                            font-size: 10px
                            line-height: 13px
                            color: $dark_white
                            margin: 0 12px 0 16px
                            a
                                color: $dark_yellow
                                text-decoration: underline
                        .warning
                            margin-left: 6px
                            svg-icon
                                svg
                                    width: 14px
                                    height: 14px
                                    cursor: pointer
                                    *
                                        cursor: pointer
                                    path, circle
                                        fill: $dark_error_message

            .title
                font-family: Roboto, sans-serif
                font-weight: 400
                font-size: 14px
                line-height: 19px
                color: $dark_white_80
                margin-bottom: 16px
        .info
            grid-column: 2/3
            grid-row: 1/3
            padding: 40px 32px
            background: $dark_overlay
            margin-left: 24px
            flex-direction: column
            .title
                font-family: Roboto, sans-serif
                font-size: 40px
                font-weight: 300
                color: $dark_white
                margin-bottom: 24px
            .desc
                font-family: Roboto, sans-serif
                font-size: 16px
                font-weight: 300
                color: $dark_white
                line-height: 21px
                flex-direction: column
                a
                    color: $dark_accent



    .amo_crm_integration_edit
        display: grid
        grid-template-columns: 1fr 384px
        grid-template-rows: min-content 1fr
        height: 100%
        overflow: hidden
        .amo_crm_control
            pbx-button
                margin-left: 8px
        amo-crm-integration-general-component,
        amo-crm-integration-address-book-component,
        amo-crm-integration-managers-component
            width: 100%
            .main_inner
                width: inherit
                min-height: 100%
                height: max-content
                flex-direction: column
        .amo_crm_header
            grid-column: 1/2
            grid-row: 1/2
            .amo_crm_tab_wrap
                .amo_crm_tab
                    padding: rem(16)
                    background: rgba($dark_overlay, .33)
                    cursor: pointer
                    *
                        cursor: pointer
                    &:hover
                        background: rgba($dark_overlay, .67)
                    &.active
                        cursor: default
                        color: $dark_accent
                        background: $dark_overlay
                        &:hover
                            background: $dark_overlay
            .amo_crm_control
                margin-left: auto
        .amo_crm_cnt
            grid-column: 1/2
            grid-row: 2/3
            //overflow: auto
            overflow: hidden
        .amo_crm_info
            grid-column: 2/3
            grid-row: 1/3
            padding: 40px 32px
            background: $dark_overlay
            margin-left: 24px
            display: block
            overflow: auto
            .title
                font-family: Roboto, sans-serif
                font-size: 40px
                font-weight: 300
                color: $dark_white
                margin-bottom: 24px
            .desc
                font-family: Roboto, sans-serif
                font-size: 16px
                font-weight: 300
                color: $dark_white
                line-height: 21px
                flex-direction: column
        amo-crm-integration-general-component
            .main_inner
                background: $dark_overlay
                padding: 32px 28px
                .item
                    display: grid
                    grid-template-columns: 116px 1fr
                    height: 48px
                    align-items: center
                    margin-bottom: 16px
                    .label
                        font-family: Roboto, sans-serif
                        font-weight: 300
                        font-size: 12px
                        line-height: 16px
                        color: $dark_white_70
                        cursor: pointer
                        &:hover
                            color: $dark_accent
                .title
                    font-family: Roboto, sans-serif
                    font-weight: 400
                    font-size: 14px
                    line-height: 19px
                    color: $dark_white_80
                    margin-bottom: 16px
                .connection_block
                    flex-direction: column
                    pbx-button
                        width: min-content
                .integration_block
                    flex-direction: column
                    margin-top: 48px
                    pbx-select
                        .select_wrap:focus > .selected
                            border-top: 1px solid transparent !important
                            border-left: 1px solid transparent !important
                            border-right: 1px solid transparent !important
                        .select_item.selected
                            border-top: 1px solid transparent
                            border-left: 1px solid transparent
                            border-right: 1px solid transparent
        amo-crm-integration-address-book-component
            overflow: hidden
            .main_inner
                height: inherit
                display: grid
                grid-template-rows: min-content auto
            .top
                background: $dark_overlay
                padding: 18px 0
                .item
                    display: grid
                    grid-template-columns: 80px 1fr
                    height: 40px
                    align-items: center
                    .label
                        font-family: Roboto, sans-serif
                        font-weight: 300
                        font-size: 12px
                        line-height: 16px
                        color: $dark_white_70
                        cursor: pointer
                        padding-left: 24px
                        &:hover
                            color: $dark_accent
                    input
                        border: 1px solid rgba($dark_white, .1)
                        &:focus
                            border: 1px solid $dark_accent
                        &::placeholder
                            font-family: Roboto, sans-serif
                            font-weight: 300
                            font-size: 14px
                            color: $dark_white_35
            .table
                display: grid
                grid-template-columns: 1fr
                grid-template-rows: min-content 1fr
                margin-top: 16px
                overflow: hidden
                .header, .body .line
                    display: grid
                    width: 100%
                    grid-template-columns: 80px repeat(4, 1fr)
                    .item
                        display: grid
                        align-items: center
                        height: 40px
                        &:first-child
                            padding-left: 24px
                .header
                    border-bottom: 1px solid rgba($white_nav_border, .2)
                    .item
                        font-family: Roboto, sans-serif
                        font-weight: 300
                        font-size: 12px
                        color: $dark_white_60
                .body
                    display: grid
                    grid-template-columns: 1fr
                    overflow: auto
                    .line
                        cursor: pointer
                        border-bottom: 1px solid rgba($white_nav_border, .2)
                        *
                            cursor: pointer
                        &.active
                            background: $dark_overlay
                        .item
                            font-family: Roboto, sans-serif
                            font-weight: 300
                            font-size: 14px
                            color: $dark_white