pbx-queue-general
    .pbx_input_error
        z-index: 1

pbx-queue-create
    .form-body-content
        span.label
            cursor: pointer
            &:hover
                color: $dark_accent !important
    .pbx_input_item_label
        margin-right: 10px
    pbx-queue-general
        .call_queues_general_body
            pbx-input
                .pbx_input_item
                    .pbx_input_error
                        margin-top: 51px
                        margin-left: 260px

ring-groups-create-component,
pbx-call-queues-create
    pbx-queue-create
        .form-body
            .form-body-content
                flex: 1
                pbx-queue-general
                    display: block
                pbx-queue-members-add
                    .call_queues_members_add
                        position: relative
            .form-ballast
                display: none

pbx-call-queues,
ring-groups-component
    .tablet
        .tablet_header,
        .tablet_body
            .tablet_item
                &:nth-child(4)
                    .qwerty
                        width: 64px
                        justify-content: center

        .tablet_body
            .tablet_item
                &:nth-child(4)
                    > div
                        width: 64px
                        justify-content: center
                    .qwerty
                        text-align: center

pbx-call-queues
    .tablet
        .tablet_header,
        .tablet_body .tablet_content
            grid-template-columns: repeat(5, calc((100% - 68px) / 5)) repeat(2, calc(68px / 2)) !important
            .tablet_item
        .tablet_header
            .tablet_item
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(5)
                    .qwerty
                        span




ring-groups-component
    pbx-call-queues
    .tablet
        .tablet_header,
        .tablet_body .tablet_content
            grid-template-columns: repeat(5, calc((100% - 68px) / 5)) repeat(2, calc(68px / 2)) !important
            .tablet_item
        .tablet_header
            .tablet_item
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(5)
                    .qwerty
                        span