.call-rules-create
    pbx-input
        .pbx_input_wrap
            .pbx_input_item
                .pbx_input_item_label
                    //width: 157px
                .pbx_input_item_input_wrap
                    .time
                        padding-left: 16px

.call-rules-create_row.days
        label
            min-width: 150px

// loader
pbx-call-rules-create
    pbx-form
        position: relative
        pbx-loader
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

// z-index for errors
pbx-call-rules-create
    call-rules-time-rules
        .select_item
            color: $dark-white !important
    .pbx_input_error
        z-index: 1

pbx-call-rules-create
    .form-body-content
        padding: 24px !important
    .call-rules-create
        grid-gap: 0 !important
        .pbx_input_item_input_wrap
            position: relative
            width: 100%
        .icon_wrap
            margin-left: 24px
    pbx-input
        margin-right: 40px
        height: 48px
        align-items: center
        // margin-bottom: 16px
    pbx-input[name="Action"]
        .pbx_input_item_label
            span
                color: $dark-white
                opacity: 1
                font-weight: 500
    pbx-input.noMargin
        margin-right: 0
    .call-rules-create_row
        height: 48px
        align-items: center
        margin-bottom: 0 !important
        margin-top: 16px !important
        &.days
            margin-top: 8px !important
            height: 48px !important
        pbx-button
            height: 32px !important
            button
                height: 32px !important
        h3
            color: $dark-white
            opacity: .8
    .call-rules-create_row:nth-child(1)
        margin-top: 0 !important

pbx-call-rules-create
    .call-rules-create
        pbx-input[name="Queue"]
            &.class2
                .select_item
                    height: auto
                    &.selected
                        padding-top: 0
                .select_options
                    display: none
    .call-rules-create_row
        .time_wrap
            pbx-select
                .select_item
                    svg-icon
                        margin-left: 15px

pbx-call-rules-create
    .call-rules-create
        pbx-input[ng-reflect-name="Queue"]
            pbx-select
                .select_item.selected
                    position: absolute
                    left: 0
                    top: 0
        pbx-input[displaykey="fileName"]
            .pbx_input_item_input_wrap
                display: grid
                grid-template-columns: 1fr min-content
        pbx-input[displaykey="phoneNumber"]
            + .call-rules-create_row
                p
                    display: block
                    span
                        display: inline
                        line-height: 20px
        call-rules-time-rules
            .time_wrap
                pbx-select
                    width: 110px !important
                    .select_item.selected
                        padding-right: 16px !important
                    svg-icon
                        margin-left: 0 !important
                    .select_wrap.active
                        svg-icon
                            top: 50% !important
                            transform: translateY(-50%) rotate(180deg) !important
                pbx-input
                    width: 110px !important
                    margin-right: 0 !important
                    .select_item.selected
                        padding-right: 16px !important
                    svg-icon
                        margin-left: 0 !important
                    .select_wrap.active
                        svg-icon
                            top: 50% !important
                            transform: translateY(-50%) rotate(180deg) !important

pbx-call-rules
    flex-direction: row !important
    .tablet
        .tablet_header,
        .tablet_body .tablet_content
            grid-template-columns: repeat(4, calc((100% - 68px) / 4)) repeat(2, calc(68px / 2)) !important
            .tablet_item
        .tablet_header
            .tablet_item
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(5)
                    .qwerty
                        span
                            //text-align: center

pbx-call-rules-create
    .form
        form.call-rules-create
            .enable_rule_wrap
                pbx-input
                    margin-right: 24px
                .note
                    align-items: center
                    font-family: Roboto, sans-serif
                    font-weight: 300
                    font-size: 12px
                    color: rgba($dark_white, .7)
            .please_note
                color: rgba($dark_white, .7)

pbx-sidebar
    &.sidebar_call_rules
        display: grid
        .sidebar
            display: grid
            grid-template-rows: 140px 1fr min-content
            .info_up
                flex-direction: column
                color: $dark_white
                margin-bottom: 32px
                overflow: auto
                display: block
                .key
                    margin-bottom: 8px
                .val
                    margin-bottom: 24px
            .scroll_block
                flex-direction: column
                overflow: auto
                display: block
                .inner
                    margin-bottom: 32px
                    flex-direction: column
                    .key
                        margin-bottom: 8px
                    .val
                        margin-bottom: 24px
            .buttons
                display: grid
                grid-template-columns: 1fr 1fr
                grid-template-rows: 1fr 1fr
                grid-gap: 16px
                padding-top: 16px
