pbx-queue-general
    .pbx_input_error
        z-index: 1

pbx-queue-create
    .pbx_input_item_label
        margin-right: 10px
    pbx-queue-general
        .call_queues_general_body
            pbx-input
                .pbx_input_item
                    .pbx_input_error
                        margin-top: 51px
                        margin-left: 260px