pbx-chat
    position: absolute
    top: 0
    left: 100px
    right: 0
    bottom: 0
    background: $dark_overlay
    padding: 16px
    pbx-loader
        display: none
    .list_of_chats
        flex-direction: column
        width: 100%
        position: relative
        overflow: hidden
        .search_wrap
            display: grid
            grid-template-columns: 1fr 10px 18px
            margin-bottom: 40px
            .input_wrap
                grid-column: 1/2
                position: relative
                margin-bottom: 0
                input
                    width: 100%
                    padding-left: 26px
                    &::placeholder
                        font-family: Roboto, sans-serif !important
                        font-weight: 100 !important
                .search_icon
                    position: absolute
                    left: 0
                    top: 50%
                    transform: translateY(-50%)
                    svg-icon
                        width: 18px
                        position: relative
                        svg
                            width: 18px
                            position: absolute
                            top: 50%
                            transform: translateY(-50%)
                            path
                                fill: $chat_icon_grey_color
            .create
                grid-column: 3/4
                position: relative
                svg-icon
                    width: 18px
                    position: relative
                    svg
                        cursor: pointer
                        height: 18px
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        *
                            cursor: pointer
                        path
                            fill: $chat_icon_grey_color
                .dropdown_block_create
                    position: absolute
                    bottom: -88px
                    right: 0
                    flex-direction: column
                    z-index: 10
                    .item
                        font-family: Roboto, sans-serif
                        font-size: 14px
                        line-height: 19px
                        color: $dark_white
                        background: $dark_pagination_inactive
                        padding: 0 16px
                        height: 40px
                        align-items: center
                        cursor: pointer
                        white-space: nowrap
                        &:hover
                            background: $dark_player_bg
        .items
            display: block
            min-height: calc(100% - 80px)
            overflow: auto
            .item
                display: grid
                grid-template-columns: 40px 1fr 16px
                grid-template-rows: 1fr 1fr
                margin-bottom: 32px
                &.dropdownTop
                    .dropdown_block_settings
                        top: unset !important
                        bottom: 24px
                .logo_wrap
                    grid-row: 1/3
                    display: grid
                    align-items: center
                    .logo
                        width: 40px
                        height: 40px
                        border-radius: 100%
                        background: $dark_accent
                        position: relative
                        span
                            text-transform: uppercase
                            font-family: Roboto
                            font-weight: 400
                            font-size: 20px
                            color: $dark_white
                            margin: auto
                .cnt
                    display: grid
                    grid-template-columns: 1fr auto
                    grid-template-rows: 1fr 1fr
                    padding: 0 16px
                    grid-row: 1/3
                    .name
                        grid-column: 1/2
                        grid-row: 1/2
                        font-family: Roboto, sans-serif
                        font-size: 16px
                        //line-height: 24px
                        font-weight: 300
                        color: $dark_white
                        padding-right: 8px
                        display: grid
                        align-items: end
                        span
                            display: block
                            overflow: hidden
                            text-overflow: ellipsis
                            white-space: nowrap
                    .date
                        grid-column: 2/3
                        grid-row: 1/2
                        font-family: Roboto, sans-serif
                        font-size: 12px
                        line-height: 16px
                        font-weight: 300
                        color: $dark-white_75
                        display: grid
                        align-items: end
                        justify-content: flex-end
                    .msg
                        grid-column: 1/2
                        grid-row: 2/3
                        font-family: Roboto, sans-serif
                        font-size: 14px
                        line-height: 20px
                        font-weight: 300
                        color: $dark-white_75
                        white-space: nowrap
                        overflow: hidden
                        text-overflow: ellipsis
                        display: block
                        padding-top: 3px
                    .new_msgs
                        grid-column: 2/3
                        grid-row: 2/3
                        align-items: center
                        justify-content: flex-end
                        span
                            display: inline-flex
                            height: 18px
                            border-radius: 50%
                            background: $dark_accent
                            font-family: Roboto, sans-serif
                            font-size: 12px
                            color: $dark_white
                            justify-content: center
                            align-items: center
                            padding: 0 7px
                            &.long
                                border-radius: 25%/50%
                .settings
                    cursor: pointer
                    grid-row: 1/2
                    display: grid
                    align-items: end
                    position: relative
                    svg-icon
                        svg
                            cursor: pointer
                            circle
                                fill: $dark-white_80
                                cursor: pointer
                    .dropdown_block_settings
                        position: absolute
                        top: 24px
                        right: 0px
                        flex-direction: column
                        z-index: 10
                        .item
                            font-family: Roboto, sans-serif
                            font-size: 14px
                            line-height: 19px
                            color: $dark_white
                            background: $dark_pagination_inactive
                            padding: 0 16px
                            height: 40px
                            align-items: center
                            cursor: pointer
                            white-space: nowrap
                            display: flex !important
                            margin-bottom: 0 !important
                            &:hover
                                background: $dark_player_bg
        .add_people
            width: 56px
            height: 56px
            border-radius: 100%
            overflow: hidden
            position: absolute
            right: 16px
            bottom: 64px
            background: $dark_accent
            box-shadow: 4px 4px 10px rgba(0, 0, 0, .5)
            cursor: pointer
            transition: all linear 1s
            opacity: 0
            display: none
            svg-icon
                width: 38px
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                cursor: pointer
                svg
                    cursor: pointer
                    *
                        cursor: pointer
                    path,
                    polygon,
                    circle
                        fill: $dark_white
                        cursor: pointer
            &.opened
                opacity: 1


    .single_chat
        flex-direction: column
        width: 100%
        padding-bottom: 56px
        display: none
        .top
            background: $dark_overlay
            padding: 8px 16px
            margin: -16px 0 0 -16px
            align-items: center
            display: grid
            grid-template-columns: 24px 16px 1fr 16px 18px 16px 18px
            .back
                grid-column: 1/2
                height: 100%
                align-items: center
                svg-icon
                    width: 100%
                    position: relative
                    height: 16px
                    svg
                        cursor: pointer
                        position: absolute
                        top: 50%
                        transform: translateY(-50%)
                        height: inherit
                        *
                            cursor: pointer
                        polygon
                            fill: $dark_white
            .data
                display: grid
                grid-template-columns: 40px 1fr
                align-items: center
                grid-column: 3/4
                .ava
                    width: 40px
                    height: 40px
                    position: relative
                    border-radius: 100%
                    overflow: hidden
                    img
                        position: absolute
                        width: 50px
                        height: auto
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                .name
                    font-family: Roboto, sans-serif
                    font-weight: 300
                    font-size: 20px
                    color: $dark_white
                    padding-left: 16px
                    display: block
                    white-space: nowrap
                    overflow: hidden
                    text-overflow: ellipsis
            .search
                grid-column: 5/6
                svg-icon
                    width: 100%
                    height: 40px
                    position: relative
                    overflow: hidden
                    display: none
                    svg
                        height: 18px
                        cursor: pointer
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        *
                            cursor: pointer
                        path
                            fill: $dark_white
            .settings
                grid-column: 7/8
                height: 100%
                display: grid
                align-items: center
                position: relative
                cursor: pointer
                *
                    cursor: pointer
                svg-icon
                    width: 100%
                    height: 24px
                    position: relative
                    overflow: hidden
                    svg
                        height: inherit
                        cursor: pointer
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        *
                            cursor: pointer
                        circle
                            fill: $dark_white
                .dropdown_block_settings.user_chat
                    position: absolute
                    top: 48px
                    right: 0
                    flex-direction: column
                    z-index: 10
                    .item
                        font-family: Roboto, sans-serif
                        font-size: 14px
                        line-height: 19px
                        color: $dark_white
                        background: $dark_pagination_inactive
                        padding: 0 16px
                        height: 40px
                        align-items: center
                        cursor: pointer
                        white-space: nowrap
                        &:hover
                            background: $dark_player_bg
        .input_wrap
            .files
                position: relative
                .dropdown_block
                    position: absolute
                    bottom: 48px
                    right: 0
                    flex-direction: column
                    z-index: 10
                    box-shadow: 7px 7px 8px -7px rgba(0, 0, 0, 0.5), -7px -7px 8px -7px rgba(0, 0, 0, 0.5)
                    .item
                        font-family: Roboto, sans-serif
                        font-size: 14px
                        line-height: 19px
                        color: $dark_white
                        background: $dark_pagination_inactive
                        padding: 0 16px
                        height: 40px
                        align-items: center
                        cursor: pointer
                        white-space: nowrap
                        &:hover
                            background: $dark_player_bg
        &.group
            .top
                box-shadow: 0 7px 8px -7px rgba(0, 0, 0, 0.5)
                .search
                    svg-icon
                        display: grid
            .calling
                display: none
        .calling
            background: $chat_calling_bg
            justify-content: center
            color: $dark_white
            padding: 8px 0
            margin: 0 -16px 0 -16px
            align-items: center
            span
                display: inline-block
                font-size: 14px
                line-height: 20px
                &:first-child
                    margin-right: 10px
                    font-size: 12px
        .messages
            flex-direction: column
            overflow: auto
            padding-right: 3px
            //display: none
            .message
                margin: 0 0 16px
                display: grid
                .avatar
                    width: 40px
                    height: 40px
                    border-radius: 100%
                    overflow: hidden
                    position: relative
                    display: none
                    img
                        width: 50px
                        height: auto
                        position: absolute
                        left: 50%
                        top: 50%
                        transform: translate(-50%, -50%)
                .cnt
                    //margin-left: 16px
                    padding: 8px
                    position: relative
                    width: fit-content
                    min-width: 80px
                    .name
                        display: none
                    .msg
                        overflow: hidden
                        padding-bottom: 14px
                        line-height: 20px
                    .info
                        position: absolute
                        bottom: 8px
                        right: 8px
                        .date
                            font-size: 13px
                            margin-right: 5px
                            color: $white_black_50
                            position: relative
                            &:before
                                content: ''
                                width: 2px
                                height: 2px
                                background: $white_black_50
                                position: absolute
                                top: 50%
                                transform: translateY(-50%)
                                left: -5px
                        .status
                            width: 14px
                            height: 14px
                            border-radius: unset
                            background: unset
                            svg-icon
                                width: 100%
                                position: relative
                                overflow: hidden
                                svg
                                    height: 14px
                                    position: absolute
                                    top: 50%
                                    left: 50%
                                    transform: translate(-50%, -50%)
                                    polygon
                                        fill: $white_black_50
                            &.ext_table_item_circle
                                // прочитаны - двойная иконка
                            &.ext_table_item_circle2
                                // непрочитаны - иконка в одну линию
                &.left
                    grid-template-columns: 1fr
                    .cnt
                        border-radius: 10px 10px 10px 0
                        background: $white_grey_hover
                        color: $white_black
                        font-weight: 400
                &.right
                    grid-template-columns: 1fr
                    .cnt
                        border-radius: 10px 10px 0 10px
                        background: $white_salad
                        color: $dark_white
                        margin-left: auto
                        .info
                            .date
                                color: $dark_white
                                &:before
                                    background: $dark_white
                        .status
                            svg-icon
                                svg
                                    polygon
                                        fill: $dark_white

        .empty_text
            font-family: Roboto, sans-serif
            font-size: 18px
            font-weight: 400
            color: $chat_icon_grey_color
            margin: auto
            display: none
        .input_wrap
            position: absolute
            left: 16px
            bottom: 16px
            right: 16px
            background: $dark_pagination_inactive
            margin-bottom: 0 !important
            display: grid
            grid-template-columns: 8px 18px 1fr 17px 12px 11px 8px
            .smiles
                grid-column: 2/3
                height: 100%
                svg-icon
                    width: 100%
                    position: relative
                    svg
                        cursor: pointer
                        position: absolute
                        top: 50%
                        transform: translateY(-50%)
                        *
                            cursor: pointer
                        path,
                        ellipse
                            fill: $chat_icon_grey_color
            input
                width: 100%
                grid-column: 3/4
                &::placeholder
                    color: $dark_white_50
            .files
                grid-column: 4/5
                height: 100%
                &.active
                    svg-icon
                        svg
                            path
                                fill: $dark_accent
                svg-icon
                    width: 100%
                    position: relative
                    svg
                        height: 18px
                        cursor: pointer
                        position: absolute
                        top: 50%
                        transform: translateY(-50%)
                        *
                            cursor: pointer
                        path
                            fill: $chat_icon_grey_color
            .record
                grid-column: 6/7
                height: 100%
                svg-icon.mic,
                svg-icon.send
                    width: 100%
                    position: relative
                    overflow: hidden
                    svg
                        height: 18px
                        cursor: pointer
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        *
                            cursor: pointer
                        path
                            fill: $chat_icon_grey_color
                svg-icon.send
                    display: none
                    svg
                        path
                            fill: $dark_accent
            &.send
                grid-template-columns: 8px 18px 1fr 17px 12px 21px 8px
                .record
                    svg-icon.mic
                        display: none
                    svg-icon.send
                        display: block


    .new_group
        flex-direction: column
        width: 100%
        .top
            display: grid
            grid-template-columns: 1fr
            grid-template-rows: min-content min-content
            background: $dark_overlay
            margin-bottom: 16px
            .line
                &:first-child
                    display: grid
                    grid-row: 1/2
                &:nth-child(2)
                    display: grid
                    grid-row: 2/3
                    padding-left: 16px
                &:nth-child(3)
                    grid-row: 3/4
                    margin-top: 8px
                    height: 14px
                .back
                    grid-column: 1/2
                    grid-row: 1/3
                    svg-icon
                        margin: auto
                        svg
                            width: 16px
                            cursor: pointer
                            *
                                cursor: pointer
                            polygon
                                fill: #fff
                .avatar
                    .inner
                        width: 40px
                        height: 40px
                        border-radius: 100%
                        overflow: hidden
                        background: $dark_accent
                        margin: auto
                        svg-icon
                            margin: auto
                            svg
                                width: 24px
                                path
                                    fill: #fff
                .cnt
                    padding-left: 16px
                    .title
                        grid-row: 1/2
                        font-family: Roboto, sans-serif
                        font-size: 20px
                        font-weight: 200
                        color: $dark_white
                        height: 40px
                        align-items: center
                        white-space: nowrap
                        overflow: hidden
                        display: inline-block
                        max-width: 220px
                        text-overflow: ellipsis
                        line-height: 40px
                    .enter_name
                        font-size: 20px
                .accept
                    display: none
                    align-items: center
                    margin-left: 16px
                    &.active
                        display: grid !important
                        grid-column: 3/4
                    svg-icon
                        margin: auto
                        svg
                            width: 16px
                            cursor: pointer
                            *
                                cursor: pointer
                            polygon
                                fill: #fff
                .search
                    svg-icon
                        margin: auto
                        svg
                            width: 16px
                            cursor: pointer
                            *
                                cursor: pointer
                            path
                                fill: #fff
                .settings
                    svg-icon
                        margin: auto
                        svg
                            width: 22px
                            cursor: pointer
                            *
                                cursor: pointer
                            circle
                                fill: #fff
                    .dropdown_block_settings
                        position: absolute
                        top: 64px
                        right: 16px
                        flex-direction: column
                        z-index: 10
                        .item
                            font-family: Roboto, sans-serif
                            font-size: 14px
                            line-height: 19px
                            color: $dark_white
                            background: $dark_pagination_inactive
                            padding: 0 16px
                            height: 40px
                            align-items: center
                            cursor: pointer
                            white-space: nowrap
                            display: flex !important
                            margin-bottom: 0 !important
                            &:hover
                                background: $dark_player_bg
            .line
                .add_people
                    width: 100%
                    flex-flow: wrap
                    margin: 12px 0 8px
                    border-bottom: 1px solid $white_button_cancel
                    .item
                        border-radius: 14px
                        display: inline-grid
                        grid-template-columns: 28px 1fr
                        margin: 0 8px 8px 0
                        .letters
                            width: 28px
                            height: 28px
                            border-radius: 100%
                            box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1)
                            span
                                margin: auto
                                font-family: Roboto, sans-serif
                                font-size: 12px
                                font-weight: 400
                                color: $dark_white
                        .name
                            font-family: Roboto, sans-serif
                            font-size: 12px
                            font-weight: 200
                            color: $dark_white
                            padding: 0 8px
                            align-items: center
                            white-space: nowrap
                    .addedUsers
                        flex-wrap: wrap
                        div
                            .item
                                height: 32px
                            &:nth-child(1n) .item
                                background: rgba($chat_color1, .8)
                                .letters
                                    background: rgba($chat_color1, 1)
                            &:nth-child(2n) .item
                                background: rgba($chat_color2, .8)
                                .letters
                                    background: rgba($chat_color2, 1)
                            &:nth-child(3n) .item
                                background: rgba($chat_color3, .8)
                                .letters
                                    background: rgba($chat_color3, 1)
                            &:nth-child(4n) .item
                                background: rgba($chat_color4, .8)
                                .letters
                                    background: rgba($chat_color4, 1)
                            &:nth-child(5n) .item
                                background: rgba($chat_color5, .8)
                                .letters
                                    background: rgba($chat_color5, 1)
                            &:nth-child(6n) .item
                                background: rgba($chat_color6, .8)
                                .letters
                                    background: rgba($chat_color6, 1)
                            &:nth-child(7n) .item
                                background: rgba($chat_color7, .8)
                                .letters
                                    background: rgba($chat_color7, 1)
                .info_block
            .line
                .members
        &.create
            display: grid
            grid-template-columns: 1fr
            grid-template-rows: min-content 1fr min-content
            .top
                .line
                    &:first-child
                        grid-template-columns: 16px 1fr
                        box-shadow: 0 7px 8px -7px rgba(0, 0, 0, .1)
                        padding-bottom: 8px
                    &:nth-child(2)
                        grid-template-columns: 16px 1fr
                        .add_people
                            grid-column: 2/3
                    &.typingName
                        grid-template-columns: 16px 1fr 32px
                    &.acceptedName
                        grid-template-columns: 16px 1fr 32px 32px
                        .search
                            grid-column: 3/4
                        .settings
                            grid-column: 4/5
                    .avatar
                        display: none
                    .cnt
                        .title
                    .accept, .search, .settings
                    .info_block
                        display: none
                    &:last-child
                    .addedUsers
                        min-height: 40px
                        max-height: 120px
                        overflow: auto
                    &.coloredAddedUsers
                        grid-template-columns: 1fr
                        padding-left: 0
                        .add_people
                            grid-column: 1/2
            .items
                display: grid
                overflow: auto
                margin-bottom: 8px
                .item
                    display: grid
                    grid-template-columns: 40px 1fr
                    margin-bottom: 32px
                    cursor: pointer !important
                    *
                        cursor: pointer !important
                    .avatar
                        grid-column: 1/2
                        .inner
                            width: 40px
                            height: 40px
                            background: $dark_accent
                            //overflow: hidden
                            border-radius: 100%
                            span
                                margin: auto
                                text-transform: uppercase
                                font-family: Roboto, sans-serif
                                font-size: 20px
                                color: $dark_white
                    .cnt
                        grid-column: 2/3
                        padding: 0 16px
                        display: grid
                        grid-template-columns: 1fr
                        grid-template-rows: 1fr 1fr
                        .name
                            grid-column: 1/2
                            grid-row: 1/2
                            overflow: hidden
                            white-space: nowrap
                            align-items: center
                            span
                                text-overflow: ellipsis
                                overflow: hidden
                                display: block
                                font-family: Roboto, sans-serif
                                font-size: 16px
                                font-weight: 200
                                color: $dark_white
                        .msg
                            grid-column: 1/2
                            grid-row: 2/3
                            overflow: hidden
                            white-space: nowrap
                            align-items: center
                            span
                                text-overflow: ellipsis
                                overflow: hidden
                                display: block
                                font-family: Roboto, sans-serif
                                font-size: 14px
                                font-weight: 200
                                color: $dark_white_75
                    &.added
                        &:nth-child(1n) .avatar .inner
                            background: $chat_color1
                        &:nth-child(2n) .avatar .inner
                            background: $chat_color2
                        &:nth-child(3n) .avatar .inner
                            background: $chat_color3
                        &:nth-child(4n) .avatar .inner
                            background: $chat_color4
                        &:nth-child(5n) .avatar .inner
                            background: $chat_color5
                        &:nth-child(6n) .avatar .inner
                            background: $chat_color6
                        &:nth-child(7n) .avatar .inner
                            background: $chat_color7
                        .inner
                            width: 40px
                            height: 40px
                            border-radius: 100%
                            margin: auto
                            position: relative
                            &:after
                                content: url('data:image/svg+xml; utf8, <svg id="check_mark" data-name="check mark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title></title><path d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0ZM10.2,17,5.3,12.1l.7-.8,4.2,3.3L18,7.8l.7.7Z" fill="#fff"/></svg>')
                                width: 24px
                                height: 24px
                                position: absolute
                                bottom: -3px
                                right: -3px
                &.group_chat
                    .messages
                        display: block
                        overflow: auto
                        padding-right: 3px
                        .message
                            margin: 0 0 16px
                            display: grid
                            .avatar
                                width: 40px
                                height: 40px
                                border-radius: 100%
                                overflow: hidden
                                position: relative
                                display: none
                                background: $dark_accent
                                img
                                    width: 50px
                                    height: auto
                                    position: absolute
                                    left: 50%
                                    top: 50%
                                    transform: translate(-50%, -50%)
                            .cnt
                                //margin-left: 16px
                                padding: 8px
                                position: relative
                                width: fit-content
                                min-width: 80px
                                flex-direction: column
                                display: grid
                                grid-template-columns: 1fr
                                .name
                                    display: none
                                    font-size: 10px
                                    color: $chat_color1
                                .msg
                                    overflow: hidden
                                    padding-bottom: 0
                                    line-height: 20px
                                .info
                                    //position: absolute
                                    //bottom: 8px
                                    //right: 8px
                                    justify-content: flex-end
                                    padding-left: 16px
                                    .date
                                        font-size: 13px
                                        margin-right: 5px
                                        color: $white_black_50
                                        position: relative
                                        &:before
                                            content: ''
                                            width: 2px
                                            height: 2px
                                            background: $white_black_50
                                            position: absolute
                                            top: 50%
                                            transform: translateY(-50%)
                                            left: -5px
                                    .status
                                        width: 14px
                                        height: 14px
                                        border-radius: unset
                                        background: unset
                                        margin: 0
                                        svg-icon
                                            width: 100%
                                            position: relative
                                            overflow: hidden
                                            svg
                                                height: 14px
                                                position: absolute
                                                top: 50%
                                                left: 50%
                                                transform: translate(-50%, -50%)
                                                polygon
                                                    fill: $white_black_50
                                        &.ext_table_item_circle
                                        // прочитаны - двойная иконка
                                        &.ext_table_item_circle2
                                        // непрочитаны - иконка в одну линию
                            &.left
                                grid-template-columns: min-content 1fr
                                .avatar
                                    display: grid
                                    margin-right: 8px
                                .cnt
                                    border-radius: 10px 10px 10px 0
                                    background: $white_grey_hover
                                    color: $white_black
                                    font-weight: 400
                                    grid-template-rows: min-content 1fr min-content
                                    .name
                                        display: grid
                            &.right
                                grid-template-columns: 1fr
                                .cnt
                                    border-radius: 10px 10px 0 10px
                                    background: $white_salad
                                    color: $dark_white
                                    margin-left: auto
                                    grid-template-rows: min-content 1fr min-content
                                    .info
                                        .date
                                            color: $dark_white
                                            &:before
                                                background: $dark_white
                                    .status
                                        svg-icon
                                            svg
                                                polygon
                                                    fill: $dark_white
            .bottom.input_wrap
                //position: absolute
                //left: 16px
                //bottom: 16px
                //right: 16px
                background: $dark_pagination_inactive
                margin-bottom: 0 !important
                display: grid
                grid-template-columns: 8px 18px 1fr 17px 12px 11px 8px
                padding-bottom: 8px
                .smiles
                    grid-column: 2/3
                    height: 100%
                    svg-icon
                        width: 100%
                        position: relative
                        svg
                            cursor: pointer
                            position: absolute
                            top: 50%
                            transform: translateY(-50%)
                            *
                                cursor: pointer
                            path,
                            ellipse
                                fill: $chat_icon_grey_color
                input
                    width: 100%
                    grid-column: 3/4
                    &::placeholder
                        color: $dark_white_50
                .files
                    grid-column: 4/5
                    height: 100%
                    position: relative
                    &.active
                        svg-icon
                            svg
                                path
                                    fill: $dark_accent
                    svg-icon
                        width: 100%
                        position: relative
                        svg
                            height: 18px
                            cursor: pointer
                            position: absolute
                            top: 50%
                            transform: translateY(-50%)
                            *
                                cursor: pointer
                            path
                                fill: $chat_icon_grey_color
                    .dropdown_block_files
                        position: absolute
                        bottom: 48px
                        right: 0px
                        flex-direction: column
                        z-index: 10
                        box-shadow: 7px 7px 8px -7px rgba(0, 0, 0, 0.5), -7px -7px 8px -7px rgba(0, 0, 0, 0.5)
                        .item
                            font-family: Roboto, sans-serif
                            font-size: 14px
                            line-height: 19px
                            color: $dark_white
                            background: $dark_pagination_inactive
                            padding: 0 16px
                            height: 40px
                            align-items: center
                            cursor: pointer
                            white-space: nowrap
                            display: flex !important
                            margin-bottom: 0 !important
                            &:hover
                                background: $dark_player_bg
                .record
                    grid-column: 6/7
                    height: 100%
                    svg-icon.mic,
                    svg-icon.send
                        width: 100%
                        position: relative
                        overflow: hidden
                        svg
                            height: 18px
                            cursor: pointer
                            position: absolute
                            top: 50%
                            left: 50%
                            transform: translate(-50%, -50%)
                            *
                                cursor: pointer
                            path
                                fill: $chat_icon_grey_color
                    svg-icon.send
                        display: none
                        svg
                            path
                                fill: $dark_accent
                &.send
                    grid-template-columns: 8px 18px 1fr 17px 12px 21px 8px
                    .record
                        svg-icon.mic
                            display: none
                        svg-icon.send
                            display: block


    .group_info
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: min-content min-content min-content 1fr min-content
        width: 100%
        .top
            display: grid
            grid-template-columns: min-content 1fr min-content min-content
            align-items: center
            height: 56px
            box-shadow: 0 7px 8px -7px rgba(0, 0, 0, 0.5)
            margin-bottom: 40px
            .back
                cursor: pointer
                *
                    cursor: pointer
                span
                    padding-left: 4px
                    align-items: center
                svg-icon
                    margin: auto
                    svg
                        width: 16px
                        cursor: pointer
                        *
                            cursor: pointer
                        polygon
                            fill: #fff
            .title
                justify-content: center
            .search
                svg-icon
                    margin: auto
                    svg
                        width: 16px
                        cursor: pointer
                        *
                            cursor: pointer
                        path
                            fill: #fff
            .edit
                cursor: pointer
                margin-left: 32px
        .header
            display: grid
            grid-template-columns: min-content 1fr
            grid-template-rows: min-content min-content
            padding: 0 24px
            .logo
                overflow: hidden
                grid-column: 1/2
                grid-row: 1/2
                svg-icon
                    svg
                        width: 40px
                        height: 40px
            .info
                display: grid
                grid-template-rows: 1fr 1fr
                align-items: center
                grid-column: 2/3
                grid-row: 1/2
                padding-left: 24px
                .group_name
                    font-family: Roboto, sans-serif
                    font-weight: 300
                    font-size: 18px
                    line-height: 24px
                    color: $dark_white
                .data
                    font-family: Roboto, sans-serif
                    font-weight: 300
                    font-size: 12px
                    line-height: 16px
                    color: $dark_white_70
            .settings
                grid-column: 2/3
                grid-row: 2/3
                margin: 40px 0 32px
                display: grid
                grid-template-rows: 1fr 1fr
                border-bottom: 1px solid $dark_white_30
                padding-bottom: 8px
                .media
                    height: 48px
                    display: grid
                    align-items: center
                    span
                        font-family: Roboto, sans-serif
                        font-weight: 300
                        font-size: 16px
                        line-height: 20px
                        color: $dark_white
                        cursor: pointer
                        &:hover
                            color: $dark_accent
                .notifications
                    height: 48px
                    display: grid
                    align-items: center
                    .checkbox_round
                        .label
                            font-family: Roboto, sans-serif
                            font-weight: 300
                            font-size: 16px
                            line-height: 20px
                            color: $dark_white
                            cursor: pointer
                            &:hover
                                color: $dark_accent
                        .wrapper
                            position: relative
                            width: 44px
                            height: 20px
                            margin-left: auto
                            cursor: pointer
                            *
                                cursor: pointer
                            label
                                position: absolute
                                top: 0
                                right: 0
                                bottom: 0
                                left: 0
                                opacity: 0
                                z-index: 10
                            input[type="checkbox"]
                                position: relative
                                z-index: -20
                                opacity: 0
                                &:checked
                                    + .visual
                                        background: $dark_accent
                                        span
                                            left: unset
                                            right: 5px
                            .visual
                                position: absolute
                                top: 0
                                right: 0
                                bottom: 0
                                left: 0
                                background: $checkbox_round_grey
                                border-radius: 10px
                                span
                                    width: 10px
                                    height: 10px
                                    border-radius: 100%
                                    background: $dark_white
                                    position: absolute
                                    top: 50%
                                    left: 5px
                                    transform: translateY(-50%)
        .members
            display: grid
            grid-template-rows: 1fr 1fr
            margin-bottom: 32px
            padding: 0 8px
            grid-gap: 16px
            .count
                font-family: Roboto, sans-serif
                font-weight: 300
                font-size: 12px
                text-transform: uppercase
                color: $dark_white_70
                align-items: center
            .add_members
                font-family: Roboto, sans-serif
                font-weight: 300
                font-size: 16px
                line-height: 21px
                color: $dark_accent
                padding-left: 16px
                cursor: pointer
                *
                    cursor: pointer
                svg-icon
                    display: grid
                    align-items: center
                    margin-right: 32px
                    svg
                        width: 13px
                        path
                            fill: $dark_accent
                span
                    align-items: center
        .items
            display: block
            overflow: auto
            margin-bottom: 8px
            .item
                display: grid
                grid-template-columns: 40px 1fr 16px
                grid-template-rows: 1fr 1fr
                margin-bottom: 16px
                &.dropdownTop
                    .dropdown_block_settings
                        top: unset !important
                        bottom: 24px
                .logo_wrap
                    grid-row: 1/3
                    display: grid
                    align-items: center
                    .logo
                        width: 40px
                        height: 40px
                        border-radius: 100%
                        background: $dark_accent
                        position: relative
                        span
                            text-transform: uppercase
                            font-family: Roboto
                            font-weight: 400
                            font-size: 20px
                            color: $dark_white
                            margin: auto
                .cnt
                    display: grid
                    grid-template-columns: 1fr auto
                    grid-template-rows: 1fr 1fr
                    padding: 0 16px
                    grid-row: 1/3
                    .name
                        grid-column: 1/2
                        grid-row: 1/2
                        font-family: Roboto, sans-serif
                        font-size: 16px
                        //line-height: 24px
                        font-weight: 300
                        color: $dark_white
                        padding-right: 8px
                        display: grid
                        align-items: end
                        span
                            display: block
                            overflow: hidden
                            text-overflow: ellipsis
                            white-space: nowrap
                    .msg
                        grid-column: 1/3
                        grid-row: 2/3
                        font-family: Roboto, sans-serif
                        font-size: 14px
                        line-height: 20px
                        font-weight: 300
                        color: $dark-white_75
                        white-space: nowrap
                        overflow: hidden
                        text-overflow: ellipsis
                        display: block
                        padding-top: 3px
                        &.online
                            color: $dark_accent
                .admin
                    grid-row: 1/2
                    display: grid
                    align-items: end
                    position: relative
                    font-family: Roboto, sans-serif
                    font-weight: 300
                    font-size: 12px
                    color: $dark_white_80
        .btn
            height: 48px
            align-items: center
            display: grid
            grid-template-columns: 40px 1fr
            div
                grid-column: 2/3
                height: inherit
                border-top: 1px solid $dark_white_30
                align-items: center
                margin-left: 16px
                span
                    font-family: Roboto, sans-serif
                    font-weight: 300
                    font-size: 16px
                    color: $dark_error
                    cursor: pointer