pbx-chat
    position: absolute
    top: 0
    left: 100px
    right: 0
    bottom: 0
    background: $dark_overlay
    padding: 16px
    .list
        flex-direction: column
        width: 100%
        position: relative
        //display: none
        .search_wrap
            display: grid
            grid-template-columns: 18px 10px 1fr 10px 15px
            margin-bottom: 40px
            .search_icon
                grid-column: 1/2
                svg-icon
                    width: 18px
                    position: relative
                    svg
                        cursor: pointer
                        position: absolute
                        top: 50%
                        transform: translateY(-50%)
                        *
                            cursor: pointer
                        path
                            fill: $chat_icon_grey_color
            input
                grid-column: 3/4
            .mic
                grid-column: 5/6
                svg-icon
                    width: 15px
                    position: relative
                    svg
                        cursor: pointer
                        height: 24px
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        *
                            cursor: pointer
                        path
                            fill: $chat_icon_grey_color
        .items
            display: grid
            overflow: auto
            .item
                display: grid
                grid-template-columns: 40px 1fr 16px
                grid-template-rows: 1fr 1fr
                margin-bottom: 32px
                .logo_wrap
                    grid-row: 1/3
                    display: grid
                    align-items: center
                    .logo
                        width: 40px
                        height: 40px
                        border-radius: 100%
                        background: $dark_accent
                        position: relative
                        span
                            text-transform: uppercase
                            font-family: Roboto
                            font-weight: 400
                            font-size: 20px
                            color: $dark_white
                            margin: auto
                .cnt
                    display: grid
                    grid-template-columns: 1fr auto
                    grid-template-rows: 1fr 1fr
                    padding: 0 16px
                    grid-row: 1/3
                    .name
                        grid-column: 1/2
                        grid-row: 1/2
                        font-family: Roboto, sans-serif
                        font-size: 16px
                        //line-height: 24px
                        font-weight: 300
                        color: $dark_white
                        padding-right: 8px
                        display: grid
                        align-items: end
                        span
                            display: block
                            overflow: hidden
                            text-overflow: ellipsis
                            white-space: nowrap
                    .date
                        grid-column: 2/3
                        grid-row: 1/2
                        font-family: Roboto, sans-serif
                        font-size: 12px
                        line-height: 16px
                        font-weight: 300
                        color: $dark-white_75
                        display: grid
                        align-items: end
                    .msg
                        grid-column: 1/3
                        grid-row: 2/3
                        font-family: Roboto, sans-serif
                        font-size: 14px
                        line-height: 20px
                        font-weight: 300
                        color: $dark-white_75
                        white-space: nowrap
                        overflow: hidden
                        text-overflow: ellipsis
                        display: block
                        padding-top: 3px
                .settings
                    cursor: pointer
                    grid-row: 1/2
                    display: grid
                    align-items: end
                    svg-icon
                        svg
                            cursor: pointer
                            circle
                                fill: $dark-white_80
                                cursor: pointer
        .add_people
            width: 56px
            height: 56px
            border-radius: 100%
            overflow: hidden
            position: absolute
            right: 16px
            bottom: 64px
            background: $dark_accent
            box-shadow: 4px 4px 10px rgba(0, 0, 0, .5)
            cursor: pointer
            svg-icon
                width: 38px
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                cursor: pointer
                svg
                    cursor: pointer
                    *
                        cursor: pointer
                    path,
                    polygon,
                    circle
                        fill: $dark_white
                        cursor: pointer
    .talking
        flex-direction: column
        width: 100%
        padding-bottom: 56px
        display: none
        .top
            background: $dark_overlay
            padding: 8px 16px
            margin: -16px 0 0 -16px
            align-items: center
            display: grid
            grid-template-columns: 24px 16px 1fr 16px 12px
            .back
                grid-column: 1/2
                height: 100%
                svg-icon
                    width: 100%
                    position: relative
                    svg
                        cursor: pointer
                        position: absolute
                        top: 50%
                        transform: translateY(-50%)
                        *
                            cursor: pointer
                        polygon
                            fill: $dark_white
            .data
                display: grid
                grid-template-columns: 40px 1fr
                align-items: center
                grid-column: 3/4
                .ava
                    width: 40px
                    height: 40px
                    position: relative
                    border-radius: 100%
                    overflow: hidden
                    img
                        position: absolute
                        width: 50px
                        height: auto
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                .name
                    font-family: Roboto, sans-serif
                    font-weight: 300
                    font-size: 20px
                    color: $dark_white
                    padding-left: 16px
            .settings
                grid-column: 5/6
                height: 100%
                display: grid
                align-items: center
                svg-icon
                    width: 100%
                    height: 30px
                    position: relative
                    overflow: hidden
                    svg
                        height: 30px
                        cursor: pointer
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        *
                            cursor: pointer
                        circle
                            fill: $dark_white
        .calling
            background: $chat_calling_bg
            justify-content: center
            color: $dark_white
            padding: 8px 0
            margin: 0 -16px 0 -16px
            align-items: center
            span
                display: inline-block
                font-size: 14px
                line-height: 20px
                &:first-child
                    margin-right: 10px
                    font-size: 12px
        .messages
            flex-direction: column
            overflow: auto
            padding-right: 3px
            .message
                margin: 0 0 16px
                display: grid
                .avatar
                    width: 40px
                    height: 40px
                    border-radius: 100%
                    overflow: hidden
                    position: relative
                    display: none
                    img
                        width: 50px
                        height: auto
                        position: absolute
                        left: 50%
                        top: 50%
                        transform: translate(-50%, -50%)
                .cnt
                    //margin-left: 16px
                    padding: 8px
                    position: relative
                    width: fit-content
                    min-width: 80px
                    .name
                        display: none
                    .msg
                        overflow: hidden
                        padding-bottom: 14px
                        line-height: 20px
                    .info
                        position: absolute
                        bottom: 8px
                        right: 8px
                        .date
                            font-size: 13px
                            margin-right: 5px
                            color: $dark_white_50
                            position: relative
                            &:before
                                content: ''
                                width: 2px
                                height: 2px
                                background: $dark_white_50
                                position: absolute
                                top: 50%
                                transform: translateY(-50%)
                                left: -5px
                        .status
                            width: 14px
                            height: 14px
                            border-radius: unset
                            background: unset
                            svg-icon
                                width: 100%
                                position: relative
                                overflow: hidden
                                svg
                                    height: 14px
                                    position: absolute
                                    top: 50%
                                    left: 50%
                                    transform: translate(-50%, -50%)
                                    polygon
                                        fill: $dark_white_50
                            &.ext_table_item_circle
                                // прочитаны - двойная иконка
                            &.ext_table_item_circle2
                                // непрочитаны - иконка в одну линию
                &.left
                    grid-template-columns: 1fr
                    .cnt
                        border-radius: 10px 10px 10px 0
                        background: $chat_msg_left_bg
                &.right
                    grid-template-columns: 1fr
                    .cnt
                        border-radius: 10px 10px 0 10px
                        background: $chat_msg_right_bg
                        margin-left: auto
        .input_wrap
            position: absolute
            left: 16px
            bottom: 16px
            right: 16px
            background: $dark_pagination_inactive
            margin-bottom: 0 !important
            display: grid
            grid-template-columns: 8px 18px 1fr 17px 12px 11px 8px
            .smiles
                grid-column: 2/3
                height: 100%
                svg-icon
                    width: 100%
                    position: relative
                    svg
                        cursor: pointer
                        position: absolute
                        top: 50%
                        transform: translateY(-50%)
                        *
                            cursor: pointer
                        path,
                        ellipse
                            fill: $chat_icon_grey_color
            input
                width: 100%
                grid-column: 3/4
                &::placeholder
                    color: $dark_white_50
            .files
                grid-column: 4/5
                height: 100%
                svg-icon
                    width: 100%
                    position: relative
                    svg
                        height: 18px
                        cursor: pointer
                        position: absolute
                        top: 50%
                        transform: translateY(-50%)
                        *
                            cursor: pointer
                        path
                            fill: $chat_icon_grey_color
            .record
                grid-column: 6/7
                height: 100%
                svg-icon
                    width: 100%
                    position: relative
                    overflow: hidden
                    svg
                        height: 18px
                        cursor: pointer
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        *
                            cursor: pointer
                        path
                            fill: $chat_icon_grey_color
