pbx-chat
    position: absolute
    top: 0
    left: 100px
    right: 0
    bottom: 0
    background: $dark_overlay
    padding: 16px
    .list
        flex-direction: column
        width: 100%
        position: relative
        //display: none
        .search_wrap
            display: grid
            grid-template-columns: 18px 10px 1fr 10px 15px
            margin-bottom: 40px
            .search_icon
                grid-column: 1/2
                svg-icon
                    width: 18px
                    position: relative
                    svg
                        cursor: pointer
                        position: absolute
                        top: 50%
                        transform: translateY(-50%)
                        *
                            cursor: pointer
                        path
                            fill: $chat_icon_grey_color
            input
                grid-column: 3/4
                &::placeholder
                    font-family: Roboto, sans-serif !important
                    font-weight: 100 !important
            .mic
                grid-column: 5/6
                svg-icon
                    width: 15px
                    position: relative
                    svg
                        cursor: pointer
                        height: 24px
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        *
                            cursor: pointer
                        path
                            fill: $chat_icon_grey_color
        .items
            display: grid
            overflow: auto
            .item
                display: grid
                grid-template-columns: 40px 1fr 16px
                grid-template-rows: 1fr 1fr
                margin-bottom: 32px
                .logo_wrap
                    grid-row: 1/3
                    display: grid
                    align-items: center
                    .logo
                        width: 40px
                        height: 40px
                        border-radius: 100%
                        background: $dark_accent
                        position: relative
                        span
                            text-transform: uppercase
                            font-family: Roboto
                            font-weight: 400
                            font-size: 20px
                            color: $dark_white
                            margin: auto
                .cnt
                    display: grid
                    grid-template-columns: 1fr auto
                    grid-template-rows: 1fr 1fr
                    padding: 0 16px
                    grid-row: 1/3
                    .name
                        grid-column: 1/2
                        grid-row: 1/2
                        font-family: Roboto, sans-serif
                        font-size: 16px
                        //line-height: 24px
                        font-weight: 300
                        color: $dark_white
                        padding-right: 8px
                        display: grid
                        align-items: end
                        span
                            display: block
                            overflow: hidden
                            text-overflow: ellipsis
                            white-space: nowrap
                    .date
                        grid-column: 2/3
                        grid-row: 1/2
                        font-family: Roboto, sans-serif
                        font-size: 12px
                        line-height: 16px
                        font-weight: 300
                        color: $dark-white_75
                        display: grid
                        align-items: end
                    .msg
                        grid-column: 1/3
                        grid-row: 2/3
                        font-family: Roboto, sans-serif
                        font-size: 14px
                        line-height: 20px
                        font-weight: 300
                        color: $dark-white_75
                        white-space: nowrap
                        overflow: hidden
                        text-overflow: ellipsis
                        display: block
                        padding-top: 3px
                .settings
                    cursor: pointer
                    grid-row: 1/2
                    display: grid
                    align-items: end
                    svg-icon
                        svg
                            cursor: pointer
                            circle
                                fill: $dark-white_80
                                cursor: pointer
        .add_people
            width: 56px
            height: 56px
            border-radius: 100%
            overflow: hidden
            position: absolute
            right: 16px
            bottom: 64px
            background: $dark_accent
            box-shadow: 4px 4px 10px rgba(0, 0, 0, .5)
            cursor: pointer
            svg-icon
                width: 38px
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                cursor: pointer
                svg
                    cursor: pointer
                    *
                        cursor: pointer
                    path,
                    polygon,
                    circle
                        fill: $dark_white
                        cursor: pointer
    .talking
        flex-direction: column
        width: 100%
        padding-bottom: 56px
        display: none
        .top
            background: $dark_overlay
            padding: 8px 16px
            margin: -16px 0 0 -16px
            align-items: center
            display: grid
            grid-template-columns: 24px 16px 1fr 16px 12px
            .back
                grid-column: 1/2
                height: 100%
                svg-icon
                    width: 100%
                    position: relative
                    svg
                        cursor: pointer
                        position: absolute
                        top: 50%
                        transform: translateY(-50%)
                        *
                            cursor: pointer
                        polygon
                            fill: $dark_white
            .data
                display: grid
                grid-template-columns: 40px 1fr
                align-items: center
                grid-column: 3/4
                .ava
                    width: 40px
                    height: 40px
                    position: relative
                    border-radius: 100%
                    overflow: hidden
                    img
                        position: absolute
                        width: 50px
                        height: auto
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                .name
                    font-family: Roboto, sans-serif
                    font-weight: 300
                    font-size: 20px
                    color: $dark_white
                    padding-left: 16px
            .settings
                grid-column: 5/6
                height: 100%
                display: grid
                align-items: center
                svg-icon
                    width: 100%
                    height: 30px
                    position: relative
                    overflow: hidden
                    svg
                        height: 30px
                        cursor: pointer
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        *
                            cursor: pointer
                        circle
                            fill: $dark_white
        .calling
            background: $chat_calling_bg
            justify-content: center
            color: $dark_white
            padding: 8px 0
            margin: 0 -16px 0 -16px
            align-items: center
            span
                display: inline-block
                font-size: 14px
                line-height: 20px
                &:first-child
                    margin-right: 10px
                    font-size: 12px
        .messages
            flex-direction: column
            overflow: auto
            padding-right: 3px
            .message
                margin: 0 0 16px
                display: grid
                .avatar
                    width: 40px
                    height: 40px
                    border-radius: 100%
                    overflow: hidden
                    position: relative
                    display: none
                    img
                        width: 50px
                        height: auto
                        position: absolute
                        left: 50%
                        top: 50%
                        transform: translate(-50%, -50%)
                .cnt
                    //margin-left: 16px
                    padding: 8px
                    position: relative
                    width: fit-content
                    min-width: 80px
                    .name
                        display: none
                    .msg
                        overflow: hidden
                        padding-bottom: 14px
                        line-height: 20px
                    .info
                        position: absolute
                        bottom: 8px
                        right: 8px
                        .date
                            font-size: 13px
                            margin-right: 5px
                            color: $dark_white_50
                            position: relative
                            &:before
                                content: ''
                                width: 2px
                                height: 2px
                                background: $dark_white_50
                                position: absolute
                                top: 50%
                                transform: translateY(-50%)
                                left: -5px
                        .status
                            width: 14px
                            height: 14px
                            border-radius: unset
                            background: unset
                            svg-icon
                                width: 100%
                                position: relative
                                overflow: hidden
                                svg
                                    height: 14px
                                    position: absolute
                                    top: 50%
                                    left: 50%
                                    transform: translate(-50%, -50%)
                                    polygon
                                        fill: $dark_white_50
                            &.ext_table_item_circle
                                // прочитаны - двойная иконка
                            &.ext_table_item_circle2
                                // непрочитаны - иконка в одну линию
                &.left
                    grid-template-columns: 1fr
                    .cnt
                        border-radius: 10px 10px 10px 0
                        background: $chat_msg_left_bg
                &.right
                    grid-template-columns: 1fr
                    .cnt
                        border-radius: 10px 10px 0 10px
                        background: $chat_msg_right_bg
                        margin-left: auto
        .input_wrap
            position: absolute
            left: 16px
            bottom: 16px
            right: 16px
            background: $dark_pagination_inactive
            margin-bottom: 0 !important
            display: grid
            grid-template-columns: 8px 18px 1fr 17px 12px 11px 8px
            .smiles
                grid-column: 2/3
                height: 100%
                svg-icon
                    width: 100%
                    position: relative
                    svg
                        cursor: pointer
                        position: absolute
                        top: 50%
                        transform: translateY(-50%)
                        *
                            cursor: pointer
                        path,
                        ellipse
                            fill: $chat_icon_grey_color
            input
                width: 100%
                grid-column: 3/4
                &::placeholder
                    color: $dark_white_50
            .files
                grid-column: 4/5
                height: 100%
                svg-icon
                    width: 100%
                    position: relative
                    svg
                        height: 18px
                        cursor: pointer
                        position: absolute
                        top: 50%
                        transform: translateY(-50%)
                        *
                            cursor: pointer
                        path
                            fill: $chat_icon_grey_color
            .record
                grid-column: 6/7
                height: 100%
                svg-icon
                    width: 100%
                    position: relative
                    overflow: hidden
                    svg
                        height: 18px
                        cursor: pointer
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        *
                            cursor: pointer
                        path
                            fill: $chat_icon_grey_color
    .new_group
        flex-direction: column
        width: 100%
        display: none
        .top
            display: grid
            grid-template-columns: 56px 40px 1fr 56px
            background: $dark_overlay
            box-shadow: 0 7px 8px -7px rgba(0, 0, 0, 0.5)
            margin-left: -16px
            margin-right: -16px
            .back
                grid-column: 1/2
                grid-row: 1/3
                svg-icon
                    margin: auto
                    svg
                        width: 16px
                        cursor: pointer
                        *
                            cursor: pointer
                        polygon
                            fill: #fff
            .avatar
                &.remove
                    display: none
                .inner
                    width: 40px
                    height: 40px
                    border-radius: 100%
                    overflow: hidden
                    background: $dark_accent
                    margin: auto
                    svg-icon
                        margin: auto
                        svg
                            width: 24px
                            path
                                fill: #fff
            .cnt
                display: grid
                grid-template-rows: 1fr 1fr
                padding-left: 16px
                .title
                    grid-row: 1/2
                    font-family: Roboto, sans-serif
                    font-size: 20px
                    font-weight: 200
                    color: $dark_white
                    line-height: 28px
                    &.naming
                        grid-row: 1/3
                        white-space: nowrap
                        padding: 16px 0
                .desc
                    grid-row: 2/3
                    font-family: Roboto, sans-serif
                    font-size: 16px
                    font-weight: 200
                    color: $dark_white
                    line-height: 20px
                    &.remove
                        display: none
            .accept
                grid-column: 4/5
                grid-row: 1/3
                svg-icon
                    margin: auto
                    svg
                        width: 16px
                        cursor: pointer
                        *
                            cursor: pointer
                        polygon
                            fill: #fff
        .add_people
            margin: 16px 0
            display: block
            //display: none
            input
                height: 46px
                &::placeholder
                    font-family: Roboto, sans-serif !important
                    font-weight: 100 !important
        .items
            display: grid
            overflow: auto
            //display: none
            .item
                display: grid
                grid-template-columns: 40px 1fr
                margin-bottom: 32px
                .avatar
                    grid-column: 1/2
                    .inner
                        width: 40px
                        height: 40px
                        background: $dark_accent
                        overflow: hidden
                        border-radius: 100%
                        span
                            margin: auto
                            text-transform: uppercase
                            font-family: Roboto, sans-serif
                            font-size: 20px
                            color: $dark_white
                .cnt
                    grid-column: 2/3
                    padding: 0 16px
                    display: grid
                    grid-template-columns: 1fr
                    grid-template-rows: 1fr 1fr
                    .name
                        grid-column: 1/2
                        grid-row: 1/2
                        overflow: hidden
                        white-space: nowrap
                        align-items: center
                        span
                            text-overflow: ellipsis
                            overflow: hidden
                            display: block
                            font-family: Roboto, sans-serif
                            font-size: 16px
                            font-weight: 200
                            color: $dark_white
                    .msg
                        grid-column: 1/2
                        grid-row: 2/3
                        overflow: hidden
                        white-space: nowrap
                        align-items: center
                        span
                            text-overflow: ellipsis
                            overflow: hidden
                            display: block
                            font-family: Roboto, sans-serif
                            font-size: 14px
                            font-weight: 200
                            color: $dark_white_75
        .adding
            flex-direction: column
            display: none
            .added
                flex-flow: wrap
                margin: 12px 0
                display: block
                .item
                    border-radius: 14px
                    display: inline-grid
                    grid-template-columns: 28px 1fr
                    margin: 0 8px 8px 0
                    .letters
                        width: 28px
                        height: 28px
                        border-radius: 100%
                        box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1)
                        span
                            margin: auto
                            font-family: Roboto, sans-serif
                            font-size: 12px
                            font-weight: 400
                            color: $dark_white
                    .name
                        font-family: Roboto, sans-serif
                        font-size: 12px
                        font-weight: 200
                        color: $dark_white
                        padding: 0 8px
                        align-items: center
                        white-space: nowrap
                    &:nth-child(1)
                        background: rgba($chat_color1, .8)
                        .letters
                            background: rgba($chat_color1, 1)
                    &:nth-child(2)
                        background: rgba($chat_color2, .8)
                        .letters
                            background: rgba($chat_color2, 1)
                    &:nth-child(3)
                        background: rgba($chat_color3, .8)
                        .letters
                            background: rgba($chat_color3, 1)
                    &:nth-child(4)
                        background: rgba($chat_color4, .8)
                        .letters
                            background: rgba($chat_color4, 1)
                    &:nth-child(5)
                        background: rgba($chat_color5, .8)
                        .letters
                            background: rgba($chat_color5, 1)
                    &:nth-child(6)
                        background: rgba($chat_color6, .8)
                        .letters
                            background: rgba($chat_color6, 1)
                    &:nth-child(7)
                        background: rgba($chat_color7, .8)
                        .letters
                            background: rgba($chat_color7, 1)
            .choose_to_add
                flex-direction: column
                overflow: auto
                border-top: 1px solid $white_button_cancel
                padding-top: 16px
                display: grid
                .item
                    display: grid
                    grid-template-columns: 40px 1fr
                    grid-template-rows: 1fr 1fr
                    padding-bottom: 7px
                    margin-bottom: 28px
                    cursor: pointer
                    *
                        cursor: pointer
                    .ava
                        grid-column: 1/2
                        grid-row: 1/3
                        .inner
                            width: 40px
                            height: 40px
                            border-radius: 100%
                            margin: auto
                            position: relative
                            &:after
                                content: url('data:image/svg+xml; utf8, <svg id="check_mark" data-name="check mark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title></title><path d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0ZM10.2,17,5.3,12.1l.7-.8,4.2,3.3L18,7.8l.7.7Z" fill="#fff"/></svg>')
                                width: 24px
                                height: 24px
                                position: absolute
                                bottom: -3px
                                right: -3px
                            span
                                font-family: Roboto, sans-serif
                                font-size: 20px
                                color: $dark_white
                                text-transform: uppercase
                                margin: auto
                    .name
                        grid-column: 2/3
                        grid-row: 1/2
                        padding: 0 16px
                        overflow: hidden
                        align-items: center
                        span
                            display: block
                            overflow: hidden
                            white-space: nowrap
                            text-overflow: ellipsis
                    .msg
                        grid-column: 2/3
                        grid-row: 2/3
                        padding: 0 16px
                        overflow: hidden
                        align-items: center
                        span
                            display: block
                            overflow: hidden
                            white-space: nowrap
                            text-overflow: ellipsis
                    &:nth-child(1n) .ava .inner
                        background: $chat_color1
                    &:nth-child(2n) .ava .inner
                        background: $chat_color2
                    &:nth-child(3n+7) .ava .inner
                        background: $chat_color3
                    &:nth-child(4n) .ava .inner
                        background: $chat_color4
                    &:nth-child(5n) .ava .inner
                        background: $chat_color5
                    &:nth-child(6n) .ava .inner
                        background: $chat_color6
                    &:nth-child(7n) .ava .inner
                        background: $chat_color7
        .naming
            flex-direction: column
            display: none
            .enter_name
                display: grid
                grid-template-columns: 64px 24px 1fr
                margin: 16px 0
                .ava
                    grid-column: 1/2
                    width: 64px
                    height: 64px
                    border-radius: 100%
                    background: $dark_accent
                    svg-icon
                        margin: auto
                        svg
                            width: 32px
                            path
                                fill: #fff
                .input_wrap
                    grid-column: 3/4
                    align-items: center
                    margin-bottom: 0
                    input
                        font-family: Roboto, sans-serif !important
                        font-size: 20px !important
                        color: $dark_white !important
                        &::placeholder
                            font-family: Roboto, sans-serif !important
                            font-size: 20px !important
                            color: $dark_white !important
            .members
                flex-direction: column
                .amount
                    font-family: Roboto, sans-serif
                    font-size: 14px
                    color: $dark_white
                    padding: 8px 0 8px 16px
                    margin: 0 -16px 24px -16px
                    border-top: 1px solid $white_button_cancel
                .members_list
                    display: grid
                    overflow: auto
                    .member
                        display: grid
                        grid-template-columns: 40px 1fr
                        margin-bottom: 32px
                        .avatar
                            grid-column: 1/2
                            .inner
                                width: 40px
                                height: 40px
                                background: $dark_accent
                                overflow: hidden
                                border-radius: 100%
                                span
                                    margin: auto
                                    text-transform: uppercase
                                    font-family: Roboto, sans-serif
                                    font-size: 20px
                                    color: $dark_white
                        .cnt
                            grid-column: 2/3
                            padding: 0 16px
                            display: grid
                            grid-template-columns: 1fr
                            grid-template-rows: 1fr 1fr
                            .name
                                grid-column: 1/2
                                grid-row: 1/2
                                overflow: hidden
                                white-space: nowrap
                                align-items: center
                                span
                                    text-overflow: ellipsis
                                    overflow: hidden
                                    display: block
                                    font-family: Roboto, sans-serif
                                    font-size: 16px
                                    font-weight: 200
                                    color: $dark_white
                            .msg
                                grid-column: 1/2
                                grid-row: 2/3
                                overflow: hidden
                                white-space: nowrap
                                align-items: center
                                span
                                    text-overflow: ellipsis
                                    overflow: hidden
                                    display: block
                                    font-family: Roboto, sans-serif
                                    font-size: 14px
                                    font-weight: 200
                                    color: $dark_white_75
