pbx-company
    .form-body
        padding: 40px
    .upload_img
        .sidebar
            .store_sidebar_audio
                .store_sidebar_audio_icon
                    svg-icon
                        svg
                            width: 24px
                            path
                                fill: $dark_white_70
    pbx-form
        pbx-input
            input
                &:focus
                    color: $dark_white !important
    .form-body-content
        pbx-input
            height: $dark_list-items_height
    pbx-editable-select
        .select_options
            input
                max-width: unset !important
                position: relative !important
        .select_item
            position: relative
            input
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
    pbx-sidebar
        display: none
    .upload_img.profile_settings_photo
        pbx-sidebar
            display: flex

        

pbx-details-and-records,
profile-component pbx-form .form-body-content
    position: relative
    pbx-loader
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

//@media screen and (max-width: 949px)
//    pbx-company
//        .company
//            pbx-form
//                .form-body
//                    padding: 24px
//                    .pbx_input_item_label
//                        width: 100px

