pbx-index
    min-height: 100%
.body_wrap
    min-height: 300px
    padding-top: 74px
    overflow-x: hidden

main-view.dark_theme /deep/ *::-webkit-scrollbar-thumb
    background-color: $dark_accent

.notArrow
	flex: 1
	align-items: center !important

input:not([type='submit'])
    &:focus
        border-color: $dark_accent !important

.select_wrap:focus > .selected
    border-color: $dark_accent !important

pbx-form
    pbx-input[name="Action"],
    pbx-input[name="Extension number"],
    pbx-input[name="External number"],
    pbx-input[name="Queue"],
    pbx-input[name="Voice greeting"]
        .pbx_input_item_label
            span:nth-child(2)
                display: none

pbx-table
    .tablet_row
        &:hover
            .tablet_icon
                &.edit,
                &.delete
                    opacity: 1 !important
pbx-header
    pbx-input
        pbx-select,
        input
            min-width: 224px !important

main-view
    position: relative
    pbx-loader
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

phone-numbers-component
    pbx-table
        .tablet_body
            .tablet_row
                .tablet_content
                    display: grid
                    grid-template-columns: repeat(5, 1fr)
                    .tablet_item
                        white-space: nowrap

pbx-select,
pbx-editable-select
    .select_options
        border: 1px solid $white_input_border !important
        border-top: none !important
    .select_item
        &.selected
            color: $dark_white !important

pbx-company,
pbx-call-rules-create,
pbx-call-queues-create,
ring-groups-create-component,
add-extension-component
    pbx-editable-select
        .select_wrap.active
            input,
            .select_item.selected
                border-top: none !important
                border-left: none !important
                border-right: none !important

pbx-table
    .tablet_item
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

.auth_form:after
    opacity: .45
.pbx_input_error
    z-index: 1

.form-body
    position: relative
pbx-department-create
    position: relative
    .form-body
        position: static !important
.pbx_queue_empty_text
    text-align: center
    font-size: 2.28571429rem
    white-space: nowrap
    // color: $dark-white_70
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    color: $dark_white_70

pbx-header
    pbx-input
        input
            text-overflow: ellipsis
            padding-right: 30px

.dark_theme
    input
        color: $dark_white !important
        &.error-text
            color: $dark_white !important
        &.error-border
            color: $dark_white !important
        &::placeholder
            color: $dark_white_60 !important

.dark_theme,
.light_theme
    profile-component
        input
            &::placeholder
                opacity: 0 !important
            &#oldPassword,
            &#password,
            &#password_confirmation
                &::placeholder
                    opacity: 1 !important

pbx-table
    .tablet_header
        .tablet_item
            color: $dark_white_60 !important
    .tablet_body
        .tablet_item
            color: $dark_white !important
            // font-weight: 200 !important
input.searching
    &::placeholder
        opacity: .35 !important

.dark_theme
    pbx-pagination
        .pager_info
            color: $dark_white
        .pbx_button_pagination_next,
        .pbx_button_pagination_prev,
        .pbx_button_pagination_first,
        .pbx_button_pagination_last
            background: $dark_accent !important

.dark_theme,
.light_theme
    pbx-index
        pbx-pagination
            button.pbx-button-disabled
                background: $white_pagination_btn_disabled !important
                color: $dark-white_55 !important

.dark_theme
    pbx-index
        pbx-pagination
            button.pbx-button-disabled
                background: $white_pagination_btn_disabled_55 !important
                color: $dark-white_55 !important

pbx-input
    pbx-select
        .wrapper
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
        .select_item.selected
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
            display: block
            padding-top: 11px
            padding-right: 30px
            svg-icon
                position: absolute
                right: 12px
            //top: 50% !important
            //transform: translateY(-50%) !important
        .select_options
            .select_item
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis
                display: block
                padding-top: 13px

pbx-list
    //min-height: 342px
.pbx_list_empty
    grid-template-columns: 1fr 490px 1fr !important
    position: relative
    overflow: hidden
    //overflow: hidden
    //height: 230px
    //min-height: 230px
    //max-height: 230px !important
    //margin-top: -40px
    .pbx_list_empty_text
        line-height: 35px
        position: absolute
        left: 50%
        bottom: 0
        transform: translate(-50%, 0)
        display: block
        width: 100%
    .pbx_list_empty_icon
        grid-column: 3/4
        //overflow: hidden
        #arrow_safari,
        #arrow_edge
            max-height: 220px !important
            width: min-content
            margin: 0 0 0 auto

// ошибка снизу
.pbx_input_error
    position: absolute !important
    left: 30px !important
    top: 100% !important
    margin: 6px 0 0 !important

// ошибка слева
.pbx_input_error_float,
.pbx_input_error_float_focus
    position: absolute !important
    display: block !important
    left: -260px !important
    top: 50% !important
    transform: translateY(-50%)
    margin: 10px 0 0 !important
.days .pbx_input_error
    margin-top: 62px !important
    left: 239px !important
.pbx_input_item_input_wrap
    position: relative

input
    font-family: Roboto, sans-serif !important
    font-weight: 300 !important

pbx-table
    .tablet_body
        .tablet_row
            cursor: pointer
            *
                cursor: pointer
    .tablet_header
        .tablet_item
            .qwerty
                span
                    font-size: 12px !important

.navigation_block_wrap
    .navigation_block
        div
            cursor: pointer !important
            *
                cursor: pointer !important
            a, a > *, a /deep/ *
                cursor: pointer

.auth_form_link
    cursor: pointer

pbx-sidebar
    .sidebar
        a.a_download
            svg-icon
                svg
                    path
                        fill: $dark_accent

.auth_form
    #lang_select
        width: 50%
        margin: 20px auto
        height: 40px
        display: none

.form-body-fill
    background: $dark_overlay

//pbx-address-book
//    .pbx_list_empty
//        padding-right: 112px !important
//pbx-call-rules
//    .pbx_list_empty
//        padding-right: 134px !important
//pbx-call-queues
//    .pbx_list_empty
//        padding-right: 147px !important
//ring-groups-component
//    .pbx_list_empty
//        padding-right: 150px !important


// Storage - раскомментировать когда аудио переместится в колонку Record
// pbx-storage
//     pbx-media-table
//         .tablet_header
//             display: grid !important
//             grid-template-columns: repeat(4, 1fr) !important
//             .tablet_item
//                 // outline: 1px solid red
//                 max-width: 100% !important
//                 min-width: 204px !important
//         .tablet_body
//             .tablet_row
//                 .tablet_content
//                     display: grid !important
//                     grid-template-columns: repeat(4, 1fr) !important
//                     .tablet_item
//                         // outline: 1px solid green
//                         white-space: nowrap
//                         max-width: unset !important
//                         padding: 12px 16px !important
//                         min-width: 204px !important
