.body_wrap
    min-height: 300px
    padding-top: 74px
    overflow-x: hidden

main-view.dark_theme /deep/ *::-webkit-scrollbar-thumb
    background-color: $dark_accent

.notArrow
	flex: 1
	align-items: center !important

input:not([type='submit'])
    &:focus
        border-color: $dark_accent !important

.select_wrap:focus > .selected
    border-color: $dark_accent !important

pbx-form
    pbx-input[name="Action"],
    pbx-input[name="Extension number"],
    pbx-input[name="External number"],
    pbx-input[name="Queue"],
    pbx-input[name="Voice greeting"]
        .pbx_input_item_label
            span:nth-child(2)
                display: none

pbx-table
    .tablet_row
        &:hover
            .tablet_icon
                &.edit,
                &.delete
                    opacity: 1 !important