pbx-company
    .form-body-content
        pbx-input
            height: $dark_list-items_height
    pbx-editable-select
        .select_options
            input
                max-width: unset !important
                position: relative !important
