.body_wrap
    min-height: 300px
    padding-top: 74px

main-view.dark_theme /deep/ *::-webkit-scrollbar-thumb
    background-color: transparent

.notArrow
	flex: 1
	align-items: center !important

input:not([type='submit'])
    &:focus
        border-color: $dark_accent !important

.select_wrap:focus > .selected
    border-color: $dark_accent !important


form
    .input_wrap
        .input_error
            display: none
    .input_wrap:nth-child(1)
        .input_error
            display: flex
    .input_wrap:hover
        .input_error
            display: flex

pbx-queue-create
    pbx-form
        .form
            .form-body
                pbx-queue-general
                    .call_queues_general_body
                        pbx-input
                            .pbx_input_item
                                .pbx_input_error
                                    display: none
                        pbx-input:nth-child(2)
                            .pbx_input_item
                                .pbx_input_error
                                    display: flex
                        pbx-input
                            .pbx_input_item
                                .pbx_input_item_input_wrap:hover
                                 + .pbx_input_error
                                        display: flex