pbx-contacts
    position: absolute
    top: 0
    left: 100px
    right: 0
    bottom: 0
    background: #373635
    padding: 16px
    .contacts
        width: 100%
        flex-direction: column
        display: grid
        .list
            flex-direction: column
            width: 100%
            position: relative
            display: grid
            grid-template-columns: 1fr
            grid-template-rows: min-content min-content 1fr
            overflow: auto
            //display: none
            .search_wrap
                display: grid
                grid-template-columns: 1fr 10px 18px
                margin-bottom: 40px
                .input_wrap
                    grid-column: 1/2
                    position: relative
                    margin-bottom: 0
                    input
                        width: 100%
                        padding-left: 26px
                        &::placeholder
                            font-family: Roboto, sans-serif !important
                            font-weight: 100 !important
                    .search_icon
                        position: absolute
                        left: 0
                        top: 50%
                        transform: translateY(-50%)
                        svg-icon
                            width: 18px
                            position: relative
                            svg
                                width: 18px
                                position: absolute
                                top: 50%
                                transform: translateY(-50%)
                                path
                                    fill: $chat_icon_grey_color
                .create
                    grid-column: 3/4
                    position: relative
                    svg-icon
                        width: 18px
                        position: relative
                        svg
                            cursor: pointer
                            height: 18px
                            position: absolute
                            top: 50%
                            left: 50%
                            transform: translate(-50%, -50%)
                            *
                                cursor: pointer
                            path
                                fill: $chat_icon_grey_color
                    .dropdown_block_create
                        position: absolute
                        bottom: -88px
                        right: 0
                        flex-direction: column
                        z-index: 10
                        box-shadow: $box-shadow
                        .item
                            font-family: Roboto, sans-serif
                            font-size: 14px
                            line-height: 19px
                            color: $dark_white
                            background: $dark_pagination_inactive
                            padding: 0 16px
                            height: 40px
                            align-items: center
                            cursor: pointer
                            white-space: nowrap
                            &:hover
                                background: $dark_player_bg
            .add_contact
                display: grid
                grid-template-columns: 40px 1fr
                align-items: center
                margin-bottom: 16px
                cursor: pointer
                *
                    cursor: pointer
                svg-icon
                    margin: 0 auto
                    svg
                        width: 32px
                        *
                            fill: $dark_white
                span
                    color: $dark_accent
                    padding: 0 16px
            .items
                display: block
                overflow: auto
                padding-right: 8px
                .group
                    flex-direction: column
                    width: 100%
                    margin-bottom: 24px
                    .icon
                        margin-bottom: 24px
                        width: 40px
                        font-size: 24px
                        color: $dark_accent
                        justify-content: center
                        align-items: center
                        svg-icon
                            svg
                                width: 20px
                                height: 20px
                                *
                                    fill: $dark_error
                    .inner
                        flex-direction: column
                        .item
                            margin-bottom: 16px
                            display: grid
                            grid-template-columns: 40px 1fr min-content
                            &:last-child
                                margin-bottom: 0
                            .logo
                                background: $dark_accent
                                border-radius: 100%
                                width: 40px
                                height: 40px
                                justify-content: center
                                align-items: center
                                font-family: Roboto, sans-serif
                                font-size: 20px
                                color: $dark_white
                                text-transform: uppercase
                            .name
                                padding: 0 16px
                                align-items: center
                                cursor: pointer
                                span
                                    max-width: 240px
                                    overflow: hidden
                                    white-space: nowrap
                                    text-overflow: ellipsis
                                    display: inline-block
                                    cursor: pointer
                            .right
                                align-items: center
                                .svg_wrap
                                    margin-left: 16px
                                    position: relative
                                    padding: 2px
                                    &.active
                                        background: $dark_caller_contacts_active_btn_bg
                                    svg-icon
                                        cursor: pointer
                                        *
                                            cursor: pointer
                                        svg
                                            width: 20px
                                            height: 20px
                                            *
                                                fill: $dark_accent
                            .call_wrap
                                .dropdown_block_call
                                    position: absolute
                                    top: 28px
                                    right: 0px
                                    flex-direction: column
                                    z-index: 10
                                    box-shadow: $box-shadow
                                    .item
                                        font-family: Roboto, sans-serif
                                        font-size: 14px
                                        line-height: 19px
                                        color: $dark_white
                                        background: $dark_pagination_inactive
                                        padding: 0 16px
                                        height: 40px
                                        align-items: center
                                        cursor: pointer
                                        white-space: nowrap
                                        display: grid !important
                                        grid-template-columns: 50px 1fr
                                        margin-bottom: 0 !important
                                        span
                                            font-family: Roboto, sans-serif
                                            font-weight: 300
                                            font-size: 12px
                                            line-height: 16px
                                            color: rgba($dark_white, .4)
                                        &:hover
                                            background: $dark_player_bg
                            .invite_wrap
                                .dropdown_block_invite
                                    position: absolute
                                    top: 28px
                                    right: 0px
                                    flex-direction: column
                                    z-index: 10
                                    box-shadow: $box-shadow
                                    .item
                                        font-family: Roboto, sans-serif
                                        font-size: 14px
                                        line-height: 19px
                                        color: $dark_white
                                        background: $dark_pagination_inactive
                                        padding: 0 16px
                                        height: 40px
                                        align-items: center
                                        cursor: pointer
                                        white-space: nowrap
                                        display: flex !important
                                        margin-bottom: 0 !important
                                        span
                                            font-family: Roboto, sans-serif
                                            font-weight: 300
                                            font-size: 12px
                                            line-height: 16px
                                            color: rgba($dark_white, .4)
                                        &:hover
                                            background: $dark_player_bg
                            .invite_wrap
                                display: none
                            &.invite
                                .chat_wrap
                                    display: none
                                .invite_wrap
                                    display: flex