pbx-dashboard
    .dashboard_balance
        background: $dark_dashboard_balance !important
    .dashboard_tariff
        background: $dark_dashboard_tariff !important
    .dashboard_numbers
        background: $dark_dashboard_numbers !important
    .dashboard_drive
        background: $dark_dashboard_drive !important
    .dashboard_history
        background: $dark_dashboard_history !important

    .dashboard_wrap
        display: grid
        grid-template-columns: 1fr 1fr 364px
        grid-template-rows: 1fr 1fr
        pbx-loader
            background: transparent !important
    .dashboard_item_line
        display: grid
        grid-template-columns: 1fr 1fr
        width: 100%
    .dashboard_balance
        .dashboard_center
            margin-left: 44px
    .dashboard_tariff
        .dashboard_item_title_value
            align-self: flex-end
    .dashboard_numbers
        .dashboard_item_content_value
            span:last-child
                margin-left: 24px
    .dashboard_history
        position: relative
        padding-bottom: 64px !important
        margin-right: 28px
        padding-top: 48px !important
        .dashboard_item_link_row
            position: absolute
            margin-top: 0
            bottom: 24px
            right: 24px
            font-size: 14px
    .dashboard_drive
        .dashboard_item_content_key
            padding-right: 10px
        .dashboard_item_content_value
            white-space: nowrap
    .dashboard_item_link_item
        font-size: 14px !important
    .dashboard_item_content_key,
    .dashboard_item_content_value
        font-size: 14px !important
        line-height: 24px
    .dashboard_item_title_value
        font-size: 16px !important
    .dashboard_item_link_row
        a
            cursor: pointer
            font-size: 14px
            *
                cursor: pointer
            &:hover
                text-decoration: underline
    .dashboard_item_title_key i,
    .dashboard_item_content_key i,
    .dashboard_item_title_name i
        font-style: normal

    .dashboard_history
        a.dashboard_item_link_row
            cursor: pointer
            *
                cursor: pointer
            &:hover
                text-decoration: underline
    .dashboard_history_body
        display: grid !important
        flex: auto
        position: relative
        .empty-data
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            margin: auto

@media screen and (max-width: 1789px)
    pbx-dashboard
        .dashboard_drive_diagram
            margin-left: rem(24) !important