pbx-dashboard
    .dashboard_balance
        background: $dark_dashboard_balance !important
    .dashboard_tariff
        background: $dark_dashboard_tariff !important
    .dashboard_numbers
        background: $dark_dashboard_numbers !important
    .dashboard_drive
        background: $dark_dashboard_drive !important
    .dashboard_history
        background: $dark_dashboard_history !important

    .dashboard_wrap
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr 1fr
        pbx-loader
            background: transparent !important
    .dashboard_item_line
        display: grid
        grid-template-columns: 1fr 1fr
        width: 100%
    .dashboard_balance
        .dashboard_center
            margin-left: 44px
    .dashboard_tariff
        .dashboard_item_title_value
            align-self: flex-end
    .dashboard_numbers
        .dashboard_item_content_value
            span
                margin-left: 24px
    .dashboard_history
        position: relative
        padding-bottom: 64px !important
        margin-right: 28px
        .dashboard_item_link_row
            position: absolute
            margin-top: 0
            bottom: 24px
            right: 24px
    .dashboard_drive
        .dashboard_item_content_key
            padding-right: 10px
        .dashboard_item_content_value
            white-space: nowrap
            
@media screen and (max-width: 1789px)
    pbx-dashboard
        .dashboard_drive_diagram
            margin-left: rem(24) !important

@media screen and (max-width: 1279px)
    pbx-dashboard
        .dashboard_drive_diagram
            // margin-left: rem(24) !important
            flex: 1
            .dashboard_drive_percentage
                margin: auto
            pbx-circle-progress
                .progress__svg
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%) rotate(-90deg)

@media screen and (max-width: 1023px)
    pbx-dashboard
        .dashboard_drive_row
            .dashboard_drive_content
                flex: 2
        .dashboard_balance
            .dashboard_center
                margin-left: 0

@media screen and (max-height: 850px)
    pbx-dashboard
        .dashboard_wrap
            .dashboard_item
                min-height: 332px !important