@media screen and (max-width: 1279px)
    pbx-dashboard
        .dashboard_drive_diagram
            flex: 1
            .dashboard_drive_percentage
                margin: auto
            pbx-circle-progress
                .progress__svg
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%) rotate(-90deg)

@media screen and (max-width: 1023px)
    pbx-dashboard
        .dashboard_drive_row
            .dashboard_drive_content
                flex: 2
