.empty_company
	display: block
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	width: 620px
	height: 0px
	line-height: 38px
.link_empty_company
	display: inline-block
	color: $dark_salad

pbx-department
	.departments
		pbx-table
			.tablet_item
				width: 200px
				overflow: hidden
				text-overflow: ellipsis
				white-space: nowrap
	.notArrow
		flex: 1
		align-items: center !important