.empty_company
	display: block
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	width: 620px
	height: 0px
	line-height: 38px
.link_empty_company
	display: inline-block
	color: $dark_salad

pbx-department
	.departments
		pbx-table
			.tablet_item
				width: 200px
				overflow: hidden
				text-overflow: ellipsis
				white-space: nowrap

pbx-department-create
	pbx-tabs
		height: 100%
		.form
			height: 100%
			.form-body.class1
				background: $dark_overlay
	.call_queues_general_body
		form
			pbx-input
				.pbx_input_row
					flex-direction: row
					.pbx_input_row_label
						width: 150px
						margin-bottom: 0
						height: 40px
					input
						border-top: none !important
						border-left: none !important
						border-right: none !important
	.view-edit-control-header
		&.toHide
			padding: 0 !important


pbx-department-create
	pbx-view-edit-control
		pbx-table
			padding: 0 24px 24px

pbx-department-create
	.form-body
		pbx-tab
			&:nth-child(2)
				flex: 1
				.tab-content
					flex: 1
					.view-edit-control-wrapper
						flex: 1
						position: relative

pbx-department
	pbx-table
		.tablet
			.tablet_body
				.tablet_row
					.tablet_content
						.tablet_item
							&:nth-child(2)
								.qwerty
									width: 58px
									text-align: center