pbx-details-and-records
    .tablet_header
        .tablet_item
            &:nth-child(7)
                padding-right: 28px
                span
                    float: right
                    margin-right: 16px
    .details-wrapper
        .media-table-message
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            width: 90%
            text-align: center
    .details-header
        pbx-calendar
            .calendar-wrap
                z-index: 99999
                .calendar-block-icon
                    svg-icon
                        svg
                            width: 12px
            .calendar-icon
                svg-icon
                    svg
                        width: 16px
        .tags-header__wrap-filters
            .filters
                &.noBorderRight
                    border-right: 1px solid transparent
                    border-right-color: transparent !important
    pbx-media-table
        margin-bottom: 16px
        pbx-media-table-player

            position: relative
            right: -130px
        .tablet
            .tablet_body
                .tablet_content
                    .tablet_item
                        white-space: nowrap
    .outgoing
        background: $dark_datails_outgoing !important

    .incoming
        background: $dark_datails_incoming !important

    .record
        background: $dark_datails_record !important

    .noAnswer
        background: $dark_datails_no-answer !important

    .missed
        background: $dark_datails_missed !important

    .sms
        background: $dark_datails_sms !important

    .voicemail
        background: $dark_datails_voicemail !important

pbx-details-and-records
    .tablet
        .tablet_header
            .tablet_item
                span
                    font-size: 12px

pbx-details-and-records
    .tablet
        .tablet_header
            .tablet_item:nth-child(7)
                text-align: right
                span
                    margin-right: 0
        .tablet_header,
        .tablet_body .tablet_content
            grid-template-columns: repeat(7, calc((100% - 30px) / 7)) 30px !important
            .tablet_item
                &.fix_0
                    display: none !important
                &:nth-child(6)
                    text-align: right
                    span
                        float: none !important
                        text-align: right
        .tablet_header
            .tablet_item
                &.fix_200
                    min-width: unset !important
                    max-width: unset !important
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(5)
                    .qwerty
                        span
        .asd
            width: 100% !important
            .tablet_item_cols
                position: relative !important
                width: 100% !important
                pbx-media-table-player
                    position: absolute
                    right: 28px
