pbx-details-and-records
    .details-wrapper
        .media-table-message
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
    .details-header
        .tags-header__wrap-filters
            .filters
                &.noBorderRight
                    border-right: 1px solid transparent
                    border-right-color: transparent !important
    .outgoing
        background: $dark_datails_outgoing !important

    .incoming
        background: $dark_datails_incoming !important

    .record
        background: $dark_datails_record !important

    .no-answer
        background: $dark_datails_no-answer !important

    .missed
        background: $dark_datails_missed !important

    .sms
        background: $dark_datails_sms !important

    .voicemail
        background: $dark_datails_voicemail !important