extensions-component
    pbx-header
        pbx-input
            pbx-select
                .select_item
                    position: absolute
                    top: 0
                    left: 0
    pbx-list
        .tablet_row
            height: $dark_list-items_height !important