extensions-component
    pbx-header
        pbx-input
            pbx-select
                .select_item.selected
                    position: absolute
                    top: 0
                    left: 0
    pbx-list
        .tablet_row
            height: $dark_list-items_height !important

// fix for Safari
add-extension-component
    pbx-form
        .form-body-content.background
            padding: 0 !important
            general-add-extension-component
                margin: 24px !important

options-add-extension-component
    .add_ext_form_item
        display: grid
        grid-template-columns: 40px 1fr
        grid-template-rows: 1fr
        align-items: center
        label
            grid-column: 2/3
            grid-row: 1/2
        pbx-checkbox
            grid-column: 1/2
            grid-row: 1/2

general-add-extension-component
    form
        .add_ext_form_title
            position: relative
            span
                position: absolute
                left: 140px

extensions-component
    position: relative
    .ext
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        pbx-list
            overflow: auto
    pbx-sidebar
        .ext_sidebar_item_row
            grid-template-columns: 50px 1fr !important
        .ext_sidebar_contain
            .ext_sidebar_item_row, .ext_sidebar_item
                .ext_sidebar_item_key
                    font-family: Roboto, sans-serif
                    font-weight: 300
                    color: $dark_white_70
                .ext_sidebar_item_value
                    font-family: Roboto, sans-serif
                    font-weight: 300
                    color: $dark_white
        .ext_sidebar_button_wrap
            font-family: Roboto, sans-serif
            font-weight: 300
            color: $dark_white

add-extension-component
    pbx-input[name="Enable"]
        .pbx_input_item_input_wrap
            display: grid
            grid-template-columns: min-content 1fr
        .more
            height: 36px
            display: flex
            align-items: center
            background: $dark_ext_more
            padding: 0 16px
            width: 100%
            margin-left: 16px
            a
                font-family: Roboto, sans-serif
                font-size: 12px
                font-weight: 300
                color: $dark_accent
                margin-right: 16px
                font-weight: 400
            .host_port
                font-family: Roboto, sans-serif
                font-size: 12px
                font-weight: 300
                color: $dark_white

general-add-extension-component
    form
        .add_ext_form_item
            label
                width: 150px !important

extensions-component
    .tablet
        .tablet_header,
        .tablet_body .tablet_content
            grid-template-columns: repeat(7, calc((100% - 68px) / 7)) repeat(2, calc(68px / 2)) !important
            .tablet_item
        .tablet_header
            .tablet_item
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(5)
                    .qwerty
                        span



