#arrow_safari
    display: block
#arrow_edge
    display: none

// Safari - Tariff plans - remove black cover
.tariff_container:after
    opacity: 0 !important

// if Edge
@supports (-ms-ime-align:auto)
    #arrow_edge
        display: block
    #arrow_safari
        display: none
