.qwerty
    line-height: 20px !important
button
    span
        font-family: Roboto, sans-serif
        font-weight: 400
.pbx_list_empty
    &.no_company
        min-height: 220px !important
        .pbx_list_empty_text
            min-height: 220px !important
            .empty_company
                height: auto !important
                top: unset !important
                bottom: 0 !important
                transform: translate(-50%, 0) !important