.qwerty
    line-height: 20px !important
button
    span
        font-family: Roboto, sans-serif
        font-weight: 400
.pbx_list_empty
    &.no_company
        min-height: 220px !important
        .pbx_list_empty_text
            min-height: 220px !important
            .empty_company
                height: auto !important
                top: unset !important
                bottom: 0 !important
                transform: translate(-50%, 0) !important

pbx-calendar
    position: absolute
    right: 0
    font-size: 13px


pbx-input
    .pbx_input_item_label
        span
            color: rgba($dark_white, .7) !important
            cursor: default !important
            &:hover
                color: rgba($dark_white, .7) !important
.light_theme
    pbx-input
        .pbx_input_item_label
            span
                color: rgba($white_black, .7) !important
                cursor: default !important
                &:hover
                    color: rgba($white_black, .7) !important

pbx-modal
    .modal_wrap
        .modal_body
            span
                vertical-align: bottom

.tablet
    .tablet_body
        overflow: auto
pbx-pagination
    &.active
        display: grid

pbx-input[ng-reflect-checkbox="true"],
pbx-input[ng-reflect-checkbox="false"]
    .pbx_input_item_label
        span
            cursor: pointer !important
            &:hover
                color: $dark_accent !important

@media screen and (max-height: 850px)
    sign-up
        sign-up-form
            .auth_form_icon_wrap
                form
                    .input_wrap
                        margin-bottom: 16px