.qwerty
    line-height: 20px !important
button
    span
        font-family: Roboto, sans-serif
        font-weight: 400
.pbx_list_empty
    &.no_company
        min-height: 220px !important
        .pbx_list_empty_text
            min-height: 220px !important
            .empty_company
                height: auto !important
                top: unset !important
                bottom: 0 !important
                transform: translate(-50%, 0) !important

pbx-calendar
    position: absolute
    right: 0
    font-size: 13px


pbx-input
    .pbx_input_item_label
        span
            color: rgba($dark_white, .7) !important
            cursor: default !important
            &:hover
                color: rgba($dark_white, .7) !important
.light_theme
    pbx-input
        .pbx_input_item_label
            span
                color: rgba($white_black, .7) !important
                cursor: default !important
                &:hover
                    color: rgba($white_black, .7) !important

pbx-modal
    .modal_wrap
        .modal_body
            span
                vertical-align: bottom

.tablet
    .tablet_body
        overflow: auto
pbx-pagination
    &.active
        display: grid

pbx-input[ng-reflect-checkbox="true"],
pbx-input[ng-reflect-checkbox="false"]
    .pbx_input_item_label
        span
            cursor: pointer !important
            &:hover
                color: $dark_accent !important

.checkbox.disabled
    cursor: default !important

.add_ext_form_title.no_active
    color: $white_pagination_btn_disabled !important

.dark_theme
    .pbx_input_wrap
        &.disabled
            .pbx_input_item_label
                span
                    cursor: default !important
                    &:hover
                        color: rgba($dark_white, .7) !important

.light_theme
    .pbx_input_wrap
        &.disabled
            .pbx_input_item_label
                span
                    cursor: default !important
                    &:hover
                        color: rgba($white_black, .7) !important


input.error-border.error-text:hover
    color: $dark_white !important
.light_theme
    input.error-border.error-text:hover
        color: $white_black !important

pbx-invoices
    .tablet
        .tablet_header
            .tablet_item:nth-child(5),
            .tablet_item:nth-child(6)
                .qwerty
                    justify-content: flex-start !important

phone-numbers-component
    .tablet
        .tablet_header,
        .tablet_body
            .tablet_item
                //width: 135px !important

billing-component
    base-settings-component
        pbx-input[ng-reflect-checkbox="false"]
            .pbx_input_item_label
                span
                    &:hover
                        color: rgba($dark_white, .7) !important

.light_theme
    billing-component
        base-settings-component
            pbx-input[ng-reflect-checkbox="false"]
                .pbx_input_item_label
                    span
                        &:hover
                            color: rgba($white_black, .7) !important

// невероятный костыль!!!!!!!!!!!!!!!!!!!!
account-notifications-component
    pbx-settings-group
        pbx-input[ng-reflect-key="balance_near_zero_value"],
        pbx-input[ng-reflect-key="how_many_days"]
            .pbx_input_item_label
                span
                    cursor: default !important
                    &:hover
                        color: rgba($dark_white, .7) !important
.light_theme
    account-notifications-component
        pbx-settings-group
            pbx-input[ng-reflect-key="balance_near_zero_value"],
            pbx-input[ng-reflect-key="how_many_days"]
                .pbx_input_item_label
                    span
                        &:hover
                            color: rgba($white_black, .7) !important



.tablet
    .tablet_header
        .tablet_item
            .qwerty
                max-width: unset !important
                display: grid
                grid-template-columns: min-content min-content
            span
                line-height: 16px
    .tablet_header,
    .tablet_body
        .tablet_item
            > div
                overflow: hidden
                text-overflow: ellipsis
                display: inline
                > span
                    overflow: hidden
                    text-overflow: ellipsis
                    display: inline
            > span
                overflow: hidden
                text-overflow: ellipsis
                display: inline

////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
// стили для таблиц, дефолтные, вымученные и со страданиями. Не трогать! Иначе все полетит очень далеко

.tablet
    .tablet_header,
    .tablet_body .tablet_row .tablet_content
        display: grid !important
        .tablet_item
            .qwerty
                width: 100%
                min-width: 100%
                max-width: 100%
                display: flex !important
            span
                width: 100%
                min-width: 100%
                max-width: 100%
        .tablet_icon
            margin-left: 0 !important
    .tablet_header
        .tablet_item
            span
                min-width: auto !important
                max-width: calc(100% - 20px) !important
                width: 100% !important
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-height: 850px)
    sign-up
        sign-up-form
            .auth_form_icon_wrap
                form
                    .input_wrap
                        margin-bottom: 16px