.dark_theme
    pbx-invoices
        pbx-list
            pbx-table
                .tablet_item
                    &.waiting-status
                        color: $dark_waiting_status !important
                .tablet_header,
                .tablet_body
                    .tablet_item
                        height: 38px
                        .qwerty
                            align-items: center
                    .tablet_item:nth-child(5)
                        .qwerty
                            width: 140px
                            max-width: 140px
                            justify-content: flex-end
                    .tablet_item:nth-child(6)
                        .qwerty
                            width: 75px
                            max-width: 75px
                            justify-content: flex-end
                .tablet_body
                    .tablet_item
                        &:nth-child(4)
                            .qwerty
                                text-overflow: ellipsis
                                display: inline-block
                        &:nth-child(5),
                        &:nth-child(6)
                            .qwerty
                                text-align: right
            .pbx_list
                position: relative


