.ivr_create_wrap
    position: relative
    z-index: 1
    .ivr_create_header
        display: grid
        grid-template-columns: 1fr 1fr
        margin-bottom: 16px
        .ivr_create_tab_wrap
            pbx-button
                margin-left: 0 !important
        .ivr_create_buttons
            justify-content: flex-end

    .ivr_create_body
        display: flex
        height: 100%
        &.one_block
            .left
                display: none
            .right
                margin-left: 0
                background: unset
                padding: 0
                .one,
                .two
                    display: none
                .three
                    display: flex
        .left,
        .right
            height: 100%
            overflow: auto
        .left
            padding-bottom: 0
            max-width: 50%
            //max-width: 300px
            pbx-ivr-level
                &:last-child
                    .item
                        margin-right: 0 !important
            &.h_scroll
                padding-bottom: 16px
            .item
                width: 192px
                min-width: 192px
                flex-direction: column
                background: $dark_overlay
                padding-bottom: 56px
                position: relative
                margin-right: 16px
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4)
                    //display: none
                &.two,
                &.one_up
                    padding-bottom: 112px
                    .buttons
                        height: 112px
                &.two
                    .buttons
                        pbx-button
                            &:nth-child(2)
                                display: block
                &.one_up
                    .buttons
                        pbx-button
                            &:nth-child(2)
                                display: none
                            button
                                width: 100%
                &.selected
                    background: $ivr_dark_selected
                    .buttons
                        background: $ivr_dark_selected
                .top
                    padding: 10px 12px
                    display: block
                    width: 100%
                    border-bottom: 1px solid $dark-white_20
                    &.active
                        background: $dark-white_10
                    .desc
                        font-family: Roboto, sans-serif
                        font-size: 10px
                        line-height: 16px
                        color: $dark_white_60
                        margin-bottom: 3px
                        display: block
                    .title
                        font-family: Roboto, sans-serif
                        font-size: 14px
                        line-height: 16px
                        color: $dark_white
                        display: block
                        white-space: nowrap
                        overflow: hidden
                        text-overflow: ellipsis
                .numbers
                    flex-direction: column
                    display: block
                    overflow: auto
                    .number
                        display: grid
                        grid-template-columns: 48px 1fr
                        grid-template-rows: 1fr 1fr 1fr
                        //margin: 16px 0
                        overflow: hidden
                        padding: 16px 12px
                        cursor: pointer
                        *
                            cursor: pointer
                        &.selected
                            background: $ivr_dark_selected
                        .digit
                            grid-column: 1/2
                            grid-row: 1/4
                            .inner
                                width: 48px
                                height: 48px
                                border: 1px solid $dark_white
                                border-radius: 100%
                                margin: auto
                                span
                                    margin: auto
                                    font-family: Roboto, sans-serif
                                    font-size: 24px
                                    font-weight: 300
                                    color: $dark_white
                    .line
                        padding: 0 0 0 16px
                        align-items: center
                        font-family: Roboto, sans-serif
                        font-size: 12px
                        font-weight: 300
                        color: $dark_white_80
                        overflow: hidden
                        span
                            display: block
                            overflow: hidden
                            white-space: nowrap
                            text-overflow: ellipsis
                        &.line1
                            grid-column: 2/3
                            grid-row: 1/2
                        &.line2
                            grid-column: 2/3
                            grid-row: 2/3
                        &.line3
                            grid-column: 2/3
                            grid-row: 3/4
                .buttons
                    background: $dark_overlay
                    padding: 8px
                    height: 56px
                    flex-direction: column
                    position: absolute
                    left: 0
                    right: 0
                    bottom: 0
                    justyfy-content: flex-start
                    pbx-button
                        width: 100%
                        margin-left: 0
                        &:nth-child(2)
                            margin-top: 16px
                            display: none
        .right
            flex: 1
            flex-direction: column
            margin-left: 24px
            background: $dark_overlay
            overflow: auto
            padding: 24px
            display: grid
            .pbx_input_item_label
                width: 120px !important
            pbx-input[key="voiceGreeting"]
                .pbx_input_wrap
                    display: grid
                    grid-template-columns: 1fr
                    .pbx_input_item.selectWrap
                        display: grid
                        grid-template-columns: auto 1fr
                        .pbx_input_item_input_wrap
                            display: grid
                            grid-template-columns: 1fr min-content
            .select_item.selected
                position: absolute
                left: 0
                top: 0
            pbx-ivr-digit-form
                .one
                    width: 100%
                    .select_digit
                        display: grid
                        grid-template-columns: 1fr min-content
                        align-items: center
                        pbx-button
                            width: min-content
                            margin-left: 24px
            .one
                flex-direction: column
                //display: none
                .title
                    font-family: Roboto, sans-serif
                    font-size: 14px
                    color: $dark_white_80
                    margin: 24px 0
                    &.general
                        margin-top: 0
                pbx-input
                    .pbx-select-placeholder
                        font-family: Roboto, sans-serif
                        font-weight: 200
                        font-size: 12px
                        color: $dark_white
                    input
                        &::placeholder
                            font-family: Roboto, sans-serif !important
                            font-weight: 200 !important
                            color: $dark_white !important
                            opacity: 1 !important
                    .greeting
                        margin-left: 40px
                .call-rules-create_row
                    margin: 24px 0
                .phone_number
                    position: relative
                    z-index: 11
                .voice_wrap
                    position: relative
                    z-index: 11
                    pbx-input
                        flex: 1
                    .buttons_block
                        margin-left: 40px
                .rule_applies_for
                    position: relative
                    z-index: 11
                .duration_period_wrap
                    .label
                        width: 150px
                        min-width: 150px
                        font-family: Roboto, sans-serif
                        font-weight: 300
                        font-size: 12px
                        color: $dark_white_35
                        align-items: center
                    pbx-calendar
                        width: 100%
                        position: relative
                        z-index: 10
                        .calendar
                            margin-left: 0
                            width: 100%
                            border-left: none
                            border-right: none
                            border-top: none
                            position: relative
                            .calendar-wrap
                                position: absolute
                                left: 0
                                right: unset
                            .calendar-head
                                padding-left: 5px
                .time_wrap
                    pbx-input
                        width: 100%
            .two,
            .three
                flex-direction: column
                display: none
                .pbx-select-placeholder
                    font-family: Roboto, sans-serif
                    font-weight: 200
                    color: $dark_white
                .title
                    font-family: Roboto, sans-serif
                    font-size: 14px
                    color: $dark_white_80
                    margin: 24px 0
                    &.accent
                        color: $dark_accent
                    &.general
                        margin-top: 0
                .select_digit
                    width: 100%
                    pbx-input
                        flex: 1
                        margin-right: 16px
                .table_block
                    .label
                        width: 150px
                        min-width: 150px
                        font-family: Roboto, sans-serif
                        font-weight: 300
                        font-size: 12px
                        color: $dark_white_35
                        align-items: center
                        height: 45px
                    .table
                        display: flex
                        flex: 1
                        background: $ivr_dark_table_bg
                        .header,
                        .body
                            .item
                                min-height: 45px
                                align-items: center
                                padding: 8px 16px
                                font-family: Roboto, sans-serif
                                font-weight: 300
                                color: $dark_white_50
                        .header
                            grid-row: 1/2
                            display: grid
                            grid-template-columns: 90px 1fr 1fr 1fr 1fr
                            border-bottom: 1px solid $dark_white_10
                            .item
                                &:nth-child(1)
                                    justify-content: center
                        .body
                            grid-row: 2/3
                            display: grid
                            .line
                                display: grid
                                grid-template-columns: 90px 1fr 1fr 1fr 1fr
                                border-bottom: 1px solid $dark_white_10
                                &:last-child
                                    border-bottom: 1px solid transparent
                                .item
                                    &:nth-child(1)
                                        justify-content: center
            .three
                display: flex
                overflow: hidden
                display: none
                .table_block
                    .table
                        background: unset
                        .header,
                        .body
                        .header
                            grid-template-columns: repeat(6, 1fr)
                            .item
                                font-size: 12px
                                &:nth-child(1)
                                    justify-content: left
                        .body
                            background: $ivr_dark_table_bg_2
                            overflow: auto
                            .line
                                grid-template-columns: repeat(6, 1fr)
                                .item
                                    color: $dark_white_70
                                    &:nth-child(1)
                                        justify-content: left
                                    &.icons
                                        justify-content: flex-end
                                        svg-icon
                                            width: 14px
                                            svg
                                                cursor: pointer
                                                *
                                                    cursor: pointer
                                        .tablet_icon
                                            &.edit
                                                svg-icon
                                                    svg
                                                        fill: $dark_success
                                            &.delete
                                                margin-left: 24px
                                                svg-icon
                                                    svg
                                                        fill: $dark_error





::-webkit-scrollbar:horizontal
    height: 3px



/////////////////////////////////
/////////////////////////////////
/////////////////////////////////

pbx-ivr-create
    pbx-ivr-level-form
        .one
            pbx-input[key="duration_time"]
                + .call-rules-create_row
                    label
                        width: 150px
                        font-size: 12px
                        color: $dark_white_35
                        display: flex
                        align-items: center
                    .time_wrap
                        .select_icon
                            margin-left: 16px
                        > span
                            display: flex
                            align-items: center
            pbx-input[key="rule_for"]
                + .rule-applies-for
                    .cv
                        width: 100%
                    label
                        display: flex
                        align-items: center
                        width: 150px
                        font-size: 12px
                        color: $dark_white_35
                    .days_wrap
                        pbx-button
                            margin: 0 8px 8px 0
                    pbx-calendar
                        width: 100%
                        margin-left: 16px
                        .calendar
                            position: relative
                            margin-left: 0
                            &.fullBorder
                                border: none
                                width: 100%
                                .calendar-head
                                    padding-right: 10px
                            .calendar-wrap
                                right: unset
                                left: 0
