.knowledge-base
    pbx-header
        pbx-input
            .select_item.selected
                position: absolute
                top: 0
                left: 0
    .content
        .blocks
            padding: 94px 110px !important
            .left, .right
                .inner
                    .title
                        font-size: 26px !important
                    .desc
                        font-size: 18px !important
                        line-height: 24px !important
        .questions
            padding: 94px 110px !important

// todo: только тут до стилей ul
.knowledge-base > .content > .questions > .item > .desc ul, .desc li
    display: block