.lang_ru
    phone-numbers-component
        pbx-table
            .tablet_header,
            .tablet_body
                .tablet_item:nth-child(2)
                    .qwerty
                        width: 184px !important
                .tablet_item:nth-child(3)
                    .qwerty
                        width: 122px !important
    .pbx_input_item_label
        white-space: normal !important
    general-add-extension-component form
        .add_ext_form_title
            span
                left: 240px !important
        .pbx_input_item_label
            padding-right: 10px !important
            line-height: 14px !important
    extensions-component
        pbx-table
            .tablet_header,
            .tablet_body
                .tablet_item.fix_80
                        max-width: 120px !important
    pbx-call-rules-create
        pbx-input
            .pbx_input_item_label
                span
                    line-height: 14px !important
        // еще один костыль из разряда фантастики. Дикий ужас
        pbx-input[ng-reflect-name="Если я не отвечаю на звонок в "]
            .pbx_input_item_label
                position: relative
                span.required
                    position: absolute
                    bottom: 9px
                    right: 45px

    // и здесь тоже будет великолепный костыль. Знакомьтесь!
    pbx-call-queues-create
        pbx-queue-create
            pbx-form
                pbx-queue-general
                    pbx-input[name="Maximum Callers in Queue"]
                        .pbx_input_item_label
                            position: relative
                            span
                                line-height: 14px !important
                            span.required
                                position: absolute
                                bottom: 2px
                                right: 94px
