pbx-marketplace
    .marketplace_wrap
        .marketplace_item
            &.bought
                background: rgba(102, 103, 103, 0.81) !important
            .marketplace_button.bought
                cursor: default
                &:hover
                    background: $dark-white_25
