pbx-marketplace
    .marketplace_wrap
        .marketplace_item
            &.bought
                background: rgba(102, 103, 103, 0.81) !important
            .marketplace_button.bought
                cursor: default
                &:hover
                    background: $dark-white_25
            .marketplace_cost,
            .marketplace_button
                font-size: 14px !important
            .marketplace_icon.delete
                svg
                    width: 24px
                    cursor: pointer
                    margin: 4px auto 0
                    *
                        fill: $dark_error
                        fill: $dark_error
    .marketplace_info
        font-size: 13.5px !important
