partner-program-component
    .sidebar_partner_program
        .sidebar
            .sidebar_info_description
                .description_text
                    &:nth-child(2)
                        white-space: nowrap
    .sidebar
        .pbx_input_error
            margin-left: 20px
        .sidebar_info_wrap
            .sidebar_description_wrap
                overflow-y: unset
    .partner_tab
        cursor: pointer
        align-items: center
        *
            cursor: pointer
        .partner_tab_icon_wrap
            margin-right: 12px
            svg-icon
                svg
                    width: 16px
                    height: 16px
                    path,
                    rect
                        fill: rgba(255, 255, 255, .7)
        &.active
            .partner_tab_icon_wrap
                svg-icon
                    path,
                    rect
                        fill: $dark_accent

partner-program-component
    pbx-sidebar
        .sidebar
            overflow: visible
    .link_wrap
        position: relative
        .table-empty-message
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            margin: 0

overview-partner-program-component
    .overview
        .overview_body
            display: grid

links-partner-program-component
    pbx-table
        .tablet_body
            .tablet_row
                .tablet_content
                    .tablet_item
                        .qwerty
                            overflow: hidden
                            display: inline-block
                            text-overflow: ellipsis
    .table-empty-message
        span
            white-space: nowrap

partner-program-component
    pbx-sidebar
        .sidebar_description_wrap
            .sidebar_info_description
                pbx-input
                    .pbx_input_row_label
                        flex: 1

.transfer_modal
    padding: 24px 32px
    background: $dark_transfer_modal_bg
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 358px
    flex-direction: column
    color: $white_black
    display: none
    .title
        font-family: Roboto, sans-serif
        font-weight: 300
        font-size: 24px
        line-height: 32px
        color: $white_black
        justify-content: center
        margin-bottom: 24px
    label
        font-family: Roboto, sans-serif
        font-weight: 400
        font-size: 14px
        line-height: 19px
        color: $dark_accent
        margin-bottom: 8px
    input
        border-bottom: 1px solid $white_input_border !important
        font-family: Roboto, sans-serif !important
        font-size: 16px !important
        color: $white_black !important
        font-weight: 400 !important
        margin-bottom: 16px !important
    .you_may
        font-family: Roboto, sans-serif
        font-size: 12px
        color: $white_black
        font-weight: 300
        line-height: 16px
        margin-bottom: 32px
        span
            color: $dark_accent
            cursor: pointer
    .buttons
        justify-content: flex-end
        .btn
            height: 36px
            text-transform: uppercase
            color: $dark_accent
            font-weight: 400
            align-items: center
            cursor: pointer
            background: transparent
            &.cancel
                padding: 0 16px !important
                margin-right: 8px
            &.ok
                padding: 0 24px !important
        /*==============================*/
        //pbx-button
        //    width: auto !important
        //    .button
        //        height: 36px !important
        //        width: auto !important
        //        min-width: unset !important
        //        background: none !important
        //        span
        //            text-transform: uppercase
        //            color: $dark_accent
        //        &.cancel
        //            padding: 0 16px !important
        //            margin-right: 8px
        //        &.success
        //            padding: 0 24px !important
        /*==============================*/