partner-program-component
    .sidebar
        .pbx_input_error
            margin-left: 20px
        .sidebar_info_wrap
            .sidebar_description_wrap
                overflow-y: unset
    .partner_tab
        .partner_tab_icon_wrap
            margin-right: 12px
            svg-icon
                width: 16px
                height: 16px
                path
                    fill: rgba(255, 255, 255, .7)
        &.active
            .partner_tab_icon_wrap
                svg-icon
                    path
                        fill: $dark_accent

partner-program-component
    pbx-sidebar
        .sidebar
            overflow: visible
    .link_wrap
        position: relative
        .table-empty-message
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            margin: 0

overview-partner-program-component
    .overview
        .overview_body
            display: grid

links-partner-program-component
    pbx-table
        .tablet_body
            .tablet_row
                .tablet_content
                    .tablet_item
                        .qwerty
                            overflow: hidden
                            display: inline-block
                            text-overflow: ellipsis