pbx-editable-select
    .outer
        min-height: 200px !important
        overflow: hidden !important
        position: absolute
        left: 0
        width: 100%
    .select_options
        overflow-x: hidden !important
        min-height: 200px !important
        input
            width: 100% !important
            max-width: unset !important
            position: relative !important
    .select_item
        max-height: 40px 