pbx-editable-select
    .select_options
        margin-bottom: 0 !important
        overflow-x: hidden !important
        input
            max-width: 300px !important
            position: relative !important
    .pbx_select_country + div
        min-height: 200px
    .select_item
        max-height: 40px 