pbx-modal
    .modal_wrap
        .modal_title
            position: relative
            justify-content: center
            height: 39px
            align-items: flex-end
            .modal_close
                position: absolute
                top: 12px
                right: 12px