pbx-editable-select
    .select_wrap.active
        input,
        .select_item.selected
            border: 1px solid $dark_accent
    .outer
        min-height: 200px !important
        overflow: hidden !important
        position: absolute
        left: 0
        width: 100%
    .select_options
        overflow-x: hidden !important
        // min-height: 200px !important
        input
            width: 100% !important
            max-width: unset !important
            position: relative !important
    .select_item
        max-height: 40px
    .select_wrap
        position: relative
        input
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0