pbx-sidebar
    .description_item_wrap
        margin-bottom: 24px

buy-phone-numbers-component
    pbx-editable-select
        .select_wrap
            max-width: 240px
            input
                padding-right: 40px
            span
                display: inline-block
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                max-width: 90%
    .buy_phone_table_contain
        overflow-x: hidden !important
    .table-message
        margin: auto
        font-family: Roboto, sans-serif
        color: $dark-white_70
        font-size: 32px
        line-height: 32px

phone-numbers-component
    pbx-table
        .tablet_header .tablet_item:nth-child(1),
        .tablet_body .tablet_item:nth-child(1)
            width: 125px
        .tablet_header .tablet_item:nth-child(2),
        .tablet_body .tablet_item:nth-child(2)
            width: 170px
        .tablet_header .tablet_item:nth-child(3),
        .tablet_body .tablet_item:nth-child(3)
            width: 110px
        .tablet_header .tablet_item:nth-child(4),
        .tablet_body .tablet_item:nth-child(4)
            width: 90px
        .tablet_header .tablet_item:nth-child(5),
        .tablet_body .tablet_item:nth-child(5)
            width: 120px
        .tablet_header
            display: flex
            justify-content: space-between
            .tablet_item
                // outline: 1px solid red
                flex: unset
                // width: 200px
            .tablet_item:nth-child(2),
            .tablet_item:nth-child(3),
            .tablet_item:nth-child(5)
                span
                    float: unset !important
                    justify-content: center
        .tablet_body
            .tablet_row
                .tablet_content
                    display: flex !important
                    justify-content: space-between
                    cursor: pointer
                    .tablet_item
                        // outline: 1px solid green
                        flex: unset
                        // width: 200px
                    .tablet_item:nth-child(2),
                    .tablet_item:nth-child(3),
                    .tablet_item:nth-child(5)
                        text-align: center
                    .tablet_item:nth-child(2)
                        // padding-left: 77px
                    .tablet_item:last-child
                        position: relative
                        // padding-right: 56px
                        &:after
                            content: url('data:image/svg+xml; utf8, <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"> <title>edit_12px</title> <g fill="#8BA55A"> <rect x="4" y="11" width="8" height="1"/> <path d="M8.59.59,1.51,7.66,0,12l4.32-1.48,7.07-7.07A2.00122,2.00122,0,0,0,8.59.59ZM3.64,9.78l-2.09.66.67-2.08ZM9.29,4.12,4.34,9.07,2.93,7.66,7.88,2.71ZM10.7,2.71l-.7.7L8.59,2l.71-.71A1,1,0,0,1,10.71,2.7Z"/></g></svg>')
                            position: absolute
                            top: 50%
                            transform: translateY(-50%)
                            right: 22px
                            width: 12px
                            height: 12px
                            opacity: 0
                            display: none
                &:hover
                    .tablet_item:last-child
                        &:after
                            opacity: 1

    
@media screen and (max-width: 1389px)
    buy-phone-numbers-component
        .buy_phone_header
            .buy_phone_header_refresh
                padding-left: 15px
                .buy_phone_header_refresh_icon
                    display: none
