pbx-sidebar
    .description_item_wrap
        margin-bottom: 24px

buy-phone-numbers-component
    .table-message
        margin: auto
        font-family: Roboto, sans-serif
        color: $dark-white_70
        font-size: 32px
        line-height: 32px
    
@media screen and (max-width: 1389px)
    buy-phone-numbers-component
        .buy_phone_header
            .buy_phone_header_refresh
                padding-left: 15px
                .buy_phone_header_refresh_icon
                    display: none