.refill_header
    pbx-input
        input
            text-align: center

.pbx_header_wrap
    pbx-input
        .pbx_input_item_label
            .labels-second-line
                margin-left: 5px

.refill_paying
    .refill_paying_container
        .refill_paying_buttons
            margin-top: 50px
            grid-gap: 16px
            .button
                height: 48px

refill-balance
    .refill_currency_wrap
        .refill_currency_item:nth-child(7)
            svg-icon
                #Group
                    fill: $dark_waves
    .refill_header
        .pbx_input_wrap
            .pbx_input_error
                margin-left: 341px




// ========================================

@media screen and (max-width: 1431px)
    .pbx_header_wrap
        pbx-input
            .pbx_input_item
                align-items: center
                .pbx_input_item_label
                    flex-direction: column
                    align-items: flex-start
                    .labels-second-line
                        margin-top: 5px
                        color: inherit
                        margin-left: 0
    refill-balance
        .refill_header
            .pbx_input_wrap
                .pbx_input_error
                    margin-left: 241px
                    margin-top: 91px

@media screen and (max-width: 1151px)
    .pbx_header_wrap
        pbx-input
            .pbx_input_item
                .pbx_input_item_label
                    .labels-second-line
                        display: none
    refill-balance
        .refill_header
            .pbx_input_wrap
                .pbx_input_error
                    margin-left: 120px
                    margin-top: 91px
