profile-component,
user-notifications-component,
authorization-component,
billing-component,
base-settings-component
    .overlay_content
        margin: 24px
    .form-body
        background: $dark_overlay
    .form-body-content
        position: relative
        min-height: 100%
        .settings_form_title
            // margin-top: 30px
        pbx-loader
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
    .settings_code
        margin-left: 250px !important

pbx-settings
    .settings_item_wrap
        svg-icon
            path, polygon
                fill: $dark_white !important
    .settings_theme_item
        svg-icon
            path, polygon
                fill: $dark_white !important
    .settings_wrap
        .settings_item_title
            color: $dark_white
        .settings_theme_text
            color: $dark_white
            &.unselected
                color: $dark_white_80
                opacity: 1
pbx-settings
    .settings_wrap
        .settings_item_wrap
            .settings_item
                .settings_item_title
                    font-size: 16px !important
        .settings_theme_item
            .settings_theme_text
                font-size: 16px !important
    pbx-form
        pbx-settings-group
            pbx-settings-group
                .settings_form_section
                    .settings_form_title_2
                        display: inline-block
                        text-transform: lowercase
                        &:first-letter
                            text-transform: uppercase
                    .settings_form_field_group
                        div:nth-child(1)
                            .pbx_input_item_label
                               .colon
                                   span
                                       display: inline-block
                                       text-transform: lowercase
                                       &:first-letter
                                           text-transform: uppercase
                                   span:nth-child(2)
                                       display: none
                        div:nth-child(2)
                            .pbx_input_item_label
                                .colon
                                    span
                                        display: inline-block
                                        text-transform: lowercase
                                        &:first-letter
                                            text-transform: lowercase
                                    span:nth-child(2)
                                        display: none