profile-component,
user-notifications-component,
authorization-component,
billing-component,
base-settings-component

pbx-index user-notifications-component
    pbx-settings-group
        .settings_form_field_group
            display: grid
            grid-template-columns: min-content min-content
            div
                align-self: center
            pbx-settings-input
                .pbx_input_wrap
                    pbx-select
                        min-width: unset !important
    pbx-form
        .settings_form_section
            pbx-input
                .pbx_input_item.selectWrap
                    grid-template-columns: 75px 1fr !important
    .overlay_content
        margin: 24px
    .form-body
        background: $dark_overlay
    .form-body-content
        position: relative
        min-height: 100%
        .settings_form_title
            // margin-top: 30px
        pbx-loader
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
    .settings_code
        margin-left: 250px !important

pbx-settings
    .settings_item_wrap
        svg-icon
            path, polygon
                fill: $dark_white !important
    .settings_theme_item
        svg-icon
            path, polygon
                fill: $dark_white !important
    .settings_wrap
        .settings_item_title
            color: $dark_white
        .settings_theme_text
            color: $dark_white
            &.unselected
                color: $dark_white_80
                opacity: 1
pbx-settings
    .settings_wrap
        .settings_item_wrap
            .settings_item
                .settings_item_title
                    font-size: 16px !important
                    line-height: 24px !important
        .settings_theme_item
            .light_theme
                background: $dark_white !important
                &:hover
                    background: $dark_white !important
                    color: $white_black !important
                .settings_theme_text
                    color: $white_black !important
            .dark_theme
                background: $white_black !important
                &:hover
                    background: $white_black !important
                    color: $dark_white !important
                .settings_theme_text
                    color: $dark_white !important
            .settings_theme_text
                font-size: 16px !important
                line-height: 24px !important
    pbx-form
        pbx-settings-group
            pbx-settings-group
                .settings_form_section
                    .settings_form_title_2
                        display: inline-block
                        text-transform: lowercase
                        &:first-letter
                            text-transform: uppercase
                    .settings_form_field_group
                        div:nth-child(1)
                            .pbx_input_item_label
                               .colon
                                   span
                                       display: inline-block
                                       text-transform: lowercase
                                       &:first-letter
                                           text-transform: uppercase
                                   span:nth-child(2)
                                       display: none
                        div:nth-child(2)
                            .pbx_input_item_label
                                .colon
                                    span
                                        display: inline-block
                                        text-transform: lowercase
                                        &:first-letter
                                            text-transform: lowercase
                                    span:nth-child(2)
                                        display: none
base-settings-component
    pbx-settings-group
        .settings_form_field_group
            flex-direction: column !important
            align-items: flex-start !important

account-notifications-component,
user-notifications-component
    base-settings-component
        .form-body-content
            pbx-settings-group
                .settings_form_section
                    .settings_form_title_1,
                    .settings_form_title_2
                        color: $dark_white_35

account-notifications-component
    .form-body
        padding: 24px
        background: $dark_overlay
    .settings_form_section
        .pbx_input_wrap
            .pbx_input_item
                grid-template-columns: auto 1fr
                grid-template-rows: 1fr
                .pbx_input_item_label
                    grid-column: 2/3
                    grid-row: 1/2
                    align-self: center
                    padding-left: 16px
                .pbx_input_item_input_wrap
                    grid-column: 1/2
                    grid-row: 1/2
                    margin-top: 0
                    align-self: center
        .settings_form_title_2
            margin: 20px 0
        pbx-input[ng-reflect-name="Balance Near Zero Value"],
        pbx-input[ng-reflect-name="How Many Days"]
            .pbx_input_item
                .pbx_input_item_label
                    grid-column: 1/2
                    padding-left: 0
                    padding-right: 16px
                .pbx_input_item_input_wrap
                    grid-column: 2/3

profile-component
    pbx-form
        .form-body-content
            .overlay_content
                padding: 24px
                background: $dark_overlay

billing-component,
authorization-component
    base-settings-component
        .form
            .form-body
                padding: 24px
                background: $dark_overlay

billing-component
    base-settings-component
        pbx-settings-group
            pbx-settings-input
                pbx-input
                    width: 100% !important
                    .pbx_input_item_input_wrap
                        margin-top: 0 !important
                    .pbx_input_item
                        grid-template-columns: 128px 1fr !important

user-notifications-component,
account-notifications-component
    .settings_form_title_1,
    .settings_form_title_2
        font-weight: 400 !important
    pbx-settings-group
        span
            font-size: 14px !important