profile-component,
user-notifications-component,
authorization-component,
billing-component,
base-settings-component
    .form-body-content
        position: relative
        min-height: 100%
        .settings_form_title
            // margin-top: 30px
        pbx-loader
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)