pbx-sidebar
    .sidebar
        overflow: hidden
        .side_unit_icon *
            fill: $dark_success
    &.sidebar_partner_program
        .sidebar_description_wrap
            .sidebar_info_description:nth-child(2)
                input
                    background: $dark_sidebar_input_link
        .sidebar_description_link.accent
            color: $dark_accent
    pbx-input[name="Country"]
        .pbx_input_row_input_wrap
            .select_item
                position: relative
                input
                    position: absolute
                    top: 0
                    bottom: 0
                    right: 0
                    left: 0
        .select_wrap.active
            border: 1px solid $dark_accent !important



.sidebar
    .sidebar_description_wrap
        overflow-y: unset !important

    .error-text
        span
            // color: $dark_error !important
    svg-icon
        /deep/ *
            fill: $dark_green_dark
    pbx-select
        svg-icon
            /deep/ *
                fill: $dark-white
    .phone-block,
    .email-block
        pbx-input
            .pbx_input_row_label
                display: none
            .pbx_input_error_float_focus
                margin-top: 0
        pbx-input:nth-child(1)
            .pbx_input_row_label
                display: block
            .pbx_input_error_float_focus
                margin-top: 23px
