pbx-sidebar
    .sidebar
        overflow: hidden
        .side_unit_icon *
            fill: $dark_success

.sidebar
    .error-text
        span
            color: $dark_error !important
    svg-icon
        /deep/ *
            fill: $dark_green_dark
    pbx-select
        svg-icon
            /deep/ *
                fill: $dark-white
    .phone-block,
    .email-block
        pbx-input
            .pbx_input_row_label
                display: none
            .pbx_input_error_float_focus
                margin-top: 0
        pbx-input:nth-child(1)
            .pbx_input_row_label
                display: block
            .pbx_input_error_float_focus
                margin-top: 23px