pbx-sidebar
    .sidebar
        overflow: hidden
        .sidebar_description_wrap
            display: grid
            .description_text.title
                color: rgba(255, 255, 255, .8) !important
                opacity: unset !important
        .side_unit_icon *
            fill: $dark_success
        .description_text
            margin-bottom: 8px
            font-size: 16px
            line-height: 21px
            color: $dark_white
    &.sidebar_partner_program
        .sidebar_description_wrap
            .sidebar_info_description:nth-child(2)
                input
                    background: $dark_sidebar_input_link
        .sidebar_description_link.accent
            color: $dark_accent
    pbx-input[name="Country"]
        .pbx_input_row_input_wrap
            .select_options
                margin-top: 1px
            .select_item
                position: relative
                input
                    position: absolute
                    top: 0
                    bottom: 0
                    right: 0
                    left: 0



.sidebar
    svg-icon
        /deep/ *
            fill: $dark_green_dark
    pbx-select
        svg-icon
            /deep/ *
                fill: $dark-white
    .phone-block,
    .email-block
        pbx-input
            .pbx_input_row_label
                display: none
            .pbx_input_error_float_focus
                margin-top: 0
        pbx-input:nth-child(1)
            .pbx_input_row_label
                display: block
            .pbx_input_error_float_focus
                margin-top: 23px
// .sidebar
    // .sidebar_description_wrap
    //     .sidebar_info_description
    //         min-height: unset !important
    //         .description_item_wrap
    //             min-height: unset !important
    //             margin-bottom: 0 !important
    //             .description_text
    //                 width: unset !important
    //                 &.title
    //                     margin-bottom: 0 !important
// partner-program-component
    // .sidebar .sidebar_description_wrap .sidebar_info_description .description_item_wrap .description_text
    //     width: 300px !important
    // .sidebar .sidebar_description_wrap .sidebar_info_description .description_item_wrap .description_text.title
    //     margin-bottom: 10px !important
    // .sidebar .sidebar_description_wrap
    //     overflow-y: unset !important

// pbx-address-book
    // pbx-sidebar
    //     .sidebar .sidebar_description_wrap .sidebar_info_description .description_item_wrap
    //         min-height: rem(32) !important
    //     .sidebar
    //         .sidebar_description_wrap
    //             .sidebar_info_description
    //                 .description_item_wrap
    //                     .description_text
    //                         margin-bottom: 24px !important
    //                         &.title
    //                             margin-bottom: 10px !important

