main-view.dark_theme    
    sign-in,
    sign-up-form,
    password-recovery,
    temporary-code
        input
            color: $dark_white !important
            &::placeholder
                color: $dark-white_60 !important
        form
            .auth_form_message.error,
            .input_error 
                top: 0
                left: unset
                font-size: 12px
                line-height: 16px
                left: 100%
                white-space: nowrap
                justify-content: center
                align-items: center
                width: unset
                margin-bottom: unset
                min-width: 200px
                height: 32px
                margin-left: 8px
                background: $dark_error_message
                color: $dark_white
                padding: 0 10px
                &_item
                    color: $dark_white
                &:before
                    content: ''
                    position: absolute
                    left: -8px
                    top: 50%
                    transform: translateY(-50%)
                    width: 0
                    height: 0
                    border-top: 8px solid transparent
                    border-right: 8px solid $dark_error_message
                    border-bottom: 8px solid transparent

main-view.dark_theme  
    sign-up-form
        form
            .input_error
                background: $dark_error_message
                span
                    color: $dark_white