main-view.dark_theme
    sign-in,
    sign-up-form,
    password-recovery,
    temporary-code
        input
            color: $dark_white !important
            &::placeholder
                color: $dark-white_60 !important
        form
            .auth_form_message.error,
            .input_error
                top: 0
                left: unset
                font-size: 12px
                line-height: 16px
                left: 100%
                white-space: nowrap
                justify-content: center
                align-items: center
                width: unset
                margin-bottom: unset
                min-width: 200px
                height: 32px
                margin-left: 8px
                background: $dark_error_message
                color: $dark_white
                padding: 0 10px
                &_item
                    color: $dark_white
                &:before
                    content: ''
                    position: absolute
                    left: -8px
                    top: 50%
                    transform: translateY(-50%)
                    width: 0
                    height: 0
                    border-top: 8px solid transparent
                    border-right: 8px solid $dark_error_message
                    border-bottom: 8px solid transparent

.auth_form
    position: relative
    .footer
        height: 60px
        position: relative
        z-index: 1
        background: rgba(0, 0, 0, .6)
        line-height: 19px
        font-size: 14px
        align-items: center
        justify-content: center
        position: absolute
        bottom: 0
        left: 0
        right: 0
        a
            color: $dark_white
            font-size: 14px
            cursor: pointer
            &:hover
                color: $dark_accent
        .center
            margin: 0 40px
            a
                padding-right: 12px
                padding-left: 12px
                border-right: 1px solid $dark_white
                &:hover
                    text-decoration: underline
                    color: $dark_accent
                &:last-child
                    padding-right: 0
                    border-right: none
                &:first-child
                    padding-left: 0
        select
            appearance: none
            height: 20px
            cursor: pointer
            background: none
            border: none
            color: $dark_white
            font-size: 14px
        pbx-select
            .select_wrap
                .select_item.selected
                    display: flex !important
                    align-items: center !important
                    padding-top: 0 !important
                    svg-icon
                        top: 35% !important
                .select_options
                    border-top: 1px solid $white_input_border !important


main-view.dark_theme
    sign-up-form
        form
            .input_error
                background: $dark_error_message
                span
                    color: $dark_white

.auth_form_loaded
    background-size: cover !important

sign-in,
sign-up-form,
password-recovery,
temporary-code
    .auth_form_text
        white-space: nowrap
        a
            white-space: nowrap

.auth_form
    pbx-input
        .pbx_input_error
            left: 340px !important
            top: 0 !important

sign-in,
sign-up,
password-recovery,
temporary-code
    .auth_form
        position: relative
        .feedback_btn_wrap
            position: absolute
            width: 58px
            height: 58px
            z-index: 10
            bottom: 72px
            right: 72px
            &:after
                content: ''
                width: 58px
                height: 58px
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                border-radius: 100%
                z-index: 15
                background: $dark_accent
                animation: pulse_after 1.5s linear infinite
                -webkit-animation-name: pulse_after
                -moz-animation-name: pulse_after
                -o-animation-name: pulse_after
                animation-name: pulse_after
                -webkit-animation-duration: 1.5s
                -moz-animation-duration: 1.5s
                -o-animation-duration: 1.5s
                animation-duration: 1.5s
                -webkit-animation-timing-function: linear
                -moz-animation-timing-function: linear
                -o-animation-timing-function: linear
                animation-timing-function: linear
                -webkit-animation-iteration-count: infinite
                -moz-animation-iteration-count: infinite
                -o-animation-iteration-count: infinite
                animation-iteration-count: infinite
            &:before
                content: ''
                width: 58px
                height: 58px
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                border-radius: 100%
                z-index: 12
                background: transparent
                border: 2px solid $dark_accent
                animation: pulse_before 2s linear infinite
                -webkit-animation-name: pulse_before
                -moz-animation-name: pulse_before
                -o-animation-name: pulse_before
                animation-name: pulse_before
                -webkit-animation-duration: 2s
                -moz-animation-duration: 2s
                -o-animation-duration: 2s
                animation-duration: 2s
                -webkit-animation-timing-function: linear
                -moz-animation-timing-function: linear
                -o-animation-timing-function: linear
                animation-timing-function: linear
                -webkit-animation-iteration-count: infinite
                -moz-animation-iteration-count: infinite
                -o-animation-iteration-count: infinite
                animation-iteration-count: infinite
            .feedback_btn
                position: relative
                width: 58px
                height: 58px
                background: $dark_accent
                border-radius: 100%
                cursor: pointer
                z-index: 20
                /deep/ *
                    cursor: pointer
                svg-icon
                    margin: auto
                    svg
                        width: 24px
                        height: 24px
                        path
                            fill: $dark_white
        .feedback_form
            position: absolute
            z-index: 25
            top: 0
            right: -2px
            bottom: 0
            width: 360px
            background: $dark_grey_1
            display: grid
            grid-template-columns: 1fr
            grid-template-rows: min-content 1fr min-content
            .header
                position: relative
                border-bottom: 1px solid $white_black_30
                padding: 32px 48px
                grid-row: 1/2
                .title
                    font-family: Roboto, sans-serif
                    font-size: 14px
                    text-transform: uppercase
                    color: $white_black
                    font-weight: 400
                    text-align: center
                    display: block
                    width: 100%
                svg-icon
                    position: absolute
                    width: 24px
                    height: 24px
                    top: 27px
                    right: 28px
                    cursor: pointer
                    /deep/ *
                        cursor: pointer
                    svg
                        width: 16px
                        height: 16px
                        margin: 4px
                        polygon
                            fill: $white_black
            .body
                grid-row: 2/3
                padding: 0 28px
                flex-direction: column
                overflow: auto
                padding-bottom: 92px
                .title
                    font-family: Roboto, sans-serif
                    font-size: 14px
                    color: $white_black
                    font-weight: 300
                    text-align: left
                    line-height: 19px
                    margin: 64px 0 88px
                form
                    width: 100%
                    max-width: unset
                    margin: 0
                    .temp
                        height: 56px
                        margin-bottom: 16px
                        border: 1px solid grey
                        color: black
                        justify-content: center
                        align-items: center
                        &.msg
                            height: 92px
                    .privacy
                        display: grid
                        grid-template-columns: min-content 1fr
                        grid-template-rows: min-content
                        margin-bottom: 26px
                        pbx-checkbox
                            grid-column: 1/2
                        .text
                            grid-column: 2/3
                            font-family: Roboto, sans-serif
                            font-size: 11px
                            color: $white_black
                            font-weight: 300
                            text-align: left
                            line-height: 15px
                            padding-left: 12px
                    pbx-button
                        justify-content: center !important
                        button
                            margin: 0
                            &.success
                                width: 140px !important
                                flex: unset !important
            .footer
                font-family: Roboto, sans-serif
                font-size: 24px
                color: $white_black
                font-weight: 300
                text-align: left
                line-height: 32px
                border-top: 1px solid $dark_accent
                padding: 12px 0
                justify-content: center
                background: $dark_white !important
sign-in,
sign-up-form,
password-recovery,
temporary-code
    min-height: 640px
    .auth_form
        min-height: 640px

sign-up
    form
        pbx-input
            .pbx_input_item_label
                span
                    cursor: pointer

@keyframes pulse_after
    0%
        -webkit-transform: translate(-50%, -50%) scale(1)
        -moz-transform: translate(-50%, -50%) scale(1)
        -ms-transform: translate(-50%, -50%) scale(1)
        -o-transform: translate(-50%, -50%) scale(1)
        transform: translate(-50%, -50%) scale(1)
        opacity: 0
    10%
        -webkit-transform: translate(-50%, -50%) scale(1)
        -moz-transform: translate(-50%, -50%) scale(1)
        -ms-transform: translate(-50%, -50%) scale(1)
        -o-transform: translate(-50%, -50%) scale(1)
        transform: translate(-50%, -50%) scale(1)
        opacity: .7
    100%
        -webkit-transform: translate(-50%, -50%) scale(1.7)
        -moz-transform: translate(-50%, -50%) scale(1.7)
        -ms-transform: translate(-50%, -50%) scale(1.7)
        -o-transform: translate(-50%, -50%) scale(1.7)
        transform: translate(-50%, -50%) scale(1.7)
        opacity: 0

@keyframes pulse_before
    0%
        -webkit-transform: translate(-50%, -50%) scale(1)
        -moz-transform: translate(-50%, -50%) scale(1)
        -ms-transform: translate(-50%, -50%) scale(1)
        -o-transform: translate(-50%, -50%) scale(1)
        transform: translate(-50%, -50%) scale(1)
        opacity: 0
    15%
        -webkit-transform: translate(-50%, -50%) scale(1)
        -moz-transform: translate(-50%, -50%) scale(1)
        -ms-transform: translate(-50%, -50%) scale(1)
        -o-transform: translate(-50%, -50%) scale(1)
        transform: translate(-50%, -50%) scale(1)
        opacity: .7
    100%
        -webkit-transform: translate(-50%, -50%) scale(1.7)
        -moz-transform: translate(-50%, -50%) scale(1.7)
        -ms-transform: translate(-50%, -50%) scale(1.7)
        -o-transform: translate(-50%, -50%) scale(1.7)
        transform: translate(-50%, -50%) scale(1.7)
        opacity: 0
