main-view.dark_theme    
    sign-in,
    sign-up-form,
    password-recovery,
    temporary-code
        input
            color: $dark_white !important
            &::placeholder
                color: $dark-white_60 !important
        form
            .auth_form_message.error,
            .input_error 
                top: 0
                left: unset
                font-size: 12px
                line-height: 16px
                left: 100%
                white-space: nowrap
                justify-content: center
                align-items: center
                width: unset
                margin-bottom: unset
                min-width: 200px
                height: 32px
                margin-left: 8px
                background: $dark_error_message
                color: $dark_white
                padding: 0 10px
                &_item
                    color: $dark_white
                &:before
                    content: ''
                    position: absolute
                    left: -8px
                    top: 50%
                    transform: translateY(-50%)
                    width: 0
                    height: 0
                    border-top: 8px solid transparent
                    border-right: 8px solid $dark_error_message
                    border-bottom: 8px solid transparent

.auth_form
    position: relative
    .footer
        height: 60px
        position: relative
        z-index: 1
        background: rgba(0, 0, 0, .6)
        line-height: 19px
        font-size: 14px
        align-items: center
        justify-content: center
        position: absolute
        bottom: 0
        left: 0
        right: 0
        a
            color: $dark_white
            font-size: 14px
            cursor: pointer
            &:hover
                color: $dark_accent
        .center
            margin: 0 40px
            a
                padding-right: 12px
                padding-left: 12px
                border-right: 1px solid $dark_white
                &:hover
                    text-decoration: underline
                    color: $dark_accent
                &:last-child
                    padding-right: 0
                    border-right: none
                &:first-child
                    padding-left: 0
        select
            appearance: none
            height: 20px
            cursor: pointer
            background: none
            border: none
            color: $dark_white
            font-size: 14px

main-view.dark_theme
    sign-up-form
        form
            .input_error
                background: $dark_error_message
                span
                    color: $dark_white

.auth_form_loaded
    background-size: cover !important

sign-in,
sign-up-form,
password-recovery,
temporary-code
    .auth_form_text
        white-space: nowrap
        a
            white-space: nowrap

.auth_form
    pbx-input
        .pbx_input_error
            left: 340px !important
            top: 0 !important

sign-in,
sign-up,
password-recovery,
temporary-code
    .auth_form
        position: relative
        .feedback_btn_wrap
            position: absolute
            width: 58px
            height: 58px
            z-index: 10
            bottom: 72px
            right: 72px
            &:after
                content: ''
                width: 58px
                height: 58px
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                border-radius: 100%
                z-index: 15
                background: $dark_accent
                animation: pulse_after 1.5s linear infinite
            &:before
                content: ''
                width: 58px
                height: 58px
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                border-radius: 100%
                z-index: 12
                background: transparent
                border: 2px solid $dark_accent
                animation: pulse_before 2s linear infinite
            .feedback_btn
                position: relative
                width: 58px
                height: 58px
                background: $dark_accent
                border-radius: 100%
                cursor: pointer
                z-index: 20
                /deep/ *
                    cursor: pointer
                svg-icon
                    margin: auto
                    svg
                        width: 24px
                        height: 24px
                        path
                            fill: $dark_white

@keyframes pulse_after
    0%
        width: 58px
        height: 58px
        opacity: .7
    100%
        width: 100px
        height: 100px
        opacity: 0

@keyframes pulse_before
    0%
        width: 58px
        height: 58px
        opacity: 0
    15%
        width: 58px
        height: 58px
        opacity: .7
    100%
        width: 100px
        height: 100px
        opacity: 0