pbx-storage
    .store_sidebar_audio_icon
        position: relative
        svg
            position: absolute
            top: 0
            left: 0
    pbx-table
        .tablet_header
            .tablet_item:nth-child(3)
                text-align: center
                span
                    float: none
                    display: inline-block
            .tablet_item_icon_wrap
                display: none
        .tablet_body
            .tablet_content
                .tablet_item:nth-child(3)
                    text-align: center
    .media-table-wrapper
        position: relative
        .media-table-message
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
    pbx-select
        .select_wrap
            position: relative
            .select_item
                position: absolute
                left: 0
                right: 0
                top: 0
                bottom: 0
