pbx-storage
    pbx-table
        .tablet_header
            .tablet_item:nth-child(3)
                text-align: center
                span
                    float: none
                    display: inline-block
            .tablet_item_icon_wrap
                display: none
        .tablet_body
            .tablet_content
                .tablet_item:nth-child(3)
                    text-align: center
