.support
    flex-direction: column
    pbx-header
        pbx-button
            button.plus
                > span
                    margin-right: 8px
                    svg-icon
                        svg
                            width: 12px
                            *
                                fill: $dark_white
    .content
        width: 100%
        //.tablet
        //    width: 100%
        //    flex-direction: column
        //    .tablet_header,
        //    .tablet_body .tablet_content
        //        width: 100%
        //        display: grid
        //        grid-template-columns: repeat(5, calc(100% / 5)) !important


