pbx-sign-up-tariff-plans
    .tariff_item:nth-child(1)
        button
            margin-bottom: 32px
            background: transparent
            outline: 1px solid $dark_accent
            color: $dark_accent
