pbx-sign-up-tariff-plans
    .tariff_item:nth-child(1)
        button
            margin-bottom: 32px
            background: transparent
            outline: 1px solid $dark_accent
            color: $dark_accent

pbx-tariff-plans
    .tariff_item
        &.current_tariff
            background: $dark_tariff_plan_current_bg !important
            .tariff_item_button
                background: $dark_white_25 !important
                color: $dark_white !important