.user_wrap
    .user_profile_image
        border: none !important
    .dropdown_arrow
        margin: 0 auto !important
    .user_details_wrap
        .user_details_name
            display: inline-block
            white-space: nowrap