<div *ngIf="!loading" class="pbx_input_wrap" [@Fade]>
    <div [ngClass]="[ labelPosition !== 'top' ? 'pbx_input_item' : 'pbx_input_row', options && !editable ? 'selectWrap' : '' ]">

        <div [ngClass]="[labelPosition !== 'top' ? 'pbx_input_item_label' : 'pbx_input_row_label', checkError() ? 'error-text' : '']">
            <div class="colon">
                <span *ngIf="!checkbox" class="{{errorVisible ? 'label-focus' : ''}}" [innerHTML]="name"></span>
                <span *ngIf="checkbox" class="dfg {{errorVisible ? 'label-focus' : ''}}" (click)="checkBoxClick($event)" [innerHTML]="name"></span>
                <div class="labels-second-line {{errorVisible ? 'label-focus' : ''}}" *ngIf="filter && (filter.min || filter.max)">(<span class="{{errorVisible ? 'label-focus' : ''}}" *ngIf="filter.min">Min {{filter.minMaxText}} {{filter.min}}</span>,
                    <span class="{{errorVisible ? 'label-focus' : ''}}" *ngIf="filter.max">Max {{filter.minMaxText}} {{filter.max}}</span>)
                </div>
                <span class="{{errorVisible ? 'label-focus' : ''}} removemargin">:</span>
            </div>
            <span class="required {{errorVisible ? 'label-focus' : ''}}" *ngIf="required">*</span>
        </div>

        <div [ngClass]="[labelPosition !== 'top' ? 'pbx_input_item_input_wrap' : 'pbx_input_row_input_wrap']" #inputDiv>

            <div *ngIf="!form"
                 [ngClass]="[labelPosition !== 'top' ? 'pbx_input_item_input_wrap' : 'pbx_input_row_input_wrap', inputClass]">

                <input *ngIf="!options && !checkbox"
                       class="{{singleBorder ? '' : 'show-border'}} {{inErrorState ? 'error-border' : ''}} searching"
					   [ngClass]="[ inErrorState ? 'input-invalid' : 'input-valid' ]"
                       [style.width]="inputWidth ? inputWidth + 'px' : '100%'"
                       [ngStyle]="inputCenter && {'text-align': 'center'}"
                       [type]="type"
                       [id]="key+'_'+name"
                       placeholder="{{ placeholder.length > 0 ? placeholder : '' }}"
                       [(ngModel)]="value"
                       (keyup)="inputKeyUp($event)"
                       (focus)="setFocus()"
                       (blur)="removeFocus()"
                       (mouseenter)="mouseEnter()"
                       (mouseleave)="mouseLeave()"
                       [attr.disabled]="disabled ? '' : null"
                       (paste)="pasteEvent($event)"
                       [attr.data-focus]="inputFocus"
                       appAutofocus
                       >

                <div *ngIf="!options && !checkbox && type !== 'textarea' && resetable && value" class="clear_icon_wrap">
                    <div class="clear_icon" (click)="clearValue()">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg"></svg-icon>
                    </div>
                </div>

                <pbx-select *ngIf="options && !editable"
                            [name]="key"
                            [singleBorder]="singleBorder"
                            [options]="options"
                            [objectKey]="displayKey"
                            [selected]="value"
                            (onSelect)="selectItem($event)"
                            [errors]="inErrorState"
                            [placeholder]="placeholder"
                            (onFocus)="setFocus()"
                            (onBlur)="removeFocus()"
                            (mouseenter)="mouseEnter()"
                            (mouseleave)="mouseLeave()"
                ></pbx-select>

                <pbx-editable-select *ngIf="options && editable"
                                     [name]="key"
                                     [singleBorder]="singleBorder"
                                     [options]="options"
                                     [objectKey]="displayKey"
                                     [selected]="value"
                                     (onSelect)="selectItem($event)"
                                     [errors]="inErrorState"
                                     [placeholder]="placeholder"
                                     [searchStartWith] = "searchStartWith"
                                     (onFocus)="setFocus()"
                                     (onBlur)="removeFocus()"
                                     (mouseenter)="mouseEnter()"
                                     (mouseleave)="mouseLeave()"
                                     >
                         </pbx-editable-select>

                <pbx-checkbox *ngIf="checkbox"
                              [id]="key"
                              (onToggle)="toggleCheckbox($event)"
                              [value]="value">
                </pbx-checkbox>

                <span class="pbx-input-description {{pbxInputFocus ? 'label-focus' : ''}}" *ngIf="!checkbox && description">{{description}}</span>
                <span *ngIf="checkbox && description" class="pbx-input-description {{pbxInputFocus ? 'label-focus' : ''}}" (click)="checkBoxClick($event)">{{description}}</span>

                <div *ngIf="isErrorMessageVisible && isSwipeAnimation()"
                     [@Swipe]
                     #errorSpan
                     [ngClass]="[floatError ? (getErrorVisible() || pbxInputFocus || hoverActive ? (labelPosition !== 'top' ? 'pbx_input_error_float_down_focus' : 'pbx_input_error_float_focus') : 'pbx_input_error_float') : 'pbx_input_error']"
                     [ngStyle]="{ 'left.px': hVMessageOffset, 'top.px': vVMessageOffset }"
                >
                    {{ errorMessage }}
                </div>
                <div *ngIf="isErrorMessageVisible && !isSwipeAnimation()"
                     [@Fade]
                     #errorSpan
                     [ngClass]="[floatError ? (getErrorVisible() || pbxInputFocus || hoverActive ? (labelPosition !== 'top' ? 'pbx_input_error_float_down_focus' : 'pbx_input_error_float_focus') : 'pbx_input_error_float') : 'pbx_input_error']"
                     [ngStyle]="{ 'left.px': hVMessageOffset, 'top.px': vVMessageOffset }"
                >
                    {{ errorMessage }}
                </div>

            </div>

            <div *ngIf="form"
                 [formGroup]="object"
                 [ngClass]="['pbx_input_item_input_wrap', inputClass]">

                <input *ngIf="!options && !checkbox && type !== 'textarea'"
                       class="{{ singleBorder ? '' : 'show-border' }} {{ inErrorState ? 'error-border error-text' : '' }}"
                       [type]="type"
                       [id]="key+'_'+name"
                       [placeholder]="placeholder"
                       [title]="name"
                       [formControlName]="[key]"
                       [ngStyle]="inputCenter && {'text-align': 'center'}"
                       [attr.disabled]="disabled ? '' : null"
                       (keyup)="inputKeyUp($event)"
                       (focus)="setFocus()"
                       (blur)="removeFocus()"
                       (mouseenter)="mouseEnter()"
                       (mouseleave)="mouseLeave()"
                       >

                <pbx-checkbox *ngIf="checkbox"
                              [id]="key"
                              (onToggle)="toggleCheckbox($event)"
                              [value]="value">
                </pbx-checkbox>

                <pbx-select *ngIf="options && !editable"
                            [name]="key"
                            [singleBorder]="singleBorder"
                            [options]="options"
                            [objectKey]="displayKey"
                            [selected]="value"
                            (onSelect)="selectItem($event)"
                            [errors]="inErrorState"
                            [placeholder]="placeholder"
                            (onFocus)="setFocus()"
                            (onBlur)="removeFocus()"
                            (mouseenter)="mouseEnter()"
                            (mouseleave)="mouseLeave()"
                ></pbx-select>

                <pbx-editable-select *ngIf="options && editable"
                            [name]="key"
                            [singleBorder]="singleBorder"
                            [options]="options"
                            [objectKey]="displayKey"
                            [selected]="value"
                            (onSelect)="selectItem($event)"
                            [errors]="inErrorState"
                            [placeholder]="placeholder"
                            (onFocus)="setFocus()"
                            [searchStartWith] = "searchStartWith"
                            (onBlur)="removeFocus()"
                            (mouseenter)="mouseEnter()"
                            (mouseleave)="mouseLeave()"
                ></pbx-editable-select>

                <textarea *ngIf="type === 'textarea'"
                          class="{{ singleBorder ? '' : 'show-border' }} {{ inErrorState ? 'error-border error-text' : '' }}"
                          [id]="key"
                          [placeholder]="placeholder"
                          [title]="name"
                          [formControlName]="[key]"
                          [rows]="rows"
                          (keyup)="inputKeyUp($event)"
                          (focus)="setFocus()"
                          (blur)="removeFocus()"
                          (mouseenter)="mouseEnter()"
                          (mouseleave)="mouseLeave()"
                ></textarea>

                <span class="{{ pbxInputFocus ? 'label-focus' : '' }}" *ngIf="!checkbox && description" [ngClass]="[ descriptionClass ? descriptionClass : '' ]">{{ description }}</span>
                <span class="label {{ pbxInputFocus ? 'label-focus' : '' }}" *ngIf="checkbox && description" [ngClass]="[ descriptionClass ? descriptionClass : '' ]" (click)="checkBoxClick($event)">{{ description }}</span>

                <div *ngIf="isErrorMessageVisible && isSwipeAnimation()"
                     [@Swipe]
                     #errorSpan
                     [ngClass]="[floatError ? (getErrorVisible() || pbxInputFocus || hoverActive ? (labelPosition !== 'top' ? 'pbx_input_error_float_down_focus' : 'pbx_input_error_float_focus') : 'pbx_input_error_float') : 'pbx_input_error']"
                     [ngStyle]="{ 'left.px': hVMessageOffset, 'top.px': vVMessageOffset }"
                >
                    {{ errorMessage }}
                </div>
                <div *ngIf="isErrorMessageVisible && !isSwipeAnimation()"
                     [@Fade]
                     #errorSpan
                     [ngClass]="[floatError ? (getErrorVisible() || pbxInputFocus || hoverActive ? (labelPosition !== 'top' ? 'pbx_input_error_float_down_focus' : 'pbx_input_error_float_focus') : 'pbx_input_error_float') : 'pbx_input_error']"
                     [ngStyle]="{ 'left.px': hVMessageOffset, 'top.px': vVMessageOffset }"
                >
                    {{ errorMessage }}
                </div>
            </div>

            <div *ngFor="let action of actions; let i = index">
                <div
                        *ngIf="action.type === 'add-delete'"
                        class="input_icon_wrap">
                    <div
                            *ngIf="action.objects.length > 1"
                            class="input_icon delete"
                            (click)="actionDelete(action, index2)">
                        <div class="input_icon_minus"></div>
                    </div>
                    <div
                            *ngIf="index2 === action.objects.length - 1"
                            class="input_icon plus"
                            (click)="actionAdd(action)">
                        <svg-icon src="../../assets/icons/_middle/plus.svg"></svg-icon>
                    </div>
                </div>
            </div>
            <ng-content></ng-content>
        </div>

    </div>
</div>
