<div class="form">
    <div class="form-header">
        <div class="form-tab-wrap">
            <div *ngFor="let tab of tabs"
                 class="form-tab"
                 [class.selected]="tab.active"
                 (click)="changeTab(tab)">
                <span>{{ tab.title }}</span>
            </div>
        </div>
        <div class="form-button-wrap">
            <pbx-button *ngFor="let button of buttons"
                        [buttonType]="button.buttonType"
                        [value]="button.value"
                        (onClick)="buttonClick(button)"
                        [loading]="!button.locker.free"
                        [inactive]="button.inactive">
            </pbx-button>
        </div>
    </div>
    <div class="form-body" [ngClass]="_params.class && _params.class.enable && _params.class.object === 'formBody' ? _params.class.classes[0]: _params.class.classes[1]">
        <ng-content></ng-content>
    </div>
</div>
