<div class="calendar" [ngClass]="isSetting?'fullLength':'fullBorder'" (clickOutside)="apply()" (blur)="apply()">
  <div class="calendar-head" (click)="openCalendar()">
    <span>{{title[0] + ' ― '}}<span (click)="goEnd=true">{{title[1]}}</span></span>
    <div class="calendar-icon"><svg-icon src="../../assets/icons/schedule.svg"></svg-icon></div>
  </div>
  <div class="calendar-wrap" [ngClass]="{'left-side':isSetting}" *ngIf="showWrap" [@Swipe]>
    <div class="calendar-block" *ngFor="let i of index">
      <div class="calendar-block-month">{{month[view[i].getMonth()]+(checkbox?'':' '+view[i].getFullYear())}}</div>
      <div class="calendar-block-week" [ngClass]="{'hide':checkbox}"><div class="calendar-block-week-item" *ngFor="let item of week">{{item}}</div></div>
      <div class="calendar-block-day">
        <div class="calendar-block-day-item {{type[i][j]}}" *ngFor="let day of array[i];let j=index" (click)="clickDay(i,day,type[i][j])">{{day}}</div>
      </div>
      <div class="calendar-button" *ngIf="!i&&!isSetting"><span (click)="resetCalendar()">Clear</span></div>
      <div class="calendar-button" *ngIf="!i&&isSetting">
        <pbx-checkbox [value]="checkbox" (onToggle)="clickCheckbox()"></pbx-checkbox>
        <div>Repeat every year</div>
      </div>
      <div class="calendar-button right" *ngIf="i"><span (click)="apply()">Apply</span></div>
      <div class="calendar-block-icon" [ngClass]="(monthActive[i]?'un':'')+'blocked'" (click)="clickMonth(i)">
        <svg-icon src="../../assets/icons/dropdown_arrow_12px.svg"></svg-icon>
      </div>
    </div>
  </div>
</div>
