<pbx-modal [modalEx]="modal"
           (onConfirmEx)="modalConfirm()"
           >
</pbx-modal>

<div class="buy_phone_grid">
    <div class="buy_phone_header">
        <div class="buy_phone_header_block">

            <pbx-input name="{{ 'Select country' | translate }}:"
                       displayKey="title"
                       [options]="countries"
                       [objectView]="selectedCountry"
                       [searchStartWith]="true"
                       [editable]="true"
                       [singleBorder]="false"
                       (onSelect)="selectCountry($event)"
                       >
            </pbx-input>

            <pbx-input class="searching"
                       placeholder="{{ 'Type city prefix' | translate }}"
                       name="{{ 'Search' | translate }}:"
                       key="areaCode"
                       [object]="requestDetails"
                       [singleBorder]="false"
                       [resetable]="true"
                       (onKeyUp)="searchInit()"
                       >
            </pbx-input>
        </div>

        <div class="buy_phone_header_block">
            
            <pbx-input class="searching"
                       #myNumberOnly
                       placeholder="{{ 'Search by digits' | translate }}"
                       name="{{ 'Number' | translate }}:"
                       key="contains"
                       [object]="requestDetails"
                       [singleBorder]="false"
                       [resetable]="true"
                       (onKeyUp)="searchInit()"
                       >
            </pbx-input>

            <pbx-input name="{{ 'Match to' | translate }}:"
                       displayKey="title"
                       [options]="matches"
                       [objectView]="matches[0]"
                       [searchStartWith]="true"
                       [singleBorder]="false"
                       >
            </pbx-input>
        </div>

        <div class="buy_phone_header_options">
            <div class="buy_phone_header_options_title" translate>Number types:</div>

            <pbx-input name="{{ 'Local' | translate }}"
                       key="local"
                       [checkbox]="true"
                       [object]="requestDetails"
                       (onToggle)="getList()"
                       >
            </pbx-input>

            <pbx-input name="{{ 'Mobile' | translate }}"
                       key="mobile"
                       [checkbox]="true"
                       [object]="requestDetails"
                       (onToggle)="getList()"
                       >
            </pbx-input>

            <pbx-input name="{{ 'Toll-free' | translate }}"
                       key="tollFree"
                       [checkbox]="true"
                       [object]="requestDetails"
                       (onToggle)="getList()"
                       >
            </pbx-input>
        </div>
        <div class="buy_phone_header_refresh" (click)="getList()" translate>Refresh phone lists
            <svg-icon class="buy_phone_header_refresh_icon" src="../../assets/icons/refresh.svg"></svg-icon>
        </div>
    </div>

    <pbx-loader *ngIf="loading"></pbx-loader>
    
    <div class="buy_phone_table_contain" *ngIf="!loading && list[0].length > 0">
        <div class="buy_phone_table_title">
            <div class="buy_phone_table_item" *ngFor="let item of title">{{item}}</div>
        </div>
        <div class="buy_phone_table_title second">
            <div class="buy_phone_table_item" *ngFor="let item of title">{{item}}</div>
        </div>
    </div>
    <div class="buy_phone_table_contain scroll" *ngIf="!loading">
        <div class="buy_phone_table_body" *ngFor="let table of list">
            <div class="buy_phone_table_row" *ngFor="let item of table">
                <div class="buy_phone_table_item">+{{item.fullNumber}}</div>
                <div class="buy_phone_table_item">{{item.areaName||'Unknown'}}</div>
                <div class="buy_phone_table_item">{{item.params.tollFree ? 'Toll-Free':item.params.mobile ?
                    'Mobile':item.params.local ? 'Local':''}}
                </div>
                <div class="buy_phone_table_item">{{item.sum?'$'+item.sum:'Free'}}</div>
                <div class="buy_phone_table_item">
                    <pbx-button value="{{'Buy' | translate}}" buttonType="success" [loading]="item.loading" (onClick)="buyItem(item)"
                                [inactive]="item.inactive"></pbx-button>
                </div>
            </div>
        </div>
    </div>
    <div class="table-message" *ngIf="!loading && list[0].length === 0">
        <span class="msg" *ngIf="!requestDetails.areaCode && !requestDetails.contains" translate>No data to display</span>
        <span class="msg"
              *ngIf="requestDetails.areaCode && !requestDetails.contains" translate>Sorry, no matches were found for <span
            class="outerSpan"><span class="innerSpan">{{requestDetails.areaCode}}</span></span></span>
        <span class="msg"
              *ngIf="requestDetails.contains && !requestDetails.areaCode" translate>Sorry, no matches were found for <span
            class="outerSpan"><span class="innerSpan">{{requestDetails.contains}}</span></span></span>
        <span class="msg"
              *ngIf="requestDetails.contains && requestDetails.areaCode" translate>Sorry, no matches were found for <span
            class="outerSpan"><span class="innerSpan">{{requestDetails.areaCode}}</span></span> <span>and</span> <span
            class="outerSpan"><span class="innerSpan">{{requestDetails.contains}}</span></span></span>
    </div>
    <div class="buy_phone_pagination" *ngIf="pagination.total>1">
        <pbx-pagination [currentPage]="pagination.page"
                        [totalPages]="pagination.total"
                        (onPageChange)="onPageChange($event)"
        ></pbx-pagination>
    </div>
</div>
