<pbx-modal [modal]="modal"
           (onConfirm)="modalConfirm()"
           (onDecline)="modalDecline()">
    <div style="font-size: 16px">Do you want to buy this number?</div>
</pbx-modal>

<div class="buy_phone_grid">
    <div class="buy_phone_header">
        <div class="buy_phone_header_block">
            <div class="buy_phone_header_block_key">Select country:</div>
            <pbx-select [options]="countries"
                        [objectKey]="'title'"
                        (onSelect)="selectCountry($event)"
                        [selected]="selectedCountry">
            </pbx-select>
            <div class="buy_phone_header_block_key">Search:</div>
            <input type="text" placeholder="Type city prefix" (keyup)="searchInit()"
                   [(ngModel)]="requestDetails.areaCode">
        </div>
        <div class="buy_phone_header_block">
            <div class="buy_phone_header_block_key">Number:</div>
            <input type="text" placeholder="Search by digits" (keyup)="searchInit()"
                   [(ngModel)]="requestDetails.contains">
            <div class="buy_phone_header_block_key">Match to:</div>
            <pbx-select [options]="matches" [objectKey]="'title'" [selected]="matches[0]"></pbx-select>
        </div>
        <div class="buy_phone_header_options">
            <div class="buy_phone_header_options_title">Number types</div>
            <pbx-checkbox [value]="requestDetails.local"
                          (onToggle)="requestDetails.local = $event; getList()"></pbx-checkbox>
            <div>Local</div>
            <pbx-checkbox [value]="requestDetails.mobile"
                          (onToggle)="requestDetails.mobile = $event; getList()"></pbx-checkbox>
            <div>Mobile</div>
            <pbx-checkbox [value]="requestDetails.tollFree"
                          (onToggle)="requestDetails.tollFree = $event; getList()"></pbx-checkbox>
            <div>Toll-free</div>
        </div>
        <div class="buy_phone_header_refresh" (click)="getList()">Refresh phone lists
            <svg-icon class="buy_phone_header_refresh_icon" src="../../assets/icons/refresh.svg"></svg-icon>
        </div>
    </div>
    <!--<div class="buy_phone_body">-->
    <pbx-loader *ngIf="loading"></pbx-loader>
    <!--<div class="phone_table" *ngIf="false">
        <div class="table" *ngFor="let table of list">
            <div class="table_header">
                <div class="table_row">
                    <div class="table_column">Number</div>
                    <div class="table_column">Location</div>
                    <div class="table_column">Monthly</div>
                    <div class="table_column">Buy</div>
                </div>
            </div>
            <div class="table_body">
                <div class="table_row" *ngFor="let item of table">
                    <div class="table_column">{{item['fullNumber']}}</div>
                    <div class="table_column">{{item['areaName'] || 'Unknown'}}</div>
                    <div class="table_column">${{item['sum'] || 'Free'}}</div>
                    <div class="table_column">
                        <pbx-button value="Buy" buttonType="success" [loading]="item.loading" (onClick)="buyItem(item)"
                                    [inactive]="item.inactive"></pbx-button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="buy_phone_table" *ngIf="!loading">
        <div class="buy_phone_table_contain">
            <div class="buy_phone_table_title">
                <div class="buy_phone_table_item" *ngFor="let item of title">{{item}}</div>
            </div>
            <div class="buy_phone_table_title">
                <div class="buy_phone_table_item" *ngFor="let item of title">{{item}}</div>
            </div>
        </div>
        <div class="buy_phone_table_contain">
            <div class="buy_phone_table_body" *ngFor="let table of list">
                <div class="buy_phone_table_row" *ngFor="let item of table">
                    <div class="buy_phone_table_item">{{item.fullNumber}}</div>
                    <div class="buy_phone_table_item">{{item.areaName||'Unknown'}}</div>
                    <div class="buy_phone_table_item">{{item.sum?'$'+item.sum:'Free'}}</div>
                    <div class="buy_phone_table_item">
                        <pbx-button value="Buy" buttonType="success" [loading]="item.loading" (onClick)="buyItem(item)"
                                    [inactive]="item.inactive"></pbx-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->
    <div class="buy_phone_pagination" *ngIf="pagination.total>1">
        <pbx-pagination [currentPage]="pagination.page"
                        [totalPages]="pagination.total"
                        (onPageChange)="onPageChange($event)"
        ></pbx-pagination>
    </div>
</div>
