@import "../../vars"
// Global variables import

.details
    &-container
        display: flex
        flex-flow: column
        height: 100%
        color: $font-color
    &-wrapper
        display: flex
        flex-flow: column
        align-items: center
        width: 100%
        height: 100%
        justify-content: space-between
    &-header
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 100%
        flex: 0 0 auto
        &__wrap
            display: flex
            flex-flow: row
            justify-content: space-between
            height: 50px
            width: 100%
            overflow-y: auto
            //background: #2C2B27
            &-filters
                display: flex
                flex-flow: row
                align-items: center
                .filters
                    display: flex
                    flex-flow: row
                    justify-content: space-around
                    align-items: center
                    border-right: 1px solid rgba($dark_primary, .2)
                    height: 70%
                    &:last-child
                        border-right: unset
            &-daterange-wrapper

                display: flex
                flex-flow: row
                align-items: center
                justify-content: center
                width: auto
                padding: 0 16px
                font-size: rem(16)

.details-button
    cursor: pointer
    height: 100%
    display: flex
    flex-flow: row
    justify-content: center
    align-items: center
    border-radius: 30px
    width: auto
    padding: 0 24px
    margin: 0 5px
    text-transform: capitalize

.tag-button
    height: 35px
    width: 128px
    text-transform: lowercase

.outgoing
    background: #EF77B2

.incoming
    background: #C882DD

.record
    background: $dark_success

.no-answer
    background: #8d539e

.missed
    background: #F88181

.sms
    background: rgb(106, 108, 154)

.voicemail
    background: #5983BE

.uppercase
    text-transform: uppercase

.inactive-button
    background: transparent
    border: 1px solid rgba($dark_primary, .4)
    color: rgba($dark_primary, .4)

.details-icons
    width: 20px
    height: auto
    fill: $dark_accent
    margin-left: 10px
    cursor: pointer

.sorting
    cursor: pointer

.hide
    display: none

.payment-col
    color: $dark_success

.details-wrapper
    position: relative

vg-player
    display: none
    height: 21px
    /* height: 0px; */
    position: absolute
    top: -22px

vg-play-pause,
vg-playback-button,
vg-time-display,
vg-scrub-bar,
vg-mute,
vg-volume,
vg-controls
    height: 21px
    font-size: 10px
    line-height: 21px

vg-volume .volumeKnob
    width: 10px
    height: 10px

vg-volume .volumeBackground,
vg-volume .volumeValue
    height: 3px
