@import "../../vars" // Global variables import
@import "./_vars" // Local variables import

.details
  &_wrap
    display: grid
    grid-template-rows: rem(40) 1fr rem(40)
    grid-gap: rem(24)
    flex: 1
  &_header
    flex-direction: row
    &_filter
      transition: unset
      &:first-child:not(:last-child)
        padding-right: rem(16)
      &:nth-child(2)
        padding-left: rem(16)
      &_button,&_button_inactive
        transition: unset
        border-radius: 100vmax
        padding: 0 rem(32)
        border: rem(1) solid
        text-transform: capitalize
        cursor: pointer
        &:not(:last-child)
          margin-right: rem(8)
      &_button
        border-color: transparent
        &_inactive
          opacity: .2
    &_date
      padding: 0 rem(16)
      margin-left: auto
      align-items: center
  &_table
    flex: 1
    flex-direction: column
    &_body
      flex-direction: column
      overflow-y: auto
      display: block
      max-height: calc(100vh - 296px)
    &_head, &_row
      border-bottom: rem(1) solid
      padding: 0 rem(16)
      &_icon
        width: rem(16)
        height: rem(16)
        margin-left: rem(16)
    &_row
      cursor: pointer
      *, /deep/ *
        cursor: pointer
      &.details_hide
        display: none
    &_item
      height: rem(40)
      flex: 1
      align-items: center
      align-self: center
      &_tag
        text-transform: capitalize
        border-radius: 100vmax
        width: rem(128)
        height: rem(32)
        justify-content: center
        align-items: center
      &.From:hover
        cursor: pointer
        text-decoration: underline
        /deep/ *
          cursor: pointer
      &.details_price:before
        content: '$'
      &.details_tag
        display: flex
  &_pagination
    justify-self: center
    &_button
      height: 100%
      padding: 0 rem(16)
      align-items: center
      border-radius: rem(2)
      margin: 0 rem(8)
      cursor: pointer
    &_page
      margin: 0 rem(16)
      align-items: center

// Themes styles
\:host-context(.dark_theme)
  .details
    &_header
      &_filter
        &:nth-child(2)
          border-left-color: $dark_overlay
        &_button
          &.outgoing
            background: $outgoing
          &.incoming
            background: $incoming
          &.payment
            background: $payment
          &.missed
            background: $missed
          &.record
            background: $record
          &.voicemail
            background: $voicemail
          &_inactive
            border-color: $dark_primary
      &_date
        background: $dark_overlay
    &_table
      &_head, &_row
        border-bottom-color: $dark_overlay
        &_icon
          fill: $dark_accent
      &_row
        &:hover
          background: rgba($dark_primary,.05)
        &.details
          &_outgoing
            .details_table_item_tag
              background: $outgoing
          &_incoming
            .details_table_item_tag
              background: $incoming
          &_payment
            color: $dark_success
            .details_table_item_tag
              background: $payment
          &_missed
            .details_table_item_tag
              background: $missed
          &_record
            .details_table_item_tag
              background: $record
          &_voicemail
            .details_table_item_tag
              background: $voicemail
      &_item_tag
        color: $dark_primary
    &_pagination_button
      background: $dark_pagination
      &:not(.inactive):hover
        background: lighten($dark_pagination,15%)
