<div class="details-container">
  <div class="details-wrapper">

    <div class="details-header">

      <!-- filter tags -->
      <div class="details-header__wrap">
        <div class="details-header__wrap-filters">
          <div class="filters">
            <button
              *ngFor="let tag of grid.filter.selectedTags"
              class="{{ tag.title }} details-button"
              [ngClass]="{'uppercase' : tag.key === 'sms'}"
              (click)="grid.filter.toggleTag(tag.key)">
              {{ tag.title }}
            </button>
          </div>
          <div class="filters">
            <button
              *ngFor="let tag of grid.filter.unselectedTags"
              class="inactive-button details-button"
              [ngClass]="{'uppercase' : tag.key === 'sms'}"
              (click)="grid.filter.toggleTag(tag.key)">
              {{ tag.title }}
            </button>
          </div>
        </div>
        <div class="details-header__wrap-daterange-wrapper">
          <div class="details-header__daterange">26/06/2017 - 30/06/2017</div>
        </div>
      </div>

      <!-- grid header -->
      <div class="details-table-row titles">
        <div *ngFor="let column of grid.columns" (click)="sort(column)" class="details-table-cols">
          {{ column.title }}
          <svg-icon src="../../assets/icons/sorting_{{ column.iconSuffix }}_16px.svg" class="details-icons" *ngIf="column.sorted"></svg-icon>
        </div>
        <div class="details-table-cols">
        </div>
      </div>

    </div>

    <div class="details-table-wrapper" *ngIf="!detailsDataLoading">
      <div
        #row
        class="details-table-row"
        *ngFor="let detail of details"
        [ngClass]="{ 'hover': detail.hover }"
        (mouseenter)="rowHoverStart(details.indexOf(detail))"
        (mouseleave)="rowHoverEnd()">
        <div class="details-table-cols" [ngClass]="{'payment-col': detail.statusName === 'payment'}">{{ detail.source }}</div>
        <div class="details-table-cols">{{ detail.destination }}</div>
        <div class="details-table-cols">{{ detail.created }}</div>
        <div class="details-table-cols">{{ detail.duration | tp }}</div>
        <div class="details-table-cols tags">
          <button class="{{detail.tag}} details-button tag-button" (click)="startPlayRecord(details.indexOf(detail))">
            {{ detail.statusName }}
          </button>
        </div>
        <div class="details-table-cols price" [ngClass]="{'payment-col': detail.statusName === 'payment'}">${{ detail.price }}</div>
        <div class="details-table-cols player">
          <div class="player-wrap">
            <div class="player-container"
                 *ngIf="detail.playable"
                 [@PlayerAnimation]="detail.playerAnimationState"
                 (@PlayerAnimation.start)="playerAnimationStart()"
                 (@PlayerAnimation.done)="playerAnimationEnd()">
              <div class="player-arrow" (click)="playerOpenClose(details.indexOf(detail))">
                <svg-icon src="../../assets/icons/dropdown_arrow_12px.svg" class="player-arrow-icon" [ngClass]="{ 'collapse': detail.playerContentShow }"></svg-icon>
              </div>
              <div class="player-time" *ngIf="detail.playerContentShow" [@Fade]>{{ detail.accountFile.duration | tp }}</div>
              <div class="player-wave" *ngIf="detail.playerContentShow" [@Fade]>
                <span class="small active"></span>
                <span class="tall active"></span>
                <span class="small active"></span>
                <span class="small active"></span>
                <span class="tall active"></span>
                <span class="small"></span>
                <span class="small"></span>
                <span class="tall"></span>
                <span class="small"></span>
                <span class="small"></span>
                <span class="tall"></span>
                <span class="small"></span>
                <span class="small"></span>
                <span class="tall"></span>
                <span class="small"></span>
                <span class="small"></span>
                <span class="tall"></span>
                <span class="small"></span>
                <span class="small"></span>
                <span class="tall"></span>
                <span class="small"></span>
                <span class="small"></span>
                <span class="tall"></span>
                <span class="small"></span>
              </div>
              <div class="player-oreo"></div>
            </div>
          </div>
          <div class="player--play-pause" (click)="togglePlayerPlay(detail)" *ngIf="detail.playable && !detail.mediaLoading">
            <svg-icon src="../../assets/icons/play_24px.svg" class="details-table-cols-button" *ngIf="!detail.playing"></svg-icon>
            <svg-icon src="../../assets/icons/pause_24px.svg" class="details-table-cols-button" *ngIf="detail.playing"></svg-icon>
          </div>
          <div class="player--loader" *ngIf="detail.playable && detail.mediaLoading">
            <img src="../../assets/icons/player_loader.svg" alt="loading">
          </div>
        </div>
        <div class="details-table-cols">
          <div class="details-table-cols-dropdown" (click)="dropOpen($event, details.indexOf(detail))">
            <span></span>
            <span></span>
            <span></span>
            <ul class="dd-menu" *ngIf="detail.ddShow" [ngClass]="{'top' : this.dropDirection === 'top', 'bottom' : this.dropDirection === 'bottom'}">
              <li class="dd-menu-button" *ngIf="detail.playable">Download file</li>
              <li class="dd-menu-button">{{ contactActionName }}</li>
              <li class="dd-menu-button ban">Block user</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <vg-player (onPlayerReady)="onPlayerReady($event)">
      <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>
  
          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
  
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
  
          <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
  
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>
      </vg-controls>
  
      <audio #media
        [vgMedia]="media"
        [vgHls]="currentMediaStream"
        (onGetBitrates)="hlsBitrates = $event"
        id="recordAudio"
        type="audio/mp3">
      </audio>
    </vg-player>

    <pbx-loader *ngIf="detailsDataLoading"></pbx-loader>

    <div class="details-pagination-wrapper">
      <div class="details-pagination">
        <div class="details-pagination-controls">
          <button (click)="grid.moveToFirst()" class="inactive-button" [ngClass]="{'active-button' : grid.canPrev()}">&#171;</button>
          <button (click)="grid.movePrevious()" class="inactive-button prev-next" [ngClass]="{'active-button' : grid.canPrev()}">Prev</button>
        </div>
        <div class="details-pagination-pages">{{ grid.page }} of {{ grid.pageCount }}</div>
        <div class="details-pagination-controls">
          <button (click)="grid.moveNext()" class="inactive-button prev-next" [ngClass]="{'active-button' : grid.canNext()}">Next</button>
          <button (click)="grid.moveToLast()" class="inactive-button" [ngClass]="{'active-button' : grid.canNext()}">&#187;</button>
        </div>
      </div>
    </div>
  </div>
</div>
