<div class="details-container">
    <div class="details-wrapper">

        <div class="details-header">

            <!-- filter tags -->
            <div class="details-header__wrap">
                <div class="details-header__wrap-filters">
                    <div class="filters">
                        <button
                                *ngFor="let tag of filters.selectedTags"
                                class="{{ tag.title }} details-button"
                                [ngClass]="{'uppercase' : tag.key === 'sms'}"
                                (click)="filters.toggleTag(tag.key)">
                            {{ tag.title }}
                        </button>
                    </div>
                    <div class="filters">
                        <button
                                *ngFor="let tag of filters.unselectedTags"
                                class="inactive-button details-button"
                                [ngClass]="{'uppercase' : tag.key === 'sms'}"
                                (click)="filters.toggleTag(tag.key)">
                            {{ tag.title }}
                        </button>
                    </div>
                </div>
                <div class="details-header__wrap-daterange-wrapper">
                    <div class="details-header__daterange">{{getInterval()}}</div>
                </div>
            </div>

        </div>

        <pbx-table
                *ngIf="!loading"
                style="width: 100%;"
                [tableInfoEx]="table"
                [tableItems]="pageInfo.items"
                [editable]="false"
                [deletable]="false"
                (onDropDown)="dropDown($event)"
                (onDropDownClick)="dropDownClick($event)"
                (onPlayerClick)="playerClick($event)"
                (onPageChangeEx)="getItems()"
                (onSort)="getItems()"
        ></pbx-table>

        <vg-player (onPlayerReady)="onPlayerReady($event)">
            <vg-controls>
                <vg-play-pause></vg-play-pause>
                <vg-playback-button></vg-playback-button>

                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>

                <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                <vg-mute></vg-mute>
                <vg-volume></vg-volume>
            </vg-controls>

            <audio #media
                   [vgMedia]="media"
                   [vgHls]="currentMediaStream"
                   (onGetBitrates)="hlsBitrates = $event"
                   id="recordAudio"
                   type="audio/mp3">
            </audio>
        </vg-player>

        <pbx-loader *ngIf="loading"></pbx-loader>

        <pbx-pagination [pageInfo]="pageInfo" (onPageChangeEx)="getItems()"></pbx-pagination>

    </div>
</div>
