@import "../../../../vars"
// Global variables import

.call_queues_members_add
  flex-direction: column
  flex: 1
  &_header
    flex-direction: row
    align-items: center
    padding: rem(24)
    background: $dark_overlay
    // margin-bottom: rem(24)
  &_filter
    align-items: center
    &:not(:last-child)
      margin-right: rem(32)
    pbx-select, input
      width: rem(240)
      height: rem(40)
      margin-left: rem(16)
    input
      border: rem(1) solid rgba($dark_primary,.1)
      &:focus
        border-color: $dark_accent
  pbx-table
    flex: 1