<div class="call_queues_members_add">
    <div class="call_queues_members_add_header">
        <pbx-header
            [buttons]="[]"
            [filters]="filters"
            (onReload)="reloadFilter($event)"
            >
        </pbx-header>
    </div>
    <pbx-loader *ngIf="loading"></pbx-loader>
    <pbx-table *ngIf="!loading"
        [tableInfo]="table"
        [tableItems]="members"
        [allSelected]="allSelected"
        [multiple]="true"
        [deletable]="false"
        [selected]="service.userView.members"
        (onSelect)="selectMember($event)"
        (onDelete)="selectMember($event)"
        (onToggleAll)="toggleAll($event)"
        >
    </pbx-table>
    <div class="nothing-found-class" *ngIf="nothingFound && !loading">{{ emptyResultMessage }}</div>
</div>
