@import "../../../vars"
// Global variables import

.call_queues_create
  &_wrap
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: rem(48) 1fr
    margin-bottom: rem(-24)
    padding-bottom: rem(24)
  &_header
    display: grid
    grid-template-columns: auto 1fr auto
  &_tabs
    flex-direction: row
  &_tab a
    padding: 0 rem(16)
    align-items: center
  &_buttons
    flex-direction: row
    grid-column: 3/4
  &_button
    margin: 0 0 rem(8) rem(8)
    padding: 0 rem(16)
    cursor: pointer

// Themes styles
\:host-context(.dark_theme)
  .active
    color: $dark_accent
    background: $dark_pagination_inactive
  .cancel
    background: $dark_pagination_inactive
  .save
    background: $dark_success
  .back
    background: $dark_pagination_inactive
