<pbx-loader *ngIf="loading"></pbx-loader>
<div *ngIf="!loading" class="call_queues_create_wrap" [@Fade]>
    <div class="call_queues_create_header">
        <div class="call_queues_create_tab_wrap">
            <a class="call_queues_create_tab" routerLink="general" routerLinkActive="active"
               [skipLocationChange]="true">General</a>
            <a class="call_queues_create_tab" *ngIf="service.item.sipId"
               routerLink="members" routerLinkActive="active" [skipLocationChange]="true"
               [ngClass]="{'invalid': service.errors && service.errors.queueMembers}">Members</a>
            <div class="call_queues_create_tab blocked invalid" *ngIf="!service.item.sipId"
                 [ngClass]="{'invalid': service.errors && service.errors.queueMembers}">Members</div>
        </div>
        <div class="call_queues_create_buttons">
            <pbx-button *ngIf="!service.userView.isCurCompMembersAdd"
                        buttonType="cancel" value="Cancel" (onClick)="cancel()"></pbx-button>
            <pbx-button *ngIf="!service.userView.isCurCompMembersAdd"
                        buttonType="success" value="Save" (onClick)="save()" [loading]="saving"></pbx-button>
            <pbx-button *ngIf="service.userView.isCurCompMembersAdd"
                        buttonType="cancel" value="Back" (onClick)="back()"></pbx-button>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
