vg-player
  /* height: 21px */
  height: 0px
  position: absolute
  top: -23px

vg-play-pause,
vg-playback-button,
vg-time-display,
vg-scrub-bar,
vg-mute,
vg-volume,
vg-controls
  height: 21px
  font-size: 10px
  line-height: 21px

vg-volume .volumeKnob
  width: 10px
  height: 10px

vg-volume .volumeBackground,
vg-volume .volumeValue
  height: 3px
