@import "../../vars"
// Global variables import
.invoices
  &-container
    display: flex
    flex-flow: column
    width: 100%
    height: 100%
  &-wrapper
    display: flex
    flex-flow: column
    justify-content: stretch
    align-items: center
    height: 100%
    width: 100%
  &-row
    display: flex
    flex-flow: row
    justify-content: space-between
    height: 7%
    width: 100%
    border-bottom: 1px solid $dark_overlay
    padding-left: 20px
    &:hover
      background: $dark_overlay
  &-col
    width: 10%
    display: flex
    flex-flow: row
    justify-content: flex-start
    align-items: center
    font-size: rem(17)
    .pay-button,.pdf-button
      background: $dark_accent
      width: 90%
      height: 90%
      border-radius: 2px
      justify-content: center
      align-items: center
      cursor: pointer
    .pdf-button
      background: $dark_success

.date-range
  &-row
    justify-content: flex-end
    height: 7%
    border-bottom: unset
    &:hover
      background: unset
  &-col
    background: $dark_overlay
    width: 15%
    font-size: rem(18)
    flex-flow: column
    justify-content: center
    align-items: center

.pagination
  border-bottom: unset
  justify-content: space-between
  align-items: flex-end
  width: 25%
  height: 10%
  padding-left: 0
  &:hover
    background: unset
  &-control
    display: flex
    flex-flow: column
    justify-content: center
    align-items: center
    background: $dark_overlay
    height: 90%
    width: 55%
    cursor: pointer
    border-radius: 2px
    &-wrapper
      justify-content: space-between
      width: 35%
      height: 85%
  &-next
    background: $dark_pagination
  &-arrows
    width: 35%
  &-page-number
    height: 85%
    width: unset

.sort-icon
  cursor: pointer
  width: 15px
  margin-left: 10px
  height: auto
  fill: $dark_accent

.transaction
  color: $dark_accent

.search-icon
  cursor: pointer
  width: 20px
  height: auto
  fill: $dark_primary

.header:hover
  background: unset

.button-col
  width: 5%
  justify-content: center
  align-items: center

.search-col
  width: 3%
  cursor: pointer
.sort
  cursor: pointer
.waiting-payment
  color: $dark_error

.invoices
  &_wrap
    display: grid
    grid-template-rows: rem(40) 1fr rem(40)
    grid-gap: rem(24)
    flex: 1
  &_date
    &_wrap
      padding: 0 rem(16)
      background: $dark_overlay
      margin-left: auto
      align-items: center
  &_table
    flex: 1
    flex-direction: column
    &_body
      flex-direction: column
      overflow-y: auto
      display: block
      max-height: calc(100vh - 296px)
    &_head, &_row
      border-bottom: rem(1) solid $dark_overlay
      padding: 0 rem(16)
      &_icon
        width: rem(16)
        height: rem(16)
        fill: $dark_accent
        margin-left: rem(16)
    &_row
      cursor: pointer
      *, /deep/ *
        cursor: pointer
      &:hover
        background: rgba($dark_primary,.05)
    &_item
      height: rem(40)
      flex: 1
      flex-direction: row
      align-items: center
      &.wrapper
        justify-content: space-evenly
      &.Transaction.date:hover
        cursor: pointer
        text-decoration: underline
        /deep/ *
          cursor: pointer
      &.amount:before, &.amount_vat:before
        content: '$ '
      &.waiting.payment
        color: $dark_error
    &_button
      padding: rem(8) rem(16)
      border-radius: rem(2)
      &.pdf
        background: $dark_success
        &:hover
          background: lighten($dark_success,15%)
      &.pay
        background: $dark_accent
        &:hover
          background: lighten($dark_accent,15%)
    &_icon
      width: rem(16)
      height: rem(16)
      fill: $dark_primary

  &_pagination
    justify-self: center
    &_button
      height: 100%
      padding: 0 rem(16)
      align-items: center
      background: $dark_pagination
      border-radius: rem(2)
      margin: 0 rem(8)
      cursor: pointer
      &:not(.inactive):hover
        background: lighten($dark_pagination,15%)
    &_page
      margin: 0 rem(16)
      align-items: center
