@import "../../vars"
// Global variables import
//.invoices
  &-container
    display: flex
    flex-flow: column
    width: 100%
    height: 100%
  &-wrapper
    display: flex
    flex-flow: column
    justify-content: stretch
    align-items: center
    height: 100%
    width: 100%
  &-row
    display: flex
    flex-flow: row
    justify-content: space-between
    height: 7%
    width: 100%
    border-bottom: 1px solid $dark_overlay
    padding-left: 20px
    &:hover
      background: $dark_overlay
  &-col
    width: 10%
    display: flex
    flex-flow: row
    justify-content: flex-start
    align-items: center
    font-size: rem(17)
    .pay-button,.pdf-button
      background: $dark_accent
      width: 90%
      height: 90%
      border-radius: 2px
      justify-content: center
      align-items: center
      cursor: pointer
    .pdf-button
      background: $dark_success

//.date-range
  &-row
    justify-content: flex-end
    height: 7%
    border-bottom: unset
    &:hover
      background: unset
  &-col
    background: $dark_overlay
    width: 15%
    font-size: rem(18)
    flex-flow: column
    justify-content: center
    align-items: center

//.pagination
  border-bottom: unset
  justify-content: space-between
  align-items: flex-end
  width: 25%
  height: 10%
  padding-left: 0
  &:hover
    background: unset
  &-control
    display: flex
    flex-flow: column
    justify-content: center
    align-items: center
    background: $dark_overlay
    height: 90%
    width: 55%
    cursor: pointer
    border-radius: 2px
    &-wrapper
      justify-content: space-between
      width: 35%
      height: 85%
  &-next
    background: $dark_pagination
  &-arrows
    width: 35%
  &-page-number
    height: 85%
    width: unset

//.sort-icon
  cursor: pointer
  width: 15px
  margin-left: 10px
  height: auto
  fill: $dark_accent

//.transaction
  color: $dark_accent

//.search-icon
  cursor: pointer
  width: 20px
  height: auto
  fill: $dark_primary

//.header:hover
  background: unset

//.button-col
  width: 5%
  justify-content: center
  align-items: center

//.search-col
  width: 3%
  cursor: pointer
//.sort
  cursor: pointer
//.waiting-payment
  color: $dark_error

.table
    flex: 1

.invoices
    display: grid
    grid-template-rows: auto 1fr
    grid-gap: rem(24)
    flex: 1
    color: $font-color
    &_header
        &_date_wrap
            padding: rem(16)
            margin-left: auto
            background: $dark_overlay
    &_table
        flex-direction: column
        flex: 1
        display: block
        overflow-y: auto
        &_row
            flex-direction: row
            height: rem(40)
            border-bottom: rem(1) solid rgba($dark_primary, .1)
            align-items: center
            &:not(:first-child)
                &:hover
                    background: rgba($dark_primary, 0.05)
                /deep/ .invoices_table_item_icon_wrap
                    opacity: .33
                    cursor: pointer
                    /deep/ *
                        cursor: pointer
                    &:hover
                        opacity: 1
        &_item
            padding: 0 rem(16)
            flex-direction: row
            flex: 1
            display: flow-root
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
            &.red
                color: $dark_error
            &.fixed
                min-width: rem(128)
                max-width: rem(128)
                &:last-child
                    min-width: rem(168)
                    max-width: rem(168)
            > span
                float: left
                height: rem(16)
                align-items: center
                &.sort
                    cursor: pointer
                    /deep/ *
                        cursor: pointer
                    &:hover
                        color: $dark_accent
            pbx-button
                display: unset
                width: unset
                float: left
                color: $dark_primary
                &:first-child
                    margin-right: rem(8)
                /deep/ button
                    height: unset
                    min-width: unset
                    padding: rem(8)
            &_wrap
                flex-direction: row
                align-items: center
                justify-content: flex-end
            &_icon
                flex: 1
                &.sort /deep/ .st1
                    fill: $dark_accent
                &.search /deep/ path
                    fill: $dark_primary
                &_wrap
                    width: rem(32)
                    padding-left: rem(16)
