<pbx-list style="width: 100%;"
          [(pageInfo)]="pageInfo"
          [tableInfo]="table"
          [editable]="false"
          [deletable]="false"
          calendarDateKey="created"
          key="invoices"
          name="Invoices"
          itemName="Invoice"
          (onLoad)="load()"
          (onCreate)="create()"
          (onSelect)="select($event)"
          [service]="service">
</pbx-list>

<div class="invoice_view">

    <div class="inv_header">
        <pbx-button value="Cancel" buttonType="cancel"></pbx-button>
        <pbx-button value="Download" buttonType="accent"></pbx-button>
        <pbx-button value="Pay" buttonType="success"></pbx-button>
    </div> <!-- inv_header -->

    <div class="inv_body">

        <div class="invoice_title">
            <div class="number">INVOICE #TC00001729</div>
            <div class="date">01/07/2017</div>
            <div class="time">14:47:25</div>
        </div> <!-- invoice_title -->

        <div class="table">
            <div class="header">
                <div class="item">Phone number</div>
                <div class="item">Tariff plan</div>
                <div class="item">Services</div>
                <div class="item">Description</div>
                <div class="item">Price</div>
            </div> <!-- header -->
            <div class="body">
                <div class="line">
                <div class="item">+7 850 650 00 00</div>
                <div class="item">Solo</div>
                <div class="item services">
                    <span>Call Records</span>
                    <span>Call Rules</span>
                    <span>IVR</span>
                </div> <!-- item -->
                <div class="item"></div>
                <div class="item">700 ₽</div>
            </div> <!-- line -->
                <div class="line">
                    <div class="item">+7 850 650 00 00</div>
                    <div class="item">Solo</div>
                    <div class="item services">
                        <span>Call Records</span>
                        <span>Call Rules</span>
                        <span>IVR</span>
                    </div> <!-- item -->
                    <div class="item"></div>
                    <div class="item">700 ₽</div>
                </div> <!-- line -->
                <div class="line">
                    <div class="item">+7 850 650 00 00</div>
                    <div class="item">Solo</div>
                    <div class="item services">
                        <span>Call Records</span>
                        <span>Call Rules</span>
                        <span>IVR</span>
                    </div> <!-- item -->
                    <div class="item"></div>
                    <div class="item">700 ₽</div>
                </div> <!-- line -->
                <div class="line">
                    <div class="item">+7 850 650 00 00</div>
                    <div class="item">Solo</div>
                    <div class="item services">
                        <span>Call Records</span>
                        <span>Call Rules</span>
                        <span>IVR</span>
                    </div> <!-- item -->
                    <div class="item"></div>
                    <div class="item">700 ₽</div>
                </div> <!-- line -->
                <div class="line">
                    <div class="item">+7 850 650 00 00</div>
                    <div class="item">Solo</div>
                    <div class="item services">
                        <span>Call Records</span>
                        <span>Call Rules</span>
                        <span>IVR</span>
                    </div> <!-- item -->
                    <div class="item"></div>
                    <div class="item">700 ₽</div>
                </div> <!-- line -->
                <div class="line">
                    <div class="item">+7 850 650 00 00</div>
                    <div class="item">Solo</div>
                    <div class="item services">
                        <span>Call Records</span>
                        <span>Call Rules</span>
                        <span>IVR</span>
                    </div> <!-- item -->
                    <div class="item"></div>
                    <div class="item">700 ₽</div>
                </div> <!-- line -->
                <div class="line">
                    <div class="item">+7 850 650 00 00</div>
                    <div class="item">Solo</div>
                    <div class="item services">
                        <span>Call Records</span>
                        <span>Call Rules</span>
                        <span>IVR</span>
                    </div> <!-- item -->
                    <div class="item"></div>
                    <div class="item">700 ₽</div>
                </div> <!-- line -->
                <div class="line">
                    <div class="item">+7 850 650 00 00</div>
                    <div class="item">Solo</div>
                    <div class="item services">
                        <span>Call Records</span>
                        <span>Call Rules</span>
                        <span>IVR</span>
                    </div> <!-- item -->
                    <div class="item"></div>
                    <div class="item">700 ₽</div>
                </div> <!-- line -->
                <div class="line">
                    <div class="item">+7 850 650 00 00</div>
                    <div class="item">Solo</div>
                    <div class="item services">
                        <span>Call Records</span>
                        <span>Call Rules</span>
                        <span>IVR</span>
                    </div> <!-- item -->
                    <div class="item"></div>
                    <div class="item">700 ₽</div>
                </div> <!-- line -->
                <div class="line">
                    <div class="item">+7 850 650 00 00</div>
                    <div class="item">Solo</div>
                    <div class="item services">
                        <span>Call Records</span>
                        <span>Call Rules</span>
                        <span>IVR</span>
                    </div> <!-- item -->
                    <div class="item"></div>
                    <div class="item">700 ₽</div>
                </div> <!-- line -->
                <div class="line">
                    <div class="item">+7 850 650 00 00</div>
                    <div class="item">Solo</div>
                    <div class="item services">
                        <span>Call Records</span>
                        <span>Call Rules</span>
                        <span>IVR</span>
                    </div> <!-- item -->
                    <div class="item"></div>
                    <div class="item">700 ₽</div>
                </div> <!-- line -->
                <div class="line">
                    <div class="item">+7 850 650 00 00</div>
                    <div class="item">Solo</div>
                    <div class="item services">
                        <span>Call Records</span>
                        <span>Call Rules</span>
                        <span>IVR</span>
                    </div> <!-- item -->
                    <div class="item"></div>
                    <div class="item">700 ₽</div>
                </div> <!-- line -->
                <div class="line">
                    <div class="item">+7 850 650 00 00</div>
                    <div class="item">Solo</div>
                    <div class="item services">
                        <span>Call Records</span>
                        <span>Call Rules</span>
                        <span>IVR</span>
                    </div> <!-- item -->
                    <div class="item"></div>
                    <div class="item">700 ₽</div>
                </div> <!-- line -->
                <div class="line">
                    <div class="item">+7 850 650 00 00</div>
                    <div class="item">Solo</div>
                    <div class="item services">
                        <span>Call Records</span>
                        <span>Call Rules</span>
                        <span>IVR</span>
                    </div> <!-- item -->
                    <div class="item"></div>
                    <div class="item">700 ₽</div>
                </div> <!-- line -->
                <div class="line">
                    <div class="item">+7 850 650 00 00</div>
                    <div class="item">Solo</div>
                    <div class="item services">
                        <span>Call Records</span>
                        <span>Call Rules</span>
                        <span>IVR</span>
                    </div> <!-- item -->
                    <div class="item"></div>
                    <div class="item">700 ₽</div>
                </div> <!-- line -->
                <div class="line">
                    <div class="item">+7 850 650 00 00</div>
                    <div class="item">Solo</div>
                    <div class="item services">
                        <span>Call Records</span>
                        <span>Call Rules</span>
                        <span>IVR</span>
                    </div> <!-- item -->
                    <div class="item"></div>
                    <div class="item">700 ₽</div>
                </div> <!-- line -->
                <div class="line">
                    <div class="item">+7 850 650 00 00</div>
                    <div class="item">Solo</div>
                    <div class="item services">
                        <span>Call Records</span>
                        <span>Call Rules</span>
                        <span>IVR</span>
                    </div> <!-- item -->
                    <div class="item"></div>
                    <div class="item">700 ₽</div>
                </div> <!-- line -->
                <div class="line">
                    <div class="item">+7 850 650 00 00</div>
                    <div class="item">Solo</div>
                    <div class="item services">
                        <span>Call Records</span>
                        <span>Call Rules</span>
                        <span>IVR</span>
                    </div> <!-- item -->
                    <div class="item"></div>
                    <div class="item">700 ₽</div>
                </div> <!-- line -->
            </div> <!-- body -->
        </div> <!-- table -->

    </div> <!-- inv_body -->

    <div class="inv_footer">
        <div class="info">
            <div class="item">
                <div class="key">Subtotal:</div>
                <div class="val">2 100.00 ₽</div>
            </div> <!-- item -->
            <div class="item">
                <div class="key">VAT(18%):</div>
                <div class="val">378.00 ₽</div>
            </div> <!-- item -->
            <div class="item">
                <div class="key">Total VAT:</div>
                <div class="val">2 478.00 ₽</div>
            </div> <!-- item -->
        </div> <!-- info -->
    </div> <!-- inv_footer -->

</div> <!-- invoice_view -->