
<div class="invoices_wrap">
  <div class="invoices_date_wrap">
    <div class="invoices_date">01/01/2017 - 30/03/2017</div>
  </div>
  <div class="invoices_table">
    <!--<pbx-table [tableInfo]="tableInfo" [tableItems]="invoices"></pbx-table>-->
    <!--<div class="invoices_body_header">
      <div class="invoices_column">Invoice Number</div>
      <div class="invoices_column">Invoice Type</div>
      <div class="invoices_column invoices_pointer" (click)="sort()">Transaction Date
        <svg-icon src="../../assets/icons/sorting_{{sorting}}_16px.svg" class="sort-icon"></svg-icon></div>
      <div class="invoices_column">Status</div>
      <div class="invoices_column">Amount (excl. VAT)</div>
      <div class="invoices_column">Amount</div>
      <div class="invoices_column">Transaction ID</div>
      <div class="invoices_column"></div>
    </div>
    <div class="invoices_body_wrap">
      <div class="invoices_item" *ngFor="let item of invoices">
        <div class="invoices_column">{{item.number}}</div>
        <div class="invoices_column">{{item.type}}</div>
        <div class="invoices_column">{{item.date}}</div>
        <div class="invoices_column">{{item.status}}</div>
        <div class="invoices_column">{{item.amount_vat}}</div>
        <div class="invoices_column">{{item.amount}}</div>
        <div class="invoices_column">{{item.transaction}}</div>
        <div class="invoices_column invoices_button_wrap">
          <div class="invoices_button">push_me</div>
          <div class="invoices_button">push_me</div>
          <svg-icon class="invoices_icon">push_me</svg-icon>
        </div>
      </div>
    </div>-->
    <div class="invoices_table_head">
      <div class="invoices_table_item {{item}}" (click)="(item==='Transaction date'?sort():null)"
           *ngFor="let item of tableInfo.titles">{{item}}
        <svg-icon class="invoices_table_head_icon" *ngIf="item==='Transaction date'"
                  src="../../assets/icons/sorting_{{sorting}}_16px.svg"></svg-icon>
      </div>
      <div class="invoices_table_item"></div>
    </div>
    <div class="invoices_table_body">
      <div class="invoices_table_row" *ngFor="let item of invoices">
        <div class="invoices_table_item {{getValueByKey(item, key)}} {{key}}" *ngFor="let key of tableInfo.keys">
          {{getValueByKey(item, key)}}</div>
        <div class="invoices_table_item wrapper">
          <div class="invoices_table_button pdf">PDF</div>
          <div class="invoices_table_button pay">PAY</div>
          <svg-icon class="invoices_table_icon" src="../../assets/icons/magnifier.svg"></svg-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="invoices_pagination" *ngIf="showPagination">
    <div class="invoices_pagination_button" [ngClass]="{'inactive':page===1}"
         (click)="page=1">«</div>
    <div class="invoices_pagination_button" [ngClass]="{'inactive':page===1}"
         (click)="page=page-(page===1?0:1)">Prev</div>
    <div class="invoices_pagination_page">{{page}} of {{max_page}}</div>
    <div class="invoices_pagination_button" [ngClass]="{'inactive':page===max_page}"
         (click)="page=page+(page===max_page?0:1)">Next</div>
    <div class="invoices_pagination_button" [ngClass]="{'inactive':page===max_page}"
         (click)="page=max_page">»</div>
  </div>
</div>
