<div class="auth_form">
    <a class="auth_form_icon_wrap auth_form_icon" [@Fade] routerLink="../sign-in">
        <svg-icon src="/assets/icons/_logo/encryptotel_logo.svg" class="auth_form_icon"></svg-icon>
    </a>
    <form *ngIf="showForm()"
          [formGroup]="emailForm"
         
          (submit)="sendEmail($event)"
          (keyup)="clearMessage()"
          >
        <div *ngIf="message"
             class="auth_form_message"
             [ngClass]="message.type"
             (click)="clearMessage()"
             [@Fade]
             >
             {{ message.message }}
        </div>
        <div class="input_wrap">
            <input name="E-mail" id="confirmation_email" placeholder="E-mail" formControlName="email">
            <div *ngIf="inputValidation('email') && !message"
                 class="input_error"
                 [@Fade]
                 >
                <span *ngIf="inputValidation('email', 'required')"
                      id="password_recovery_err_no_email"
                      class="input_error_item"
                      translate
                      >
                    Please enter your email address
                </span>
                <span *ngIf="inputValidation('email', 'pattern')"
                      id="password_recovery_err_invalid_email"
                      class="input_error_item"
                      translate
                      >
                    Please enter correct email address
                </span>
            </div>
        </div>
        <pbx-button [buttonType]="'accent'"
                    [loading]="loading"
                    [value]="'Request recovery link'"
                    (onClick)="sendEmail()"
                    >
        </pbx-button>
        <a routerLink="../sign-in" class="auth_form_link" translate >Back to login</a>
        <div class="auth_form_text" translate>Don't have an EncryptoTel Account?</div>
        <a routerLink="../sign-up" class="auth_form_link" translate>Create one now</a>
    </form>

    <div *ngIf="!showForm()" class="response_wrap">
        <h6 translate>Password</h6>
        <div class="auth_form_text">
            <span translate>The link has been sent to email</span>
            {{ selectedEmail }}
        </div>
        <pbx-button [buttonType]="'accent'"
                    [loading]="loading"
                    [value]="'Sign in now'"
                    (onClick)="back()"
                    >
        </pbx-button>
    </div>

    <pbx-footer></pbx-footer>
</div>
