<div class="auth_form">
  <svg-icon src="/assets/icons/logo.svg" class="auth_form_icon"></svg-icon>
  <form (submit)="sendEmail($event)" [formGroup]="emailForm" [@Fade] (keyup)="_services.clearMessage()">
    <div class="auth_form_message" [ngClass]="message.type" *ngIf="message" [@Fade] (click)="_services.clearMessage()">{{message.message}}</div>
    <div class="input_wrap">
      <input name="E-mail" id="confirmation_email" placeholder="E-mail" formControlName="email">
      <div class="input_error" *ngIf="inputValidation('email')" [@Fade]>
        <span class="input_error_item" *ngIf="inputValidation('email', 'required')">Please enter your e-mail</span>
        <span class="input_error_item" *ngIf="inputValidation('email', 'pattern')">Please enter correct e-mail address</span>
      </div>
    </div>
    <pbx-button [buttonType]="'accent'" [loading]="loading" [value]="'Request recovery link'" (onClick)="sendEmail()"></pbx-button>
    <a routerLink="../sign-in" class="auth_form_link">Back to login</a>
    <div class="auth_form_text">Don't have an EncryptoTel Account?</div>
    <a routerLink="../sign-up" class="auth_form_link">Create one now</a>
  </form>
</div>
