<pbx-modal [modalEx]="modal"
           (onConfirmEx)="confirmModal()"
></pbx-modal>
<div class="ext">
    <pbx-list style="width: 100%"
              [(pageInfo)]="pageInfo"
              [tableInfo]="table"
              [filters]="filters"
              key="extensions"
              name="{{'Extensions:' | translate }}"
              itemName="Extension"
              (onLoad)="load()"
              (onSelect)="select($event)"
              [service]="service"
              [ngClass]="sidebar?'someClass':''"
    >
    </pbx-list>

    <pbx-sidebar *ngIf="sidebar">
        <div class="ext_sidebar_contain">
            <div class="ext_sidebar_contain_data">
                <div class="ext_sidebar_item_row">
                    <div class="ext_sidebar_item" *ngIf="sidebar.extension !==  ''">
                        <div class="ext_sidebar_item_key" translate># Ext</div>
                        <div class="ext_sidebar_item_value">{{sidebar.extension}}</div>
                    </div>
                    <div class="ext_sidebar_item" *ngIf="sidebar.phone !==  null">
                        <div class="ext_sidebar_item_key" translate>Phone</div>
                        <div class="ext_sidebar_item_value">{{sidebar.phone}}</div>
                    </div>
                </div>
                <div class="ext_sidebar_item_row">
                    <div class="ext_sidebar_item" *ngIf="sidebar.phone !==  null">
                        <div class="ext_sidebar_item_key" translate>Port</div>
                        <div class="ext_sidebar_item_value">{{sidebar.extensionPort}}</div>
                    </div>
                    <div class="ext_sidebar_item" *ngIf="sidebar.extension !==  ''">
                        <div class="ext_sidebar_item_key" translate>Host</div>
                        <div class="ext_sidebar_item_value">{{sidebar.extensionHost}}</div>
                    </div>
                </div>
                <div class="ext_sidebar_item" *ngIf="sidebar.userFirstName !==  null">
                    <div class="ext_sidebar_item_key" translate>First Name</div>
                    <div class="ext_sidebar_item_value">{{sidebar.userFirstName}}</div>
                </div>
                <div class="ext_sidebar_item" *ngIf="sidebar.userLastName !==  null">
                    <div class="ext_sidebar_item_key" translate>Last Name</div>
                    <div class="ext_sidebar_item_value">{{sidebar.userLastName}}</div>
                </div>
                <div class="ext_sidebar_item" *ngIf="sidebar.userEmail !==  null">
                    <div class="ext_sidebar_item_key" translate>E-mail</div>
                    <div class="ext_sidebar_item_value">{{sidebar.userEmail}}</div>
                </div>
                <div class="ext_sidebar_item">
                    <div class="ext_sidebar_item_key" translate>Mobile</div>
                    <div class="ext_sidebar_item_value" translate>{{sidebar.isMobileApp}}</div>
                </div>
                <div class="ext_sidebar_item" *ngIf="sidebar.department">
                    <div class="ext_sidebar_item_key" translate>Department</div>
                    <div class="ext_sidebar_item_value">{{sidebar.department}}</div>
                </div>
            </div>
            <div class="ext_sidebar_service_wrap">
                <div class="ext_sidebar_service_button" (click)="list.items.clickDeleteItem(sidebar)" translate>Delete extension</div>
            </div>
        </div>
        <div class="ext_sidebar_button_wrap">
            <div class="ext_sidebar_button_title" translate>Generate new password and send to:</div>
            <div class="ext_sidebar_button_grid">
                <pbx-button [loading]="loading.admin" value="Admin E-mail"
                            (onClick)="sendPasswordToAdmin(sidebar)"></pbx-button>
                <pbx-button *ngIf="!!sidebar.user" [loading]="loading.user" value="User E-mail"
                            (onClick)="sendPasswordToUser(sidebar)"></pbx-button>
                <div *ngIf="!sidebar.user"></div>
                <pbx-button value="Close" buttonType="cancel" (onClick)="closeExt()"></pbx-button>
                <pbx-button value="Edit" buttonType="success" (onClick)="list.edit(sidebar)"></pbx-button>
            </div>
        </div>
    </pbx-sidebar>
</div>
