<div class="ext_grid">
    <div class="ext_header header">
        <div class="ext_header_wrap">
            <div class="ext_header_wrap_key">Department:</div>
            <pbx-select [objectKey]="'title'"
                        [options]="departments.option"
                        [selected]="departments.selected"
                        (onSelect)="departmentChanged($event)"></pbx-select>
        </div>
        <div class="ext_header_wrap">
            <div class="ext_header_wrap_key">Search:</div>
            <input #search
                   [(ngModel)]="pageinfo.search"
                   (keyup)="doSearch()">
        </div>
        <div class="ext_header_wrap">
            <!--<pbx-button value="Export" buttonType="accent" (onClick)="exportExt()"></pbx-button>-->
            <!--<pbx-button value="Import" buttonType="accent" (onClick)="importExt()"></pbx-button>-->
            <pbx-button value="Add" buttonType="success" (onClick)="addExt()" routerLink="add"></pbx-button>
        </div>
    </div>
    <div class="ext_table table {{!!sidebar}}">
        <div *ngIf="!loading.body" class="ext_table_row">
            <div class="ext_table_item" *ngFor="let item of table.title;let i=index"
                 [ngClass]="{'fixed':table.width[i]}">{{item}}
            </div>
        </div>
        <pbx-loader class="table" *ngIf="loading.body"></pbx-loader>
        <!--ToDo Реализовать лоадер-->
        <div class="ext_table_row {{item.id===(sidebar ? sidebar.id : null)}}"
             *ngFor="let item of (!loading.body ? table.data : null)"
             (click)="viewExt(item)">
            <div class="ext_table_item" *ngFor="let key of table.key;let i=index"
                 [ngClass]="{'fixed':table.width[i]}">
                {{item[key]===true||item[key]===false?'':item[key]}}
                <div class="ext_table_item_circle" *ngIf="item[key]===true"></div>
            </div>
            <div class="ext_table_item_icon_block ext_table_item fixed">
                <div class="ext_table_item_icon_wrap" (click)="clickEditIcon(item)">
                    <svg-icon class="ext_table_item_icon edit" src="../../assets/icons/edit_12px.svg"></svg-icon>
                </div>
                <div class="ext_table_item_icon_wrap" (click)="clickDeleteIcon(item)">
                    <svg-icon class="ext_table_item_icon delete"
                              src="../../assets/icons/cancel_delete_12px.svg"></svg-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="ext_footer footer">
        <pbx-pagination *ngIf="pageinfo.items > 0"
                        [currentPage]="pageinfo.page"
                        [totalPages]="pageinfo.total"
                        (onPageChange)="changePage($event)">
        </pbx-pagination>
    </div>


    <div *ngIf="sidebar" class="ext_sidebar sidebar {{!!sidebar}}">
        <div class="ext_sidebar_contain">
            <div class="ext_sidebar_contain_data">
                <div class="ext_sidebar_item_row">
                    <div class="ext_sidebar_item">
                        <div class="ext_sidebar_item_key"># Ext</div>
                        <div class="ext_sidebar_item_value">{{sidebar.extension}}</div>
                    </div>
                    <div class="ext_sidebar_item">
                        <div class="ext_sidebar_item_key">Phone</div>
                        <div class="ext_sidebar_item_value">{{sidebar.phone}}</div>
                    </div>
                </div>
                <div class="ext_sidebar_item">
                    <div class="ext_sidebar_item_key">First Name</div>
                    <div class="ext_sidebar_item_value">{{sidebar.firstname}}</div>
                </div>
                <div class="ext_sidebar_item">
                    <div class="ext_sidebar_item_key">Last Name</div>
                    <div class="ext_sidebar_item_value">{{sidebar.lastname}}</div>
                </div>
                <div class="ext_sidebar_item">
                    <div class="ext_sidebar_item_key">E-mail</div>
                    <div class="ext_sidebar_item_value">{{sidebar.email}}</div>
                </div>
                <div class="ext_sidebar_item">
                    <div class="ext_sidebar_item_key">Mobile</div>
                    <div class="ext_sidebar_item_value">{{sidebar.mobileApp}}</div>
                </div>
                <div class="ext_sidebar_item">
                    <div class="ext_sidebar_item_key">Department</div>
                    <div class="ext_sidebar_item_value">{{sidebar.department}}</div>
                </div>
            </div>
            <div class="ext_sidebar_service_wrap">
                <div class="ext_sidebar_service_button" (click)="clickDeleteIcon(sidebar)">Delete extension</div>
            </div>
        </div>
        <div class="ext_sidebar_button_wrap">
            <div class="ext_sidebar_button_title">Generate new password and send to:</div>
            <div class="ext_sidebar_button_grid">
                <pbx-button value="Admin E-mail" (onClick)="sendPasswordToAdmin(sidebar)"></pbx-button>
                <pbx-button value="User E-mail" (onClick)="sendPasswordToUser(sidebar)"></pbx-button>
                <pbx-button value="Close" buttonType="cancel" (onClick)="closeExt()"></pbx-button>
                <pbx-button value="Edit" buttonType="success" (onClick)="editExt(sidebar)"></pbx-button>
            </div>
        </div>
    </div>
</div>

<pbx-modal [modal]="modal"
           (onConfirm)="confirmModal()"
           (onDecline)="cancelModal()">{{modal.text}}
</pbx-modal>
