@import "../../../../../vars"

.amo_crm_integration
    display: grid
    grid-template-columns: 1fr 384px
    grid-template-rows: min-content 1fr
    height: 100%
    pbx-header
        grid-column: 1/2
        grid-row: 1/2
    .integration_cnt
        grid-column: 1/2
        grid-row: 2/3
        background: $dark_overlay
    .info
        grid-column: 2/3
        grid-row: 1/3
        padding: 40px 32px
        background: $dark_overlay
        margin-left: 24px
        flex-direction: column
        .title
            font-family: Roboto, sans-serif
            font-size: 40px
            font-weight: 300
            color: $dark_white
            margin-bottom: 24px
        .desc
            font-family: Roboto, sans-serif
            font-size: 16px
            font-weight: 300
            color: $dark_white
            line-height: 21px