<div class="amo_crm_integration">

    <pbx-header [buttons]="buttons"
                [filters]="filters"
                (onClick)="deleteSelected($event)"
                (onUpdate)="updateFilter($event)"
                (onReload)="reloadFilter($event)"
                [inactive]="loading">
    </pbx-header>

    <div class="integration_cnt">

        <div class="item">
            <div class="label" (click)="checkboxClick()">Enable</div>
            <pbx-checkbox [value]="amoCrmEnable"
                          (onToggle)="amoCrmEnable = $event;"></pbx-checkbox>
        </div>

        <div class="connection_block">
            <div class="title">Connection</div>

            <div class="item">
                <div class="label">Login</div>
                <div class="info_block">
                    <div class="text"><span>okoerlos</span></div>
                    <div class="warning">
                        <svg-icon src="/assets/icons/_middle/info_14px.svg"></svg-icon>
                    </div> <!-- warning -->
                </div> <!-- info_block -->
            </div>

            <div class="item">
                <div class="label">Auth Token</div>
                <div class="info_block">
                    <div class="text"><span>gdfgzlkjthaerigybg54et89gby</span></div>
                    <div class="warning">
                        <svg-icon src="/assets/icons/_middle/info_14px.svg"></svg-icon>
                    </div> <!-- warning -->
                </div> <!-- info_block -->
            </div>

            <div class="item">
                <div class="label">Phone Number</div>
                <div class="info_block">
                    <div class="text"><span>8 (800) 800 80 80</span></div>
                    <div class="warning">
                        <svg-icon src="/assets/icons/_middle/info_14px.svg"></svg-icon>
                    </div> <!-- warning -->
                </div> <!-- info_block -->
            </div>

        </div> <!-- connection_block -->

        <div class="sync">

            <div class="title">Synchronization</div>

            <div class="item">
                <div class="label">Address Book</div>
                <div class="date">
                    <svg-icon class="ok" src="./assets/icons/_middle/ok_32px.svg"></svg-icon>
                    <div class="text">last sync 07.12.2018</div>
                    <svg-icon class="refresh" src="./assets/icons/_middle/refresh_24px.svg"></svg-icon>
                </div> <!-- date -->
            </div>

            <div class="item">
                <div class="label">Extensions</div>
                <div class="date">
                    <svg-icon class="ok" src="./assets/icons/_middle/ok_32px.svg"></svg-icon>
                    <div class="text">last sync 07.12.2018</div>
                    <svg-icon class="refresh" src="./assets/icons/_middle/refresh_24px.svg"></svg-icon>
                </div> <!-- date -->
            </div>

            <div class="item">
                <div class="label">Create Queue</div>
                <div class="date">
                    <svg-icon class="ok" src="./assets/icons/_middle/ok_32px.svg"></svg-icon>
                    <div class="text"><a href="">edit AmoQueue</a></div>
                </div> <!-- date -->
            </div>

            <div class="item">
                <div class="label">IVR</div>
                <div class="date">
                    <svg-icon class="ok" src="./assets/icons/_middle/ok_32px.svg"></svg-icon>
                    <div class="warning">
                        <svg-icon src="/assets/icons/_middle/info_14px.svg"></svg-icon>
                    </div> <!-- warning -->
                    <div class="text"><a href="">edit IVR</a></div>
                </div> <!-- date -->
            </div>

        </div> <!-- sync -->

    </div> <!-- integration_cnt -->

    <div class="info">
        <div class="title">Information</div>
        <div class="desc">Обратите внимание, что для работы интеграции нужно перенастроить IVR. Пример настроек можете увидеть в
            <a href="">Knowledge Base.</a></div>
    </div> <!-- info -->

</div> <!-- amo-crm-integration -->

<!-- ======================== -->
<!-- ======================== -->
<!-- ======================== -->

<div class="amo_crm_integration_edit">

    <div class="amo_crm_header">
        <div class="amo_crm_tab_wrap">
            <div class="amo_crm_tab"
                 *ngFor="let item of tab.items; let i=index;"
                 [ngClass]="{'active':item===tab.select}"
                 (click)="selectTab(item)">
                <span>{{i + 1}}. {{item}}</span>
            </div> <!-- amo_crm_tab -->
        </div> <!-- amo_crm_tab_wrap -->

        <div class="information">Будут синхронизированы 10 контактов из 145</div>

        <div class="amo_crm_control">
            <pbx-button value="Cancel" buttonType="cancel"></pbx-button>
            <pbx-button value="Save" buttonType="success"></pbx-button>
        </div> <!-- amo_crm_control -->
    </div>
    <pbx-loader *ngIf="loading"></pbx-loader>

    <div class="amo_crm_cnt">

        <amo-crm-integration-general-component
                *ngIf="!loading && tab.select==='General'"
        ></amo-crm-integration-general-component>

        <amo-crm-integration-address-book-component
                *ngIf="!loading && tab.select==='Address Book'"
        ></amo-crm-integration-address-book-component>

        <amo-crm-integration-managers-component
                *ngIf="!loading && tab.select==='Managers'"
        ></amo-crm-integration-managers-component>

    </div> <!-- amo_crm_cnt -->

    <div class="amo_crm_info">
        <div class="title">Information</div>
        <div class="desc">
            <div class="extensions">Extensions&nbsp;<span>5/5</span></div>

            <div class="block">
                В ваш тарифный план Start включено <span>5 Extensions</span>. Чтобы синхронизировать всех менеджеров нужно&nbsp;<a href="">докупить модуль</a> или перейти на более высокий&nbsp;<a href="">тарифный план</a>.
            </div> <!-- block -->

            <div class="block">
                Чтобы автоматически создать номер доп. линии (Extension) для каждого выбранного Менеджера включите настройку автоматическое создание доп. линий.
            </div> <!-- block -->

        </div> <!-- desc -->
    </div> <!-- amo_crm_info -->

</div> <!-- amo_crm_integration_edit -->