<pbx-loader *ngIf="loading"></pbx-loader>
<div class="departments" *ngIf="!loading">

    <pbx-list [(pageInfo)]="pageInfo"
              [table]="table"
              [loading]="loading"
              [filters]="filters"
              key="departments"
              name="Departments"
              itemName="Department"
              [EmptyInfo]="emptyInfo"
              [hideArrow]="!companyActive"
              [hideHeader]="!companyActive"
              (onSelect)="select($event)"
              [service]="service"
    >
    </pbx-list>
</div>
