<pbx-loader *ngIf="loading"></pbx-loader>
<div class="departments" *ngIf="!loading">

    <pbx-list [(pageInfo)]="pageInfo"
              [tableInfo]="table"
              [loading]="loading"
              [filters]="filters"
              key="departments"
              name="Departments"
              itemName="Department"
              [EmptyInfo]="emptyInfo"
              [hideArrow]="!companyActive"
              [hideHeader]="!companyActive"
              [service]="service"
              (onSelect)="select($event)"
              (onDelete)="onDelete($event)"
              >
    </pbx-list>
</div>
