@import "../../vars"
// Global variables import
.ring_groups
  &_wrap
    display: flex
    flex-flow: column
  &_header
    display: flex
    flex-flow: row
    justify-content: flex-end
    align-items: center
    a
      padding: 15px
      background: $dark_success
      margin-bottom: 10px
