@import "../../vars"

.ring_groups
  display: flex
  flex-flow: column
  height: 100%
  &_header
    display: flex
    flex-flow: row
    justify-content: flex-end
    margin-bottom: 10px
  &_body
    display: flex
    flex-flow: column

