@import "../../vars"

.call_rules
  display: flex
  flex-flow: column
  &_header
    display: flex
    flex-flow: row
    justify-content: flex-end
    margin-bottom: 10px
  &_body
    display: flex
    flex-flow: column

