@import "../../vars"

.call_rules
  flex: 1
  display: flex
  flex-direction: column
  color: $font-color
  pbx-button
    color: $dark_primary
    width: unset
  pbx-pagination
    margin-top: rem(24)
  &_header
    justify-content: flex-end
    margin-bottom: rem(24)
  &_table
    flex: 1
    flex-flow: column
    display: grid
    grid-template-rows: auto 1fr
    &_body
      display: block
      flex-direction: column
      overflow-y: auto
      flex: 1
    &_header, &_row
      flex-direction: row
      height: rem(40)
      align-items: center
      border-bottom: rem(1) solid rgba($dark_primary,.1)
    &_row
      color: $dark_primary
      &:hover
        background: rgba($dark_primary,.05)
        .call_rules_table_icon
          opacity: .33
          &:hover
            opacity: 1
    &_item
      flex: 1
      padding: 0 rem(16)
      display: block
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      &:nth-child(4)
        flex: 2
    &_icon
      opacity: 0
      height: rem(16)
      width: rem(16)
      padding: rem(2)
      cursor: pointer
      /deep/ *
        cursor: pointer
      &.edit
        /deep/ path, /deep/ rect
          fill: $dark_success
      &.delete /deep/ polygon
        fill: $dark_error
      svg-icon
        flex: 1
      &_wrap
        justify-content: space-evenly
        width: rem(80)
