<!-- [table]="table" -->
<pbx-list [pageInfo]="pageInfo"
          [tableInfo]="table"
          key="call-rules"
          name="Call Rules"
          itemName="Call Rule"
          [service]="service"
          (onDelete)="onDelete()"
          (onSelect)="select($event)"
>
</pbx-list>

<pbx-sidebar class="sidebar_call_rules" *ngIf="sidebar" [@Fade]>

    <div class="info_up">
        <div class="key" translate>Call Rule Name</div>
        <div class="val">{{selected.name}}</div>

        <div class="key" translate>Phone Number</div>
        <div class="val">{{selected.phoneNumber}}</div>

        <div class="key" translate>Status</div>
        <div class="val" translate>{{selected.statusName}}</div>

        <div class="key" translate>Description</div>
        <div class="val">{{selected.description}}</div>
    </div> <!-- info_up -->

    <div class="scroll_block">
        <div class="inner" *ngFor="let item of selected.ruleActions">
            <div class="key" translate>Action</div>
            <div class="val">{{getActionName(item.action)}}</div>

            <div class="key" *ngIf="item.action !== 4">{{getActionParamsName(item.action)}}</div>
            <div class="val" *ngIf="item.action !== 4">{{getActionParamsValue(item)}}</div>
        </div> <!-- inner -->
    </div> <!-- scroll_block -->

    <div class="buttons">
        <pbx-button buttonType="accent" value="{{selected.enabled ? 'Disable' : 'Enable'}}" (onClick)="toggleEnable()"></pbx-button>
        <pbx-button buttonType="cancel" value="Cancel" (onClick)="cancel()"></pbx-button>
        <pbx-button buttonType="success" value="Edit" (onClick)="list.edit(selected)"></pbx-button>
    </div> <!-- buttons -->

</pbx-sidebar>
<pbx-modal [modalEx]="modalExit"></pbx-modal>
