<div class="auth_form">
  <div class="auth_form_icon_wrap" [@Fade]>
    <svg-icon [src]="'/assets/icons/logo.svg'" class="auth_form_icon"></svg-icon>
    <div class="auth_form_icon_title">EncryptoTel</div>
  </div>
  <loader *ngIf="loading" [@Fade]></loader>
  <form (submit)="signUp($event)" [formGroup]="signUpForm" *ngIf="!loading" [@Fade]>
    <div class="input_wrap">
      <input name="Name" placeholder="Name" formControlName="name">
      <div class="input_error" *ngIf="inputValidation('name')">
        <span class="input_error_item" *ngIf="inputValidation('name', 'required')">Please enter your name</span>
        <span class="input_error_item" *ngIf="inputValidation('name', 'pattern')">Name should contain only letters and "-" or "."</span>
      </div>
    </div>
    <div class="input_wrap">
      <input name="Surname" placeholder="Surname" formControlName="surname">
      <div class="input_error" *ngIf="inputValidation('surname')">
        <span class="input_error_item" *ngIf="inputValidation('surname', 'required')">Please enter your surname</span>
        <span class="input_error_item" *ngIf="inputValidation('surname', 'pattern')">Surname should contain only letters and "-" or "."</span>
      </div>
    </div>
    <div class="input_wrap">
      <input name="Patronymic" placeholder="Patronymic" formControlName="patronymic">
      <div class="input_error" *ngIf="inputValidation('patronymic')">
        <span class="input_error_item" *ngIf="inputValidation('patronymic', 'pattern')">Patronymic should contain only letters and "-" or "."</span>
      </div>
    </div>
    <div class="input_wrap">
      <input name="E-mail" placeholder="E-mail" formControlName="email">
      <div class="input_error" *ngIf="inputValidation('email')">
        <span class="input_error_item" *ngIf="inputValidation('email', 'required')">Please enter your e-mail</span>
        <span class="input_error_item" *ngIf="inputValidation('email', 'pattern')">Please enter correct e-mail address</span>
      </div>
    </div>
    <div class="input_wrap">
      <input type="password" name="Password" placeholder="Password" formControlName="password">
      <div class="input_error" *ngIf="inputValidation('password')">
        <span class="input_error_item" *ngIf="inputValidation('password', 'required')">Please enter password</span>
        <span class="input_error_item" *ngIf="inputValidation('password', 'minlength')">Password is too short</span>
      </div>
    </div>
    <div class="input_wrap">
      <input type="password" name="Confirm password" placeholder="Confirm password" formControlName="password-confirm" [ngClass]="{'ng-invalid': passwordsMismatch()}">
      <div class="input_error">
        <div class="input_error_item" *ngIf="passwordsMismatch()">Passwords doesn't match</div>
      </div>
    </div>
    <button type="submit" name="Sign Up" class="button accent" [disabled]="!signUpForm.valid">Sign Up</button>
    <div class="auth_form_text">
      Already have an EncryptoTel Account?
      <a routerLink="../sign-in" class="auth_form_link">Sign in now</a>
    </div>
  </form>
</div>
