@import "../../../../vars"

.crm_integration
    display: grid
    grid-template-rows: min-content 1fr
    grid-template-columns: 1fr
    .items
        display: grid
        grid-template-columns: repeat(4, 384px)
        grid-gap: 24px
        .item
            height: 256px
            background: $dark_crm_color_1
            position: relative
            .logo
                width: auto
                height: 48px
                margin: auto
            .crm_ok
                display: none
            &.checked
                background: $dark_crm_color_checked
                svg-icon.crm_ok
                    display: block
                    position: absolute
                    top: 24px
                    right: 24px
                    /deep/
                        svg
                            width: 32px
                            height: 32px
                            cursor: pointer
                            *
                                cursor: pointer
                            path
                                fill: $dark_white
                                cursor: pointer