@import '../../vars'

pbx-button /deep/ .button
  flex: 1 0 auto

pbx-button:last-child
  margin-left: rem(16)

.table_pre_row
  position: relative
  > a
    flex: 0 0 auto
    margin-left: auto
    /deep/ button
      flex: 0 0 auto

// Themes styles
//\:host-context(.dark_theme)
