<div class="table_container">
    <pbx-list [(pageInfo)]="pageInfo"
              [tableInfo]="tableModel"
              [loading]="loading"
              [buttons]=buttons
              key="phone-numbers"
              name="Phone Numbers"
              itemName="Phone Number"
              [editable]="false"
              [deletable]="false"
              [service]="service"
              (onSelect)="select($event)"
              (onLoad)="load()"
              (onCreate)="clickButton($event)"
              (onDelete)="onDelete($event)"
              >
    </pbx-list>

    <pbx-sidebar
        *ngIf="selected"
        [sidebarInfo]="sidebar"
        (onClick)="click($event)"
        [@Swipe]

    >

        <div class="add_external_phone_number">

            <form action="" method="">
                <div class="title">Add External Phone Number</div>

                <div class="items">

                    <div class="item phone_number">
                        <label for="">Phone Number</label>
                        <div class="wrapper">
                            <div class="flag">
                                <svg-icon class="flag_item" src="/assets/icons/country_flags/svg/ru.svg"></svg-icon>
                            </div>
                            <div class="arrow">
                                <svg-icon src="/assets/icons/_middle/dropdown_arrow_12px.svg"></svg-icon>
                            </div>
                            <input type="number">
                            <!--<select name="" id="">-->
                            <!--<option value="">+358 (800) 800 80 80</option>-->
                            <!--<option value="">+358 (800) 800 80 81</option>-->
                            <!--<option value="">+358 (800) 800 80 82</option>-->
                            <!--<option value="">+358 (800) 800 80 83</option>-->
                            <!--</select>-->
                            <div class="visual"></div>
                        </div> <!-- wrapper -->
                    </div> <!-- item -->

                    <div class="item password">
                        <label for="">Password</label>
                        <div class="wrapper">
                            <svg-icon class="eye show_password" *ngIf="showPassword" (click)="changePasswordVisibility()" src="/assets/icons/_middle/show_password.svg"></svg-icon>
                            <svg-icon class="eye hide_password" *ngIf="!showPassword" (click)="changePasswordVisibility()" src="/assets/icons/_middle/hide_password.svg"></svg-icon>
                            <input type="{{showPassword ? 'text' : 'password'}}">
                            <div class="visual"></div>
                        </div> <!-- wrapper -->
                    </div> <!-- item -->

                    <div class="item">
                        <label for="">Port</label>
                        <div class="wrapper">
                            <input type="number">
                            <div class="visual"></div>
                        </div> <!-- wrapper -->
                    </div> <!-- item -->

                    <div class="item">
                        <label for="">Host</label>
                        <div class="wrapper">
                            <input type="text">
                            <div class="visual"></div>
                        </div> <!-- wrapper -->
                    </div> <!-- item -->

                </div> <!-- items -->

                <div class="buttons">
                    <pbx-button [buttonType]="'cancel'" [value]="'Cancel'"></pbx-button>
                    <pbx-button [buttonType]="'success'" [value]="'Add'"></pbx-button>
                </div> <!-- buttons -->

            </form>

        </div> <!-- add_external_phone_number -->

    </pbx-sidebar>
</div>
