<div class="table_container">
    <pbx-list [(pageInfo)]="pageInfo"
              [table]="tableInfo"
              [loading]="loading"
              key="phone-numbers"
              name="Phone Numbers"
              itemName="Phone Number"
              buttonTitle="Buy Phone Number"
              createKey="buy"
              [editable]="false"
              [deletable]="false"
              [service]="service"
              (onSelect)="select($event)"
              (onLoad)="load()"
    ></pbx-list>

    <pbx-sidebar
            *ngIf="selected"
            [sidebarInfo]="sidebar"
            (onClick)="click($event)"
            [@Swipe]
    ></pbx-sidebar>
</div>
