<div class="address">
    <pbx-list style="width: 100%"
              key="address-book"
              name="Address Book"
              itemName="Contact"
              itemsName="Contacts"
              buttonTitle="New Contact"
              [(pageInfo)]="pageInfo"
              [table]="table"
              [loading]="loading"
              [filters]="filters"
              (onCreate)="create()"
              (onEdit)="edit($event)"
              (onSelect)="select($event)"
              (onLoad)="load($event)"
              [service]="service"
              [sidebar]="sidebar">
    </pbx-list>

    <pbx-sidebar *ngIf="sidebar.visible" [sidebarInfo]="sidebar" (onClick)="click($event)" [@Swipe] [@Fade]>
        <div class="side_wrap" *ngIf="!loading && !sidebar.loading && sidebar.mode === 'edit'">
            <pbx-loader *ngIf="sidebar.saving"></pbx-loader>
            <div class="side_body" *ngIf="!sidebar.saving">

                <pbx-input name="First Name"
                           key="firstname"
                           labelPosition="top"
                           [(errors)]="service.errors"
                           [singleBorder]="false"
                           [floatError]="true"
                           [required]="true"
                           [object]="selected">
                </pbx-input>

                <pbx-input name="Last Name"
                           key="lastname"
                           labelPosition="top"
                           [(errors)]="service.errors"
                           [singleBorder]="false"
                           [floatError]="true"
                           [object]="selected">
                </pbx-input>

                <div class="phone-block" style="display: block;">
                    <pbx-input *ngFor="let phone of selected.contactPhone; let i = index"
                               name="Phone"
                               key="value"
                               labelPosition="top"
                               [errorKey]="phone.id ? 'contactPhone.' + phone.id + '.value' : 'contactPhone.new_' + i + '.value'"
                               [(errors)]="service.errors"
                               [singleBorder]="false"
                               [floatError]="true"
                               [object]="phone">
                        <pbx-select class="value-type"
                                    [options]="types.contactPhone"
                                    objectKey="value"
                                    [selected]="phone.type"
                                    (onSelect)="phone.type = $event">
                        </pbx-select>
                        <div class="side_unit_icon_wrap">
                            <div class="side_unit_icon delete" *ngIf="selected.contactPhone.length > 1"
                                 (click)="deletePhone(i)">
                                <div class="side_unit_icon_minus"></div>
                            </div>
                            <div class="side_unit_icon plus" (click)="addPhone()"
                                 *ngIf="i === selected.contactPhone.length - 1">
                                <svg-icon src="../../assets/icons/_middle/plus.svg"></svg-icon>
                            </div>
                        </div>
                    </pbx-input>
                </div>

                <div class="email-block" style="display: block;">
                    <pbx-input *ngFor="let email of selected.contactEmail; let i = index"
                               name="Email"
                               key="value"
                               labelPosition="top"
                               [errorKey]="email.id ? 'contactEmail.' + email.id + '.value' : 'contactEmail.new_' + i + '.value'"
                               [(errors)]="service.errors"
                               [singleBorder]="false"
                               [floatError]="true"
                               [object]="email">
                        <pbx-select class="value-type"
                                    [options]="types.contactEmail"
                                    objectKey="value"
                                    [selected]="email.type"
                                    (onSelect)="email.type = $event">
                        </pbx-select>
                        <div class="side_unit_icon_wrap">
                            <div class="side_unit_icon delete" *ngIf="selected.contactEmail.length > 1"
                                 (click)="deleteEmail(i)">
                                <div class="side_unit_icon_minus"></div>
                            </div>
                            <div class="side_unit_icon plus" (click)="addEmail()"
                                 *ngIf="i === selected.contactEmail.length - 1">
                                <svg-icon src="../../assets/icons/_middle/plus.svg"></svg-icon>
                            </div>
                        </div>
                    </pbx-input>
                </div>

                <pbx-input name="Company Name"
                           key="company"
                           labelPosition="top"
                           [(errors)]="service.errors"
                           [singleBorder]="false"
                           [floatError]="true"
                           [object]="selected">
                </pbx-input>

                <pbx-input name="Department"
                           key="department"
                           labelPosition="top"
                           [(errors)]="service.errors"
                           [singleBorder]="false"
                           [floatError]="true"
                           [object]="selected">
                </pbx-input>

                <pbx-input name="Position"
                           key="position"
                           labelPosition="top"
                           [(errors)]="service.errors"
                           [singleBorder]="false"
                           [floatError]="true"
                           [object]="selected">
                </pbx-input>

                <pbx-input name="Country"
                           key="country"
                           displayKey="title"
                           labelPosition="top"
                           [updateObjectByObject]="true"
                           [options]="countries"
                           [(errors)]="service.errors"
                           [singleBorder]="false"
                           [floatError]="true"
                           [object]="selected"
                           [placeholder]="'[choose one]'"
                           [editable]="true">
                </pbx-input>

                <pbx-input name="Address"
                           key="address"
                           labelPosition="top"
                           [(errors)]="service.errors"
                           [singleBorder]="false"
                           [floatError]="true"
                           [object]="selected">
                </pbx-input>

            </div>
        </div>
    </pbx-sidebar>
</div>

<pbx-modal [modalEx]="modalBlock" (onConfirmEx)="confirmBlock()"></pbx-modal>
