<pbx-form [confirm]="saveButton"
          [decline]="{buttonType:'cancel',value:'Cancel'}"
          [background]="true"
          (onConfirm)="saveSettings()"
          (onDecline)="goBack()">
    <pbx-loader *ngIf="(loading.body||loading.buttons)"></pbx-loader>
    <div class="overlay_content" *ngIf="!(loading.body||loading.buttons)" [@Fade]>
        <form class="settings_form" (submit)="saveSettings($event)">
            <div class="settings_form_section" [formGroup]="generalForm">
                <div class="settings_form_title">General</div>

                <pbx-input name="First Name"
                           key="firstname"
                           placeholder="First Name"
                           [form]="true"
                           [required]="true"
                           [errors]="getErrors(generalForm, 'firstname')"
                           [object]="generalForm"
                           (onKeyUp)="change()"
                ></pbx-input>

                <pbx-input name="Last Name"
                           key="lastname"
                           placeholder="Last Name"
                           [form]="true"
                           [errors]="getErrors(generalForm, 'lastname')"
                           [object]="generalForm"
                           (onKeyUp)="change()"
                ></pbx-input>

                <pbx-input name="Patronymic"
                           key="patronymic"
                           placeholder="Patronymic"
                           [form]="true"
                           [errors]="getErrors(generalForm, 'patronymic')"
                           [object]="generalForm"
                           (onKeyUp)="change()"
                ></pbx-input>

                <pbx-input name="Phone"
                           key="phone"
                           placeholder="Phone"
                           [form]="true"
                           [errors]="getErrors(generalForm, 'phone')"
                           [object]="generalForm"
                           (onKeyUp)="change()"
                ></pbx-input>

            </div>
            <div class="settings_form_section" [formGroup]="emailChange">
                <div class="settings_form_title">Change E-mail</div>

                <pbx-input name="E-mail"
                           key="email"
                           [required]="true"
                           placeholder="Please enter your e-mail address"
                           [form]="true"
                           [errors]="getErrors(emailChange, 'email')"
                           [object]="emailChange"
                ></pbx-input>

                <div class="settings_input_item string" *ngIf="messageSent">
                    <pbx-input name="Confirmation code"
                               key="code"
                               placeholder="Confirmation code"
                               [form]="true"
                               [errors]="getErrors(emailChange, 'code')"
                               [object]="emailChange"
                    ></pbx-input>
                </div>
                <pbx-button [loading]="loading.email"
                            buttonType="accent"
                            [value]="messageSent ? 'Confirm': 'Change'"
                            *ngIf="(!inputValidation(emailChange, 'email') && initialEmail !== emailChange.controls.email.value) || messageSent"
                            [@Fade] (onClick)="initEmailChange()"></pbx-button>
            </div>
            <div class="settings_form_section" [formGroup]="passwordChange">
                <div class="settings_form_title">Change Password</div>

                <pbx-input name="Current password"
                           key="oldPassword"
                           placeholder="Current password"
                           type="password"
                           [form]="true"
                           [errors]="getErrors(passwordChange, 'oldPassword')"
                           [object]="passwordChange"
                ></pbx-input>

                <pbx-input name="New password"
                           key="password"
                           placeholder="New password"
                           type="password"
                           [form]="true"
                           [errors]="getErrors(passwordChange, 'password')"
                           [object]="passwordChange"
                ></pbx-input>

                <pbx-input name="Password confirmation"
                           key="password_confirmation"
                           placeholder="Confirm Password"
                           type="password"
                           [form]="true"
                           [errors]="getErrors(passwordChange, 'password_confirmation')"
                           [object]="passwordChange"
                ></pbx-input>

                <pbx-button value="Change" [loading]="loading.password" buttonType="accent" *ngIf="passwordChange.valid"
                            (onClick)="changePassword()"></pbx-button>
            </div>
        </form>
    </div>
</pbx-form>

<div class="profile_settings_photo">

    <div class="inner">

        <div class="grey grey_1"></div>

        <div class="wrapper">
            <div class="img_wrap">
                <img src="./assets/images/avatar/photo.jpg" alt="" title="">
            </div> <!-- img_wrap -->
        </div> <!-- wrapper -->

        <div class="grey grey_2"></div>
        
        <div class="store">
            <pbx-sidebar>
                <div class="store_sidebar_audio" (drop)="dropHandler($event)"
                        (dragover)="dragOverHandler($event)"
                        (dragend)="dragEndHandler($event)"
                        (dragleave)="dragLeaveHandler($event)">
                    <div class="store_sidebar_audio_icon">
                        <svg-icon src="../../assets/icons/_middle/download_24px.svg"></svg-icon>
                    </div>
                    <div class="store_sidebar_audio_text">Drop files here to upload</div>
                    <div class="store_sidebar_audio_text">or</div>
                    <div class="store_sidebar_audio_select hidden_button_wrapper">
                        <p class="select_file">select files</p>
                        <input type="file" class="hidden_input" #fileInput (change)="sendFile($event)">
                    </div>
                </div>
            </pbx-sidebar>
        </div> <!-- store -->

    </div> <!-- inner -->

</div> <!-- profile_settings -->