<pbx-form [confirm]="saveButton"
          [decline]="{ buttonType: 'cancel', value: 'Cancel' }"
          [background]="true"
          (onConfirm)="save()"
          (onDecline)="close()"
          >
    <pbx-loader *ngIf="loading"></pbx-loader>
    <div class="overlay_content" *ngIf="!loading" [@Fade]>
        <form class="settings_form" (submit)="saveSettings($event)">
            <div class="settings_form_section" [formGroup]="generalForm">
                <div class="settings_form_title">General</div>

                <pbx-input name="First Name"
                           key="firstname"
                           placeholder="First Name"
                           [form]="true"
                           [required]="true"
                           [object]="generalForm"
                           [validationHost]="validationHost"
                           (onKeyUp)="change()"
                ></pbx-input>

                <pbx-input name="Last Name"
                           key="lastname"
                           placeholder="Last Name"
                           [form]="true"
                           [object]="generalForm"
                           [validationHost]="validationHost"
                           (onKeyUp)="change()"
                ></pbx-input>

                <pbx-input name="Patronymic"
                           key="patronymic"
                           placeholder="Patronymic"
                           [form]="true"
                           [object]="generalForm"
                           [validationHost]="validationHost"
                           (onKeyUp)="change()"
                ></pbx-input>

                <pbx-input name="Phone"
                           key="phone"
                           placeholder="Phone"
                           [form]="true"
                           [object]="generalForm"
                           [validationHost]="validationHost"
                           (onKeyUp)="change()"
                ></pbx-input>

            </div>
            <div class="settings_form_section" [formGroup]="emailChange">
                <div class="settings_form_title">Change E-mail</div>

                <pbx-input *ngIf="!messageSent"
                           name="E-mail"
                           key="email"
                           [required]="true"
                           placeholder="Please enter your e-mail address"
                           [form]="true"
                           [object]="emailChange"
                           [validationHost]="validationHost"
                ></pbx-input>

                <div class="settings_input_item string" *ngIf="messageSent">
                    <pbx-input name="Confirmation code"
                               key="code"
                               placeholder="Confirmation code"
                               [form]="true"
                               [object]="emailChange"
                               [validationHost]="validationHost"
                    ></pbx-input>
                </div>

            </div>
            <div class="settings_form_section" [formGroup]="passwordChange">
                <div class="settings_form_title">Change Password</div>

                <pbx-input name="Current password"
                           key="oldPassword"
                           placeholder="Current password"
                           type="password"
                           [form]="true"
                           [object]="passwordChange"
                           [validationHost]="validationHost"
                ></pbx-input>

                <pbx-input name="New password"
                           key="password"
                           placeholder="New password"
                           type="password"
                           [form]="true"
                           [object]="passwordChange"
                           [validationHost]="validationHost"
                ></pbx-input>

                <pbx-input name="Password confirmation"
                           key="password_confirmation"
                           placeholder="Confirm Password"
                           type="password"
                           [form]="true"
                           [object]="passwordChange"
                           [validationHost]="validationHost"
                           >
                </pbx-input>

            </div>
        </form>
    </div>
</pbx-form>

<div class="profile_settings_photo">

    <div class="inner">

        <div class="grey grey_1"></div>

        <div class="wrapper">
            <div class="img_wrap">
                <pbx-loader *ngIf="loading"></pbx-loader>
                <img height="200px" [src]="userDefaultPhoto" alt="" title="" *ngIf="!loading" [@Fade]>
            </div> <!-- img_wrap -->
        </div> <!-- wrapper -->

        <div class="grey grey_2"></div>

        <div class="store">
            <pbx-sidebar>
                <div class="store_sidebar_audio" (drop)="dropHandler($event)"
                        (dragover)="dragOverHandler($event)"
                        (dragend)="dragEndHandler($event)"
                        (dragleave)="dragLeaveHandler($event)">
                    <div class="store_sidebar_audio_icon">
                        <svg-icon src="../../assets/icons/_middle/download_24px.svg"></svg-icon>
                    </div>
                    <div class="store_sidebar_audio_text">Drop files here to upload</div>
                    <div class="store_sidebar_audio_text">or</div>
                    <div class="store_sidebar_audio_select hidden_button_wrapper">
                        <p class="select_file" #fileSelect (click)="selectFile()">select files</p>
                        <input type="file" class="hidden_input" #fileInput (change)="sendFile($event)">
                    </div>
                </div>
            </pbx-sidebar>
        </div> <!-- store -->

    </div> <!-- inner -->

</div> <!-- profile_settings -->

<pbx-modal [modalEx]="modalExit"
           (onConfirmEx)="confirmClose()"
           >
</pbx-modal>
