<!--<script src="../../../../../Old/EncryptoUI/src/components/refill/refill.component.ts"></script>-->
<pbx-loader *ngIf="loading.body&&loading.sidebar"></pbx-loader>
<div class="refill_grid" *ngIf="!(loading.body&&loading.sidebar)">
    <div class="refill_header" *ngIf="refill_status!=='processing'">
        <pbx-header
            [buttons]="[]"
            [filters]="filters"
            [errors]="errors"
            (onReload)="reloadFilter($event)"
            >
        </pbx-header>
    </div>
    <div class="refill_body {{refill_status}}">
        <pbx-loader *ngIf="loading.body"></pbx-loader>
        <div class="refill_currency_wrap" *ngIf="refill_status === 'main' && !loading.body">
            <div class="refill_currency_item"
                 *ngFor="let item of refillMethods"
                 (click)="selectRefillMethod(item)">
                <svg-icon *ngIf="!item.loading"
                          class="refill_currency_item_icon"
                          src="../../assets/icons/_cryptocurrency/{{item.id}}.svg"></svg-icon>
                <pbx-loader *ngIf="item.loading"></pbx-loader>
                <div class="refill_currency_item_title">{{item.title}}
                    <!--<span *ngIf="item.discount"> (discount {{item.discount*100}}%)</span>-->
                </div>
                <div class="refill_currency_item_label"></div>
            </div>
        </div>
        <div class="refill_paying" *ngIf="refill_status === 'paying' && !loading.body">
            <div class="refill_paying_container">
                <div class="refill_paying_title"><span translate>Payment method</span>: {{selected.title}}</div>
                <div class="refill_sidebar_item">
                    <div class="refill_sidebar_item_title" translate>{{selected.title}}</div>
                    <div class="refill_sidebar_item_value">{{payment.amount}}</div>
                </div>
                <div class="refill_paying_buttons">
                    <pbx-button value="Cancel"
                                buttonType="cancel"
                                (onClick)="cancelPay()"
                                >
                    </pbx-button>
                    <pbx-button value="{{'Pay' | translate}}"
                                buttonType="success"
                                [loading]="payment.loading"
                                (onClick)="pay()"
                                >
                    </pbx-button>
                </div>
            </div>
        </div>

        <div class="refill_processing" *ngIf="refill_status==='processing' && !loading.body">
            <div class="refill_processing_container">
                <div class="refill_processing_title" translate>Invoice pay processing</div>
                <div class="refill_processing_amount"><span translate>Invoice number</span>
                    <span>{{'     '+addLeadingZeros(payment)}}</span></div>
                <div class="refill_processing_amount"><span translate>Payment amount</span>
                    &nbsp;{{selected.title}}:<span>{{'     '+payment.amount}}</span></div>
                <div class="refill_processing_address">
                    <div>{{selected.title}} {{'payment address' | translate}}:</div>
                    <div>{{payment.address}}</div>
                    <div (click)="copyToClipboard()" translate>(click to copy)</div>
                </div>
                <div class="refill_processing_qr_code_wrap">
                    <img [src]="payment.qrCode">
                </div>
            </div>
        </div>
    </div>
    <div class="refill_sidebar" *ngIf="!loading.sidebar">
        <div class="refill_sidebar_block">
            <div class="refill_sidebar_title" translate>Current Balance</div>
            <div class="refill_sidebar_item">
                <div class="refill_sidebar_item_title" translate>Balance</div>
                <div class="refill_sidebar_item_value">{{balance.symbol}} {{balance.balance}}</div>
            </div>
        </div>
        <div class="refill_sidebar_block" *ngIf="courses && refill_status !== 'processing'">
            <div class="refill_sidebar_title rates" translate>Exchange Rates</div>
            <div class="refill_sidebar_item {{selected && item.code === selected.currency.code ? 'picked' : ''}}"
                 *ngFor="let item of courses">
                <div class="refill_sidebar_item_code" *ngIf="item.code">{{item.code.toUpperCase()}}</div>
                <div class="refill_sidebar_item_code" *ngIf="!item.code">{{item.title}}</div>
                <div class="refill_sidebar_item_title">{{item.title}}</div>
                <div class="refill_sidebar_item_value"><span *ngIf="item.symbol">{{item.symbol}}</span>{{item.value}}</div>
            </div>
        </div>
    </div>
</div>
<pbx-modal [modalEx]="modalExit"></pbx-modal>
