<pbx-loader *ngIf="loading.body&&loading.sidebar"></pbx-loader>
<div class="refill_grid" *ngIf="!(loading.body&&loading.sidebar)">
  <div class="refill_header" *ngIf="refill_status!=='processing'">
    <div class="refill_header_block">
      <div class="refill_header_block_key"
      >Payment amount (Min amount ${{amount.min}}, Max amount ${{amount.max}}): </div>
      <input class="refill_header_block_input"
             [ngClass]="{'inactive':refill_status==='paying'}">
    </div>
    <div class="refill_header_block" *ngIf="refill_status==='paying'">
      <div class="refill_header_block_key"
      >Return address: </div>
      <input class="refill_header_block_input"
             [value]="payment_address">
    </div>
  </div>
  <div class="refill_body {{refill_status}}">
    <div class="refill_currency_wrap" *ngIf="refill_status==='main'">
      <div class="refill_currency_item"
           *ngFor="let item of currency"
           (click)="refill_status='paying';picked_currency=item.id">
        <svg-icon class="refill_currency_item_icon"
                  src="../../assets/icons/{{item.icon}}.svg"></svg-icon>
        <div class="refill_currency_item_title"
        >{{item.title+(item.code?' ('+item.code.toUpperCase()+')':'')}}
          <span *ngIf="item.discount"> (discount {{item.discount*100}}%)</span></div>
        <div class="refill_currency_item_label"></div>
      </div>
    </div>
    <div class="refill_paying" *ngIf="refill_status==='paying'">
      <div class="refill_paying_title">Payment method: {{findById(picked_currency,currency).title}}</div>
      <div class="refill_paying_wrap">
        <div class="refill_sidebar_item">
          <div class="refill_sidebar_item_title">Invoice number</div>
          <div class="refill_sidebar_item_value">{{invoice_number}}</div>
        </div>
        <div class="refill_sidebar_item">
          <div class="refill_sidebar_item_code"
               *ngIf="findById(picked_currency,rates).code"
          >{{findById(picked_currency,rates).code.toUpperCase()}}</div>
          <div class="refill_sidebar_item_code"
               *ngIf="!findById(picked_currency,rates).code"
          >{{findById(picked_currency,rates).title}}</div>
          <div class="refill_sidebar_item_title">{{findById(picked_currency,rates).title}}</div>
          <div class="refill_sidebar_item_value">{{findById(picked_currency,rates).value}}</div>
        </div>
        <div class="refill_paying_buttons">
          <pbx-button value="Cancel" buttonType="cancel" (onClick)="refill_status='main';picked_currency=null"></pbx-button>
          <pbx-button value="Pay" buttonType="success" (onClick)="modal.visible=true"></pbx-button>
        </div>
      </div>
    </div>
    <div class="refill_processing" *ngIf="refill_status==='processing'">
      <div class="refill_processing_title">Invoice pay processing</div>
      <div class="refill_processing_item">
        <div class="refill_processing_item_key">Invoice number</div>
        <div class="refill_processing_item_value">{{invoice_number}}</div>
      </div>
      <div class="refill_processing_item">
        <div class="refill_processing_item_key"
             *ngIf="findById(picked_currency,rates).code">Payment amount {{findById(picked_currency,rates).code.toUpperCase()}}</div>
        <div class="refill_processing_item_key"
             *ngIf="!findById(picked_currency,rates).code">Payment amount {{findById(picked_currency,rates).title}}</div>
        <div class="refill_processing_item_value">{{findById(picked_currency,rates).value}}</div>
      </div>
      <div class="refill_processing_code">{{findById(picked_currency,rates).title+' payment address: '+payment_address}}</div>
      <div class="refill_processing_copy">(click to copy)</div>
      <div class="refill_processing_qr"></div>
    </div>
  </div>
  <div class="refill_sidebar" *ngIf="!loading.sidebar">
    <div class="refill_sidebar_block" *ngIf="balance">
      <div class="refill_sidebar_title">Current Balance</div>
      <div class="refill_sidebar_item" *ngFor="let item of balance">
        <div class="refill_sidebar_item_title">{{item.title}}</div>
        <div class="refill_sidebar_item_value">{{item.value}}</div>
      </div>
    </div>
    <div class="refill_sidebar_block" *ngIf="rates">
      <div class="refill_sidebar_title rates">Exchange Rates</div>
      <div class="refill_sidebar_item"
           [ngClass]="{'picked':picked_currency===item.id}"
           *ngFor="let item of rates">
        <div class="refill_sidebar_item_code" *ngIf="item.code">{{item.code.toUpperCase()}}</div>
        <div class="refill_sidebar_item_code" *ngIf="!item.code">{{item.title}}</div>
        <div class="refill_sidebar_item_title">{{item.title}}</div>
        <div class="refill_sidebar_item_value">{{item.value}}</div>
      </div>
    </div>
  </div>
</div>
<pbx-modal [modal]="modal"
           (onConfirm)="Pay()">Are you sure?</pbx-modal>
