<div class="dashboard_wrap">
    <pbx-loader class="inactive dashboard_balance" *ngIf="loading"></pbx-loader>
    <div class="dashboard_item dashboard_balance" *ngIf="!loading">
        <div class="dashboard_item_title_row">
            <div class="dashboard_item_title_key" translate>Balance</div>
            <div class="dashboard_balance_value">{{dashboard.balance.currency.shortName}}{{dashboard.balance.value | currency:" ":2}}
            </div>
        </div>
        <div class="dashboard_item_title_row">
            <div class="dashboard_item_title_key">ETT</div>
            <div class="dashboard_balance_value">{{dashboard.balance.ett}}</div>
        </div>
        <div class="dashboard_item_link_row" *ngIf="isAdmin()">
            <a class="dashboard_item_link_item" [routerLink]="'../settings/billing'" routerLinkActive="active">
                <span translate>Billing</span>
                <svg-icon class="dashboard_item_icon"
                          src="../../assets/icons/_middle/dropdown_arrow_12px.svg"></svg-icon>
            </a>
            <a class="dashboard_item_link_item dashboard_center" [routerLink]="'../invoices'"
               routerLinkActive="active">
                <span translate>Invoices</span>
                <svg-icon class="dashboard_item_icon"
                          src="../../assets/icons/_middle/dropdown_arrow_12px.svg"></svg-icon>
            </a>
            <a class="dashboard_item_link_item" routerLink="/cabinet/refill" routerLinkActive="active">
                <span translate>Refill</span>
                <svg-icon class="dashboard_item_icon"
                          src="../../assets/icons/_middle/dropdown_arrow_12px.svg"></svg-icon>
            </a>
        </div>
    </div>
    <pbx-loader class="inactive dashboard_tariff" *ngIf="loading"></pbx-loader>
    <div class="dashboard_item dashboard_tariff" *ngIf="!loading">
        <div class="dashboard_item_title_row">
            <div class="dashboard_item_title_key" translate>Tariff plan</div>
            <div class="dashboard_item_title_value" *ngIf="dashboard.tariffPlan" translate>{{dashboard.tariffPlan.title}}</div>
        </div>
        <div class="dashboard_item_content_row">
            <div class="dashboard_item_content_key" translate>Next monthly payment</div>
            <div class="dashboard_item_content_value" *ngIf="dashboard.tariffPlan">{{dashboard.tariffPlan.displayExpired | date:dateFormat}}</div>
        </div>
        <div class="dashboard_item_content_row">
            <div class="dashboard_item_content_key" translate>Estimated Payment</div>
            <div class="dashboard_item_content_value" *ngIf="dashboard.tariffPlan">
                {{dashboard.balance.currency.shortName}}{{dashboard.tariffPlan.sum | currency:" ":2}}
            </div>
        </div>
        <div class="dashboard_item_link_row" *ngIf="isAdmin()">
            <a [routerLink]="'../tariff'" routerLinkActive="active" class="dashboard_item_link_item" translate>
                Change tariff plan
                <svg-icon class="dashboard_item_icon"
                          src="../../assets/icons/_middle/dropdown_arrow_12px.svg"></svg-icon>
            </a>
        </div>
    </div>
    <pbx-loader class="inactive dashboard_numbers" *ngIf="loading"></pbx-loader>
    <div class="dashboard_item dashboard_numbers" *ngIf="!loading">
        <div class="dashboard_item_title_row">
            <div class="dashboard_item_title_name" translate>Numbers</div>
        </div>
        <div class="dashboard_numbers_body">
            <div class="dashboard_item_content_row" *ngFor="let number of dashboard.numbers; let i = index">
                <div class="dashboard_item_line" *ngIf="i <= 4">
                    <div class="dashboard_item_content_key"><span *ngIf="number.phoneType == 'external'">+</span>{{number.phoneNumber}}</div>
                    <div class="dashboard_item_content_value">{{number.innerOnlineCount}}&nbsp;<span translate>of</span>&nbsp;{{number.innerCount}}&nbsp;<span translate>ext.</span>&nbsp;<span translate>online</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard_item_link_row" *ngIf="isAdmin()">
            <a class="dashboard_item_link_item dashboard_right" [routerLink]="'../phone-numbers'"
               routerLinkActive="active" translate>
                Details
                <svg-icon class="dashboard_item_icon"
                          src="../../assets/icons/_middle/dropdown_arrow_12px.svg"></svg-icon>
            </a>
        </div>
    </div>
    <pbx-loader class="inactive dashboard_drive" *ngIf="loading"></pbx-loader>
    <div class="dashboard_item dashboard_drive" *ngIf="!loading">
        <div class="dashboard_drive_row">
            <div class="dashboard_drive_content">
                <div class="dashboard_item_title_row">
                    <div class="dashboard_item_title_name" translate>Drive</div>
                </div>
                <div class="dashboard_item_content_row">
                    <div class="dashboard_item_content_key" translate>Total size</div>
                    <div class="dashboard_item_content_value" *ngIf="dashboard.storage">{{dashboard.storage.totalSize}}
                        {{dashboard.storage.measure}}
                    </div>
                </div>
                <div class="dashboard_item_content_row">
                    <div class="dashboard_item_content_key" translate>Available space</div>
                    <div class="dashboard_item_content_value" *ngIf="dashboard.storage">{{dashboard.storage.availableSize}}
                        {{dashboard.storage.measure}}
                    </div>
                </div>
                <div class="dashboard_item_content_row">
                    <div class="dashboard_item_content_key" translate>Used space</div>
                    <div class="dashboard_item_content_value" *ngIf="dashboard.storage">{{dashboard.storage.usedSize}}
                        {{dashboard.storage.measure}}
                    </div>
                </div>
            </div>
            <div class="dashboard_drive_diagram" *ngIf="dashboard.storage">
                <div class="dashboard_drive_percentage">
                    {{((dashboard.storage.usedSize)/(dashboard.storage.totalSize))*100 | number: '1.0-0'}}%
                </div>
                <style>

                </style>
                <!-- i try to create diagram -->
                <pbx-circle-progress
                    [value]="((dashboard.storage.usedSize)/(dashboard.storage.totalSize))*100 | number: '1.0-0'">
                </pbx-circle-progress>
            </div>
        </div>
        <div class="dashboard_item_link_row">
            <a [routerLink]="'../storage'" routerLinkActive="active" class="dashboard_item_link_item" translate>
                Details
                <svg-icon class="dashboard_item_icon"
                          src="../../assets/icons/_middle/dropdown_arrow_12px.svg"></svg-icon>
            </a>
        </div>
    </div>
    <pbx-loader class="inactive dashboard_history" *ngIf="loading"></pbx-loader>
    <div class="dashboard_history" *ngIf="!loading">
        <div class="dashboard_item_title_row">
            <div class="dashboard_item_title_name" translate>History</div>
        </div>
        <div class="dashboard_history_body" *ngIf="dashboard.callDetail && dashboard.callDetail.length > 0">
            <div class="dashboard_history_wrap" *ngFor="let historyBlock of dashboard.callDetail">
                <div class="dashboard_history_date">{{historyBlock.date}}</div>
                <div class="dashboard_history_item" *ngFor="let historyItem of historyBlock.list"
                     [ngClass]="'missed' === historyItem.tag ? 'missed' : ''">
                    <pbx-loader *ngIf="historyItem.loading"></pbx-loader>
                    <div *ngIf="!historyItem.loading" class="dashboard_history_row">
                        <div class="dashboard_history_details">{{historyItem.name || 'Unknown'}}</div>
                        <div class="dashboard_history_details">{{historyItem.calculateDuration}}
                        </div>
                    </div>
                    <div *ngIf="!historyItem.loading" class="dashboard_history_row">
                        <div class="dashboard_history_details">
                            {{historyItem.direction === 0 ? historyItem.source : historyItem.destination}}
                        </div>
                        <div class="dashboard_history_details">{{historyItem.tag}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard_history_body" *ngIf="dashboard.callDetail.length == 0"><span class="empty-data" translate>No data to display</span></div>
        <a class="dashboard_item_link_row" [routerLink]="'/cabinet/details-and-records'" routerLinkActive="active"
           translate>Details</a>
    </div>
</div>

