<div class="dashboard_wrap">
    <pbx-loader class="inactive dashboard_balance" *ngIf="loading"></pbx-loader>
    <div class="dashboard_item dashboard_balance" *ngIf="!loading">
        <div class="dashboard_item_title_row">
            <div class="dashboard_item_title_key" translate>Balance</div>
            <div class="dashboard_balance_value">{{dashboard.balance.currency.shortName}}{{dashboard.balance.value}}
            </div>
        </div>
        <div class="dashboard_item_title_row">
            <div class="dashboard_item_title_key">ETT</div>
            <div class="dashboard_balance_value">{{dashboard.balance.ett}}</div>
        </div>
        <div class="dashboard_item_link_row">
            <a class="dashboard_item_link_item" [routerLink]="'../settings/billing'" routerLinkActive="active">
                Billing
                <svg-icon class="dashboard_item_icon"
                          src="../../assets/icons/_middle/dropdown_arrow_12px.svg"></svg-icon>
            </a>
            <a class="dashboard_item_link_item dashboard_center" [routerLink]="'../invoices'"
               routerLinkActive="active">
                Invoices
                <svg-icon class="dashboard_item_icon"
                          src="../../assets/icons/_middle/dropdown_arrow_12px.svg"></svg-icon>
            </a>
            <a class="dashboard_item_link_item" routerLink="/cabinet/refill" routerLinkActive="active">
                Refill
                <svg-icon class="dashboard_item_icon"
                          src="../../assets/icons/_middle/dropdown_arrow_12px.svg"></svg-icon>
            </a>
        </div>
    </div>
    <pbx-loader class="inactive dashboard_tariff" *ngIf="loading"></pbx-loader>
    <div class="dashboard_item dashboard_tariff" *ngIf="!loading">
        <div class="dashboard_item_title_row">
            <div class="dashboard_item_title_key">Tariff<i>&nbsp;plan</i></div>
            <div class="dashboard_item_title_value" *ngIf="dashboard.tariffPlan">{{dashboard.tariffPlan.title}}</div>
        </div>
        <div class="dashboard_item_content_row">
            <div class="dashboard_item_content_key">Next&nbsp;<i>monthly&nbsp;</i>payment</div>
            <div class="dashboard_item_content_value" *ngIf="dashboard.tariffPlan">
                {{dashboard.tariffPlan.displayExpired}}
            </div>
        </div>
        <div class="dashboard_item_content_row">
            <div class="dashboard_item_content_key" translate>Estimated Payment</div>
            <div class="dashboard_item_content_value" *ngIf="dashboard.tariffPlan">
                {{dashboard.balance.currency.shortName}}{{dashboard.tariffPlan.sum}}
            </div>
        </div>
        <div class="dashboard_item_link_row">
            <a [routerLink]="'../tariff'" routerLinkActive="active" class="dashboard_item_link_item" translate>
                Change tariff plan
                <svg-icon class="dashboard_item_icon"
                          src="../../assets/icons/_middle/dropdown_arrow_12px.svg"></svg-icon>
            </a>
        </div>
    </div>
    <pbx-loader class="inactive dashboard_numbers" *ngIf="loading"></pbx-loader>
    <div class="dashboard_item dashboard_numbers" *ngIf="!loading">
        <div class="dashboard_item_title_row">
            <div class="dashboard_item_title_name" translate>Phone<i translate>&nbsp;numbers</i></div>
        </div>
        <div class="dashboard_numbers_body">
            <div class="dashboard_item_content_row" *ngFor="let number of dashboard.numbers; let i = index">
                <div class="dashboard_item_line" *ngIf="i <= 4">
                    <div class="dashboard_item_content_key"><span *ngIf="number.phoneType == 'external'">+</span>{{number.phoneNumber}}</div>
                    <div class="dashboard_item_content_value">{{number.innerOnlineCount}} of {{number.innerCount}}
                        ext.<span>online</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard_item_link_row">
            <a class="dashboard_item_link_item dashboard_right" [routerLink]="'../phone-numbers'"
               routerLinkActive="active" translate>
                Details
                <svg-icon class="dashboard_item_icon"
                          src="../../assets/icons/_middle/dropdown_arrow_12px.svg"></svg-icon>
            </a>
        </div>
    </div>
    <pbx-loader class="inactive dashboard_drive" *ngIf="loading"></pbx-loader>
    <div class="dashboard_item dashboard_drive" *ngIf="!loading">
        <div class="dashboard_drive_row">
            <div class="dashboard_drive_content">
                <div class="dashboard_item_title_row">
                    <div class="dashboard_item_title_name" translate>Drive</div>
                </div>
                <div class="dashboard_item_content_row">
                    <div class="dashboard_item_content_key" translate>Total size</div>
                    <div class="dashboard_item_content_value" *ngIf="dashboard.storage">{{dashboard.storage.totalSize}}
                        {{dashboard.storage.measure}}
                    </div>
                </div>
                <div class="dashboard_item_content_row">
                    <div class="dashboard_item_content_key" translate>Available space</div>
                    <div class="dashboard_item_content_value" *ngIf="dashboard.storage">{{dashboard.storage.availableSize}}
                        {{dashboard.storage.measure}}
                    </div>
                </div>
                <div class="dashboard_item_content_row">
                    <div class="dashboard_item_content_key" translate>Used space</div>
                    <div class="dashboard_item_content_value" *ngIf="dashboard.storage">{{dashboard.storage.usedSize}}
                        {{dashboard.storage.measure}}
                    </div>
                </div>
            </div>
            <div class="dashboard_drive_diagram" *ngIf="dashboard.storage">
                <div class="dashboard_drive_percentage">
                    {{((dashboard.storage.usedSize)/(dashboard.storage.totalSize))*100 | number: '1.0-0'}}%
                </div>
                <style>

                </style>
                <!-- i try to create diagram -->
                <pbx-circle-progress
                    [value]="((dashboard.storage.usedSize)/(dashboard.storage.totalSize))*100 | number: '1.0-0'">
                </pbx-circle-progress>
            </div>
        </div>
        <div class="dashboard_item_link_row">
            <a [routerLink]="'../storage'" routerLinkActive="active" class="dashboard_item_link_item" translate>
                Details
                <svg-icon class="dashboard_item_icon"
                          src="../../assets/icons/_middle/dropdown_arrow_12px.svg"></svg-icon>
            </a>
        </div>
    </div>
    <pbx-loader class="inactive dashboard_history" *ngIf="loading"></pbx-loader>
    <div class="dashboard_history" *ngIf="!loading">
        <div class="dashboard_item_title_row">
            <div class="dashboard_item_title_name" translate>History</div>
        </div>
        <div class="dashboard_history_body" *ngIf="dashboard.callDetail && dashboard.callDetail.length > 0">
            <div class="dashboard_history_wrap" *ngFor="let historyBlock of dashboard.callDetail">
                <div class="dashboard_history_date">{{historyBlock.analyzeDate}}</div>
                <div class="dashboard_history_item" *ngFor="let historyItem of historyBlock.list"
                     [ngClass]="{'missed': !historyItem.status}">
                    <pbx-loader *ngIf="historyItem.loading"></pbx-loader>
                    <div *ngIf="!historyItem.loading" class="dashboard_history_row">
                        <div class="dashboard_history_details">{{historyItem.name || 'Unknown'}}</div>
                        <div class="dashboard_history_details">{{historyItem.direction === 0 ? historyItem.source :
                            historyItem.destination}}
                        </div>
                    </div>
                    <div *ngIf="!historyItem.loading" class="dashboard_history_row">
                        <div class="dashboard_history_details" *ngIf="historyItem.calculateDuration">
                            {{historyItem.calculateDuration}}
                        </div>
                        <div class="dashboard_history_details">{{historyItem.status === 0 ? historyItem.direction :
                            'missed'}}
                        </div>
                        <div class="dashboard_history_details" *ngIf="!historyItem.calculateDuration">
                            {{historyItem.direction === 0 ? 'incoming' : 'outgoing'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="dashboard_item_link_row" [routerLink]="'/cabinet/details-and-records'" routerLinkActive="active"
           translate>Details</a>
    </div>
</div>

