@import "../../vars"

.pbx_header
  flex: 1
  display: flex
  flex-direction: row
  color: $font-color
  &_wrap
    justify-content: flex-end
    margin-bottom: rem(24)
    pbx-button
      color: $dark_primary
      width: unset
