<div class="pbx_header">
    <div *ngFor="let filter of filters">
        <pbx-input [name]="filter.name"
                   [key]="filter.key"
                   [placeholder]="filter.placeHolder"
                   [options]="filter.options"
                   [displayKey]="filter.optionsDisplayKey"
                   [object]="currentFilter"
                   (onKeyUp)="reload()"
                   (onSelect)="reload()">
        </pbx-input>
    </div>
    <div class="pbx_header_header">
        <pbx-button *ngFor="let button of buttons"
                    [inactive]="inactive"
                    [value]="button.title"
                    [buttonType]="button.type"
                    (onClick)="clickButton(button)">
        </pbx-button>
    </div>
</div>
