\:host
    flex-direction: column

.settings_form_section
    margin-bottom: rem(64)
    .settings_input_item:last-child.settings_input_item:last-child.list
        padding-bottom: rem(224)

.settings_form_title_1
    font-size: 16px
    font-size: 14px
    margin-bottom: 20px
    span
        margin-left: 10px
        color: #828282

.settings_form_title_2
    font-size: 14px
    margin-bottom: 10px

.settings_form_title_3
    font-size: 14px
    font-style: italic
    margin-bottom: 10px

.settings_form_field_group
    flex-flow: row
    align-items: center
    pbx-settings-input
        margin-right: 20px