<div class="settings_form_section" *ngFor="let item of items">

    <ng-container [ngSwitch]="item.type">

        <ng-template [ngSwitchCase]="'group'">
            <div [class]="'settings_form_title_' + level" translate>
                {{ item.itemTitle }}
                <span *ngIf="item.comment" translate>{{ item.comment }}</span>
            </div>

            <!-- flex-flow: column -->
            <pbx-settings-group
                [items]="item.children"
                [level]="level + 1"
                [form]="form"
                [validationHost]="validationHost"
                (valueChange)="onValueChange($event)"
                >
            </pbx-settings-group>
        </ng-template>

        <ng-template [ngSwitchCase]="'group_field'">
            <div [class]="'settings_form_title_' + level" translate>
                {{ item.itemTitle }}
                <span *ngIf="item.comment" translate>{{ item.comment }}</span>
            </div>

            <div class="settings_form_field_group">
                <div *ngFor="let child of item.children">
                    <!-- flex-flow: row -->
                    <pbx-settings-input
                        [item]="child"
                        [fullWidth]="false"
                        [form]="form"
                        [validationHost]="validationHost"
                        (valueChange)="onValueChange(child)"
                        >
                    </pbx-settings-input>
                </div>
            </div>
        </ng-template>

        <ng-template ngSwitchDefault>
            <!-- flex-flow: column -->
            <pbx-settings-input
                [item]="item"
                [fullWidth]="true"
                [form]="form"
                [validationHost]="validationHost"
                (valueChange)="onValueChange(item)"
                >
            </pbx-settings-input>
        </ng-template>

    </ng-container>
</div>
