<div class="select_wrap"
     tabindex="0"
     #selectWrap
     [ngClass]="[errors ? 'error' : '', isVisible ? 'active' : '', calcPosition()]"
     (clickOutside)="clickOutside()"
     (focus)="ctrlFocus($event)"
     (mousedown)="ctrlMouseDown($event)"
     (keydown)="ctrlKeyDown($event)">
    
    <span *ngIf="isPlaceholder && !isVisible" class="pbx-select-placeholder">{{ placeholder }}</span>
    <div [ngClass]="[ 'select_item', 'selected', !selected ? 'blank' : '', singleBorder ? 'no_border' : '', errors ? 'error' : '', name ? 'pbx_select_' + name : '' ]">
        <span *ngIf="!isVisible">{{ _selected ? _selected[objectKey] : '' }}</span>
            <input *ngIf="isVisible"
                class="{{ singleBorder ? '' : 'show-border' }} pbx_select_edit_input"
                #selectInput
                type="text"
                id="{{ name }}_filter"
                [(ngModel)]="filterValue"
                [ngClass]="[ checkError() ? 'input-invalid' : 'input-valid' ]"
                (keydown)="inputKeyDown($event)"
                (keyup)="inputKeyUp($event)"
                (mousedown)="inputMouseDown($event)"
                >
        <svg-icon src="/assets/icons/_middle/dropdown_arrow_12px.svg" class="select_icon"></svg-icon>
    </div>
    
    <div class="{{ isVisible ? '' : 'hide' }} select_options"
        [@Swipe]
        #optionsWrap
        >
        <div *ngFor="let option of filteredOptions"
                class="select_item"
                [ngClass]="{ 'current': isItemSelected(option), 'pbx-select-empty': !option.id }"
                (mousedown)="selectItem(option, $event)"
            >
            {{ option[objectKey] }}
        </div>
    </div>
</div>
