<pbx-loader *ngIf="loading"></pbx-loader>
<div class="audio_conference_create">

    <div class="audio_conference_header">

        <div class="audio_conference_tabs">
            <div class="audio_conference_tabs_wrap">
                <div class="audio_conference_tabs_header">
                    <div class="audio_conference_tabs_tab_wrap">
                        <div class="audio_conference_tabs_tab"
                             *ngFor="let item of tab.items"
                             [ngClass]="{'active':item===tab.select}"
                             (click)="selectTab(item)">{{item}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="audio_conference_buttons">
            <pbx-button buttonType="cancel"
                        value="Cancel"
                        (onClick)="cancel()">
            </pbx-button>
            <pbx-button buttonType="success"
                        value="Save"
                        (onClick)="save()"
                        [loading]="saving">
            </pbx-button>
        </div> <!-- audio_conference_buttons -->

    </div> <!-- audio_conference_header -->

    <div class="audio_conference_body">

        <general-audio-conference-component
                *ngIf="!loading && tab.select==='General'"
                class="audio_conference_body_item"
        ></general-audio-conference-component>

        <members-audio-conference-component
                *ngIf="!loading && tab.select==='Members'"
                class="audio_conference_body_item"
        ></members-audio-conference-component>

        <statistic-audio-conference-component
                *ngIf="!loading && tab.select==='Statistic'"
                class="audio_conference_body_item"
        ></statistic-audio-conference-component>

    </div> <!-- audio_conference_body -->

</div> <!-- audio_conference_create -->

<div class="audio_conference_info">

    <div class="title">Information</div>

    <div class="cnt">

        <p>
            Global conferencing that is flexible, straightforward and secure.
        </p>
        <p>
            It’s Flexible.<br>
            Our services are made for all types of meetings with colleagues, friends or family. No reservations required and available 24/7.
        </p>
        <p>
            Straightforward.<br>
            There are no hidden charges. Talk as much as you like, for as long as you want. Conference call participants only pay standard local rates.
        </p>
        <p>
            It’s Secure.<br>
            Encryptotel.com meets or exceeds industry security standards, including data encryption and firewalls to protect stored data.
        </p>
        <p>
            Participate in a Conference Call Participants connect to a conference using any of the 68 in-country dial-in numbers and entering the host’s access code. The first participant will hear hold music until the second participant arrives.
        </p>

        <p>
            Participate in a Conference Call Participants connect to a conference using any of the 68 in-country dial-in numbers and entering the host’s access code. The first participant will hear hold music until the second participant arrives.
        </p>

    </div> <!-- cnt -->




</div> <!-- audio_conference_info -->