@import "../../vars"
// Global variables import

.error
    border-bottom-color: #c76262 !important

.auth_form_text
    flex-direction: row
    flex-wrap: wrap
    span
        width: 100%
        justify-content: center
        padding-bottom: 6px

.response_wrap
    position: relative
    flex: 0 0 auto
    flex-direction: column
    width: 328px
    max-width: calc(100% - 32px)
    margin: 88px auto auto
    z-index: 1
    h6
        justify-content: center
        margin: 16px 0 8px
        font-size: 1.3rem
