<div class="auth_form">
    <svg-icon src="/assets/icons/_logo/encryptotel_logo.svg" class="auth_form_icon"></svg-icon>
    <form (submit)="sendTemporaryPassword($event)" [formGroup]="temporaryCodeForm" (keyup)="clearMessage($event)">
        <div class="auth_form_message" [ngClass]="message.type" *ngIf="message" [@Fade]
             (click)="_services.clearMessage()">{{message.message}}
        </div>
        <div class="input_wrap">
            <input name="Username" id="email" placeholder="{{'E-mail' | translate }}" formControlName="email"
                   [ngClass]="!errorForm ? '': 'error'">
            <div class="input_error" *ngIf="inputValidation('email')" [@Fade]>
                <span id="temporary_code_err_no_email" class="input_error_item"
                      *ngIf="inputValidation('email', 'required')" translate>Please enter your e-mail address</span>
                <span id="temporary_code_err_invalid_email" class="input_error_item"
                      *ngIf="inputValidation('email', 'pattern')" translate>Please enter correct e-mail address</span>
            </div>
        </div>
        <pbx-button [buttonType]="'accent'" [loading]="loading" [value]="'Send me a temporary password'"
                    (onClick)="sendTemporaryPassword()"></pbx-button>
        <div class="auth_form_text" translate>Don't have an EncryptoTel Account?</div>
        <a routerLink="../sign-up" class="auth_form_link" translate>Create one now</a>
    </form>

    <div class="feedback_btn_wrap">
        <div class="feedback_btn">
            <svg-icon src="./assets/icons/_middle/email.svg"></svg-icon>
        </div> <!-- feedback_btn -->
    </div> <!-- feedback_btn_wrap -->

    <div class="feedback_form">

        <div class="header">
            <div class="title">Заполните форму</div>
            <svg-icon src="./assets/icons/_middle/cancel_delete_12px.svg"></svg-icon>
        </div> <!-- header -->

        <div class="body">
            <div class="title">Задайте нам интересующий Вас вопрос и мы ответим в течении 24 часов.</div>

            <form action="" method="">

                <div class="temp">Name</div>
                <div class="temp">Email</div>
                <div class="temp">Country</div>
                <div class="temp">Department</div>
                <div class="temp msg">Request</div>

                <div class="privacy">
                    <pbx-checkbox></pbx-checkbox>
                    <div class="text">
                        Нажимая на кнопку «Отправить», я принимаю условия пользовательского соглашения и даю согласие на обработку моих персональных данных.
                    </div>
                </div> <!-- privacy -->

                <pbx-button [buttonType]="'success'" value="{{'Отправить' | translate}}"></pbx-button>


            </form>

        </div> <!-- body -->

        <div class="footer">+1 (844) 267-05-73</div>

    </div> <!-- feedback_form -->

</div>
