@import "../../../vars"
// Global variables import

.auth_form_text
    flex-direction: row

@media (max-width: 384px)
    .auth_form_text
        flex-direction: column
        text-align: center
        line-height: rem(18)

@media (max-height: 767px)
    .auth_form
        padding: rem(24) 0
        svg-icon, form
            margin-top: auto
            margin-bottom: auto
        &::before, &::after
            position: fixed
            top: 0

pbx-input
    margin-top: 10px
    /deep/ .pbx_input_item
        grid-template-columns: auto 0fr
        direction: rtl
    /deep/ .pbx_input_item_label
        max-width: 305px
        width: auto
        direction: ltr
        white-space: normal
        line-height: 1.1
        span
            font-size: 11px
            line-height: 1.4
            padding: 3px 6px 0 10px
            opacity: 0.4
    /deep/ .pbx_input_item_input_wrap
        align-self: flex-start
    /deep/ .pbx_input_error
        left: 76px
        margin-top: 0
        background-color: #22b2b3
        font-size: 12px
        direction: ltr
        width: 300px
        &:before
            content: ''
            position: absolute
            left: -14px
            top: 50%
            -webkit-transform: translateY(-50%)
            transform: translateY(-50%)
            width: 0
            height: 0
            border-top: 8px solid transparent
            border-right: 8px solid #22b2b3
            border-bottom: 8px solid transparent

.post-signup-wrap
    position: relative
    flex: 0 0 auto
    flex-direction: column
    width: 328px
    max-width: calc(100% - 32px)
    margin: 88px auto auto
    z-index: 1

.post-signup-text
    flex-direction: row
    color: $dark-white
    justify-content: center
    text-align: center
    margin-bottom: 40px
    line-height: 20px

.post-signup-h1
    flex-direction: row
    color: $dark-white
    justify-content: center
    margin-bottom: 40px
    font-size: 24px
