<div class="auth_form">
  <a class="auth_form_icon_wrap auth_form_icon" [@Fade] routerLink="../sign-in">
    <svg-icon [src]="'/assets/icons/logo.svg'" class="auth_form_icon"></svg-icon>
  </a>
  <form (submit)="signUp($event)" [formGroup]="signUpForm" [@Fade]>
    <div class="auth_form_message" [ngClass]="message.type" *ngIf="message" [@Fade] (click)="_services.clearMessage()">{{message.message}}</div>
    <div class="input_wrap">
      <input name="Name" placeholder="Name" formControlName="firstname">
      <div class="input_error" *ngIf="inputValidation('firstname')" [@Fade]>
        <span class="input_error_item" *ngIf="inputValidation('firstname', 'required')">Please enter your name</span>
        <span class="input_error_item" *ngIf="inputValidation('firstname', 'pattern')">Name should contain only letters and "-" or "."</span>
      </div>
    </div>
    <div class="input_wrap">
      <input name="Surname" placeholder="Surname" formControlName="lastname">
      <div class="input_error" *ngIf="inputValidation('lastname')" [@Fade]>
        <span class="input_error_item" *ngIf="inputValidation('lastname', 'pattern')">Surname should contain only letters and "-" or "."</span>
      </div>
    </div>
    <div class="input_wrap">
      <input name="E-mail" placeholder="E-mail" formControlName="email" (keyup)="_services.clearMessage()">
      <div class="input_error" *ngIf="inputValidation('email')" [@Fade]>
        <span class="input_error_item" *ngIf="inputValidation('email', 'required')">Please enter your e-mail</span>
        <span class="input_error_item" *ngIf="inputValidation('email', 'pattern')">Please enter correct e-mail address</span>
      </div>
    </div>
    <div class="input_wrap">
      <input type="password" name="Password" placeholder="Password" formControlName="password">
      <div class="input_error" *ngIf="inputValidation('password')" [@Fade]>
        <span class="input_error_item" *ngIf="inputValidation('password', 'required')">Please enter password</span>
        <span class="input_error_item" *ngIf="inputValidation('password', 'minlength')">Password is too short</span>
      </div>
    </div>
    <div class="input_wrap">
      <input type="password" name="Confirm password" placeholder="Confirm password" [ngClass]="{'ng-invalid ng-touched': passwordsMismatch()}" formControlName="password_confirmation">
      <div class="input_error" *ngIf="passwordsMismatch()" [@Fade]>
        <div class="input_error_item" *ngIf="passwordsMismatch()">Passwords doesn't match</div>
      </div>
    </div>
    <div class="auth_form_text" style="margin-top: 8px;">Your tariff plan is Basic (Free).&nbsp;<a routerLink="tariff_plans" class="auth_form_link">Change it?</a></div>
    <pbx-button [buttonType]="'accent'" [value]="'Sign Up'" [loading]="loading" (onClick)="signUp()"></pbx-button>
    <div class="auth_form_text">Already have an EncryptoTel Account?</div>
    <a routerLink="../sign-in" class="auth_form_link">Sign in now</a>
  </form>
</div>
