<div class="auth_form">
    <a class="auth_form_icon_wrap auth_form_icon" [@Fade] routerLink="../sign-in">
        <svg-icon [src]="'/assets/icons/_logo/encryptotel_logo.svg'" class="auth_form_icon"></svg-icon>
    </a>
    <form *ngIf="!signUpCompleted"
          [@Fade]
          [formGroup]="signUpForm"
          (submit)="signUp($event)"
          (keyup)="services.clearMessage()"
    >
        <div class="auth_form_message" [ngClass]="message.type" *ngIf="message" [@Fade]
             (click)="services.clearMessage()" translate>{{message.message}}
        </div>
        <div class="input_wrap">
            <input #nameInput name="Name" placeholder="{{'Name' | translate}}" formControlName="firstname"
                   (focus)="setFocus(nameInput)" (blur)="removeFocus(nameInput)" (mouseenter)="mouseEnter(nameInput)"
                   (mouseleave)="mouseLeave(nameInput)">
            <div class="input_error" *ngIf="inputValidation('firstname') && errorName" [@Fade]>
                <span class="input_error_item"
                    *ngIf="inputValidation('firstname', 'firstLeterError')" translate>Your name must begin with a letter</span>
                <span id="sign_up_err_no_name" class="input_error_item" *ngIf="inputValidation('firstname', 'required')"
                      translate>Please enter your name</span>
                <span id="sign_up_err_name_should_contain" class="input_error_item"
                      *ngIf="inputValidation('firstname', 'pattern')" translate>Name contains invalid characters or symbols. You can only use letters and the following characters: ’-.</span>
                <span class="input_error_item"
                      *ngIf="inputValidation('firstname', 'maxlength')" translate>Name can`t contain over 190 characters</span>
            </div>
        </div>
        <div class="input_wrap">
            <input #emailInput name="E-mail" placeholder="{{'E-mail' | translate}}" formControlName="email" (focus)="setFocus(emailInput)"
                   (blur)="removeFocus(emailInput)" (mouseenter)="mouseEnter(emailInput)"
                   (mouseleave)="mouseLeave(emailInput)">
            <div class="input_error" *ngIf="inputValidation('email') && errorEmail" [@Fade]>
                <span id="sign_up_err_email" class="input_error_item" *ngIf="errorEmailMessage !== ''"
                      translate>{{errorEmailMessage}}</span>
                <span id="sign_up_err_no_email" class="input_error_item" *ngIf="errorEmailMessage === '' && inputValidation('email', 'required')"
                      translate>Please enter your email address</span>
                <span id="sign_up_err_invalid_email" class="input_error_item"
                      *ngIf="inputValidation('email', 'pattern') && errorEmailMessage === ''" translate>Please enter correct email address</span>
            </div>
        </div>
        <div class="input_wrap">
            <input #passwordInput type="password" name="Password" placeholder="{{'Password' | translate}}"
                   formControlName="password" (focus)="setFocus(passwordInput)" (blur)="removeFocus(passwordInput)"
                   (mouseenter)="mouseEnter(passwordInput)" (mouseleave)="mouseLeave(passwordInput)">
            <div class="input_error" *ngIf="inputValidation('password') && errorPassword" [@Fade]>
                <span id="sign_up_password" class="input_error_item"
                      *ngIf="errorPasswordMessage !== ''" translate>{{errorPasswordMessage}}</span>
                <span id="sign_up_err_no_password" class="input_error_item"
                      *ngIf="inputValidation('password', 'required') && errorPasswordMessage === ''" translate>Please enter your password</span>
                <span id="sign_up_err_short_password" class="input_error_item"
                      *ngIf="inputValidation('password', 'minlength') && errorPasswordMessage === ''" translate>Your password is too short. The password must be at least 6 characters long</span>
                <span class="input_error_item"
                      *ngIf="inputValidation('password', 'maxlength')" translate>Your password is too long. Please don`t use over 20 characters</span>
            </div>
        </div>
        <div class="input_wrap">
            <input #passwordConfirmInput type="password" name="Confirm password"
                   placeholder="{{'Confirm password' | translate }}"
                   [ngClass]="{'ng-invalid ng-touched': signUpForm.errors || inputValidation('password_confirmation')}"
                   formControlName="password_confirmation" (focus)="setFocus(passwordConfirmInput)"
                   (blur)="removeFocus(passwordConfirmInput)" (mouseenter)="mouseEnter(passwordConfirmInput)"
                   (mouseleave)="mouseLeave(passwordConfirmInput)">
            <div class="input_error"
                 *ngIf="(inputValidation('password_confirmation') || signUpForm.errors) && errorConfirmPassword"
                 [@Fade]>
                <span id="sign_up_err_no_confirm_password" class="input_error_item"
                      *ngIf="!signUpForm.errors && inputValidation('password_confirmation', 'required')" translate>Please confirm your password</span>
                <span id="sign_up_err_short_confirm_password" class="input_error_item"
                      *ngIf="!signUpForm.errors && inputValidation('password_confirmation', 'minlength')" translate>Password is too short</span>
                <div id="sign_up_err_passwords_dont_match" class="input_error_item"
                     *ngIf="signUpForm.errors && passwordsMismatch()" translate>The passwords do not match
                </div>
            </div>
        </div>

        <div class="auth_form_text" style="margin-top: 8px;" translate>Your tariff plan is {{ tariffPlanTitleText }}.&nbsp;<a
            routerLink="tariff_plans" class="auth_form_link" translate>Change it?</a></div>

        <pbx-input
            name="{{byClicking}}"
            key="agreementConfirmation"
            [checkbox]="true"
            [form]="true"
            [object]="signUpForm"
            [(errors)]="services.error"
            [animationMode]="'fade'"
            [validatorRequiredMsg]="'You need to confirm Terms and Conditions and privacy statement agreement'"
            [errorShow]="errorCheck"
        >
        </pbx-input>

        <pbx-button [buttonType]="'accent'" [value]="signUpButtonText" [loading]="loading"
                    (onClick)="signUp()"></pbx-button>

        <div class="auth_form_text" translate>Already have an EncryptoTel Account?&nbsp;<a routerLink="../sign-in"
                                                                                           class="auth_form_link"
                                                                                           translate>Sign in now</a>
        </div>

    </form>

    <div *ngIf="signUpCompleted" class="post-signup-wrap">
        <div class="post-signup-h1" translate>Account registration</div>
        <div class="post-signup-text" translate>
            Confirmation link has been sent to <br/>
            {{ email }}
        </div>
        <div translate>If you have not received the letter check the spam folder</div>
        <pbx-button [buttonType]="'accent'" value="{{'Resend confirmation' | translate}}" [loading]="loading"
                    (onClick)="resendConfirmation()"></pbx-button>
    </div>

    <pbx-footer></pbx-footer>

</div>
