@import "../../vars" // Global variables import
.pbx-button-disabled
    cursor: default !important
    background: #413b3b !important

.button
  flex: 0 0 auto
  align-items: center
  justify-content: center
  height: rem(40)
  min-width: rem(94)
  padding: 0 16px
  cursor: pointer
  border-radius: 2px
  position: relative
  overflow: hidden
  span
    white-space: nowrap
  > *
    cursor: pointer
    pointer-events: none
  &:disabled
    opacity: .9


// Themes styles
\:host-context(.dark_theme)
  .button
    &.accent
      background: $dark_accent
      width: 100%
      &:hover
        background: lighten($dark_accent, 5%)
      &:active
        background: darken($dark_accent, 5%)
      &:disabled
        background: darken($dark_primary, 85%)
    &.cancel
      background: lighten($dark_background, 10%)
      width: 100%
      &:hover
        background: lighten($dark_background, 15%)
      &:active
        background: lighten($dark_background, 5%)
      &:disabled
        background: darken($dark_primary, 85%)
    &.success
      background: $dark_success
      width: 100%
      &:hover
        background: lighten($dark_success, 5%)
      &:active
        background: darken($dark_success, 5%)
      &:disabled
        background: darken($dark_primary, 85%)
    &.error
      background: $dark_error
      width: 100%
      &:hover
        background: lighten($dark_error, 5%)
      &:active
        background: darken($dark_error, 5%)
      &:disabled
        background: darken($dark_primary, 85%)
