<button *ngIf="inactive"
        #button
        class="button"
        [ngClass]="[buttonType, inactive ? 'pbx-button-disabled' : '', name ? 'pbx_button_' + name : '', buttonClass]"
        [disabled]="loading"
        >
    <span *ngIf="!loading">{{_value}}</span>
    <pbx-loader *ngIf="loading"></pbx-loader>
    <svg-icon class="bought" src="../../assets/icons/ok_32px.svg"></svg-icon>
</button>

<button *ngIf="!inactive"
        #button
        class="button"
        [ngClass]="[buttonType, name ? 'pbx_button_' + name : '', buttonClass]"
        [disabled]="loading"
        (click)="clicked($event)"
        >
    <span *ngIf="!loading" translate>{{ _value }}</span>
    <pbx-loader *ngIf="loading"></pbx-loader>
</button>
