<pbx-form [confirm]="saveButton"
          [decline]="cancelButton"
          (onConfirm)="save()"
          (onDecline)="cancel()"
          [background]="true"
          >
    <pbx-loader *ngIf="!locker.free"></pbx-loader>

    <div class="overlay_content" *ngIf="locker.free" [@Fade]>

        <pbx-settings-group
            [items]="model.items"
            [level]="1"
            [form]="form"
            [validationHost]="validationHost"
            (valueChange)="onValueChange($event)"
        >
        </pbx-settings-group>

        <div class="settings_code" [@Fade] *ngIf="qrCode" [style.background-image]="'url(' + qrCode + ')'"></div>
    </div>
</pbx-form>

<pbx-modal [modalEx]="modalExit"
           (onConfirmEx)="cancel()">
</pbx-modal>
