@media screen and (max-width: 1023px)
    pbx-call-rules-create
        call-rules-time-rules
            .call-rules-create_row
                &.days
                    height: auto !important
                    .days_wrap
                        display: flex
                        flex-wrap: wrap
                        pbx-button
                            margin-bottom: 8px
            .days
                .pbx_input_error
                    left: unset !important