body
    min-width: 1024px !important
    overflow: auto !important

pbx-list
    flex: auto !important

pbx-sidebar
    .sidebar
        .sidebar_info_wrap
            overflow: auto

.sidebar
    .description_item_wrap
        width: 100% !important

.notificator-wrap
    position: fixed
    //width: 50%
    left: 236px
    //left: 50% !important
    //transform: translateX(-50%) !important
    top: 0

@media screen and (max-width: 1379px)
    .pbx_list_empty
        height: 220px !important
        grid-template-columns: 1fr !important
        padding: 0 !important
        .pbx_list_empty_text
            grid-column: 1/4 !important
        #arrow_edge,
        #arrow_safari
            display: none !important

@media screen and (max-width: 1279px)
    .main_grid
        grid-template-columns: 120px 1fr !important
        max-width: calc(100vw - 120px)
        > .body_wrap
            max-width: calc(100vw - 120px) !important
            min-width: 944px
            //max-width: 100%
    .notificator-wrap
        //width: 50% !important
        left: 168px !important
    .pbx_list_empty_text,
    buy-phone-numbers-component .table-message .msg,
    .pbx_list_message,
    .pbx_queue_empty_text
        font-size: 28px !important

@media screen and (max-width: 1219px)
    pbx-call-rules,
    pbx-call-queues,
    ring-groups-component,
    pbx-department,
    extensions-component
        pbx-table
            .tablet_body
                .qwerty
                    //max-width: 200px