body
    min-width: 768px !important
    overflow: auto !important

@media screen and (max-width: 1279px)
    .main_grid
        grid-template-columns: 80px 1fr !important
        > .body_wrap
            max-width: calc(100vw - 80px) !important

@media screen and (max-width: 939px)
    pbx-list
        //width: 100% !important
    phone-numbers-component
        pbx-list
            pbx-table
                .tablet_header,
                .tablet_body
                    .tablet_item
                        .qwerty
                            width: unset !important


@media screen and (max-width: 929px)
    .header_line_wrap
        .header_title
            opacity: 0

@media screen and (max-width: 899px)
    .dashboard_item_title_name
        font-size: 22px !important

@media screen and (max-width: 767px)
    .main_grid
        overflow: visible !important
    .body_wrap
        min-width: calc(768px - 80px) !important
.notificator-wrap
    position: fixed
    //width: 50%
    //left: 236px
    left: 50% !important
    transform: translateX(-50%) !important
    top: 0

@media screen and (max-width: 1279px)
    .notificator-wrap
        width: 50% !important
    phone-numbers-component
        pbx-list
            pbx-table
                .tablet_header,
                .tablet_body
                    .tablet_item
                        //&:nth-child(1),
                        //&:nth-child(2),
                        //&:nth-child(3),
                        //&:nth-child(4),
                        //&:nth-child(5)
                        //    .qwerty
                        //        width: 100% !important