body
    min-width: 1024px !important
    overflow: auto !important

pbx-list
    flex: auto !important

pbx-sidebar
    .sidebar
        .sidebar_info_wrap
            overflow: auto

.sidebar
    .description_item_wrap
        width: 100% !important

.notificator-wrap
    position: fixed
    //width: 50%
    left: 236px
    //left: 50% !important
    //transform: translateX(-50%) !important
    top: 0

@media screen and (max-width: 1379px)
    .pbx_list_empty
        height: 220px !important
        grid-template-columns: 1fr !important
        padding: 0 !important
        .pbx_list_empty_text
            grid-column: 1/4 !important
        #arrow_edge,
        #arrow_safari
            display: none !important

@media screen and (max-width: 1279px)
    .main_grid
        grid-template-columns: 120px 1fr !important
        max-width: calc(100vw - 120px)
        > .body_wrap
            //max-width: calc(100vw - 80px) !important
            max-width: 100%
    .notificator-wrap
        //width: 50% !important
        left: 168px !important
    .pbx_list_empty_text,
    buy-phone-numbers-component .table-message .msg,
    .pbx_list_message,
    .pbx_queue_empty_text
        font-size: 28px !important

//@media screen and (max-width: 1169px)
//    pbx-sidebar
//        width: 344px !important
//        .sidebar
//            flex: 1 !important
//            width: 100% !important
//            &_buttons
//                grid-template-columns: 1fr !important
//            .description_item_wrap
//                width: 100% !important
//            .sidebar_description_wrap
//                .description_text
//                    font-size: 14px !important
//                    width: 100% !important
//    phone-numbers-component
//        pbx-list
//            width: calc(100% - 344px) !important
//            pbx-table
//                .tablet_header,
//                .tablet_body
//                    .tablet_item
//                        &:nth-child(1) .qwerty
//                            width: 100px !important
//                        &:nth-child(2) .qwerty
//                            width: 82px !important
//                        &:nth-child(3) .qwerty
//                            width: 59px !important
//                        &:nth-child(4) .qwerty
//                            width: 76px !important

//@media screen and (max-width: 939px)
//    pbx-list
//        //width: 100% !important
//    phone-numbers-component
//        pbx-list
//            pbx-table
//                .tablet_header,
//                .tablet_body
//                    .tablet_item
//                        .qwerty
//                            width: unset !important


//@media screen and (max-width: 929px)
//    .header_line_wrap
//        .header_title
//            opacity: 0
//
//@media screen and (max-width: 899px)
//    .dashboard_item_title_name
//        font-size: 22px !important
//
//@media screen and (max-width: 767px)
//    .main_grid
//        overflow: visible !important
//    .body_wrap
//        min-width: calc(768px - 80px) !important