@media screen and (max-width: 1129px)
    .dashboard_drive
        .dashboard_drive_diagram
            display: none

@media screen and (max-width: 1023px)
    pbx-dashboard
        .dashboard_wrap
            margin-bottom: 0 !important

@media screen and (max-width: 939px)
    pbx-dashboard
        .dashboard_wrap
            .dashboard_item
                min-height: 232px !important

@media screen and (max-width: 929px)
    pbx-dashboard
        .dashboard_item_content_key,
        .dashboard_item_content_value
            font-size: 12px !important

@media screen and (max-width: 919px)
    pbx-dashboard
        .dashboard_item_title_key i,
        .dashboard_item_content_key i,
        .dashboard_item_title_name i
            display: none

@media screen and (max-width: 909px)
    pbx-dashboard
        .dashboard_item
            min-height: 232px !important

@media screen and (max-width: 799px)
    pbx-dashboard
        .dashboard_numbers
            .dashboard_numbers_body
                .dashboard_item_content_row
                    .dashboard_item_line
                        grid-template-columns: 1fr 2fr
