@media screen and (max-width: 1098px)
    pbx-details-and-records
        pbx-media-table
            .tablet
                .tablet_body
                    .tablet_content
                        .tablet_item
                            max-width: 110px
                            &:nth-child(7)
                                display: none
                .tablet_header
                    .tablet_item
                        max-width: 110px