@media screen and (max-width: 1099px)
    pbx-invoices
        pbx-table
            .tablet
                .tablet_header,
                .tablet_body
                    .tablet_item
                        &:nth-child(4),
                        &:nth-child(6)
                            max-width: 80px
                            .qwerty
                                max-width: 80px
                        &:nth-child(5)
                            max-width: 120px
                        &:nth-child(1),
                        &:nth-child(2)
                            max-width: 150px
                            .qwerty
                                max-width: 150px