@media screen and (max-width: 1280px)
    pbx-invoices
        pbx-list
            pbx-table
                .tablet
                    .tablet_header
                        .tablet_item
                            &:nth-child(3)
                                .qwerty
                                    display: grid
                                    grid-template-columns: min-content auto
                                    align-items: center

@media screen and (max-width: 1224px)
    pbx-invoices
        pbx-table
            .tablet
                .tablet_header,
                .tablet_body
                    .tablet_item
                        &:nth-child(1),
                        &:nth-child(2)
                            max-width: 120px
                            .qwerty
                                max-width: 120px
                        &:nth-child(4)
                            max-width: 80px
                            .qwerty
                                max-width: 80px

@media screen and (max-width: 1149px)
    pbx-invoices
        .invoice_view
            .inv_body
                .table
                    .item
                        padding-left: 16px
                        padding-right: 16px
                    .header
                        grid-template-columns: 164px 164px 164px minmax(164px, 1fr) 164px
                        .item
                            font-size: 13px
                    .body
                        .line
                            grid-template-columns: 164px 164px 164px minmax(164px, 1fr) 164px
                            .item
                                font-size: 13px
            .inv_footer
                padding: 16px 16px
                .info
                    .item
                        font-size: 14px
