@media screen and (max-width: 1279px)
    .knowledge-base
        .blocks
            padding: 44px 52px !important
            .inner
                .title
                    font-size: 28px !important
                    line-height: 28px !important
                .desc
                    font-size: 20px !important
                    line-height: 28px !important
        .questions
            padding: 44px 52px !important

@media screen and (max-width: 1089px)
    .knowledge-base
        pbx-header
            .pbx_header_wrap
                pbx-input
                    input
                        width: auto !important


//@media screen and (max-width: 1023px)
//    .knowledge-base
//        pbx-header
//            height: fit-content !important
//            .pbx_header_wrap
//                height: fit-content !important
//                .pbx_input_wrap
//                    height: min-content !important
//                pbx-input
//                    &:nth-child
//                        margin-bottom: 8px !important
//                    &:nth-child(2)
//                        input
//                            width: auto !important
//        .content
//            .blocks
//                padding: 32px !important