@media screen and (max-width: 1769px)
    pbx-marketplace
        .marketplace_wrap
            grid-template-columns: repeat(4, 1fr) !important

@media screen and (max-width: 1539px)
    pbx-marketplace
        .marketplace_wrap
            grid-template-columns: repeat(3, 1fr) !important

@media screen and (max-width: 1129px)
    pbx-marketplace
        .marketplace_wrap
            grid-template-columns: repeat(2, 1fr) !important