@media screen and (max-width: 1369px)
    partner-program-component
        .partner_tab
            .partner_tab_icon_wrap
                margin-right: 0
            span
                display: none

@media screen and (max-width: 1229px)
    partner-program-component
        links-partner-program-component
            pbx-table
                .tablet
                    .tablet_header,
                    .tablet_body
                        .tablet_item
                            &:nth-child(2),
                            &:nth-child(4),
                            &:nth-child(5)
                                display: none