@media screen and (max-width: 1399px)
    buy-phone-numbers-component
        .buy_phone_header
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr 1fr
            grid-gap: 16px
        .buy_phone_header_options
            grid-template-columns: auto min-content 1fr !important
            pbx-checkbox
                margin-left: 10px !important
        .buy_phone_header_refresh
            margin: 14px 0 0 0 !important
            padding-left: 0 !important
            align-items: flex-start !important
            svg-icon
                display: flex !important

@media screen and (max-width: 1319px)
    buy-phone-numbers-component
        .buy_phone_grid
            overflow: hidden
        .buy_phone_table_contain
            grid-template-columns: 1fr !important
            grid-gap: 0 !important
            .buy_phone_table_title
                &.second
                    display: none

@media screen and (max-width: 969px)
    .buy_phone_header pbx-select,
    .buy_phone_header input,
    .buy_phone_header .select_item.selected
        width: 150px !important

@media screen and (max-width: 939px)
    phone-numbers-component
        pbx-list
            pbx-table
                .tablet_header,
                .tablet_body
                    .tablet_item
                        width: unset !important
                        &:nth-child(1) .qwerty
                            width: 170px !important
                        &:nth-child(2) .qwerty
                            width: 135px !important
                        &:nth-child(3) .qwerty
                            width: 135px !important
                        &:nth-child(4) .qwerty
                            width: 130px !important
                        &:nth-child(5) .qwerty
                            width: 84px !important
                        &:nth-child(5)
                            margin-right: 30px !important
    buy-phone-numbers-component
        .buy_phone_header
            grid-template-columns: 1fr !important
            grid-template-rows: 1fr 1fr 1fr 1fr !important
