@media screen and (max-width: 1779px)
    pbx-media-table-player
        .player-wrap
            display: none !important

@media screen and (max-width: 1439px)
    pbx-storage
        .store
            .media-table-wrapper
                max-width: 100%
            pbx-sidebar
                display: none
            .pbx_header
                pbx-button
                    button.button-upload
                        display: flex

@media screen and (max-width: 1529px)
    .lang_ru
        pbx-storage
            pbx-header
                .pbx_header_wrap
                    pbx-input
                        .pbx_input_item_label
                            width: 56px !important