@media screen and (max-width: 1789px)
    pbx-storage
        pbx-media-table
            .tablet
                .tablet_header,
                .tablet_body
                    .tablet_item
                        &.fix_104
                            min-width: unset
                            max-width: unset
                        &:nth-child(1)
                            min-width: 40%
                            max-width: 40%
                        &:nth-child(2)
                            min-width: 18%
                            max-width: 18%
                        &:nth-child(3)
                            min-width: 18%
                            max-width: 18%
                        &:nth-child(4)
                            min-width: 19%
                            max-width: 19%
                        &:nth-child(5)
                            max-width: 5%
                    .asd
                        min-width: 19%
                        max-width: 19%

@media screen and (max-width: 1569px)
    pbx-storage
        pbx-media-table
            .tablet
                .tablet_header,
                .tablet_body
                    .tablet_item
                        &.fix_104
                            min-width: unset
                            max-width: unset
                        &:nth-child(1)
                            min-width: 40%
                            max-width: 40%
                        &:nth-child(2)
                            min-width: 21%
                            max-width: 21%
                        &:nth-child(3)
                            min-width: 15%
                            max-width: 15%
                        &:nth-child(4)
                            min-width: 19%
                            max-width: 19%
                        &:nth-child(5)
                            max-width: 5%
                    .asd
                        min-width: 19%
                        max-width: 19%

@media screen and (max-width: 1439px)
    pbx-storage
        .store
            .media-table-wrapper
                max-width: 100%
            pbx-sidebar
                display: none
            .pbx_header
                pbx-button
                    button.button-upload
                        display: flex