@media screen and (max-width: 1279px)
    .user_wrap
        width: 120px !important
        .user_profile_image
            margin: auto !important
            position: relative
            left: 20px
        .user_details_wrap
            display: none
        .user_navigation_wrap
            width: 120px !important
        svg-icon
            //display: none !important