@media screen and (max-width: 1279px)
    .user_wrap
        .user_profile_image
            margin-right: 5px !important
        .user_details_wrap
            display: none
        .user_navigation_wrap
            width: 200px !important
        svg-icon
            svg
                width: 12px !important