@media screen and (max-width: 1279px)
    .user_wrap
        .user_profile_image
            margin: auto !important
        .user_details_wrap
            display: none
        .user_navigation_wrap
            width: 128px !important
        svg-icon
            display: none !important