// Global variables
$dark_background: rgb(38, 35, 35)
$dark_background_2: rgb(38, 36, 35)
$dark_primary: rgb(255, 255, 255)
$dark_accent: rgb(34, 178, 180)
$dark_success: rgb(152, 182, 97)
$dark_warning: rgb(221, 143, 102)
$dark_error: rgb(199, 98, 98)
$dark_overlay: rgb(55, 54, 53)
$dark_pagination: rgb(82, 135, 136)
$dark_pagination_inactive: rgb(70, 69, 68)
$dark_salad: rgba(16, 219, 222, 1)
$dark-white: #fff
$dark-white_80: rgba(255, 255, 255, .8)
$dark-white_70: rgba(255, 255, 255, .7)
$dark-white_75: rgba(255, 255, 255, .75)
$dark-white_60: rgba(255, 255, 255, .6)
$dark-white_50: rgba(255, 255, 255, .5)
$dark-white_55: rgba(255, 255, 255, .55)
$dark-white_45: rgba(255, 255, 255, .45)
$dark-white_30: rgba(255, 255, 255, .3)
$dark-white_25: rgba(255, 255, 255, .25)
$dark-white_20: rgba(255, 255, 255, .2)
$dark-white_35: rgba(255, 255, 255, .35)
$dark-white_15: rgba(255, 255, 255, .15)
$dark-white_10: rgba(255, 255, 255, .1)
$dark_waves: rgba(217, 217, 217, 1)
$dark_green_dark: rgba(165, 198, 104, 1)
$dark_green_light: rgba(165, 198, 104, 1)
$dark_sidebar_lines: rgba(112, 112, 112, 1)
$dark_sidebar_lines_20: rgba(112, 112, 112, .2)
$dark_sidebar_pic_border: rgba(232, 232, 232, 1)
$dark_call_menu_years: rgba(201, 201, 201, 1)
$dark_error_message: rgba(221, 98, 98, 1)
$dark_sidebar_input_link: rgba(88, 88, 88, 1)

$dark_dashboard_balance: rgba(166, 198, 116, .85)
$dark_dashboard_tariff: rgba(153, 90, 172, .9)
$dark_dashboard_numbers: rgba(255, 121, 142, .8)
$dark_dashboard_drive: rgba(255, 121, 142, .8)
$dark_dashboard_history: rgba(106, 108, 155, 1)

$dark_tariff_plan_current_bg: rgba(90, 90, 90, 1)

$dark_datails_outgoing: rgba(119, 119, 239, 1)
$dark_datails_incoming: rgba(154, 111, 224, 1)
$dark_datails_record: rgba(163, 203, 101, 1)
$dark_datails_no-answer: rgba(239, 118, 155, 1)
$dark_datails_missed: rgba(248, 129, 129, 1)
$dark_datails_sms: rgba(70, 163, 198, 1)
$dark_datails_voicemail: rgba(69, 190, 149, 1)

$dark_player_bg: rgba(80, 79, 78, 1)
$dark_player_bg_0: rgba(80, 79, 78, 0)

$dark_waiting_status: rgba(247, 123, 123, 1)
$white_pagination_btn_disabled: rgba(114, 114, 114, 1)
$white_pagination_btn_disabled_55: rgba(114, 114, 114, .55)
$dark_pagination_btn_disabled: rgba(51, 50, 49, 1)

$dark_tariff_plan_modal_header: rgba(87, 87, 87, 1)
$dark_tariff_plan_modal_body: rgba(38, 38, 38, 1)
$dark_tariff_plan_modal_icon_info: rgba(167, 167, 167, 1)

$dark_grey_1: rgba(249, 249, 249, 1)

$dark_crm_color_checked: rgba(90, 90, 90, 1)
$dark_crm_color_1: rgba(51, 157, 199, 1)
$dark_modal_cancel_btn: rgba(63, 62, 61, 1)

$dark_settings_theme_ok: rgba(153, 182, 108, 1)

$dark_ext_more: rgba(76, 75, 74, 1)
$dark_transfer_modal_bg: rgba(248, 248, 248, 1)
$dark_info_yellow: rgb(245, 255, 0)
$dark_57: rgb(57, 57, 57)

$dark_notification_unread_text: rgba(203, 203, 203, 1)

$checkbox_round_grey: rgba(175, 174, 174, 1)

$playerTime: .35s

$white_main_bg: rgba(244, 243, 240, 1)
$white_black: rgba(0, 0, 0, 1)
$white_black_25: rgba(0, 0, 0, .25)
$white_black_30: rgba(0, 0, 0, .3)
$white_black_31: rgba(0, 0, 0, .31)
$white_black_50: rgba(0, 0, 0, .5)
$white_black_45: rgba(0, 0, 0, 45)
$white_black_60: rgba(0, 0, 0, .6)
$white_black_70: rgba(0, 0, 0, .7)
$white_black_80: rgba(0, 0, 0, .8)
$white_grey_light: rgba(232, 232, 232, 1)
$white_grey_hover: rgba(230, 229, 225, 1)
$white_grey_hover_rgb: rgb(230, 229, 225)
$white_grey_dark: rgba(237, 236, 232, 1)
$white_grey_caller: rgba(234, 233, 230, 1)
$white_caller_arrow: rgba(117, 117, 115, 1)
$white_salad: rgba(45, 181, 183, 1)
$white_input_border: rgba(149, 152, 154, 1)
$white_nav_border: rgba(177, 177, 177, 1)
$white_nav_border_80: rgba(177, 177, 177, .8)
$white_button_cancel: rgba(126, 126, 126, 1)
$white_button_success: rgba(166, 198, 116, 1)
$white_table_border: rgba(177, 177, 177, .8)
$white_queue_tab_grey_light: rgba(229, 228, 223, 1)
$white_marketplace_arrow: rgba(182, 224, 116, 1)
$white_btn_invoices: rgba(230, 230, 226, 1)
$white_btn_border_details: rgba(121, 121, 121, 1)
$white_empty_message: rgba(118,117,115, 1)
$white_startpage_checkbox_border: rgba(133,131,128, 1)

$white_nothing_found: rgba(118, 117, 115, 1)

$white_dashboard_balance: rgba(166, 198, 116, 1)
$white_dashboard_tariff: rgba(162, 121, 255, 1)
$white_dashboard_numbers: rgba(245, 113, 134, 1)
$white_dashboard_drive: rgba(245, 113, 134, 1)
$white_dashboard_history: rgba(126, 151, 208, 1)

$white_pagination_border: rgba(162, 162, 162, 1)

$white_theme_tariff_plan_bg: rgba(108, 195, 196, 1)
$white_theme_tariff_plan_bg_current: rgba(139, 139, 139, 1)
$white_theme_tariff_plan_modal_body: rgba(249, 249, 247, 1)
$white_theme_tariff_plan_modal_checkbox: rgba(190, 190, 189, 1)
$white_theme_tariff_plan_modal_info: rgba(167, 167, 167, 1)

$font-color: rgba($dark_primary, .7)
$browser-context: 14

$dark_list-items_height: 48px


$chat_calling_bg: rgba(139, 165, 90, 1)
$chat_msg_left_bg: rgba(131, 154, 95, 1)
$chat_msg_right_bg: rgba(178, 168, 94, 1)
$chat_icon_grey_color: rgba(168, 167, 167, 1)

$chat_color1: #995AAC
$chat_color2: #2298B4
$chat_color3: #8FB24B
$chat_color4: #BFB926
$chat_color5: #C76565
$chat_color6: #C99D25
$chat_color7: #C44F97

$white_details_calendar_border: rgba(149, 152, 154, 1)

$ivr_dark_selected: rgba(87, 100, 114, 1)
$ivr_dark_table_bg: rgba(65, 64, 64, 1)
$ivr_dark_table_bg_2: rgba(55, 53, 53, 1)

$dark_yellow: rgba(166, 198, 116, 1)

// Global functions
@function rem($pixels, $context: $browser-context)
  @return #{$pixels/$context}rem

// Global mixins


// Animations
@keyframes loader_animation
  0%
    height: 0
  50%
    height: 30px
  100%
    height: 0

@keyframes header_button_animation
  0%
    height: 0
    width: 0
  100%
    height: 100%
    width: 100%

@keyframes button_animation
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0
    transform: scale(2.5)

@keyframes auto_fill
  100%
    background: transparent
    color: inherit

pbx-form
  flex: 1
