// Global variables
$dark_background: rgb(38, 35, 35)
$dark_primary: rgb(255, 255, 255)
$dark_accent: rgb(34, 178, 180)
$dark_success: rgb(152, 182, 97)
$dark_warning: rgb(221, 143, 102)
$dark_error: rgb(199, 98, 98)
$dark_overlay: rgb(55, 54, 53)
$dark_pagination: rgb(82, 135, 136)
$dark_pagination_inactive: rgb(70, 69, 68)
$dark_salad: rgba(16, 219, 222, 1)
$dark-white: #fff
$dark-white_50: rgba(255, 255, 255, .5)
$dark-white_30: rgba(255, 255, 255, .3)
$dark-white_25: rgba(255, 255, 255, .25)
$dark_waves: rgba(217, 217, 217, 1)
$dark_green_dark: rgba(165, 198, 104, 1)
$dark_green_light: rgba(165, 198, 104, 1)
$dark_sidebar_lines: rgba(112, 112, 112, 1)
$dark_sidebar_lines_20: rgba(112, 112, 112, .2)
$dark_sidebar_pic_border: rgba(232, 232, 232, 1)
$dark_call_menu_years: rgba(201, 201, 201, 1)
$dark_error_message: rgba(221, 98, 98, 1)

$font-color: rgba($dark_primary, .7)
$browser-context: 14

$dark_list-items_height: 48px

// Global functions
@function rem($pixels, $context: $browser-context)
  @return #{$pixels/$context}rem

// Global mixins


// Animations
@keyframes loader_animation
  0%
    height: 0
  50%
    height: 30px
  100%
    height: 0

@keyframes header_button_animation
  0%
    height: 0
    width: 0
  100%
    height: 100%
    width: 100%

@keyframes button_animation
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0
    transform: scale(2.5)

@keyframes auto_fill
  100%
    background: transparent
    color: inherit

pbx-form
  flex: 1
