// Global variables
$white: rgb(245, 245, 245)
$black: rgb(35, 35, 35)
$accent: rgb(45, 60, 80)
$warning: rgb(190, 55, 45)

// Global mixins


// Animations
@keyframes loader_animation
  0%
    height: 0
  50%
    height: 30px
  100%
    height: 0
