    <div class="user_mobile">
        <div class="user_mobile_up">
            <a class="user_btn">
                <span class="user_btn__span"></span>
                <span class="user_btn__span"></span>
                <span class="user_btn__span"></span>
            </a>
            <div class="user_mobile__title">
                <p>
                    CALL QUEUES
                </p>
            </div>
        </div>
    </div>
    <!-- mobile_menu--active -->
    <div class="mobile_menu ">
        <div class="mobile_menu_up">
            <div class="mobile_menu__block">
                <div class="mobile_menu_up__name">
                    <p>
                        Alex Freeman
                    </p>
                </div>
                <div class="mobile_menu_up__balance">
                    <p>balance</p>
                    <p>$58</p>
                </div>
            </div>
            <ul class="mobile_menu_left">
                <li class="mobile_menu_left__li">
                    <a href="#" class="mobile_menu_left__link">Refill balance</a>
                </li>
                <li class="mobile_menu_left__li">
                    <a href="#" class="mobile_menu_left__link">Tariff plan</a></li>
                <li class="mobile_menu_left__li">
                    <a href="#" class="mobile_menu_left__link">Privacy policy</a>
                </li>
                <li class="mobile_menu_left__li">
                    <a href="#" class="mobile_menu_left__link  mobile_menu_left__link--active">Exit <span class="mobile_menu_exit">
                        <svg-icon src="../../assets/icons/exit.svg" class="dropdown_arrow_rotate"></svg-icon>
                    </span>
                    </a>
                </li>
            </ul>
        </div>
        <ul class="mobile_menu__ul">
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link  mobile_menu__link--active">Dashboard</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Phone Numbers</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Address Book</a>
            </li>
        </ul>
        <ul class="mobile_menu__ul">
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Call Rules</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Call Queues</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Ring Groups</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">IVR</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Schedule</a>
            </li>
        </ul>
        <ul class="mobile_menu__ul">
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Company</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Departments</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Extensions</a>
            </li>
        </ul>
        <ul class="mobile_menu__ul">
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Details and Records</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Invoices</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Marketplace</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Call Mining</a>
            </li>
        </ul>
        <ul class="mobile_menu__ul">
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Storage</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Knowledge Base</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Partner program</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Settings</a>
            </li>
        </ul>
    </div>
    <!---->
    <div class="dropdown_arrow_btn  dropdown_arrow_btn--pos">
        <svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg" class="dropdown_arrow" style="cursor: pointer"></svg-icon>
    </div>
    <!--1-->
    <div class="mobile_btn_down_block">
        <a href="#" class="mobile_wide_btn" >
            Add Department
        </a>
    </div>
    <!--2-->
    <div class="mobile_down_btn_block">
        <a href="#" class="mobile_down_btn_block__btn  mobile_down_btn_block__btn--grey">
            Cancel
        </a>
        <button type="submit" form=""
                class="mobile_down_btn_block__btn  mobile_down_btn_block__btn--green">
            Save
        </button>
    </div>
    <!---->
    <button type="reset" class="mobile_input_item__close  mobile_input_item__close--right0">
        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
    </button>
    <!---->
    <a href="#" class="btn_delete_item">
        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
    </a>
    <!---->
    <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
        <input type="text" class="mobile_input_item__input" placeholder="email" value="" >
        <label class="mobile_input_item__label">
            Rescue Email Address
        </label>
        <button type="reset" class="mobile_input_item__close  mobile_input_item__close--right0">
            <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
        </button>
    </div>
    <!-- delete_window -->
    <div class="delete_window  delete_window--pos">
        <p>
            Permanently&nbsp;delete&nbsp;contact <span class="delete_window__user_name">Markus Moser</span>?
        </p>
        <div class="delete_window_block">
            <div class="delete_window_block__btn  delete_window_block__cancel  mobile_storage_btn--grey">
                Cancel
            </div>
            <div class="delete_window_block__btn  delete_window_block__delete  mobile_storage_btn--pink">
                Delete
            </div>
        </div>
        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="close"></svg-icon>
    </div>
    <!--input-->
    <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
        <input type="text" class="mobile_input_item__input" placeholder="Organization" value="">
        <label class="mobile_input_item__label">
            Organization
        </label>
    </div>
    <!--select-->
    <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
        <select name="" class="mobile_input_item__select">
            <option selected value="Enabled" class="mobile_input_item__option">Enabled</option>
            <option value="Enabled">Enabled</option>
        </select>
        <label class="mobile_input_item__label">
            Status
        </label>
    </div>
    <!-- в input удали required="required" -->
    <button class="mobile_input_item__close  mobile_input_item__close--right0">
        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
    </button>
    <!--checkbox-->
    <label class="checkbox_wrap  checkbox_wrap--h64">
        <input class="checkbox" type="checkbox" name="" checked>
        <span class="checkbox_custom"></span>
        <span class="label">Address Book</span>
    </label>





