@import "../../vars" // Global variables import

.navigation
  &_block
    flex-direction: column
    flex: 0 0 auto
    padding: 8px 0
    &:first-child
      padding-top: 0
    &:not(:last-child)
      border-bottom: 1px solid
    &_wrap
      flex-direction: column
      overflow-y: auto
      margin-top: 24px
  &_item
    flex-direction: row
    flex: 1 0 auto
    height: 40px
    align-items: center
    &.inactive
      pointer-events: none
      cursor: default
    &_title
      line-height: 40px
    &_icon
      width: 24px
      margin: auto 12px
      /deep/ path, /deep/ polygon
        transition: all linear 250ms
.user
  &_wrap
    flex: 0 0 auto
    flex-direction: row
    height: 80px
    align-items: center
    position: relative
    &:after
      content: ''
      position: absolute
      left: 0
      bottom: 0
      height: 0
      width: 100%
      z-index: 0
      transition: height linear 150ms
    &:hover, &.active
      &:after
        height: 100%
    &, & > *, & /deep/ *
      cursor: pointer
      z-index: 2
    .dropdown_arrow
      width: 12px
      height: 12px
      margin: 0 12px 0 auto
  &_navigation
    &_wrap
      position: absolute
      left: 0
      top: 100%
      flex-direction: column
      flex: 0 0 auto
      height: 0
      width: 100%
      overflow: hidden
      &:after
        height: 0
      &.visible
        height: 120px
    &_item
      flex: 0 0 auto
      flex-direction: column
      justify-content: center
      height: 40px
      padding: 0 16px
      &:last-child
        justify-content: flex-start
        align-items: center
        flex-direction: row
        svg-icon
          height: 16px
          width: 16px
          margin-left: auto
  &_profile_image
    flex: 0 0 48px
    margin: 0 12px 0 12px
    height: 48px
    border-radius: 50%
    border: 2px solid
    background: center no-repeat
    background-size: cover
  &_details
    &_wrap
      flex-direction: column
      width: 92px
      line-height: 22px
    &_balance
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      font-size: rem(12)
//.content_wrap
  flex-direction: column
  flex: 1 0 auto
  height: 100vh

.header
  &_line_wrap
    flex-direction: row
    position: relative
    height: 80px
    min-height: 80px
  &_title
    font-size: rem(28)
    margin: auto auto auto 48px
    pointer-events: none
  &_button
    position: relative
    flex-direction: column
    width: 80px
    height: 80px
    cursor: pointer
    &:after
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 0
      transition: all linear 100ms
      content: ''
    &_row
      position: relative
      z-index: 5
      .sidebar
        &_wrap
          position: absolute
          right: -352px
          top: 80px
          height: calc(100vh - 80px)
          width: 352px
          flex-direction: column
          transition: all linear 200ms
          margin-right: -32px
          padding: 48px
          &.visible
            right: 32px
    svg-icon
      height: 24px
      width: 24px
      margin: auto
      z-index: 2
      pointer-events: none
    &_hide
      position: relative
      flex-direction: column
      width: 32px
      height: 80px
      cursor: pointer
      overflow: hidden
      z-index: 5
      &.initial > svg-icon
        transform: rotate(-90deg)
      svg-icon
        height: 16px
        width: 16px
        transform: rotate(-270deg)
        margin: auto
        pointer-events: none
    &_wrap
      position: absolute
      top: 0
      right: -352px
      flex-direction: row
      transition: all linear 200ms
      &.visible
        right: 32px

// Themes styles
\:host-context(.dark_theme)
  .user
    &_navigation
      &_wrap
        background: lighten($dark_background, 15%)
        /deep/ path
          fill: $dark_primary
      &_item:hover
        background: lighten($dark_background, 25%)
    &_wrap
      &:after
        background: lighten($dark_background, 15%)
      &.active > .dropdown_arrow
        transform: rotate(180deg)
      .dropdown_arrow
        /deep/ path, /deep/ polygon
          fill: $dark_primary
    &_profile_image
      border-color: $dark_primary
    &_details
      &_balance
        color: $dark_success
  .navigation
    &_block
      border-bottom-color: lighten($dark_background, 15%)
    &_item
      &.inactive
        color: lighten($dark_background, 15%)
        /deep/ path, /deep/ polygon
          fill: lighten($dark_background, 15%)
      &:hover, &:focus, &.active
        color: $dark_accent
        > .navigation_item_icon
          /deep/ path, /deep/ polygon
            fill: $dark_accent
      &_icon
        /deep/ path, /deep/ polygon
          fill: $dark_primary
  .header
    &_title
      color: $dark_accent
    &_button
      background: $dark_accent
      /deep/ path, /deep/ circle
        fill: $dark_primary
      &_row
        .sidebar
        &_wrap
          background: $dark_overlay
      &:after
        background: $dark_overlay
      &:hover
        background: lighten($dark_accent, 5%)
      &:active
        background: darken($dark_accent, 5%)
      &.active
        &:after
          height: 100%
        &:hover::after
          background: lighten($dark_overlay, 5%)
        &:active::after
          background: darken($dark_overlay, 5%)
      &_hide
        background: $dark_overlay
        /deep/ polygon
          fill: $dark_primary
        &:hover
          background: lighten($dark_overlay, 5%)
        &:active
          background: darken($dark_overlay, 5%)

.mobile
  &_header
    display: none
    z-index: 2
    background: $dark_overlay
    box-shadow: 0 0 100vmax 100vmax rgba($dark_primary,0)
    transition: 0.3s
    &.active
      box-shadow: 0 0 100vmax 100vmax rgba($dark_primary,.15)
    &_button
      &.active>.mobile_sidebar
        left: 0
      &_fill
        transition: .3s
        width: 88px
        height: 88px
        flex-direction: column
        &:hover
          background: rgba($dark_primary, .2)
          cursor: pointer
        span
          background: $dark_primary
          border: 1px solid rgba($dark_primary,.2)
          width: 28px
          height: 2px
          margin: rem(3) auto
          &:first-child
            margin-top: auto
          &:last-child
            margin-bottom: auto
    &_title
      text-transform: uppercase
      color: $dark_primary
      font-size: rem(28)
      align-self: center
  &_sidebar
    transition: .3s
    position: fixed
    top: 0
    left: -320px
    flex-direction: column
  &_profile
    height: rem(128)
    background: $dark_overlay
    overflow-x: hidden
    position: relative
    flex-direction: column
    padding: rem(16)
    flex: auto
    &_name
      font-size: rem(18)
      margin-bottom: rem(16)
    &_balance
      font-size: rem(14)
      color: $dark_success
    &_icon
      height: 16px
      width: 16px
      margin-left: auto
      /deep/ path
        fill: $dark_primary
    &_button
      flex: 1
      font-size: rem(16)
      align-items: center
      padding-left: rem(16)
      padding-right: rem(64)
      &:hover
        background: rgba($dark_primary,.15)
      &:last-child
        padding-right: rem(16)
        &:hover
          background: rgba($dark_primary,.15)
      &_wrap
        position: absolute
        flex-direction: column
        top: 0
        right: 0
        height: rem(128)
        background: $dark_overlay
        opacity: .9
        &.invisible
          top: rem(-128)
  &_navigation
    display: block
    background: $dark_background
    flex-direction: column
    padding: 0 rem(16)
    max-height: calc(100vh - 128px)
    width: rem(256)
    overflow-y: auto
    &_block
      flex-direction: column
      flex: 0 0 auto
      padding: rem(8) 0
      &:not(:last-child)
        border-bottom: 1px solid lighten($dark_background, 15%)
    &_item
      padding: rem(16)
      font-size: rem(18)
      >a
        &:hover, &.active
          color: $dark_accent
          cursor: pointer
  &_hover
    width: 100vw
    height: 100vh
    position: fixed
    top: 0
    left: 0

.main_grid
  display: grid
  grid-template-columns: 192px 1fr
  grid-template-rows: 80px 1fr
  max-width: 100vw
  min-width: 100vw
  max-height: 100vh
  min-height: 100vh
  overflow: hidden
  background: $dark_background
  >.body_wrap
    max-height: calc(100vh - 80px)

@media (max-width: 767px)
  .main_grid
    grid-template-columns: 1fr
    grid-template-rows: 88px 1fr
    >.body_wrap
      padding: rem(24)
      -ms-overflow-style: none
      overflow: -moz-scrollbars-none
      &::-webkit-scrollbar
        width: 0
  .user_wrap, .header_line_wrap, .navigation_block_wrap
    display: none
  .mobile_header
    display: flex
@media (max-width: 511px)
  .mobile_header_title
    font-size: rem(20)
@media (max-width: 383px)
  .mobile_header_title
    font-size: rem(16)
