=bred
    border: 1px dashed red

@media (max-width: 640px)
   .main_mobile_wrap
       display: flex
       margin: 0 auto
       padding: 0
       flex-direction: column

       max-width: 640px
       //min-width: 640px

       flex-grow: 1

       position: relative


   .user_mobile
       display: flex
       justify-content: center
       flex-direction: column
       align-items: flex-start
       //background: #272726
       background: #2E2E2C

       -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0, .12)
       -moz-box-shadow: 0 4px 4px 0 rgba(0,0,0, .12)
       box-shadow: 0 4px 4px 0 rgba(0,0,0, .12)

       margin-top: 40px
       //margin-bottom: 16px

       width: 100%

       position: relative
       z-index: 50


   .user_mobile--mb0
       margin-bottom: 0

   .user_mobile--noSh
       box-shadow: none

   .user_mobile_up
       display: flex
       justify-content: flex-start
       align-items: center

       min-height: 88px
       width: 100%

       padding-left: 29px
       padding-right: 29px


   .user_btn
       display: flex
       flex-direction: column
       justify-content: space-between
       width: 29px
       height: 19px

       //margin-right: 29px
       margin-right: 42px

       cursor: pointer

       &__span
           height: 3px
           width: 100%
           background: #ffffff


   .user_mobile__title
       font-family: Roboto, sans-serif
       font-weight: 300
       font-size: 24px
       color: #ffffff
       text-transform: uppercase


   //--------------------------------

   .user_mobile_down
       display: flex

       width: 100%

   .user_mobile_tab
       display: flex
       justify-content: flex-start

       height: 40px

       font-family: Roboto, sans-serif
       font-weight: 500

       color: rgba(255, 255, 255, .8)

   .user_mobile_tab--h51
       height: 51px

   .user_mobile_tab__item
       display: flex
       justify-content: center

       text-transform: uppercase
       font-size: 18px

       padding-top: 6px

       height: 100%
       //width: 210px
       max-width: 210px
       min-width: 210px

       &:hover
           color: rgba(255, 255, 255, 1)

   .user_mobile_tab__item--mw136
       max-width: 136px
       min-width: 136px

   .user_mobile_tab__item--mw230
       max-width: 230px
       min-width: 226px



   .user_mobile_tab__item--set
       justify-content: center

       font-size: 14px
       text-align: center

       line-height: 1.35

   .user_mobile_tab__item--w177
       min-width: 177px
       max-width: 177px

   .user_mobile_tab__item--w184
       min-width: 177px
       max-width: 177px

   .user_mobile_tab__item--w156
       min-width: 156px
       max-width: 156px

   .user_mobile_tab__item--w122
       min-width: 122px
       max-width: 122px

   .user_mobile_tab__item--active
       color: rgba(255, 255, 255, 1)
       border-bottom: 2px solid rgba(34, 178, 180, 1)


   //---------------------------------
   .body_mobile
       display: flex
       flex-direction: column

       padding-top: 16px

       position: relative

   .body_mobile--pt0
       padding-top: 0


   .mobile_card
       display: flex
       flex-direction: column
       justify-content: flex-end

       font-family: Roboto, sans-serif
       font-weight: 400
       font-style: normal
       font-size: 28px

       line-height: 1.32

       color: #ffffff

       margin-left: auto
       margin-right: auto
       margin-bottom: 20px

       border-radius: 2px 2px 2px 2px

       max-width: 95%
       min-width: 95%

       min-height: 256px

       background: #98B661

       &:last-child
           margin-bottom: 0
       
       &--tariffCol
           background: #a52096

       &--phoneCol
           background: rgba(255, 121, 142, 1)


   .mobile_card_row
       display: flex
       flex-direction: column

       padding-top: 24px
       padding-bottom: 36px


   .mobile_card_title_row
       display: flex
       justify-content: space-between

       margin-bottom: 24px

       padding-left: 24px
       padding-right: 24px

       &:last-child
           margin-bottom: 0


   .mobile_card_title
       //text-transform: uppercase
       color: #ffffff


   .mobile_card_val

   .mobile_card__link
       display: flex
       justify-content: space-between
       align-items: center

       border-top: 1px solid #ffffff
       border-right: none

       padding-left: 27px
       padding-right: 28px

       min-height: 64px


       font-family: Roboto, sans-serif
       font-weight: 300
       font-style: normal
       font-size: 24px

       span

           &:last-child
               width: 23.62px
               height: 23.62px


           //&:last-child
           //    position: relative
           //
           //    &:before
           //        content: ''
           //
           //        position: absolute
           //        top: -10px
           //        right: 0
           //        height: 2px
           //        width: 16px
           //
           //        transform: rotate(50deg)
           //
           //        background: rgba(255, 255, 255, 1)
           //
           //    &:after
           //        content: ''
           //
           //        position: absolute
           //        top: 2px
           //        right: 1px
           //        height: 2px
           //        width: 15px
           //
           //        transform: rotate(-50deg)
           //
           //        background: #ffffff



       &:last-child
           border-bottom: transparent

   /*
        мобильное меню

   .mobile_overlay
       position: fixed
       top: 40px
       left: 0
       right: 0
       bottom: 0
       background: rgba(255, 255, 255, .3)
       opacity: 0
       z-index: -1
       -webkit-transition: .5s
       -moz-transition: .5s
       -ms-transition: .5s
       -o-transition: .5s
       transition: .5s

   .mobile_overlay--active
       background: rgba(255, 255, 255, .3)
       z-index: 10
       opacity: 1


   .mobile_menu
       display: flex
       flex-direction: column

       position: absolute
       top: 0
       left: 0

       color: #ffffff

       z-index: -1
       opacity: 0

       max-width: 308px
       min-width: 308px

       background: rgba(39, 39, 38, 1)

       transition: .5s
       transform: translateX(-100%)


   .mobile_menu--active
       opacity: 1
       z-index: 100
       transform: translateX(0)


   .mobile_menu_up
      display: flex
      flex-direction: column

      position: relative

      background: rgba(55, 53, 53, 1)


   .mobile_menu__block
       display: flex
       flex-direction: column

       min-height: 172px
       font-family: Roboto, sans-serif
       font-weight: 300
       font-style: normal
       font-size: 20px

       padding-top: 10px
       padding-left: 24px


   .mobile_menu_up__name
        margin-bottom: 20px

   .mobile_menu_up__balance
       display: flex
       color: green

       font-size: 14px

       p:first-child
           margin-right: 10px


   .mobile_menu_left
       display: flex
       flex-direction: column

       position: absolute
       top: 0
       left: 164px

       width: 232.2px

       font-size: 18px
       font-family: Roboto, sans-serif
       font-style: normal
       font-weight: 300

       background: rgb(46, 44, 44)


   .mobile_menu_left__li
       display: flex
       flex-direction: column

       font-family: Roboto, sans-serif
       font-weight: 300
       font-style: normal


   .mobile_menu_left__link--active
       background: rgba(34, 32, 32, 0.79)

   .mobile_menu_left__link
       display: flex
       justify-content: space-between
       cursor: pointer

       padding-top: 10px
       padding-bottom: 9px
       padding-left: 32px
       padding-right: 18.36px

       line-height: 1.35

       &:hover
           background: rgba(34, 32, 32, 0.79)


   .mobile_menu_exit
       display: block
       width: 16.3px
       height: 17.17px
       transform: rotate(90deg)

       svg
           width: 100%
           height: 100%


   .mobile_menu__ul
       display: flex
       flex-direction: column

       padding-left: 16px
       padding-right: 16px

       font-size: 24px

       &:nth-child(2)
          font-size: 20px

       &:last-child
           padding-bottom: 24px
           font-size: 20px

           .mobile_menu__li
               border-bottom: transparent


   .mobile_menu__li
       display: flex
       flex-direction: column

       padding-left: 16px

       //&:first-child
       //    margin-top: 3px

       &:last-child
           border-bottom: 2px solid rgb(68, 66, 66)


   .mobile_menu__link
       font-family: Roboto, sans-serif
       font-weight: 300
       font-style:  normal

       padding-top: 11px
       padding-bottom: 11px

       line-height: 1.34

       cursor: pointer

       &:hover
           color: rgba(34, 178, 180, 1)


   .mobile_menu__link--active
       color: rgba(34, 178, 180, 1)

   /*------------------------------------------
         далее стили для DEPARTMENTS (6-7)

   .mobile_depart_block
       //min-height: 890px
       ////margin-bottom: 18px
       ////+bred


   .mobile_item_card /*mobile_depart_card*/
       display: flex
       flex-direction: column

       position: relative

       margin-left: auto
       margin-right: auto

       width: 92.5%

       padding-top: 24px
       padding-bottom: 24px

       line-height: 1.3

       //border-bottom: 1px solid rgba(255, 255, 255, .7)
       border-bottom: 1px solid rgba(255, 255, 255, .3)

   .mobile_item_card--w100
       width: 100% !important





   .mobile_item_card--mod
        position: relative
        padding-top: 20px
        padding-bottom: 21px

        .dropdown_arrow
            fill: rgba(255, 255, 255, .6)


        time, p
            font-weight: 300
            font-size: 18px
            font-style: normal
            color: rgba(255, 255, 255, 1)

   .mobile_item_card__title
       display: flex
       justify-content: space-between
       align-items: center

       font-family: Roboto, sans-serif
       font-weight: 400
       font-size: 24px
       color: #ffffff

       height: 32px

       p
           display: inline-block

           strong
               display: inline-block
               font-weight: 300
               font-style: normal
               font-size: 20px

       span
           width: 23.62px
           height: 23.62px
           position: relative

   .mobile_item_card__title--pink
       color: rgba(255, 121, 142, 1)

   .mobile_item_card__items
       display: flex
       justify-content: space-between

       font-family: Roboto, sans-serif
       font-style: normal
       font-weight: 300
       font-size: 20px

       color: rgba(255, 255, 255, .8)

       padding-right: 48px

       //line-height: 1.32

       margin-top: 8px

       span, time
           font-weight: 400
           color: #ffffff

   .mobile_item_card__e-mail
       font-weight: 400
       color: #ffffff


   .mobile_item_card__items--mod
       padding-right: 36px
       p
           span
               font-weight: 300
               font-size: 18px
               color: rgba(255, 255, 255, .6)
       b
           font-size: 20px !important
           font-weight: 400
           font-style: normal
           color: rgba(255, 255, 255, 1)


   .mobile_item_card_comment
       display: none

       flex-direction: column

       position: relative
       line-height: 1.3

       color: rgba(255, 255, 255, 1)
       padding-top: 16px

       p
          &:first-child
             color: rgba(255, 255, 255, .8)
             font-size: 20px
             margin-bottom: 8px

   .mobile_item_card_comment__text
        font-weight: 300
        font-size: 24px
        margin-bottom: 20px
        max-width: 562px

   .mobile_item_card_comment--pm0 // mobile_depart_phone
       padding-top: 0
       margin-top: 0

       p
           &:first-child
               margin-bottom: 0


   .mobile_item_card_comment--active
       display: flex
       //display: block

   .mobile_item_card_comment__block
       display: flex
       justify-content: space-between

   .mobile_item_card_comment__block--end
       justify-content: flex-end

   .mobile_item_card_comment__block--top
       margin-top: 24px

   .mobile_item_card_comment__block--top12

   .mobile_item_card_comment__btn
       display: flex
       justify-content: center
       align-items: center
       width: 284px
       color: #ffffff
       height: 64px
       border-radius: 5px
       font-size: 20px
       font-weight: 400


   .mobile_item_card_comment__btn--red
        background: rgba(216, 92, 92, 1)

   .mobile_item_card_comment__btn--green
        background: rgba(139, 165, 90, 1)

   .mobile_item_card_comment__btn--cyan
       background: rgba(34, 178, 180, 1)

   .mobile_btn_down_block
       padding-top: 8px
       padding-bottom: 24px
       background: rgba(39, 37, 37, 1)

   .mobile_btn_down_block--pos
       position: fixed
       top: 89.5%
       left: 0
       right: 0

   .mobile_wide_btn
       display: flex
       align-items: center
       justify-content: center
       margin-left: auto
       margin-right: auto
       height: 64px
       width: 92.5%
       border-radius: 5px
       background: rgba(139, 165, 90, 1)

       font-weight: 400
       font-style: normal

       font-size: 20px

   .mobile_top_pos_btn
       display: flex
       align-items: center
       justify-content: center

       width: 180px
       height: 64px

       font-family: Roboto, sans-serif
       font-size: 20px
       font-style: normal
       font-weight: 400

       border-radius: 5px

       position: absolute
       top: 35px
       right: 21px

       background: rgba(34, 178, 180, 1)


   .dropdown_arrow_btn
       position: absolute

       top: 9px
       right: -2px

       width: 23.62px
       height: 23.62px

       -webkit-transition: transform .5s
       -moz-transition: transform .5s
       -ms-transition: transform .5s
       -o-transition: transform .5s
       transition: transform .5s

   .dropdown_arrow_btn--pos
       top: 30px

   .dropdown_arrow_btn--pos24
       top: 24px


   /*------------------------------------------
        EDIT DEPARTMENT (8)

   .edit_department_block, .edit_block
       width: 92.5%
       margin-left: auto
       margin-right: auto
       padding-top: 20px

   .edit_department_form, .edit_form
       display: flex
       flex-direction: column


   //.edit_comment_block
   //    display: flex
   //    flex-direction: column
   //    font-weight: 300
   //    padding-bottom: 7px
   //    border-bottom: 1px solid rgba(255, 255, 255, .3)
   //
   //    p:first-child
   //        font-size: 20px
   //        color: rgba(255, 255, 255, .8)
   //        margin-bottom: 11px
   //
   //    p:last-child
   //        max-width: 477px
   //        font-size: 24px
   //        color: rgba(255, 255, 255, 1)
   //        line-height: 1.35



   /*------------------------------------------
       COMPANY DETAILS AND BILLING ADDRESS (9)

   .company_detalis_block
       width: 92.5%
       margin-left: auto
       margin-right: auto

       margin-bottom: 10px


   .mobile_company_detalis
       display: flex
       flex-direction: column

       padding-top: 20px

   .mobile_input_item_line
       display: flex
       align-items: center

       font-family: Roboto, sans-serif
       font-style: normal
       font-weight: 300
       font-size: 20px

       color: rgba(255, 255, 255, .6)

       span
           &:first-child
               margin-right: 25px

       input
           font-size: 24px
           width: 61px
           text-align: center
           color: rgba(255, 255, 255, 1)
           border-bottom: 1px solid rgba(34, 178, 180, 1) !important

           margin-right: 18px

   .mobile_input_item_line--mb35
       margin-bottom: 35px


   .phone_wrapper
       display: flex
       flex-direction: column

   .mobile_input_wrapper
       display: flex
       flex-direction: row
       align-items: center
       justify-content: flex-start

       width: 100%

   .btn_add
       width: 18px
       height: 18px

       position: relative

       &:before
           content: ''

           position: absolute
           top: 0
           left: 0
           bottom: 0
           right: 0
           margin: 0 auto

           height: 18px
           width: 2px
           background: rgba(165, 198, 104, 1)

       &:after
           content: ''

           position: absolute
           top: 0
           left: 0
           bottom: 0
           right: 0
           margin: 50% auto

           height: 2px
           width: 18px
           background: rgba(165, 198, 104, 1)

   .btn_remove
       display: none

       width: 18px
       height: 18px
       cursor: pointer

       position: relative

       &:after
           content: ''

           position: absolute
           top: 0
           left: 0
           bottom: 0
           right: 0
           margin: 50% auto

           height: 2px
           width: 18px
           background: rgba(255, 121, 142, 1)

   .btn_item_wide_block
       display: flex
       flex-direction: column

   .btn_item_wide_block__btn
       display: flex
       align-items: center
       justify-content: flex-start

       font-family: Roboto, sans-serif
       font-weight: 300
       font-style: normal
       font-size: 24px
       color: rgba(255, 121, 142, 1)

       height: 64px
       width: 100%

       cursor: pointer

       padding-left: 39px

       border-top: 1px solid rgba(255, 255, 255, .6)
       border-bottom: 1px solid rgba(255, 255, 255, .6)

       &:first-child
           border-bottom: none

   .mobile_input_item
       position: relative

       display: flex
       flex-direction: column

       padding-top: 20px

   .mobile_input_item__input
       font-weight: 300
       font-style: normal
       font-size: 24px

       align-items: center

       color: rgba(255, 255, 255, 1)

       height: 51px
       padding-left: 0

       border-bottom: 1px solid rgba(255, 255, 255, .3)

       &::placeholder
           font-size: 20px !important

   .mobile_input_item__input--right
       width: 86%
       height: 57px
       align-self: flex-end


   .mobile_input_item__input--white08
       color: rgba(255, 255, 255, .8) !important

   .mobile_input_item__input--transfer
       color: rgba(0, 0, 0, 1) !important
       border-bottom: rgba(34, 178, 180, 1) !important

   .mobile_input_item__input--bottom_transp
       border-bottom: 1px solid transparent

   .mobile_input_item__textarea
       max-width: 477px
       min-height: 128px

       margin-top: 10px

       resize: none

       font-size: 24px
       line-height: 1.35
       color: rgba(255, 255, 255, 1)

       background: transparent
       border: none
       outline: none


   .mobile_input_item__select
       height: 50px
       // todo исправить шрифт в селекте
       font-family: Roboto, sans-serif
       font-weight: 300
       font-style: normal
       font-size: 23px
       color: rgba(255, 255, 255, 1)

       padding-left: 0

       outline: none

       //background-color: rgb(36, 36, 35)
       background-color: transparent

       border-top: none
       border-left: none
       border-right: none
       border-bottom: 1px solid rgba(255, 255, 255, .3)

       background-image: url(../../assets/icons/dropdown_arrow_23px.svg)
       background-repeat: no-repeat
       background-size: 17.62px 17.62px
       background-position: 97.5% center

       -webkit-appearance: none
       -moz-appearance: none
       appearance: none

   .mobile_input_item__select--min
       max-width: 430px
       min-width: 430px
       margin-right: 17px

   .mobile_input_item__select--mt15
       margin-top: 15px


   .mobile_input_item__select--bgs95
       background-size: 23px 23px !important
       background-position: 100% 10px !important

   .mobile_input_item__select--bgs100
       background-size: 23px 23px !important
       background-position: 100% 10px !important


   .mobile_input_item__select--bgs
       background-size: 23px 23px !important
       background-position: 98% 10px !important

   .mobile_input_item__select--group
       font-size: 24px
       padding-bottom: 10px
       height: 56px
       background-size: 23px 23px !important
       background-position: 100% center !important

   .mobile_input_item__select--mb
       margin-bottom: 17px

   .mobile_input_item__option
       outline: none
       background: rgba(39, 39, 38, 1)
       border: transparent
       font-size: 24px !important

   .mobile_input_item__search
       font-family: Roboto, sans-serif
       font-weight: 300
       font-style: normal
       font-size: 24px

       height: 42px
       padding-bottom: 20px

       padding-left: 0
       color: rgba(255, 255, 255, 1)

       border-bottom: 1px solid rgba(255, 255, 255, .3) !important

   .mobile_input_item_button
       display: flex
       margin-top: -12px

   .mobile_input_item_button__btn
       display: flex
       align-items: center
       justify-content: center

       text-align: center

       width: 64px
       height: 64px
       background: #22B2B4
       border-radius: 5px

       color: rgba(255, 255, 255, 1)

       margin-right: 16px

       span
           display: block
           width: 32px
           height: 32px


       &:last-child
           margin-right: 0


   .mobile_week
       display: flex

       font-family: Roboto, sans-serif
       font-size: 20px


   .mobile_week__li

       height: 48px
       width: 84px

       border-right: 1px solid rgba(39, 39, 38, 1)

       &:last-child
           border-right: none

   .mobile_week__day
       display: block

       font-size: 20px
       color: rgba(255, 255, 255, 1)

       width: 100%
       height: 100%

       padding-top: 11px

       line-height: 1.3

       cursor: pointer

       text-align: center

       background: rgba(70, 69, 68, 1)

   .mobile_week__day--active
       background: rgba(34, 178, 180, 1)

   .mobile_input_item__input--transparent
       border-bottom: 1px solid transparent !important
       &:focus
           border-bottom: 1px solid transparent !important

   .mobile_select_block
       display: flex
       justify-content: space-between
       align-items: center

       width: 72%

       padding-left: 13.5%

   .mobile_select_block__select
       height: 50px
       width: 130px

       font-family: Roboto, sans-serif
       font-weight: 300
       font-style: normal
       font-size: 23px
       color: rgba(255, 255, 255, 1)

       padding-left: 0

       outline: none

       //background-color: rgb(36, 36, 35)
       background-color: transparent

       border-top: none
       border-left: none
       border-right: none
       border-bottom: 1px solid rgba(255, 255, 255, .3)

       background-image: url(../../assets/icons/dropdown_arrow_23px.svg)
       background-repeat: no-repeat
       background-size: 21px 23px
       background-position: 75% center

       -webkit-appearance: none
       -moz-appearance: none
       appearance: none

   .mobile_select_block__option
       outline: none
       background: rgba(39, 39, 38, 1)
       border: transparent


   .mobile_select_block__mdash


   .mobile_input_item--row
       flex-direction: row


   .mobile_input_item--mb9
       margin-bottom: 9px


   .mobile_input_item--mb20
       margin-bottom: 20px

   .mobile_input_item--mb30
       margin-bottom: 30px

   .mobile_input_item--mb42
       margin-bottom: 42px

   .mobile_input_item--mb36
       margin-bottom: 36px

   .mobile_input_item--mb124
       margin-bottom: 124px

   .mobile_input_item--w100
       width: 100%

   .mobile_input_item--w320
       width: 320px

   .mobile_input_item--w540
      width: 540px

   .mobile_input_item--r19
       margin-right: 19px

   .mobile_input_item--borderB
       border-bottom: 1px solid rgba(255, 255, 255, .1)



   .mobile_input_item__label
       position: absolute
       top: 0
       left: 0

       font-weight: 300
       font-style: normal
       font-size: 20px

       color: rgba(255, 255, 255, .8)

   .mobile_input_item__label--white06
       color: rgba(255, 255, 255, .6)

   .mobile_input_item__label--mb
       margin-bottom: 10px


   .mobile_input_item__input:focus + .mobile_input_item__label, .mobile_input_item__label:active
        color: rgba(34, 178, 180, 1)


   .mobile_input_item__close
       display: none
       cursor: pointer !important

       padding: 14px

       width: 48px
       height: 48px

       transition: opacity 200ms
       outline: none

       .svg
           fill: rgba(216, 92, 92, 1)

   .mobile_input_item__close--right0
       position: absolute
       right: 0



   //.mobile_input_item__input:valid ~ .mobile_input_item__close
   //    display: block


   /*------------------------------------------
         phone numbers (BUY OR ADD PHONE) (13)

   .mobile_phone_buy
       display: flex
       flex-direction: column

       align-items: center

       max-width: 448px

       margin-left: auto
       margin-right: auto

       color: #ffffff
       font-size: 14px
       font-weight: 300
       font-style: normal


   .mobile_phone_buy--pos
       position: absolute
       top: 138px
       left: 0
       right: 0


   .mobile_phone_buy__title
       font-weight: 400
       font-style: normal
       font-size: 20px
       color: rgba(255, 255, 255, 1)
       line-height: 1.3
       margin-bottom: 72px


   .mobile_phone_buy__btn
       display: flex
       justify-content: center
       align-items: center
       width: 100%
       height: 64px
       font-weight: 400
       font-style: normal
       font-size: 24px
       background: rgba(152, 182, 97, 1)


   .mobile_phone_buy__btn--down16
       margin-bottom: 16px

   .mobile_phone_buy__text
       line-height: 1.45
       margin-bottom: 48px

   /*------------------------------------------
        ADD INTERNAL PHONE (15)

   .add_internal_block



   .add_internal_block__wrap
       background: rgba(55, 54, 53, 1)
       margin-bottom: 25px


   .internal_form
       flex-direction: column
       width: 92.5%

       font-weight: 300
       font-size: 24px

       margin-left: auto
       margin-right: auto
       padding-top: 18px


   .internal_form_item
       align-items: center
       justify-content: flex-end

       margin-bottom: 16px


   .internal_form_item__name
       margin-right: 19px
       font-size: 24px

   .internal_form_item__name--bottom
       padding-top: 17px
       //align-self: flex-end


   .internal_form_item__select
       width: 416px
       height: 64px
       outline: none

       font-family: Roboto, sans-serif
       font-weight: 300
       font-style: normal
       font-size: 24px

       padding-left: 24%

       cursor: pointer
       color: rgba(255, 255, 255, 1)

       background-image: url(../../assets/icons/dropdown_arrow_23px.svg)
       background-repeat: no-repeat

       //background-color: rgba(55, 54, 53, .6)
       background-color: transparent

       background-size: 23.62px 23.62px
       background-position: 97% center

       border: 1px solid rgba(149, 152, 154, 1)

       -webkit-appearance: none
       -moz-appearance: none
       appearance: none

       option
           font-weight: 300
           font-size: 24px
           height: 64px
           background: rgba(55, 54, 53, 1)
           outline: none

   .internal_form_item__select--pal
        padding-left: 28% !important

   .internal_form_item__select--pal21
       padding-left: 21% !important

   .internal_form_item__search
       width: 416px
       height: 64px
       outline: none
       // todo поправить шрифт (не устанавливается 300)
       font-family: Roboto, sans-serif
       font-weight: 300
       font-style: normal
       font-size: 24px

       //padding-left: 27%
       padding-right: 0

       text-align: right

       cursor: pointer
       color: rgba(255, 255, 255, .35)

       border: 1px solid rgba(149, 152, 154, 1) !important

   .internal_form_item__search--tac
       //text-align: center
       padding-right: 42px

       //&::-webkit-input-placeholder
       //    padding-right: 42px
       //
       //&:-moz-placeholder
       //    padding-right: 42px
       //
       //&::-moz-placeholder
       //    padding-right: 42px
       //
       //&:-ms-input-placeholder
       //    padding-right: 42px

   .internal_form_box
       display: flex
       justify-content: space-between
       width: 416px
       padding-top: 6px

   /*------------------------------------------

   .buy_block
       flex-direction: column

       width: 92.5%

       margin-left: auto
       margin-right: auto
       margin-bottom: 8px

   .buy_block_item
       align-items: center
       height: 80px
       //border: 1px solid red

       border-bottom: 1px solid rgba(255, 255, 255, .3)

       color: rgba(255, 255, 255, 1)

       font-family: Roboto, sans-serif
       font-weight: 300
       font-style: normal
       font-size: 24px

       padding-left: 16px
       padding-right: 4px

       //justify-content: space-between

       &:first-child
           color: rgba(255, 255, 255, .6)

   .internal
       width: 35%
       justify-content: flex-start


   .location
       width: 35%
       justify-content: center

       //border: 1px solid green

   .monthly
       width: 18%
       justify-content: flex-end
       //border: 1px solid green

   .buy
       width: 12%
       justify-content: flex-end
       //border: 1px solid green

   .buy__a
       width: 40px
       height: 40px
       //background-image: url(../../assets/icons/basket.svg)
       //background-repeat: no-repeat
       fill: white
       //background-size: 23.62px 23.62px
       background-position: center center
       //background-position: 97% center

    /*------------------------------------------
          ADDRESS BOOK (16)

   .addr_book
       max-width: 592px
       margin-left: auto
       margin-right: auto
       margin-bottom: 16px
       padding-top: 12px


   .addr_book_search
       position: relative
       
       font-weight: 300
       font-style: normal
       font-size: 24px
       color: #ffffff
       max-width: 592px
       min-width: 592px
       margin-bottom: 16px

       input
           height: 52px
           padding-left: 0
           padding-bottom: 12px !important


   .addr_book_contacts
       display: flex
       flex-direction: column


   .addr_book_contacts__link
       display: flex
       flex-direction: column
       font-weight: 400
       font-style: normal
       font-size: 24px
       color: #ffffff

       height: 114px

       padding-top: 25px
       padding-bottom: 24px
       border-bottom: 1px solid rgba(255, 255, 255, .1)

       position: relative

       
       span
           line-height: 1.35
           margin-bottom: 8px
           &:nth-child(2)
               font-weight: 300
               font-size: 20px
               margin-bottom: 0

       .addr_book_contacts__img
           position: absolute
           top: 45px
           right: 4px

           width: 23.62px
           height: 23.62px

   /*------------------------------------------
        SETTINGS (30)

   .mobile_settings
       display: flex
       flex-direction: row
       flex-wrap: wrap

       max-width: 608px

       margin-left: auto
       margin-right: auto

       //padding-top: 16px


   .mobile_settings_card
       display: flex
       flex-direction: column
       align-items: center

       width: 296px
       height: 176px

       line-height: 1.3

       font-weight: 400
       font-style: normal
       font-size: 24px
       color: #ffffff
       
       padding-top: 32px
       padding-bottom: 24px

       border-radius: 2px
       background: rgba(153, 182, 108, 1)

       margin-bottom: 16px


       &:nth-child(odd)
           margin-right: 16px
       

   .mobile_settings__img
       width: 48px
       height: 48px

       margin-bottom: 40px

   .mobile_settings__name
       text-transform: uppercase

   .mobile_settings_toggle
       display: flex
       flex-direction: row
       align-items: center

       border-radius: 2px

       width: 296px
       height: 176px


   .mobile_settings_min
       display: flex
       flex-direction: column
       align-items: center
       justify-content: flex-end

       width: 50%
       height: 100%

       line-height: 1.3

       padding-top: 39px
       padding-bottom: 24px

       cursor: pointer

       background: rgba(82, 81, 80, 1)


   .mobile_settings_min--left
       border-top-left-radius: 2px
       border-bottom-left-radius: 2px


   .mobile_settings_min--right
       border-top-right-radius: 2px
       border-bottom-right-radius: 2px


   .mobile_settings_min--active
       background: rgba(166, 198, 116, 1)

   .mobile_settings_min__item
       display: flex
       flex-direction: column
       align-items: center

       font-weight: 300
       font-style: normal
       font-size: 18px
       color: #ffffff

       cursor: pointer


   .mobile_settings_min__img
       width: 32px
       height: 32px
       position: relative
       margin-bottom: 27px
       opacity: 0

       &:before
           content: ''
           position: absolute
           top: 18px
           right: 19px
           width: 14px
           height: 2px
           transform: rotate(45deg)
           background: #ffffff
       &:after
           content: ''
           position: absolute
           top: 12px
           right: -4px
           width: 30px
           height: 2px
           transform: rotate(-45deg)
           background: #ffffff


   .mobile_settings_min--active > .mobile_settings_min__img
       opacity: 1

   .mobile_settings_min__item
       p
           &:last-child
               font-weight: 400
               font-size: 24px
               text-transform: uppercase


   /*------------------------------------------
        BACKUP (34)

   .mobile_backup_block
       width: 92.5%
       margin-left: auto
       margin-right: auto
       padding-top: 20px
       margin-bottom: 80px

   .mobile_backup__text
       font-weight: 400
       font-size: 18px
       color: rgba(255, 255, 255, .8)
       margin-bottom: 18px

   .mobile_backup_checkbox, .mobile_checkbox_item // mobile_backup_checkbox
       display: flex
       flex-direction: column


   .checkbox_wrap
       display: flex
       align-items: center

   .checkbox_wrap--mb29
       margin-bottom: 29px

   .checkbox_wrap--h22
       height: 22px

   .checkbox_wrap--h64
       height: 64px

   .checkbox_wrap--pos1
       position: absolute
       top: 23px
       right: -8px


   .label
       font-weight: 300
       font-size: 20px
       color: rgba(255, 255, 255, .3)

   .label--fz24Wh
       font-size: 24px
       color: #ffffff


   .label--lh
       line-height: 1.3

   .label--w456
       width: 456px


   .label--white06
       color: rgba(255, 255, 255, .6)

   .label--dib
       display: inline-block
       i
           display: inline-block
           margin-left: 20px

           font-style: normal

   .checkbox
       display: none

   .internal_input_item__look
       display: none

   .internal_input_item__checkbox_custom
       position: relative
       width: 48px
       height: 48px
       border: 1px solid rgba(255, 255, 255, 1)
       cursor: pointer
       margin-right: 10px

   .internal_input_item__look:checked + .internal_input_item__checkbox_custom::before
        content: ''
        display: block
        position: absolute
        top: 7px
        right: 7px
        bottom: 7px
        left: 7px
        background: url(../../assets/icons/ok_32wpx.svg)
        fill: #ffffff

   /*-----------
   .internal_form_item__wrap
       display: flex
       align-items: center


   .internal_form_item__checkbox
       display: none


   .internal_form_item__checkbox_custom
       position: relative
       width: 40px
       height: 40px
       border: 1px solid rgba(255, 255, 255, 1)
       cursor: pointer
       margin-right: 10px

   .internal_form_item__lab
       font-weight: 300
       font-size: 24px
       color: rgba(255, 255, 255, 1)

   .internal_form_item__checkbox:checked + .internal_form_item__checkbox_custom::before
       content: ''
       display: block
       position: absolute
       top: 7px
       right: 7px
       bottom: 7px
       left: 7px
       background: url(../../assets/icons/ok_32wpx.svg)
       fill: #ffffff


   //
   .checkbox_custom
       position: relative
       width: 32px
       height: 32px
       border: 1px solid rgba(255, 255, 255, .3)
       cursor: pointer
       margin-right: 26px

   .checkbox + .checkbox_custom::before
        content: ""
        display: block
        position: absolute
        top: 7px
        right: 7px
        bottom: 7px
        left: 7px
        background: rgba(255, 255, 255, .3)
        transition: all ease .5s

   .checkbox:checked + .checkbox_custom::before
        content: ""
        display: block
        position: absolute
        top: 7px
        right: 7px
        bottom: 7px
        left: 7px
        background: rgba(34, 178, 180, 1)


   .mobile_down_btn_block
       display: flex
       //justify-content: space-between
       justify-content: center
       //width: 92.5%
       width: 100%
       margin-left: auto
       margin-right: auto
       //margin-bottom: 24px
       padding-bottom: 24px
       background: rgba(39, 37, 37, 1)

       padding-top: 8px

   .mobile_down_btn_block--pos
       position: fixed
       top: 89.5%
       left: 0
       right: 0

   .mobile_down_btn_block--pos93
       position: fixed
       top: 93.5%
       left: 0
       right: 0


   .mobile_down_btn_block--mb35
       margin-bottom: 35px


   .mobile_down_btn_block--end
       justify-content: flex-end

   .mobile_down_btn_block__btn
       display: flex
       justify-content: center
       align-items: center

       width: 284px
       height: 64px

       cursor: pointer

       color: rgba(255, 255, 255, 1)
       font-weight: 400
       font-style: normal
       font-size: 20px

       border-radius: 5px

       &:first-child
           margin-right: 24px

   .mobile_down_btn_block__btn--green
       background: rgba(139, 165, 90, 1)
       
   .mobile_down_btn_block__btn--grey
       background: rgba(63, 63, 62, 1)

   .mobile_down_btn_block__btn--cyan
       background: rgba(34, 178, 180, 1)


   /*------------------------------------------
        single btn (21)

   .mobile_single_btn
       display: flex
       flex-direction: column
       align-items: center
       justify-content: center

       width: 70%

       position: absolute
       top: 0
       left: 0
       right: 0

       margin-right: auto
       margin-left: auto
       margin-top: 50%

   .mobile_single_btn__btn
        display: flex
        justify-content: center
        width: 100%
        height: 64px
        align-items: center
        font-weight: 400
        font-size: 24px
        color: rgba(255, 255, 255, 1)
        background: rgba(152, 182, 97, 1)
        margin-bottom: 20px


   .mobile_single_btn__sp
       align-self: flex-start
       font-weight: 300
       font-size: 14px
       color: rgba(255, 255, 255, 1)

   /*------------------------------------------
        mobile_select_country (36-37-38-39)

   .mobile_select_country
       display: flex
       flex-direction: column

       width: 100%

   .select_item_country
       font-family: Roboto, sans-serif
       font-weight: 300
       color: rgba(255, 255, 255, .8)
       font-size: 20px

       height: 64px


   .authentication
       display: flex
       flex-direction: column

   .session_block
       display: flex
       flex-direction: row
       justify-content: space-between


       margin-bottom: 20px


   .btn_items
       display: flex
       justify-content: center
       align-items: center

       width: 160px
       height: 64px

       font-family: Roboto, sans-serif
       font-weight: 400
       font-style: normal
       font-size: 20px

       color: rgba(255, 255, 255, 1)

       background: rgba(34, 178, 180, 1)

       border-radius: 5px

   .btn_items--w240
       width: 240px


   .btn_items__verify


   /*------------------------------------------
         REFILL BALANCE (40-41)

   .mobile_settings_amount
       display: flex
       flex-direction: row

       width: 100%

       margin-left: auto
       margin-right: auto

       margin-bottom: 16px

       padding-top: 20px
       padding-left: 12px

       font-weight: 300
       font-style: normal
       font-size: 24px
       color: rgba(255, 255, 255, .6)

       p
           width: 296px
           margin-right: 16px


   .mobile_settings_amount_form
       width: 296px

       input
           height: 45px
           padding-bottom: 19px
           text-align: center

           &::placeholder
               text-align: center


   .mobile_settings_amount_block
       display: flex
       flex-direction: row
       flex-wrap: wrap

       width: 100%


   .mobile_settings_amount_card
       display: flex
       flex-direction: column
       align-items: center
       justify-content: center

       width: 296px
       height: 200px

       border: 2px solid transparent
       border-radius: 2px
       background: rgba(55, 54, 53, 1)

       position: relative

       line-height: 1.35

       padding-top: 40px
       padding-bottom: 9px

       margin-bottom: 16px

       font-weight: 300
       font-style: normal

       &:nth-child(odd)
           margin-right: 16px

       &:hover
           border: 2px solid rgba(152, 182, 97, 1)
           border-radius: 2px


   .triangle
       position: absolute
       bottom: -2px
       right: -2px

       width: 0
       height: 0

       border-bottom: 24px solid rgba(152, 182, 97, 1)
       border-left: 24px solid transparent


   .mobile_settings_amount_card--active
       border: 2px solid rgba(152, 182, 97, 1)
       border-radius: 2px


   .mobile_settings_amount__img
       display: flex
       align-items: center
       justify-content: center

       width: 64px
       height: 64px

       margin-bottom: 27px

   .mobile_settings_amount__img--waves
       width: 135px
       padding-top: 16px


   .mobile_settings_amount__info
       font-size: 18px
       color: rgba(247, 154, 40, 1)

       height: 24px
       margin-bottom: 8px


   .mobile_settings_amount__name
       display: inline-block
       font-size: 20px
       color: rgba(255, 255, 255, 1)

       strong
           display: inline-block
           color: rgba(34, 178, 180, 1)

   /*------------------------------------------
   .refill_invoices
       display: flex
       flex-direction: column
       align-items: center
       justify-content: center

       max-width: 92.5%

       margin-left: auto
       margin-right: auto

       font-family: Roboto, sans-serif
       font-weight: 300
       font-style: normal
       font-size: 24px
       color: #ffffff

       padding-top: 27px
       line-height: 1.35


   .refill_invoices__title
       font-size: 32px


   .refill_invoices_num
       color: rgba(139, 165, 90, 1)

   .refill_invoices__title--mb16
       margin-bottom: 16px

   .refill_invoices__title--mb24
       margin-bottom: 24px


   .refill_invoices_num
       display: inline-block

       span
           display: inline-block
           margin-left: 12px

   .refill_invoices_num--mb39
       margin-bottom: 39px


   .refill_invoices__input
       text-align: center
       width: 592px

       height: 71px
       padding-bottom: 8px
       padding-left: 14%

       margin-bottom: 27px

       background: url(../../assets/icons/icon_dollar.svg) no-repeat 39.5% 6px
       background-size: 48px 48px


   .refill_invoices_item
       display: flex
       justify-content: center
       align-items: center

       font-size: 32px
       color: rgba(248, 161, 57, 1)

   .refill_invoices_item--mb
       margin-bottom: 64px

   .refill_invoices_item--mb
       margin-bottom: 53px

   .refill_invoices_item__img
       width: 48px
       height: 48px

       margin-right: 24px

   .refill_invoices_address
       display: flex
       flex-direction: column
       align-items: center

   .refill_invoices_address--mb
       margin-bottom: 34px

   .refill_invoices_address__input
       width: 592px
       text-align: center

   .refill_invoices_address__input--bnone
       border-bottom: transparent !important

   .refill_invoices_address__title
       color: rgba(34, 178, 180, 1)
       margin-bottom: 5px

   .refill_invoices_address__title--green
       color: rgba(152, 182, 97, 1)

   .refill_invoices__qr
       width: 264px
       height: 264px

       // todo удалить border
       border: 1px solid #ffffff

   .refill_invoices__qr--mb
       margin-bottom: 59px

   .three_btn_block
       display: flex

       max-width: 508px

       margin-left: auto
       margin-right: auto

   .three_btn_block__item
       position: relative

       margin-right: 74px

       &:last-child
           margin-bottom: 0

   .three_btn_block__btn
       display: block
       width: 120px
       height: 120px
       border-radius: 50%
       background: rgba(152, 182, 97, 1)


   .three_btn_block__text
       position: absolute
       left: 26%
       top: 116%

       margin: 0 auto

       font-size: 24px
       color: rgba(255, 255, 255, 1)




   /*------------------------------------------
         INVOICES (44-45) + см. DEPARTMENTS

   //.mobile_invoices_card


   /*------------------------------------------
      STORAGE (46-47-48) + см. DEPARTMENTS

   .mobile_block, .sub_block
       display: flex
       flex-direction: column

       position: relative


   .mobile_block--dn, tab
       display: none

   .mobile_block--active
       display: flex


   .mobile_backup--mb57
       margin-bottom: 52.7%


   .mobile_storage_card_form
       display: flex
       justify-content: center
       align-items: center

       position: relative

       width: 100%
       min-height: 96px

       background: rgba(55, 54, 53, .6)

   .mobile_storage_card_form__dropdown_arrow
           position: absolute
           z-index: -1
           top: 36px
           right: 40px
           fill: #ffffff
           width: 23.62px
           height: 23.62px


   .mobile_item_card_select  // mobile_storage_card_select
           width: 92.5%
           height: 64px

           outline: none

           font-family: Roboto, sans-serif
           font-weight: 300
           font-style: normal
           font-size: 24px

           padding-left: 15px
           cursor: pointer
           color: white

           background-image: url(../../assets/icons/dropdown_arrow_23px.svg)
           background-repeat: no-repeat

           //background-color: rgba(55, 54, 53, .6)
           background-color: transparent

           background-size: 23.62px 23.62px
           background-position: 98% center

           border: 1px solid rgba(149, 152, 154, 1)

           -webkit-appearance: none
           -moz-appearance: none
           appearance: none

           option
               font-weight: 300
               font-size: 24px
               height: 64px
               background: rgba(55, 54, 53, 1)
               outline: none

   .mobile_storage_btn
       display: flex
       justify-content: center
       align-items: center

       font-weight: 400
       font-style: normal
       font-size: 20px
       color: rgba(255, 255, 255, 1)

       width: 160px
       height: 64px
       border-radius: 5px
       margin-right: 16px

       &:first-child
           width: 168px
           margin-right: 106px

       &:last-child
           width: 142px
           margin-right: 0

       .play_24px
           width: 40px
           height: 40px
           fill: #ffffff


   .mobile_storage_btn--pink
       background: rgba(216, 92, 92, 1)
       

   .mobile_storage_btn--grey
       background: rgba(63, 63, 62, 1)

   .mobile_storage_btn--cyan
       background: rgba(34, 178, 180, 1)

   .delete_window
       display: flex
       flex-direction: column
       align-items: center

       width: 92.5%

       padding-top: 73px

       background: rgba(87, 87, 87, 1)

       opacity: 0
       transition: opacity ease .5s
       
       p
           display: inline-block
           max-width: 316px
           font-size: 26px
           font-weight: 400
           font-style: normal
           color: #ffffff
           text-align: center
           line-height: 1.3
           margin-bottom: 77px

   .delete_window__user_name
       display: inline-block


       .close
           position: absolute
           top: 23px
           right: 21px
           width: 32px
           height: 32px
           cursor: pointer !important
           z-index: 10000
           fill: #ffffff

   .delete_window--pos
       position: absolute
       top: 45.5%
       left: 3.8%
       z-index: -1


   .delete_window--active
       opacity: 1
       z-index: 1000

   .delete_window_block
       width: 100%


   .delete_window_block__btn
       display: flex
       justify-content: center
       align-items: center
       width: 50%
       height: 64px
       color: rgba(255, 255, 255, 1)
       font-weight: 400
       font-style: normal
       font-size: 20px
       cursor: pointer

   /*------------------------------------------
        MARKETPLACE / TARIFF PLAN (52 / 57)

   .mobile_big_block // mobile_marketplace
       display: flex
       flex-direction: column

   .mobile_big_block--mod // mobile_tariff
        padding-bottom: 66px


   .mobile_big_block_item
       display: flex
       flex-direction: column

       max-width: 100%
       min-width: 608px

       line-height: 1.32

       padding-top: 24px
       padding-left: 24px
       padding-right: 59px

       margin-bottom: 16px

       font-weight: 300
       font-style: normal
       font-size: 23px

       border-radius: 2px

       &:last-child
           margin-bottom: 0


   .mobile_big_block_item--right
       padding-right: 270px


   .mobile_big_block_item--purple
       background: rgba(163, 95, 206, 1)


   .mobile_big_block_item--grey
       background: rgba(90, 90, 90, 1)


   .mobile_big_block_item--cyan
       background: rgba(34, 178, 180, 1)

   .mobile_big_block_item__block
       display: flex
       flex-direction: column
       min-height: 260px

   .mobile_big_block_item__title
       display: flex
       justify-content: space-between
       align-items: center

       font-weight: 400
       font-style: normal
       font-size: 28px
       margin-bottom: 34px

       position: relative

       span
           width: 40px
           height: 40px

           position: absolute
           top: -2px
           right: -35px


   .mobile_big_block_item__bottom
       display: flex
       justify-content: flex-start
       align-items: center
       width: 100%
       min-height: 64px
       font-size: 24px

       position: relative


   .mobile_big_block_item__btn
       display: flex
       justify-content: center
       align-items: center
       font-size: 20px
       width: 304px
       height: 64px
       text-transform: uppercase

       border-bottom-right-radius: 2px

       position: absolute
       bottom: 0
       right: -59px


   .mobile_big_block_item__btn--right
       right: -270px

   .mobile_big_block_item__purple
       background: rgba(186, 135, 218, 1)

   .mobile_big_block_item__btn--grey
       background: rgba(131, 131, 131, 1)

   .mobile_big_block_item__btn--cyan
       background: rgba(90, 197, 199, 1)

   /*------------------------------------------
         CREATE SCHEDULE (54)

   .form_item
       display: flex
       flex-direction: column

       margin-left: auto
       margin-right: auto

       width: 92.5%

       padding-top: 40px

   .form_item--pt16
       padding-top: 16px !important

   .form_item--pt36
       padding-top: 36px


   .mobile_section_title
       font-family: Roboto, sans-serif
       font-weight: 400
       font-style: normal
       font-size: 18px

       color: rgba(255, 255, 255, .8)

       margin-bottom: 36px

   .mobile_section_title--mt31
       margin-top: 31px

   .mobile_section_title--mt21
       margin-top: 21px


   .mobile_section_title--mb18
       margin-bottom: 18px

   /*------------------------------------------
        PARTNER PROGRAM (75 - 81)

   .text_block
       display: flex
       flex-direction: column

       margin-left: auto
       margin-right: auto

       font-family: Roboto, sans-serif
       font-weight: 300
       font-style: normal
       font-size: 14px

       padding-top: 24px

       //line-height: 1.75

   .text_item
       font-family: Roboto, sans-serif
       font-weight: 300
       font-style: normal
       font-size: 14px

       line-height: 1.75

       color: rgba(255, 255, 255, .8)

       max-width: 592px

       margin-bottom: 16px

       margin-left: 0
       margin-right: 0

       padding: 0

       b
           font-family: Roboto, sans-serif
           font-weight: 400
           font-style: normal
           color: rgba(255, 255, 255, 1)


   .text_item--mb38
       margin-bottom: 38px


   .transfer_block
       display: none

       background: rgba(255, 255, 255, 1)

       border-radius: 2px

       width: 92.5%
       height: 328px

       padding-top: 35px
       padding-left: 98px
       padding-right: 94px
       padding-bottom: 21px

   .transfer_block--pos
       position: absolute
       top: 30%
       left: 4%

   .transfer_window
       display: flex
       flex-direction: column

       position: relative

       align-items: center

   .transfer_window__title
       font-family: Roboto, sans-serif
       font-weight: 400
       font-style: normal
       font-size: 26px

       color: rgba(0, 0, 0, 1)

       margin-bottom: 43px

   .transfer_window__title--cyen
       color: rgba(34, 178, 180, 1)
       margin-bottom: 0

   .transfer_window__item
       align-self: flex-start
       font-size: 20px
       color: rgba(0, 0, 0, 1)

   .transfer_window_btn
       position: absolute
       bottom: 0
       right: 0

   .transfer_window_btn__item
       display: flex
       align-items: center
       justify-content: center

       height: 64px
       width: 112px

       font-size: 20px
       font-family: Roboto, sans-serif
       font-weight: 400
       font-style: normal

       color: rgba(34, 178, 180, 1)
       cursor: pointer

       &:last-child
           width: 88px

   /*------------------------------------------
         WITHDRAW FUNDS (82)

   .mobile_settings_withdraw
       padding-left: 8px

       p
           width: 313px
           margin-right: 0


   /*------------------------------------------
        rotate
   .rotate180
       transform: rotate(180deg)

   /*------------------------------------------
        svg
   .dropdown_arrow
       fill: rgba(255, 255, 255, 1)
       //width: 23.62px
       //height: 23.62px
       width: 100%
       height: 100%
       cursor: pointer

   .dropdown_arrow_rotate
       fill: rgba(255, 255, 255, 1)
       width: 100%
       height: 100%
       cursor: pointer
       transform: rotate(-90deg)

   .cancel_delete


   .basket, .svg
       fill: rgba(255, 255, 255, 1)
       width: 100%
       height: 100%

   .ok
       fill: rgba(152, 182, 97, 1)
       width: 100%
       height: 100%

