<!--<pbx-loader *ngIf="completedRequests < 2"></pbx-loader>-->
<!--<div class="main_grid" *ngIf="completedRequests > 1">-->

<!--<div class="user_wrap"-->
<!--[ngClass]="{'active': userNavigationVisible}"-->
<!--(click)="userNavigationVisible = !userNavigationVisible"-->
<!--(clickOutside)="hideUserNavigation()"-->
<!--#userWrap-->
<!--&gt;-->
<!--<div class="user_profile_image"-->
<!--[ngStyle]="{'background-image': user.profile.avatar ? 'url(' + ( user.profile.avatar) + ')' : ''}"></div>-->
<!--<div class="user_details_wrap">-->
<!--<div class="user_details_name">{{username}}</div>-->
<!--<div class="user_details_balance" *ngIf="completedRequests > 1">-->
<!--<span translate>balance</span>&nbsp; {{user.balance.symbol}}{{user.balance.balance | currency:" ":2 }}-->
<!--</div>-->
<!--</div>-->
<!--<svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg" class="dropdown_arrow"></svg-icon>-->
<!--<div class="user_navigation_wrap" [ngClass]="{'visible': userNavigationVisible}">-->
<!--<a routerLink="/cabinet/refill" routerLinkActive="active" class="user_navigation_item" translate>Refill-->
<!--balance</a>-->
<!--<a routerLink="/cabinet/tariff" routerLinkActive="active" class="user_navigation_item" translate>Tariff-->
<!--plan</a>-->
<!--<div (click)="logout()" class="user_navigation_item">-->
<!--<span translate>Exit</span>-->
<!--<svg-icon src="../../assets/icons/exit.svg" class="user_navigation_logout"></svg-icon>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="header_line_wrap">-->
<!--<div class="header_title" translate>{{_main.pageTitle}}</div>-->
<!--<div class="header_button_row">-->
<!--<div class="header_button_wrap" [ngClass]="{'visible': headerButtonsVisible}">-->
<!--<div class="header_button phone" [ngClass]="{'active': activeButtonIndex === 0}"-->
<!--(click)="toggleActiveButton(0, $event)">-->
<!--<svg-icon src="../../assets/icons/_call_panel/dialer_24px.svg"></svg-icon>-->
<!--<div class="button_animation" *ngIf="activeButtonIndex === 0"></div>-->
<!--</div>-->
<!--<div class="header_button contacts" [ngClass]="{'active': activeButtonIndex === 1}"-->
<!--(click)="toggleActiveButton(1, $event)">-->
<!--<svg-icon src="../../assets/icons/_call_panel/contacts_24px.svg"></svg-icon>-->
<!--<div class="button_animation" *ngIf="activeButtonIndex === 1"></div>-->
<!--</div>-->
<!--<div class="header_button chat" [ngClass]="{'active': activeButtonIndex === 2}"-->
<!--(click)="toggleActiveButton(2, $event)">-->
<!--<svg-icon src="../../assets/icons/_call_panel/chat_24px.svg"></svg-icon>-->
<!--<div class="button_animation" *ngIf="activeButtonIndex === 2"></div>-->
<!--<div class="notification"><i>9</i></div>-->
<!--</div>-->
<!--<div class="header_button notifications"-->
<!--[ngClass]="{'active': activeButtonIndex === 3}"-->
<!--(click)="toggleActiveButton(3, $event)"-->
<!--&gt;-->
<!--<svg-icon src="../../assets/icons/_call_panel/notification_24px.svg"></svg-icon>-->
<!--<div class="button_animation" *ngIf="activeButtonIndex === 3"></div>-->
<!--</div>-->
<!--<div class="desc" [ngClass]="{'hiding': activeButtonIndex === 2}">© Encrypto Telecom, 2017-2018-->
<!--v.0.1.0-->
<!--</div>-->
<!--</div> &lt;!&ndash; header_button_wrap &ndash;&gt;-->
<!--<div class="header_button_hide"-->
<!--[ngClass]="{'initial': headerButtonsVisible}"-->
<!--(click)="toggleHeaderButtons($event)"-->
<!--&gt;-->
<!--<svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg"></svg-icon>-->
<!--</div>-->
<!--<div *ngIf="activeButtonIndex !== (null || undefined)"-->
<!--class="sidebar_wrap"-->
<!--[ngClass]="{'visible': headerButtonsVisible}"-->
<!--[@Swipe]-->
<!--&gt;-->
<!--<span *ngIf="activeButtonIndex === 0">call</span>-->
<!--<span *ngIf="activeButtonIndex === 1">contacts</span>-->
<!--<pbx-chat *ngIf="activeButtonIndex === 2"></pbx-chat>-->
<!--<span *ngIf="activeButtonIndex === 3">notification</span>-->
<!--</div>-->
<!--&lt;!&ndash; <div class="desc">© Encrypto Telecom, 2017-2018 v.0.1.0</div> &ndash;&gt;-->
<!--</div> &lt;!&ndash; header_button_row &ndash;&gt;-->
<!--</div>-->

<!--<div class="navigation_block_wrap custom-scrollbar-const">-->
<!--<div class="navigation_block" *ngFor="let block of userService.navigation">-->
<!--<div *ngFor="let navigationItem of block">-->
<!--<a [routerLink]="navigationItem.url"-->
<!--routerLinkActive="active"-->
<!--[ngClass]="['navigation_item', 'navigation-item-' + navigationItem.url]"-->
<!--&gt;-->
<!--<svg-icon class="navigation_item_icon"-->
<!--[src]="'../../assets/icons/_menu/' + navigationItem.icon + '.svg'"></svg-icon>-->
<!--<div class="navigation_item_title" translate>{{navigationItem.name}}</div>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="mobile_header" [ngClass]="{'active': mobileNavigationVisible}">-->
<!--<div class="mobile_header_button" [ngClass]="{'active': mobileNavigationVisible}">-->
<!--<div class="mobile_header_button_fill" (click)="mobileNavigationVisible = true">-->
<!--<span></span>-->
<!--<span></span>-->
<!--<span></span>-->
<!--</div>-->
<!--<div class="mobile_hover" *ngIf="mobileNavigationVisible" (click)="mobileNavigationVisible = false"></div>-->
<!--<div class="mobile_sidebar">-->
<!--<div class="mobile_profile"-->
<!--(click)="mobileUserVisible=!mobileUserVisible"-->
<!--(clickOutside)="mobileUserVisible=false"-->
<!--&gt;-->
<!--<div class="mobile_profile_name">{{user.profile.firstname}}</div>-->
<!--<div *ngIf="completedRequests > 1"-->
<!--class="mobile_profile_balance"-->
<!--&gt;-->
<!--{{user.balance.symbol}}{{user.balance.balance}}-->
<!--</div>-->
<!--<div class="mobile_profile_button_wrap"-->
<!--[ngClass]="{'invisible':!mobileUserVisible}"-->
<!--(click)="mobileNavigationVisible=false"-->
<!--&gt;-->
<!--<a routerLink="/cabinet/refill" routerLinkActive="active" class="mobile_profile_button">Refill-->
<!--balance</a>-->
<!--<a routerLink="/cabinet/tariff" routerLinkActive="active" class="mobile_profile_button">Tariff-->
<!--plan</a>-->
<!--<div (click)="logout()" class="mobile_profile_button">-->
<!--<span>Exit</span>-->
<!--<svg-icon src="../../assets/icons/exit.svg" class="mobile_profile_icon"></svg-icon>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="mobile_navigation">-->
<!--<div class="mobile_navigation_block" *ngFor="let block of navigationList">-->
<!--<div *ngFor="let navigationItem of block" class="mobile_navigation_item">-->
<!--<a [routerLink]="navigationItem.link"-->
<!--routerLinkActive="active"-->
<!--[ngClass]="{'inactive': !navigationItem.status}"-->
<!--*ngIf="navigationItem.visible"-->
<!--(click)="mobileNavigationVisible=false">-->
<!--{{navigationItem.title}}-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="mobile_header_title">{{_main.pageTitle}}</div>-->
<!--</div>-->

<!--<div class="body_wrap">-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->
<!--</div>-->

<div class="main_mobile_wrap">
    <div class="user_mobile">
        <div class="user_mobile_up">
            <a class="user_btn">
                <span class="user_btn__span"></span>
                <span class="user_btn__span"></span>
                <span class="user_btn__span"></span>
            </a>
            <div class="user_mobile__title">
                <p>
                    EXTENSIONS
                </p>
            </div>
        </div>
        <div class="user_mobile_down">
            <nav class="user_mobile_tab">
                <a class="user_mobile_tab__item  user_mobile_tab__item--mw0  user_mobile_tab__item--active">
                    General
                </a>
                <a class="user_mobile_tab__item  user_mobile_tab__item--mw1">
                    Voicemail
                </a>
                <a class="user_mobile_tab__item  user_mobile_tab__item--mw2">
                    Forwarding rules
                </a>
                <a class="user_mobile_tab__item  user_mobile_tab__item--mw3">
                    Options
                </a>
                <a class="user_mobile_tab__item  user_mobile_tab__item--mw3">
                    Rights
                </a>
                <a class="user_mobile_tab__item  user_mobile_tab__item--mw4">
                    Privacy and security
                </a>
            </nav>
        </div>
    </div>
    <div class="body_mobile  body_mobile--pt0">
        <div class="mobile_block  mobile_block--mb  ">
            <form id="extensions_general" class="form_item">
                <p class="mobile_section_title">
                    User Information
                </p>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <select name="" class="mobile_input_item__select">
                        <option selected value="+1 (800) 555 12 12 (Sales department)"
                                class="mobile_input_item__option">
                            +1 (800) 555 12 12 (Sales department)
                        </option>
                        <option value="+1 (800) 555 12 12 (Sales department)" class="mobile_input_item__option">
                            +1 (800) 555 12 12 (Sales department)
                        </option>
                    </select>
                    <label class="mobile_input_item__label  mobile_input_item__label--white06">
                        Phone
                    </label>
                    <div class="select_arr  select_arr--bgs">
                        <svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg" class="svg"></svg-icon>
                    </div>
                </div>
                <div class="mobile_input_item  mobile_input_item--mb20">
                    <input type="text" class="mobile_input_item__input" placeholder="extension" value="101">
                    <label class="mobile_input_item__label  mobile_input_item__label--white06">
                        Extension
                    </label>
                    <button type="reset" class="mobile_input_item__close  mobile_input_item__close--right0">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
                    </button>
                </div>
                <label class="checkbox_wrap  checkbox_wrap--h64  checkbox_wrap--mb15">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Set Ext Default</span>
                </label>
                <div class="mobile_input_item  mobile_input_item--mb20">
                    <input type="text" class="mobile_input_item__input" placeholder="first Name" value="">
                    <label class="mobile_input_item__label  mobile_input_item__label--white06">
                        First Name
                    </label>
                    <button type="reset" class="mobile_input_item__close  mobile_input_item__close--right0">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
                    </button>
                </div>
                <div class="mobile_input_item  mobile_input_item--mb20">
                    <input type="text" class="mobile_input_item__input" placeholder="last Name" value="">
                    <label class="mobile_input_item__label  mobile_input_item__label--white06">
                        Last Name
                    </label>
                    <button type="reset" class="mobile_input_item__close  mobile_input_item__close--right0">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
                    </button>
                </div>
                <div class="mobile_input_item  mobile_input_item--mb20">
                    <input type="text" class="mobile_input_item__input" placeholder="e-mail" value="a.reed@dl.com">
                    <label class="mobile_input_item__label  mobile_input_item__label--white06">
                        E-mail
                    </label>
                    <button type="reset" class="mobile_input_item__close  mobile_input_item__close--right0">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
                    </button>
                </div>
                <div class="mobile_input_item  mobile_input_item--mb20">
                    <input type="text" class="mobile_input_item__input" placeholder="mobile" value="+1 (987) 789 65 54">
                    <label class="mobile_input_item__label  mobile_input_item__label--white06">
                        Mobile
                    </label>
                    <button type="reset" class="mobile_input_item__close  mobile_input_item__close--right0">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
                    </button>
                </div>
                <p class="mobile_section_title  mobile_section_title--mt16">
                    Add External Phone Number
                </p>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <select name="" class="mobile_input_item__select">
                        <option selected value="" class="mobile_input_item__option"></option>
                        <option value="" class="mobile_input_item__option"></option>
                    </select>
                    <label class="mobile_input_item__label">
                        External Phone
                    </label>
                    <div class="select_arr  select_arr--bgs">
                        <svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg" class="svg"></svg-icon>
                    </div>
                </div>
                <p class="mobile_section_title  mobile_section_title--mt16  mobile_section_title--mb18">
                    Mobile APP
                </p>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Enable</span>
                </label>
                <p class="mobile_section_title  mobile_section_title--mt16  mobile_section_title--mb18">
                    Encryption
                </p>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Enable</span>
                </label>
                <p class="mobile_section_title  mobile_section_title--mt16  mobile_section_title--mb7">
                    Authentication
                </p>
                <p class="text_item  text_item--fz20">
                    Details used by web, SIP & mobile app. Reprovision after a change
                </p>
                <p class="text_item  text_item--fz20">
                    Generate new password and send to:
                </p>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Admin Email</span>
                </label>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="">
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">User Email</span>
                </label>
            </form>
            <div class="mobile_down_btn_block  mobile_down_btn_block--pos">
                <a href="#" class="mobile_down_btn_block__btn  mobile_down_btn_block__btn--grey">
                    Cancel
                </a>
                <button type="submit" form="extensions_general"
                        class="mobile_down_btn_block__btn  mobile_down_btn_block__btn--green">
                    Save
                </button>
            </div>
        </div> <!--EXTENSIONS GENERAL-->
        <div class="mobile_block  mobile_block--dn">
            <form id="extensions_voicemail" class="form_item  form_item--pt36">
                <p class="mobile_section_title  mobile_section_title--mb18">
                    Voicemail Settings
                </p>
                <div class="mobile_block__vicemail">
                    <label class="checkbox_wrap  checkbox_wrap--h64">
                        <input class="checkbox" type="checkbox" name="" checked>
                        <span class="checkbox_custom"></span>
                        <span class="label  label--white08">Admin Email</span>
                    </label>
                    <label class="checkbox_wrap  checkbox_wrap--h64">
                        <input class="checkbox" type="checkbox" name="">
                        <span class="checkbox_custom"></span>
                        <span class="label  label--white08">User Email</span>
                    </label>
                </div>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <select name="" class="mobile_input_item__select">
                        <option selected value="Standard English Set" class="mobile_input_item__option">
                            Standard English Set
                        </option>
                        <option value="Standard English Set" class="mobile_input_item__option">
                            Standard English Set
                        </option>
                    </select>
                    <label class="mobile_input_item__label  mobile_input_item__label--white06">
                        Voice Language
                    </label>
                    <div class="select_arr  select_arr--bgs">
                        <svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg" class="svg"></svg-icon>
                    </div>
                </div>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <select name="" class="mobile_input_item__select">
                        <option selected value="Read in 24 hour format" class="mobile_input_item__option">
                            Read in 24 hour format
                        </option>
                        <option value="Read in 24 hour format" class="mobile_input_item__option">
                            Read in 24 hour format
                        </option>
                    </select>
                    <label class="mobile_input_item__label  mobile_input_item__label--white06">
                        Read date/time
                    </label>
                    <div class="select_arr  select_arr--bgs">
                        <svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg" class="svg"></svg-icon>
                    </div>
                </div>
            </form>
            <div class="mobile_down_btn_block  mobile_down_btn_block--pos">
                <a href="#" class="mobile_down_btn_block__btn  mobile_down_btn_block__btn--grey">
                    Cancel
                </a>
                <button type="submit" form="extensions_voicemail"
                        class="mobile_down_btn_block__btn  mobile_down_btn_block__btn--green">
                    Save
                </button>
            </div>
        </div> <!--EXTENSIONS VOICEMAIL-->
        <div class="mobile_block  mobile_block--dn">
            <form id="group_members" class="form_item  form_item--mb28">
                <p class="mobile_section_title">
                    Rule
                </p>
                <div class="mobile_item_card  mobile_item_card--w100">
                    <div class="mobile_item_card__title">
                        <p>
                            Business Trip<strong></strong>
                        </p>
                    </div>
                    <div class="mobile_item_card__items">
                        <p>
                            Duration period
                        </p>
                        <span>25.07.2017–25.07.2017</span>
                    </div>
                    <div class="mobile_item_card__items">
                        <p>
                            Duration time
                        </p>
                        <span>Always (24 hours)</span>
                    </div>
                    <div class="mobile_item_card__items">
                        <p>
                            Status
                        </p>
                        <span>Enabled</span>
                    </div>
                    <div class="mobile_item_card__items">
                        <p>
                            Description
                        </p>
                        <span></span>
                    </div>
                    <!-- mobile_item_card_comment--active -->
                    <div class="mobile_item_card_comment  mobile_item_card_comment--pm0">
                        <div class="mobile_item_card_comment__block  mobile_item_card_comment__block--top">
                            <a href="#" class="mobile_item_card_comment__btn  mobile_item_card_comment__btn--red">
                                Delete
                            </a>
                            <a href="#" class="mobile_item_card_comment__btn  mobile_item_card_comment__btn--green">
                                Edit
                            </a>
                        </div>
                    </div>
                    <div class="dropdown_arrow_btn  dropdown_arrow_btn--pos">
                        <svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg" class="dropdown_arrow" style="cursor: pointer"></svg-icon>
                    </div>
                </div><!--card-->
                <div class="mobile_item_card  mobile_item_card--w100">
                    <div class="mobile_item_card__title">
                        <p>
                            Lunch<strong></strong>
                        </p>
                    </div>
                    <div class="mobile_item_card__items">
                        <p>
                            Duration period
                        </p>
                        <span>Always</span>
                    </div>
                    <div class="mobile_item_card__items">
                        <p>
                            Duration time
                        </p>
                        <span>с 13:00 до 14:00</span>
                    </div>
                    <div class="mobile_item_card__items">
                        <p>
                            Status
                        </p>
                        <span>Enabled</span>
                    </div>
                    <div class="mobile_item_card__items">
                        <p>
                            Description
                        </p>
                        <span></span>
                    </div>
                    <!-- mobile_item_card_comment--active -->
                    <div class="mobile_item_card_comment  mobile_item_card_comment--pm0">
                        <div class="mobile_item_card_comment__block  mobile_item_card_comment__block--top">
                            <a href="#" class="mobile_item_card_comment__btn  mobile_item_card_comment__btn--red">
                                Delete
                            </a>
                            <a href="#" class="mobile_item_card_comment__btn  mobile_item_card_comment__btn--green">
                                Edit
                            </a>
                        </div>
                    </div>
                    <div class="dropdown_arrow_btn  dropdown_arrow_btn--pos">
                        <svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg" class="dropdown_arrow" style="cursor: pointer"></svg-icon>
                    </div>
                </div><!--card-->
                <div class="mobile_item_card  mobile_item_card--w100">
                    <div class="mobile_item_card__title">
                        <p>
                            Work 365<strong></strong>
                        </p>
                    </div>
                    <div class="mobile_item_card__items">
                        <p>
                            Duration period
                        </p>
                        <span>Always</span>
                    </div>
                    <div class="mobile_item_card__items">
                        <p>
                            Duration time
                        </p>
                        <span>с 10:00 до 19:00</span>
                    </div>
                    <div class="mobile_item_card__items">
                        <p>
                            Status
                        </p>
                        <span>Enabled</span>
                    </div>
                    <div class="mobile_item_card__items">
                        <p>
                            Description
                        </p>
                        <span></span>
                    </div>
                    <!-- mobile_item_card_comment--active -->
                    <div class="mobile_item_card_comment  mobile_item_card_comment--pm0">
                        <div class="mobile_item_card_comment__block  mobile_item_card_comment__block--top">
                            <a href="#" class="mobile_item_card_comment__btn  mobile_item_card_comment__btn--red">
                                Delete
                            </a>
                            <a href="#" class="mobile_item_card_comment__btn  mobile_item_card_comment__btn--green">
                                Edit
                            </a>
                        </div>
                    </div>
                    <div class="dropdown_arrow_btn  dropdown_arrow_btn--pos">
                        <svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg" class="dropdown_arrow" style="cursor: pointer"></svg-icon>
                    </div>
                </div><!--card-->
                <a href="#" class="mobile_top_pos_btn">
                    Add New Rule
                </a>
            </form><!--create_shedule-->
            <div class="mobile_down_btn_block  mobile_down_btn_block--pos  mobile_down_btn_block--start">
                <a href="#" class="mobile_down_btn_block__btn  mobile_down_btn_block__btn--grey">
                    Cancel
                </a>
                <!--<button type="submit" form="group_members"-->
                        <!--class="mobile_down_btn_block__btn  mobile_down_btn_block__btn&#45;&#45;green">-->
                    <!--Save-->
                <!--</button>-->
            </div>
        </div> <!--forwarding rules-->
        <!-- при возникновении необходимости заменить .sub_block на .mobile_block-->
        <div class="sub_block  mobile_block--mb  mobile_block--dn">
            <form id='forwarding' class="form_item  form_item--mb28">
                <p class="mobile_section_title  mobile_section_title--mb70">
                    Rule
                </p>
                <p class="mobile_section_title  mobile_section_title--mb18">
                    Restrictions
                </p>
                <label class="checkbox_wrap  checkbox_wrap--mb21  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Enable Rule</span>
                </label>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <input type="text" class="mobile_input_item__input" placeholder="Rule Name" value="Business Trip" >
                    <label class="mobile_input_item__label">
                        Rule Name
                    </label>
                    <button type="reset" class="mobile_input_item__close  mobile_input_item__close--right0">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
                    </button>
                </div>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb30">
                    <input type="text" class="mobile_input_item__input" placeholder="" value="" >
                    <label class="mobile_input_item__label">
                        Description
                    </label>
                    <button type="reset" class="mobile_input_item__close  mobile_input_item__close--right0">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
                    </button>
                </div>
                <p class="mobile_section_title  mobile_section_title--mb39">
                    Options
                </p>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <select name="" class="mobile_input_item__select">
                        <option selected value="Rule time" class="mobile_input_item__option">Rule time</option>
                        <option value="Rule time">Rule time</option>
                    </select>
                    <label class="mobile_input_item__label">
                        Action
                    </label>
                    <div class="select_arr  select_arr--bgs46">
                        <svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg" class="svg"></svg-icon>
                    </div>
                </div>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <select name="" class="mobile_input_item__select">
                        <option selected value="Date (period)" class="mobile_input_item__option">Date (period)</option>
                        <option value="Date (period)">Date (period)</option>
                    </select>
                    <label class="mobile_input_item__label">
                        Rule applies for
                    </label>
                    <div class="select_arr  select_arr--bgs46">
                        <svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg" class="svg"></svg-icon>
                    </div>
                </div>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <input type="text" class="mobile_input_item__input" placeholder="" value="25.07.2017–25.07.2017" >
                    <label class="mobile_input_item__label">
                        Duration period
                    </label>
                    <a href="#" class="mobile_input_item__calendar">
                        <svg-icon src="../../assets/icons/_middle/schedule_16px.svg" class="svg"></svg-icon>
                    </a>
                </div>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <select name="" class="mobile_input_item__select">
                        <option selected value="Always (24 hours)" class="mobile_input_item__option">Always (24 hours)</option>
                        <option value="Always (24 hours)">Always (24 hours)</option>
                    </select>
                    <label class="mobile_input_item__label">
                        Duration time
                    </label>
                    <div class="select_arr  select_arr--bgs46">
                        <svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg" class="svg"></svg-icon>
                    </div>
                </div>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <select name="" class="mobile_input_item__select">
                        <option selected value="Добавить голосовое приветствие" class="mobile_input_item__option">Добавить голосовое приветствие</option>
                        <option value="Добавить голосовое приветствие">Добавить голосовое приветствие</option>
                    </select>
                    <label class="mobile_input_item__label">
                        Action
                    </label>
                    <div class="btn_delete_item  btn_delete_item--pos">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
                    </div>
                    <div class="select_arr  select_arr--bgs46">
                        <svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg" class="svg"></svg-icon>
                    </div>
                </div>
                <div class="mobile_input_item  mobile_input_item--row  mobile_input_item--w100  mobile_input_item--mb20">
                    <select name="" class="mobile_input_item__select  mobile_input_item__select--min272  mobile_input_item__select--bg_size">
                        <option selected value="welcome_female.mp3" class="mobile_input_item__option">welcome_female.mp3</option>
                        <option value="welcome_female.mp3" class="mobile_input_item__option">welcome_female.mp3</option>
                    </select>
                    <label class="mobile_input_item__label">
                        Voice greeting
                    </label>
                    <div class="select_arr  select_arr--bgs  select_arr--right54">
                        <svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg" class="svg"></svg-icon>
                    </div>
                    <div class="mobile_input_item_button">
                        <a href="#" class="mobile_input_item_button__btn  mobile_input_item_button__btn--big">
                            Upload
                        </a>
                        <a href="#" class="mobile_input_item_button__btn  mobile_input_item_button__btn--big">
                            <span>
                                <svg-icon src="../../assets/icons/_player/play_24px.svg" class="svg"></svg-icon>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <select name="" class="mobile_input_item__select">
                        <option selected value="Forward to number" class="mobile_input_item__option">Forward to number</option>
                        <option value="Forward to number">Forward to number</option>
                    </select>
                    <label class="mobile_input_item__label">
                        Action
                    </label>
                    <div class="btn_delete_item  btn_delete_item--pos">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
                    </div>
                    <div class="select_arr  select_arr--bgs46">
                        <svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg" class="svg"></svg-icon>
                    </div>
                </div>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <input type="text" class="mobile_input_item__input" placeholder="Phone number" value="+1 (987) 789 65 54" >
                    <label class="mobile_input_item__label">
                        Phone number
                    </label>
                    <button type="reset" class="mobile_input_item__close  mobile_input_item__close--right0">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
                    </button>
                </div>
                <div class="mobile_input_item  mobile_input_item--mb20">
                    <input type="text" class="mobile_input_item__input  mobile_input_item__input--right"
                           placeholder="" value="30 seconds">
                    <label class="mobile_input_item__label  mobile_input_item__label--white06">
                        If I do not answer calls within
                    </label>
                    <button type="reset" class="mobile_input_item__close  mobile_input_item__close--right0">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
                    </button>
                </div>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <select name="" class="mobile_input_item__select">
                        <option selected value="[choose one]" class="mobile_input_item__option">[choose one]</option>
                        <option value="[choose one]">[choose one]</option>
                    </select>
                    <label class="mobile_input_item__label">
                        Action
                    </label>
                    <div class="select_arr  select_arr--bgs46">
                        <svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg" class="svg"></svg-icon>
                    </div>
                </div>
                <a href="#" class="mobile_top_pos_btn  mobile_top_pos_btn--bg_grey">
                    Add New Rule
                </a>
            </form>
            <div class="mobile_down_btn_block  mobile_down_btn_block--pos">
                <a href="#" class="mobile_down_btn_block__btn  mobile_down_btn_block__btn--grey">
                    Cancel
                </a>
                <button type="submit" form="forwarding"
                        class="mobile_down_btn_block__btn  mobile_down_btn_block__btn--green">
                    Save
                </button>
            </div>
        </div> <!--forwarding rules-65-->
        <div class="mobile_block  mobile_block--dn">
            <form id="extensions_options" class="form_item  form_item--pt36">
                <p class="mobile_section_title  mobile_section_title--mb18">
                    Restrictions
                </p>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Disable Extension</span>
                </label>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Disable External Calls</span>
                </label>
                <p class="mobile_section_title  mobile_section_title--mb18  mobile_section_title--mt16">
                    Options
                </p>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Record all calls</span>
                </label>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Send email notification on missed call</span>
                </label>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08  label--w475">Allow user to organize EncryptoTel Webmeeting
                        Video
                        Conferences</span>
                </label>
            </form>
            <div class="mobile_down_btn_block  mobile_down_btn_block--pos">
                <a href="#" class="mobile_down_btn_block__btn  mobile_down_btn_block__btn--grey">
                    Cancel
                </a>
                <button type="submit" form="extensions_options"
                        class="mobile_down_btn_block__btn  mobile_down_btn_block__btn--green">
                    Save
                </button>
            </div>
        </div> <!--OPTIONS-->
        <div class="mobile_block  mobile_block--mb150  mobile_block--dn">
            <form id="extensions_rights" class="form_item  form_item--pt36">
                <p class="mobile_section_title  mobile_section_title--mb7">
                    Role
                </p>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <select name="" class="mobile_input_item__select ">
                        <option selected value="Administrator"
                                class="mobile_input_item__option">
                            Administrator
                        </option>
                        <option value="Administrator" class="mobile_input_item__option">
                            Administrator
                        </option>
                    </select>
                    <div class="select_arr  select_arr--bgs">
                        <svg-icon src="../../assets/icons/_middle/dropdown_arrow_12px.svg" class="svg"></svg-icon>
                    </div>
                </div>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="">
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Enable Web access</span>
                </label>
                <p class="mobile_section_title  mobile_section_title--mb18  mobile_section_title--mt16">
                    System Management
                </p>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Generate call reports</span>
                </label>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Allow downloads of call recordings</span>
                </label>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Phone Numbers</span>
                </label>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Record all calls</span>
                </label>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Call Rules</span>
                </label>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Queue</span>
                </label>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">IVR</span>
                </label>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Company</span>
                </label>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Departments</span>
                </label>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Details and Records</span>
                </label>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Invoices</span>
                </label>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Marketplace</span>
                </label>
                <label class="checkbox_wrap  checkbox_wrap--h64">
                    <input class="checkbox" type="checkbox" name="" checked>
                    <span class="checkbox_custom"></span>
                    <span class="label  label--white08">Storage</span>
                </label>
            </form>
            <div class="mobile_down_btn_block  mobile_down_btn_block--pos">
                <a href="#" class="mobile_down_btn_block__btn  mobile_down_btn_block__btn--grey">
                    Cancel
                </a>
                <button type="submit" form="extensions_rights"
                        class="mobile_down_btn_block__btn  mobile_down_btn_block__btn--green">
                    Save
                </button>
            </div>
        </div> <!--rights-->
        <div class="mobile_block  mobile_block--mb  mobile_block--dn">
            <form id="extensions_privacy" class="form_item  form_item--pt36">
                <p class="mobile_section_title  mobile_section_title--mb70">
                    Security
                </p>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <select name="" class="mobile_input_item__select ">
                        <option selected value="3 months" class="mobile_input_item__option">3 monthsd</option>
                        <option value="3 months">3 months</option>
                    </select>
                    <label class="mobile_input_item__label">
                        Suggest password change every
                    </label>
                </div>
                <p class="mobile_section_title  mobile_section_title--mt16">
                    Session
                </p>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <input type="text" class="mobile_input_item__input" placeholder="Logs out all devices" value="3 months">
                    <label class="mobile_input_item__label">
                        Logs out all devices
                    </label>
                    <button class="mobile_input_item__close  mobile_input_item__close--right0">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
                    </button>
                </div>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <input type="text" class="mobile_input_item__input" placeholder="Active Session" value="macOS, macOS 10.12.6">
                    <label class="mobile_input_item__label">
                        Active Session
                    </label>
                    <button class="mobile_input_item__close  mobile_input_item__close--right0">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
                    </button>
                </div>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <input type="text" class="mobile_input_item__input" placeholder="IP" value="00.00.00.000 CY">
                    <label class="mobile_input_item__label">
                        IP
                    </label>
                    <button class="mobile_input_item__close  mobile_input_item__close--right0">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
                    </button>
                </div>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <input type="text" class="mobile_input_item__input" placeholder="Country" value="CY">
                    <label class="mobile_input_item__label">
                        Country
                    </label>
                    <button class="mobile_input_item__close  mobile_input_item__close--right0">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
                    </button>
                </div>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <input type="text" class="mobile_input_item__input" placeholder="Date" value="July 26, 2017">
                    <label class="mobile_input_item__label">
                        Date
                    </label>
                    <button class="mobile_input_item__close  mobile_input_item__close--right0">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
                    </button>
                </div>
                <div class="mobile_input_item  mobile_input_item--w100  mobile_input_item--mb20">
                    <input type="text" class="mobile_input_item__input" placeholder="Status" value="online">
                    <label class="mobile_input_item__label">
                        Status
                    </label>
                    <button class="mobile_input_item__close  mobile_input_item__close--right0">
                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg" class="svg"></svg-icon>
                    </button>
                </div>
                <a href="#" class="mobile_top_pos_btn  mobile_top_pos_btn--top  mobile_top_pos_btn--big">
                    Terminate All Sessions
                </a>
            </form>
            <div class="mobile_down_btn_block  mobile_down_btn_block--pos">
                <a href="#" class="mobile_down_btn_block__btn  mobile_down_btn_block__btn--grey">
                    Cancel
                </a>
                <button type="submit" form="extensions_privacy"
                        class="mobile_down_btn_block__btn  mobile_down_btn_block__btn--green">
                    Save
                </button>
            </div>
        </div> <!--PRIVACY AND SECURITY-->
    </div>
    <!-- mobile_menu--active -->
    <div class="mobile_menu ">
        <div class="mobile_menu_up">
            <div class="mobile_menu__block">
                <div class="mobile_menu_up__name">
                    <p>
                        Alex Freeman
                    </p>
                </div>
                <div class="mobile_menu_up__balance">
                    <p>balance</p>
                    <p>$58</p>
                </div>
            </div>
            <ul class="mobile_menu_left">
                <li class="mobile_menu_left__li">
                    <a href="#" class="mobile_menu_left__link">Refill balance</a>
                </li>
                <li class="mobile_menu_left__li">
                    <a href="#" class="mobile_menu_left__link">Tariff plan</a></li>
                <li class="mobile_menu_left__li">
                    <a href="#" class="mobile_menu_left__link">Privacy policy</a>
                </li>
                <li class="mobile_menu_left__li">
                    <a href="#" class="mobile_menu_left__link  mobile_menu_left__link--active">Exit <span
                            class="mobile_menu_exit">
                        <svg-icon src="../../assets/icons/exit.svg" class="dropdown_arrow_rotate"></svg-icon>
                    </span>
                    </a>
                </li>
            </ul>
        </div>
        <ul class="mobile_menu__ul">
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link  mobile_menu__link--active">Dashboard</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Phone Numbers</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Address Book</a>
            </li>
        </ul>
        <ul class="mobile_menu__ul">
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Call Rules</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Call Queues</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Ring Groups</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">IVR</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Schedule</a>
            </li>
        </ul>
        <ul class="mobile_menu__ul">
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Company</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Departments</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Extensions</a>
            </li>
        </ul>
        <ul class="mobile_menu__ul">
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Details and Records</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Invoices</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Marketplace</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Call Mining</a>
            </li>
        </ul>
        <ul class="mobile_menu__ul">
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Storage</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Knowledge Base</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Partner program</a>
            </li>
            <li class="mobile_menu__li">
                <a href="#" class="mobile_menu__link">Settings</a>
            </li>
        </ul>
    </div>
    <!-- mobile_overlay--active -->
    <div class="mobile_overlay  "></div>
</div>



