@import "../../vars" // Global variables import

.hidden_input
  font-size: 30px
  position: absolute
  opacity: 0
  top: 0
  left: 0

.hidden_button_wrapper
  position: relative
  overflow: hidden
  display: inline-block
  p
    margin: 0

.select_file
  text-decoration: underline
  color: $dark_accent

.storage
  &_wrap
    display: grid
    grid-template-columns: 1fr 352px
    grid-template-rows: auto 1fr auto
    grid-gap: 24px
    margin-right: -32px
    height: calc(100vh - 128px)
  &_header
    display: flex
    flex-direction: row
    color: rgba($dark_primary,.75)
    &_text
      margin: auto rem(16) auto 0
    &_menu
      position: relative
      width: rem(228)
      display: flex
      flex-direction: row
      padding: rem(8) rem(12)
      border: 1px solid rgba($dark_primary,.5)
      margin: auto rem(32) auto 0
      cursor: pointer
      &_title
        flex: 1
        >span
          color: rgba($dark_primary, .25)
          padding-left: rem(8)
      *
        cursor: pointer
    &_list
      position: absolute
      top: 100%
      left: 0
      flex-direction: column
      overflow: hidden
      height: 0
    &_input
      height: auto
      padding: rem(8) rem(12)
      width: rem(228)
      margin: auto auto auto 0
      border-bottom-color: red
      &::-webkit-input-placeholder
        opacity: .75
        transition: opacity .3s ease
      &::-moz-placeholder
        opacity: .75
        transition: opacity .3s ease
      &:-moz-placeholder
        opacity: .75
        transition: opacity .3s ease
      &:-ms-input-placeholder
        opacity: .75
        transition: opacity .3s ease
      &:focus::-webkit-input-placeholder
        opacity: 0
        transition: opacity .15s ease
      &:focus::-moz-placeholder
        opacity: 0
        transition: opacity .15s ease
      &:focus:-moz-placeholder
        opacity: 0
        transition: opacity .15s ease
      &:focus:-ms-input-placeholder
        opacity: 0
        transition: opacity .15s ease
    &_icon
      height: 12px
      width: 12px
      /deep/ polygon
        fill: $dark_primary
    >.storage_button:last-child
      margin-right: 0
  &_body
    display: grid
    grid-template-columns: auto auto auto auto auto auto auto
    align-content: start
    color: rgba($dark_primary, .75)
    &_head_item, &_item_text
      padding: rem(16)
      border-bottom: 1px solid rgba($dark_primary, .5)
    &_head_item, &_item_text
      &:nth-child(7n + 4), &:nth-child(7n + 5), &:nth-child(7n + 6), &:nth-child(7n)
        justify-content: center
    &_item_text
      &:nth-child(7n + 6)
        padding: 0
        >.storage_body_item_icon
          margin: auto auto
          height: 24px
          width: 24px
          fill: rgba($dark_primary, .75)
      &:nth-child(7n)
        padding: 0
        >.storage_body_item_icon
          margin: auto auto
          height: 12px
          width: 12px
          fill: $dark-error
  &_footer
    color: rgba($dark_primary, .75)
    flex-direction: row
    &_text
      margin: auto rem(16)
    >.storage_button
      &:first-child
        margin-left: auto
      &:last-child
        margin-right: auto

  &_dropper
    grid-column: 2/3
    grid-row: 1/4
    background: rgba($dark_primary, 0.1)
    padding: rem(16)
    color: rgba($dark_primary, .75)
    >span
      flex: 1
      padding: 8px
      border: 1px $dark_accent dashed
      background: rgba($dark_primary, .1)
    &_container
      display: flex
      flex-direction: column
      flex: 1
    &_icon
      height: 32px
      width: 32px
      fill: rgba($dark_primary, .75)
      margin: auto auto rem(16)
    &_text
      margin: 0 auto rem(8)
      line-height: rem(24)
      text-align: center
    &_link
      margin: 0 auto auto
      color: $dark_accent
      cursor: pointer
      &:hover
        text-decoration: underline
  &_button
    border-radius: 2px
    text-transform: capitalize
    background: $dark_primary
    color: $dark_primary
    text-align: center
    margin: auto rem(8)
    position: relative
    >span
      cursor: pointer
      border-radius: 2px
      padding: rem(8) rem(16)
    &:hover>span
      background: rgba($dark_primary, .25)
    &.download
      background: $dark_accent
    &.delete
      background: $dark-error
    &.pagination
      background: $dark-pagination
      &_inactive
        background: $dark-pagination-inactive
.store
  flex: 1
  flex-direction: row
  color: $font-color
  input
    border: rem(1) solid rgba($dark_primary,.1)
    &:focus
      border-color: $dark_accent
      background: $dark_background
  pbx-pagination
    margin-top: rem(24)
    flex: unset
  &_grid
    flex: 1
    flex-direction: column
  &_header
    flex-direction: row
    margin-bottom: rem(24)
    &_block
      flex-direction: row
      align-items: center
      &:not(:first-child)
        margin-left: rem(16)
      pbx-select, input
        width: rem(240)
        height: rem(40)
        margin-left: rem(8)
    &_button_wrap
      flex-direction: row
      margin-left: auto
      pbx-button
        width: unset
        &:not(:first-child)
          margin-left: rem(8)
  &_table
    flex: 1
    flex-direction: column
    &_header
      align-items: center
      height: rem(40)
      border-bottom: rem(1) solid rgba($dark_primary,.1)
      span
        margin-top: rem(2)
        float: left
        &.sortable:hover
          cursor: pointer
          color: $dark_accent
      &_icon
        height: rem(16)
        width: rem(24)
        padding-left: rem(8)
        svg-icon
          flex: 1
          /deep/ .st1
            fill: $dark_accent
    &_body
      display: block
      flex: 1
      flex-direction: column
      overflow: auto
    &_row
      height: rem(40)
      align-items: center
      border-bottom: rem(1) solid rgba($dark_primary,.1)
      color: $dark_primary
      &:hover
        cursor: pointer
        background: rgba($dark_primary,.05)
        .store_table_item_icon
          opacity: .33
          &:hover
            opacity: 1
      &.select
        background: rgba($dark_primary,.1)
        .store_table_item_icon
          opacity: .5
          &:hover
            opacity: 1
        &:hover
          background: rgba($dark_primary,.15)
      .store_table_item
        cursor: pointer
    &_item
      padding: 0 rem(16)
      align-items: center
      display: block
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      flex: 1
      &.fix
        &_48
          flex: 0 0 rem(48)
        &_88
          flex: 0 0 rem(88)
        &_104
          flex: 0 0 rem(104)
        &_168
          flex: 0 0 rem(168)
        &_200
          flex: 0 0 rem(200)
      &_icon
        width: rem(16)
        height: rem(16)
        padding: rem(2)
        cursor: pointer
        opacity: 0
        &:hover
          opacity: 1
        /deep/ *
          cursor: pointer
        svg-icon
          flex: 1
          /deep/ polygon
            fill: $dark_error
    &_message
      flex: 1
      align-items: center
      justify-content: center
      text-align: center
      font-size: rem(32)
  &_player
    &_wrap
      width: rem(32)
      height: rem(32)
      border-radius: 100vmax
      padding: 0 rem(4)
      flex-direction: row-reverse
      align-items: center
      margin-left: auto
      cursor: default
      overflow: hidden
      &.show
        width: rem(168)
        padding-left: rem(8)
        background: lighten($dark_background,15%)
        >.store_player_time,>.store_player_bar
          opacity: .67
      &.play
        background: lighten($dark_background,25%)
    &_time
      font-size: rem(10)
    &_bar
      flex-direction: row
      align-items: center
      margin: 0 rem(12)
      cursor: pointer
      /deep/ *
        cursor: pointer
    &_icon
      min-width: rem(24)
      max-width: rem(24)
      height: rem(24)
      border-radius: 50%
      cursor: pointer
      /deep/ *
        cursor: pointer
      &:hover
        background: rgba($dark_primary,.2)
      svg-icon
        flex: 1
        /deep/ path
          fill: $font-color
    &_stick
      background: $dark_primary
      width: rem(2)
      margin: 0 rem(0.5)
      &.small
        height: rem(8)
      &.medium
        height: rem(12)
      &.big
        height: rem(16)
      &.large
        height: rem(20)
      &.done, &:hover
        background-color: $dark_accent
      &.done:hover
        background-color: $dark_primary
  &_sidebar
    &_call_record
      flex-direction: column
      &_title
        font-size: rem(32)
        margin-bottom: rem(32)
      &_item
        &:not(:last-child)
          margin-bottom: rem(16)
    &_audio
      margin-top: rem(-16)
      flex: 1
      background: rgba($dark_background,.5)
      border: rem(1) dashed $dark_accent
      display: grid
      align-content: center
      justify-items: center
      grid-gap: rem(4)
      &_icon
        width: rem(24)
        height: rem(24)
        margin-bottom: rem(12)
        svg-icon
          flex: 1
          /deep/ path
            fill: $font-color
      &_select
        color: $dark_accent
        &:hover
          cursor: pointer
          text-decoration: underline
