<div class="store">
    <div class="media-table-wrapper">
        <pbx-header [buttons]="buttons"
                    [filters]="filters"
                    (onClick)="deleteSelected()"
                    (onUpdate)="updateFilter($event)"
                    (onReload)="reloadFilter($event)"
                    [inactive]="loading || loadingEx">
        </pbx-header>

        <pbx-media-table
            *ngIf="!loading"
            #mediaTable
            [tableInfoEx]="table"
            [tableItems]="pageInfo.items"
            [editable]="false"
            [deletable]="false"
            [selectedItems]="service.select"
            (onGetMediaData)="getMediaData($event)"
            (onPageChangeEx)="getItems()"
            (onSort)="getItems()"
            (onSelect)="selectItem($event)">
        </pbx-media-table>

        <pbx-loader *ngIf="loading"></pbx-loader>

        <div class="media-table-message" *ngIf="!loading && activeFilter && pageInfo.itemsCount === 0">
            Nothing found
        </div>

        <pbx-pagination 
            *ngIf="!loading"
            [pageInfo]="pageInfo" 
            (onPageChangeEx)="getItems()">
        </pbx-pagination>
    </div>
    <pbx-sidebar *ngIf="source.select.type != 'trash'">
        <div class="store_sidebar_audio" 
             (drop)="dropHandler($event)"
             (dragover)="dragOverHandler($event)"
             (dragend)="dragEndHandler($event)"
             (dragleave)="dragLeaveHandler($event)">
            <div class="store_sidebar_audio_icon">
                <svg-icon src="../../assets/icons/_middle/download_24px.svg"></svg-icon>
            </div>
            <div class="store_sidebar_audio_text">Drop files here to upload</div>
            <div class="store_sidebar_audio_text">or</div>
            <div class="store_sidebar_audio_select hidden_button_wrapper">
                <p class="select_file">select files</p>
                <input type="file" class="hidden_input" #fileInput (change)="sendFile($event)">
            </div>
        </div>
    </pbx-sidebar>
</div>

<pbx-modal 
    [modalEx]="modal"
    (onConfirmEx)="deleteConfirmed()">
</pbx-modal>

<pbx-modal
    [modalEx]="service.modalUpload"
    (onConfirmEx)="service.doUploadAction($event)"
    (onDecline)="service.cancelUploadAction()">
</pbx-modal>
