<div class="tablet">
    <div class="tablet_header">
        <div *ngFor="let item of tableInfoEx.items; let i = index"
             class="tablet_item {{item.width ? 'fix_' + item.width : ''}}"
             [ngClass]="{'sort': item.sort}">
            <span [ngClass]="{'sort':item.sort}" (click)="sort(item)">{{item.title}}</span>
            <div *ngIf="item.sort && tableInfoEx.sort.column === item.sort" class="tablet_item_icon_wrap">
                <svg-icon [src]="'../../assets/icons/sorting_'+(tableInfoEx.sort.isDown ? 'down' : 'up') + '_16px.svg'"
                          class="tablet_item_icon sort"></svg-icon>
            </div>
        </div>
        <div class="tablet_icon edit" *ngIf="editable">
            <svg-icon src="../../assets/icons/edit_12px.svg"></svg-icon>
        </div>
        <div class="tablet_icon delete" *ngIf="deletable">
            <svg-icon src="../../assets/icons/cancel_delete_12px.svg"></svg-icon>
        </div>
    </div>
    <div class="tablet_body">
        <div class="tablet_row" *ngFor="let item of tableItems"
             [ngClass]="{'pick': multiple ? isSelected(item.id) : selected?.id === item.id}">
            <pbx-loader *ngIf="item.loading"></pbx-loader>
            <div class="tablet_content" *ngIf="!item.loading">
                <div *ngFor="let tableItem of tableInfoEx.items;let i=index"
                     class="tablet_item {{!!columnFormat?columnFormat[i]:''}} {{tableItem.dataWidth !== undefined ? ('fix_' + tableItem.dataWidth) : (tableItem.width ? 'fix_' + tableItem.width : '')}}"
                     (click)="selectItem(item)"
                     (mouseenter)="mouseEnter($event, item)"
                     (mouseleave)="mouseLeave($event, item)"
                >{{getValueByKeyEx(item, tableItem.key)}}
                    <div class="tablet_item_circle" *ngIf="getValueByKey(item, tableItem.key) === true"></div>
                </div>
                <div class="tablet_icon edit"
                     *ngIf="editable" (click)="editItem(item, $event)">
                    <svg-icon src="../../assets/icons/edit_12px.svg"></svg-icon>
                </div>
                <div class="tablet_icon delete"
                     *ngIf="deletable" (click)="clickDeleteItem(item, $event)">
                    <svg-icon src="../../assets/icons/cancel_delete_12px.svg"></svg-icon>
                </div>

                <div
                        *ngFor="let action of tableInfoEx.actions; let i = index;"
                        [style.width]="action.width ? action.width + 'px' : '20px'">
                    <div
                            *ngIf="action.type === 'drop-down'"
                            class="tablet_item_cols">
                        <div
                                class="tablet_item_cols_dropdown"
                                (click)="dropOpen(action, item)">
                            <span></span>
                            <span></span>
                            <span></span>
                            <ul
                                    class="dd-menu"
                                    *ngIf="item.ddShow"
                                    [ngClass]="{'top' : dropDirection === 'top', 'bottom' : dropDirection === 'bottom'}">
                                <li
                                        *ngFor="let option of action.options"
                                        class="dd-menu-button {{option.className}}"
                                        (click)="dropClick(action, option, item)"
                                >{{option.title}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div
                            *ngIf="action.type === 'player'"
                            class="tablet_item_cols player">
                        <pbx-media-player
                            style="position: relative; right: -144px;"
                            #mediaPlayer
                            [item]="item"
                            (onTogglePlay)="togglePlay($event)">
                        </pbx-media-player>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- media player -->
<vg-player (onPlayerReady)="onPlayerReady($event)">
    <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-mute></vg-mute>
        <vg-volume></vg-volume>
    </vg-controls>

    <audio #media muted autoplay
        [vgMedia]="media"
        [vgHls]="currentMediaStream"
        (onGetBitrates)="hlsBitrates = $event"
        id="recordAudio"
        type="audio/mp3">
    </audio>
</vg-player>

<pbx-modal [modalEx]="modal" (onConfirmEx)="deleteItem()">Are you sure?</pbx-modal>
