<pbx-loader *ngIf="loading"></pbx-loader>
<pbx-form *ngIf="!loading"
          [tabs]="tabs"
          [inactiveTabs]="activeTabs"
          [(selected)]="currentTab"
          [background]="background"
          [confirm]="addMembersMode ? {} : { value: 'Save', buttonType: 'success', inactive: saving, loading: saving }"
          [decline]="decline[ addMembersMode ? 'member' : 'standard' ]"
          (onConfirm)="save()"
          (onDecline)="addMembersMode ? back() : cancel()"
          (onSelect)="selectTab($event)"
          (onScroll)="handleScroll($event)"
          >
    <pbx-queue-general *ngIf="tabGeneralActive"
                       [name]="name"
                       [service]="service"
                       [generalHeaderText]="generalHeaderText"
                       [cmpType]="cmpType"
                       [form]="true"
                       [object]="form"
                       [validationHost]="validationHost"
                       >
    </pbx-queue-general>
    <pbx-queue-members *ngIf="tabMembersInViewModeActive"
                       [service]="service"
                       [headerText]="headerText"
                       (onClick)="addMembers($event)"
                       [noDataMessage]="noDataMessage"
                       >
    </pbx-queue-members>
    <pbx-queue-members-add *ngIf="tabMembersInEditModeActive"
                           [service]="service"
                           >
    </pbx-queue-members-add>
</pbx-form>
<pbx-modal [modalEx]="modalExit"
           (onConfirmEx)="cancelConfirm()"
           >
</pbx-modal>
