<pbx-loader *ngIf="loading"></pbx-loader>
<div class="call_queues_general_body" *ngIf="!loading">
    <div class="queue-group-create">
        <h3 class="queue-group-create_h3">{{ generalHeaderText }}</h3>
    </div>
    <!--<h3 class="call_queues_general_title">Create New Queue</h3>-->
    <pbx-input name="Name"
               key="name"
               [required]="true"
               [form]="true"
               [object]="object"
               [(errors)]="service.errors"
               [validationHost]="validationHost"
               >
    </pbx-input>
    <pbx-input name="Description"
               key="description"
               [form]="true"
               [object]="object"
               [(errors)]="service.errors"
               [validationHost]="validationHost"
               >
    </pbx-input>
    <pbx-input name="Phone number"
               key="sipId"
               [required]="true"
               [placeholder]="'[choose one]'"
               [form]="true"
               [object]="object"
               [options]="numbers"
               [selectedItem]="selectedNumber"
               displayKey="phoneNumber"
               [editable]="true"
               [(errors)]="service.errors"
               [validationHost]="validationHost"
               >
    </pbx-input>
    <pbx-input name="Ring Strategy"
               key="strategy"
               [required]="true"
               [placeholder]="'[choose one]'"
               [form]="true"
               [object]="object"
               [options]="service.params.strategies"
               [selectedItem]="selectedStrategy"
               displayKey="code"
               [editable]="true"
               [(errors)]="service.errors"
               [validationHost]="validationHost"
               >
           </pbx-input>
    <pbx-input name="Ring Time"
               description="seconds (min 15 seconds, max 600 seconds)"
               key="timeout"
               [required]="true"
               [form]="true"
               [object]="object"
               [(errors)]="service.errors"
               [validationHost]="validationHost"
               inputClass="time"
               [inputWidth]="40"
               [inputCenter]="true"
               [hVMessageOffset]="-100"
               >
    </pbx-input>
    <!-- call-queues -->
    <pbx-input *ngIf="isCallQueue"
               name="Maximum Callers in Queue"
               description="(min 1, max 100)"
               key="maxlen"
               [required]="true"
               [form]="true"
               [object]="object"
               [(errors)]="service.errors"
               [validationHost]="validationHost"
               [inputWidth]="40"
               inputClass="time"
               [inputCenter]="true"
               [hVMessageOffset]="-100"
               >
    </pbx-input>
    <div class="queue-group" *ngIf="isCallQueue">
        <h3 class="queue-group_h3">Queue options</h3>
    </div>
    <pbx-input *ngIf="isCallQueue"
               name=""
               description="Announce Queue position to caller"
               key="announcePosition"
               [checkbox]="true"
               [form]="true"
               [object]="object"
               [(errors)]="service.errors"
               [validationHost]="validationHost"
               inputClass="checkbox"
               >
    </pbx-input>
    <pbx-input *ngIf="isCallQueue"
               name=""
               description="Announce Holdtime"
               key="announceHoldtime"
               [checkbox]="true"
               [form]="true"
               [object]="object"
               [(errors)]="service.errors"
               [validationHost]="validationHost"
               inputClass="checkbox"
               trueValue="1"
               falseValue="0"
               >
    </pbx-input>
</div>
