<div class="contacts">

    <div class="list">

        <div class="search_wrap">

            <div class="input_wrap">
                <div class="search_icon">
                    <svg-icon src="../../assets/images/chat/magnifier_18px.svg"></svg-icon>
                </div> <!-- search-icon -->
                <input type="text" name="searching" placeholder="Search people">
            </div> <!-- input_wrap -->

            <div class="create" (click)="changeCreateStatus()">
                <svg-icon src="../../assets/images/chat/create_18px.svg"></svg-icon>
                <div class="dropdown_block_create" *ngIf="createStatus">
                    <div class="item">New Group</div>
                    <div class="item">New Secret Chat</div>
                </div> <!-- dropdown -->
            </div> <!-- create -->

        </div> <!-- search_wrap -->

        <div class="add_contact" (click)="addContact()">
            <svg-icon src="/assets/images/chat/add_contact.svg"></svg-icon>
            <span>Add contact</span>
        </div> <!-- add_contact -->

        <div class="items">

            <div class="group">
                <div class="icon">
                    <svg-icon src="/assets/icons/_middle/favorites.svg"></svg-icon>
                </div> <!-- icon -->
                <div class="inner">

                    <div class="item">
                        <div class="logo">AS</div>
                        <div class="name"><span>Adam Smit</span></div>
                        <div class="right">
                            <div class="call_wrap svg_wrap" (click)="showCallMenu()" [ngClass]="callMenuDropdown ? 'active':''">
                                <svg-icon class="call" src="/assets/images/chat/call.svg"></svg-icon>
                                <div class="dropdown_block_call" *ngIf="callMenuDropdown">
                                    <div class="item"><span>Work</span>+1 (800) 555 12 12 #101</div>
                                    <div class="item"><span>Mobile</span>+1 (987) 463 33 00</div>
                                    <div class="item"><span>Mobile</span>+1 (987) 463 32 12</div>
                                    <div class="item"><span>Line</span>To Call</div>
                                </div> <!-- dropdown -->
                            </div> <!-- call_wrap -->
                            <div class="chat_wrap svg_wrap">
                                <svg-icon class="chat" src="/assets/images/chat/chat.svg"></svg-icon>
                            </div> <!-- chat_wrap -->
                            <div class="invite_wrap svg_wrap">
                                <svg-icon class="invite" src="/assets/images/chat/invite.svg"></svg-icon>
                            </div> <!-- invite_wrap -->
                        </div> <!-- right -->
                    </div> <!-- item -->

                    <div class="item invite">
                        <div class="logo">AS</div>
                        <div class="name"><span>Adam Smit</span></div>
                        <div class="right">
                            <div class="call_wrap svg_wrap" (click)="showCallMenu()">
                                <svg-icon class="call" src="/assets/images/chat/call.svg"></svg-icon>
                            </div> <!-- call_wrap -->
                            <div class="chat_wrap svg_wrap">
                                <svg-icon class="chat" src="/assets/images/chat/chat.svg"></svg-icon>
                            </div> <!-- chat_wrap -->
                            <div class="invite_wrap svg_wrap" (click)="showInviteMenu()" [ngClass]="inviteMenuDropdown ? 'active':''">
                                <svg-icon class="invite" src="/assets/images/chat/invite.svg"></svg-icon>
                                <div class="dropdown_block_invite" *ngIf="inviteMenuDropdown">
                                    <div class="item">Send to SMS</div>
                                    <div class="item">Send to Email</div>
                                    <div class="item">Copy Link</div>
                                </div> <!-- dropdown -->
                            </div> <!-- invite_wrap -->
                        </div> <!-- right -->
                    </div> <!-- item -->

                </div> <!-- inner -->
            </div> <!-- group -->

        </div> <!-- items -->

    </div> <!-- list -->

    <div class="user_details">

        <div class="top">

            <div class="back">
                <svg-icon src="../../assets/images/chat/return_24px.svg"></svg-icon>
                <span>Back</span>
            </div> <!-- back -->

            <div class="title">Info</div>

            <div class="edit">Edit</div>

        </div> <!-- top -->

        <div class="inner">
            <div class="ava_name details_block">
                <div class="ava"></div>
                <div class="name">Markus Moser</div>
            </div> <!-- ava_name -->

            <div class="phone_block details_block">

                <div class="icon">
                    <svg-icon src="/assets/images/chat/contact_call.svg"></svg-icon>
                </div> <!-- icon -->

                <div class="item">
                    <div class="val">+43 02754 8457</div>
                    <div class="hint">Mobile</div>
                </div> <!-- item -->

                <div class="item">
                    <div class="val">+43 02754 8457</div>
                    <div class="hint">Mobile</div>
                </div> <!-- item -->

            </div> <!-- details_block -->

            <div class="email_block details_block">

                <div class="icon">
                    <svg-icon src="/assets/images/chat/contact_mail.svg"></svg-icon>
                </div> <!-- icon -->

                <div class="item">
                    <div class="val">alexfreeman@example.com</div>
                    <div class="hint">Personal</div>
                </div> <!-- item -->

                <div class="item">
                    <div class="val">alex_freeman@example.com</div>
                    <div class="hint">Work</div>
                </div> <!-- item -->

            </div> <!-- details_block -->

            <div class="address_block details_block">

                <div class="icon">
                    <svg-icon src="/assets/images/chat/contact_address.svg"></svg-icon>
                </div> <!-- icon -->

                <div class="item">
                    <div class="val">2000, Main Street San Francisco, SA, 94112</div>
                    <div class="hint">Home</div>
                </div> <!-- item -->

            </div> <!-- details_block -->

            <div class="no_icon_1 details_block">

                <div class="item">
                    <div class="val">Send Message</div>
                    <div class="val">Share Contact</div>
                    <div class="val">Start Secret Chat</div>
                </div> <!-- item -->

            </div> <!-- details_block -->

            <div class="no_icon_2 details_block">

                <div class="item">
                    <div class="val">Shared Media</div>
                    <div class="checkbox_round">
                        <div class="label" (click)="changeContactNotification()">Notifications</div>
                        <div class="wrapper">
                            <input id="createExtensions" type="checkbox" checked="{{isContactNotificationOn ? 'checked':''}}">
                            <div class="visual"><span></span></div>
                            <label for="createExtensions"></label>
                        </div> <!-- wrapper -->
                    </div> <!-- checkbox_round -->
                    <div class="val">Groups In Common</div>
                </div> <!-- item -->

            </div> <!-- details_block -->

            <div class="btn_block details_block">

                <div class="icon"></div>

                <div class="item">
                    <div class="val">Block User</div>
                </div> <!-- item -->

            </div> <!-- details_block -->
        </div> <!-- inner -->

    </div> <!-- user_details -->

</div> <!-- contacts -->