<div class="contacts">

    <div class="list">

        <div class="search_wrap">

            <div class="search_icon">
                <svg-icon src="../../assets/images/chat/magnifier_18px.svg"></svg-icon>
            </div> <!-- search-icon -->

            <input type="text" name="searching" placeholder="Search people">

            <div class="mic">
                <svg-icon src="../../assets/images/chat/microphone_24px.svg"></svg-icon>
            </div> <!-- mic -->

        </div> <!-- search_wrap -->

        <div class="items">

            <div class="group">
                <div class="icon">
                    <svg-icon src="/assets/icons/_logo/encryptotel_logo.svg"></svg-icon>
                </div> <!-- icon -->
                <div class="inner">

                    <div class="item">
                        <div class="logo">AS</div>
                        <div class="name"><span>Adam Smit</span></div>
                        <div class="member">
                            <svg-icon src="/assets/icons/_logo/encryptotel_logo.svg"></svg-icon>
                        </div> <!-- member -->
                    </div> <!-- item -->

                    <div class="item">
                        <div class="logo">AS</div>
                        <div class="name"><span>Adam Smit</span></div>
                        <div class="member">
                            <svg-icon src="/assets/icons/_logo/encryptotel_logo.svg"></svg-icon>
                        </div> <!-- member -->
                    </div> <!-- item -->

                    <div class="item">
                        <div class="logo">AS</div>
                        <div class="name"><span>Adam Smit</span></div>
                        <div class="member">
                            <svg-icon src="/assets/icons/_logo/encryptotel_logo.svg"></svg-icon>
                        </div> <!-- member -->
                    </div> <!-- item -->

                </div> <!-- inner -->
            </div> <!-- group -->

            <div class="group">
                <div class="icon">
                    A
                </div> <!-- icon -->
                <div class="inner">

                    <div class="item">
                        <div class="logo">AS</div>
                        <div class="name"><span>Adam Smit</span></div>
                        <div class="member">
                            <svg-icon src="/assets/icons/_logo/encryptotel_logo.svg"></svg-icon>
                        </div> <!-- member -->
                    </div> <!-- item -->

                    <div class="item">
                        <div class="logo">AS</div>
                        <div class="name"><span>Adam Smit</span></div>
                        <div class="member">
                            <svg-icon src="/assets/icons/_logo/encryptotel_logo.svg"></svg-icon>
                        </div> <!-- member -->
                    </div> <!-- item -->

                    <div class="item">
                        <div class="logo">AS</div>
                        <div class="name"><span>Adam Smit</span></div>
                        <div class="member">
                            <svg-icon src="/assets/icons/_logo/encryptotel_logo.svg"></svg-icon>
                        </div> <!-- member -->
                    </div> <!-- item -->

                </div> <!-- inner -->
            </div> <!-- group -->

            <div class="group">
                <div class="icon">
                    B
                </div> <!-- icon -->
                <div class="inner">

                    <div class="item">
                        <div class="logo">AS</div>
                        <div class="name"><span>Adam Smit</span></div>
                        <div class="member">
                            <svg-icon src="/assets/icons/_logo/encryptotel_logo.svg"></svg-icon>
                        </div> <!-- member -->
                    </div> <!-- item -->

                    <div class="item">
                        <div class="logo">AS</div>
                        <div class="name"><span>Adam Smit</span></div>
                        <div class="member">
                            <svg-icon src="/assets/icons/_logo/encryptotel_logo.svg"></svg-icon>
                        </div> <!-- member -->
                    </div> <!-- item -->

                    <div class="item">
                        <div class="logo">AS</div>
                        <div class="name"><span>Adam Smit</span></div>
                        <div class="member">
                            <svg-icon src="/assets/icons/_logo/encryptotel_logo.svg"></svg-icon>
                        </div> <!-- member -->
                    </div> <!-- item -->

                </div> <!-- inner -->
            </div> <!-- group -->

            <div class="group">
                <div class="icon">
                    C
                </div> <!-- icon -->
                <div class="inner">

                    <div class="item">
                        <div class="logo">AS</div>
                        <div class="name"><span>Adam Smit</span></div>
                        <div class="member">
                            <svg-icon src="/assets/icons/_logo/encryptotel_logo.svg"></svg-icon>
                        </div> <!-- member -->
                    </div> <!-- item -->

                    <div class="item">
                        <div class="logo">AS</div>
                        <div class="name"><span>Adam Smit</span></div>
                        <div class="member">
                            <svg-icon src="/assets/icons/_logo/encryptotel_logo.svg"></svg-icon>
                        </div> <!-- member -->
                    </div> <!-- item -->

                    <div class="item">
                        <div class="logo">AS</div>
                        <div class="name"><span>Adam Smit</span></div>
                        <div class="member">
                            <svg-icon src="/assets/icons/_logo/encryptotel_logo.svg"></svg-icon>
                        </div> <!-- member -->
                    </div> <!-- item -->

                </div> <!-- inner -->
            </div> <!-- group -->

        </div> <!-- items -->

        <div class="add_contact">+</div>

    </div> <!-- list -->

</div> <!-- contacts -->