@import "../../../vars"
// Global variables import

.call_queues_members
  flex-direction: column
  flex: 1
  &_header
    flex-direction: row
    align-items: center
    padding: rem(24)
    background: $dark_overlay
    margin-bottom: rem(24)
    pbx-button
      width: unset
      margin-left:  rem(16)
  pbx-table
    flex: 1

.pbx_queue_empty_text
    grid-column: 2/3
    text-align: center
    font-size: 2.28571429rem
