<div class="call_queues_members">
  <div class="call_queues_members_header">
    {{ headerText }}
    <pbx-button (onClick)="addMember()" value="Add Member"></pbx-button>
  </div>
    <pbx-table 
        *ngIf="hasData"
        [name]="membersName"
        [tableInfo]="table" 
        [tableItems]="members"
        [editMode]="service.editMode"
        (onDelete)="deleteMember($event)"
        >
    </pbx-table>
    <span class="pbx_queue_empty_text" *ngIf="!hasData">{{ noDataMessage }}</span>
</div>
