@import "../../vars"
// Global variables import

div, p, span, svg-icon
  cursor: pointer

.settings
  &_container
    display: flex
    flex-flow: column
    justify-content: space-between
    width: 100%
    height: 100%
  &_wrapper
    display: flex
    flex-flow: column
    width: 100%
    height: 50%
  &_profile
    height: 30%
  &_system
    height: 65%
  &__title
    min-height: 50px
    font-size: rem(18)
    color: darken($dark_primary, 40%)
  &_items_wrapper
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    width: 100%
    height: 100%
    .item_profile
      height: 100%
  &__item
    background: $dark_success
    width: 15%
    height: 45%
    margin-right: 20px
    display: flex
    flex-flow: row
    justify-content: center
    align-items: center
    &__content
      width: 70%
      height: 65%
      display: flex
      flex-flow: column
      justify-content: flex-end
      p
        text-transform: uppercase
        font-size: rem(20)
        color: $dark_primary
  &__icons
    width: 30%
    height: auto
    fill: $dark_primary
    flex-grow: 1

.theme_item
  height: 100%
  width: 50%
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center
  span
    color: $dark_primary
  p
    text-transform: uppercase
    font-size: rem(20)
    margin-top: 5px
    color: $dark_primary

.content_theme
  align-items: center

.theme_icon
  width: 60%

.white
  background: $dark_overlay

.black
  background: $dark_success
