@import "../../vars"
// Global variables import

.settings
  &_container
    display: block
    flex-direction: column
    margin: 0 rem(-32) rem(-24) 0
    padding: 0 rem(32) rem(24) 0
    color: $font-color
    &_mobile
      display: none
      margin: rem(-24) 0
      padding: rem(24) 0
      grid-gap: rem(24)
      grid-template-columns: repeat(auto-fill, minmax(rem(232), 1fr))
  &_title
    font-size: rem(16)
    margin: rem(48) 0 rem(24)
    &:first-child
      margin-top: 0
  &_wrap
    display: grid
    grid-gap: rem(20)
    grid-template-columns: repeat(auto-fill, rem(232))
  &_item
    flex-direction: column
    background: $dark_success
    flex: 1
    padding: rem(24) rem(32)
    &:hover
      opacity: .75
    &.empty
      background: $dark_pagination
    &_wrap
      background: $dark_primary
      height: rem(160)
      &.inactive
        display: none
    &_icon
      width: rem(48)
      height: rem(48)
      /deep/ polygon,/deep/ circle,/deep/ path
        fill: $font-color
    &_title
      font-size: rem(18)
      text-transform: uppercase
      margin-top: auto
  &_theme
    &_item
      height: rem(160)
      cursor: pointer
      background: $dark_primary
      >*, *, /deep/ *
        cursor: pointer
    &_type
      flex: 1
      padding: rem(24) 0
      flex-direction: column
      align-items: center
      position: relative
      &:hover
        opacity: .75
      &.light_theme
        background: $dark_pagination_inactive
      &.dark_theme
        background: $dark_success
    &_icon
      height: rem(48)
      width: rem(48)
      /deep/ polygon
        fill: $font-color
    &_text
      margin-top: auto
      text-transform: uppercase
      font-size: rem(18)
      flex-direction: column
      align-items: center
      >span
        text-transform: lowercase
      &.unselected
        opacity: .5
@media (max-width: 767px)
  .settings
    &_container
      display: none
      &_mobile
        display: grid
    &_item
      display: flex
      align-items: center
      padding: rem(32) 0
    &_theme_icon
      &.unselected
        /deep/ polygon
          fill: transparent
@media (max-width: 535px)
  .settings
    &_container_mobile
      grid-template-columns: 1fr
      grid-gap: rem(1)
    &_item
      flex-direction: row
      padding: rem(16)
      &_wrap
        height: auto
      &_title
        margin: 0 0 0 rem(16)
        font-weight: 400
      &_icon
        height: rem(32)
        width: rem(32)
    &_theme
      &_item
        margin-top: rem(16)
        height: auto
        flex-direction: column
      &_type
        flex-direction: row
        padding: rem(16)
      &_icon
        width: rem(32)
        height: rem(32)
      &_text
        flex-direction: row
        margin: 0 0 0 rem(16)
        font-weight: 400
        text-transform: lowercase
        >span
          text-transform: capitalize
          &:after
            content: ' '
.settings_code
  margin-left: rem(160)
  height: rem(200)
  width: rem(200)
