<div class="settings_container" [@Fade]>
  <div class="settings_title">Profile settings</div>
  <div class="settings_wrap">
    <a class="settings_item" [ngClass]="{'inactive':!item.available}"
       *ngFor="let item of settings.profile" routerLink="{{item.routerLink}}">
      <svg-icon class="settings_item_icon" *ngIf="item.icon" src="{{item.src}}"></svg-icon>
      <span class="settings_item_title">{{item.title}}</span>
    </a>
    <div class="settings_theme_item">
      <div class="settings_theme_type {{item.value}}" *ngFor="let item of settings.theme"
           [ngClass]="{'inactive':!item.available}" (click)="changeTheme(item.value)">
        <svg-icon class="settings_theme_icon" src="{{item.src}}" *ngIf="item.value===_main.userTheme" [@Fade]>
        </svg-icon>
        <div class="settings_theme_text" [ngClass]="{'unselected':item.value!==_main.userTheme}">
          <span>{{item.text}}</span>theme</div>
      </div>
    </div>
  </div>
  <div class="settings_title">System settings</div>
  <div class="settings_wrap">
    <a class="settings_item" [ngClass]="{'inactive':!item.available}"
       *ngFor="let item of settings.system" routerLink="{{item.routerLink}}">
      <svg-icon class="settings_item_icon" *ngIf="item.icon" src="{{item.src}}"></svg-icon>
      <span class="settings_item_title">{{item.title}}</span>
    </a>
  </div>
</div>
<div class="settings_container_mobile" [@Fade]>
  <a class="settings_item" [ngClass]="{'inactive':!item.available}"
     *ngFor="let item of settings.mobile" routerLink="{{item.routerLink}}">
    <svg-icon class="settings_item_icon" *ngIf="item.icon" src="{{item.src}}"></svg-icon>
    <span class="settings_item_title">{{item.title}}</span>
  </a>
  <div class="settings_theme_item">
    <div class="settings_theme_type {{item.value}}" *ngFor="let item of settings.theme"
         [ngClass]="{'inactive':!item.available}" (click)="changeTheme(item.value)">
      <svg-icon class="settings_theme_icon" src="{{item.src}}" *ngIf="item.value===_main.userTheme" [@Fade]>
      </svg-icon>
      <div class="settings_theme_text" [ngClass]="{'unselected':item.value!==_main.userTheme}">
        <span>{{item.text}}</span>theme</div>
    </div>
  </div>
</div>
