@import "../../../vars"

.hidden_input
  font-size: 30px
  position: absolute
  opacity: 0
  top: 0
  left: 0

.hidden_button_wrapper
  position: relative
  overflow: hidden
  display: inline-block
  p
    margin: 0

.call-rules-create
  display: flex
  flex-flow: column
  flex: 1 0 auto
  &_header
    display: flex
    flex-flow: row
    justify-content: flex-end
    margin-bottom: 10px
    pbx-button:first-child
      margin-right: 10px
  &_body
    display: flex
    flex-flow: column
    background: $dark_pagination_inactive
    flex: 1 0 auto
    padding: 30px
    .actions_form
      display: flex
      flex-flow: column
      flex: 1
  &_row
    display: flex
    flex-flow: row
    align-items: center
    margin-bottom: 10px
    height: 48px
    width: 100%
    & > div
      width: 100%
      pbx-button
        margin-right: 10px
        width: unset
      div
        pbx-button:first-child
          margin: 0 10px
    h3
      font-weight: 500
    label
      width: 150px
      color: $font-color
      font-size: rem(13)
    .action
      font-weight: 500
      color: unset
    pbx-select
      width: 100%
    .error_select
      /deep/
        .select_item.selected.no_border
          border-bottom: 1px solid $dark_error
    .short_input
      width: 65px
    svg-icon
      fill: $dark_error
      width: 13px
      height: 13px
      margin: 5px
    .time_wrap
      display: flex
      flex-flow: row
      align-items: center
      pbx-select
        width: 100px
        &:first-child
          margin-right: 10px
        &:last-child
          margin-left: 10px

.error_select
  /deep/
    .select_item.selected.no_border
      border: 1px solid green
