<div class="call-rules-create">
    <div class="call-rules-create_header">
        <div class="call-rules-create_header_controls">
            <pbx-button [buttonType]="'cancel'" [value]="'Cancel'" (onClick)="cancel()"></pbx-button>
            <pbx-button [buttonType]="'success'" [value]="'Save'" (onClick)="save()" [loading]="saving"></pbx-button>
        </div>
    </div>
    <pbx-loader *ngIf="loading"></pbx-loader>
    <div *ngIf="!loading" class="call-rules-create_body">
        <form [formGroup]="callRulesForm" class="actions_form">
            <div class="call-rules-create_row">
                <h3>General</h3>
            </div>

            <pbx-input name="Enable Rule"
                       key="enabled"
                       [checkbox]="true"
                       [form]="true"
                       [object]="callRulesForm">
            </pbx-input>
            <pbx-input name="Rule Name"
                       key="name"
                       [form]="true"
                       [object]="callRulesForm">
            </pbx-input>
            <pbx-input name="Description"
                       key="description"
                       [form]="true"
                       [object]="callRulesForm">
            </pbx-input>
            <pbx-input *ngIf="mode !== 'edit'"
                       name="Phone number"
                       key="sipId"
                       displayKey="phoneNumber"
                       errorKey="sip"
                       [form]="true"
                       (onSelect)="selectNumber($event)"
                       [options]="numbers"
                       [(errors)]="service.errors"
                       [(objectView)]="selectedNumber"
                       [(object)]="callRulesForm">
            </pbx-input>

            <ng-container *ngIf="!callRulesForm.get('sipId').value">
                <div class="call-rules-create_row">
                    <label></label>
                    <div><p>Please note: you must select a phone number before creating a new action.</p></div>
                </div>
            </ng-container>

            <pbx-loader *ngIf="loadingStuff"></pbx-loader>

            <ng-container *ngIf="!loadingStuff && callRulesForm.get('sipId').value">
                <div class="call-rules-create_row">
                    <h3>Options</h3>
                </div>

                <pbx-input name="Action"
                           displayKey="code"
                           formKey="ruleActions"
                           [form]="true"
                           (onSelect)="selectAction($event)"
                           [options]="actionsList"
                           [(errors)]="service.errors"
                           [(objectView)]="selectedActions[0]"
                           [(object)]="callRulesForm">
                </pbx-input>


                <ng-container formArrayName="ruleActions">
                    <ng-container *ngFor="let action of actionsControls.controls;let i = index" [formGroupName]="i">
                        <ng-container [ngSwitch]="selectedActions[i].id">
                            <ng-template [ngSwitchCase]="1">

                                <pbx-input name="Extension number"
                                           displayKey="phoneNumber"
                                           formKey="parameter"
                                           [form]="true"
                                           (onSelect)="selectSipInner(i, $event)"
                                           [options]="sipInners"
                                           [(errors)]="service.errors"
                                           [(objectView)]="selectedSipInners[i]"
                                           [object]="action">
                                </pbx-input>

                                <pbx-input name="if I do not answer call within"
                                           description="seconds"
                                           inputClass="time"
                                           key="timeout"
                                           [form]="true"
                                           [object]="action">
                                </pbx-input>

                                <call-rules-time-rules [action]="action" (onChange)="onTimeRuleChange(i, $event)"></call-rules-time-rules>
                            </ng-template>
                            <ng-template [ngSwitchCase]="2">
                                <pbx-input name="External number"
                                           key="parameter"
                                           [form]="true"
                                           [object]="action">
                                </pbx-input>

                                <pbx-input name="if I do not answer call within"
                                           description="seconds"
                                           inputClass="time"
                                           key="timeout"
                                           [form]="true"
                                           [object]="action">
                                </pbx-input>

                                <call-rules-time-rules [action]="action" (onChange)="onTimeRuleChange(i, $event)"></call-rules-time-rules>

                            </ng-template>
                            <ng-template [ngSwitchCase]="3">

                                <pbx-input name="Queue"
                                           displayKey="name"
                                           [form]="true"
                                           (onSelect)="selectQueue(i, $event)"
                                           [options]="queues"
                                           [(errors)]="service.errors"
                                           [(objectView)]="selectedQueues[i]"
                                           [object]="action">
                                </pbx-input>

                                <pbx-input name="if I do not answer call within"
                                           description="seconds"
                                           inputClass="time"
                                           key="timeout"
                                           [form]="true"
                                           [object]="action">
                                </pbx-input>

                                <call-rules-time-rules [action]="action" (onChange)="onTimeRuleChange(i, $event)"></call-rules-time-rules>

                            </ng-template>
                            <ng-template [ngSwitchCase]="4">
                                <div class="call-rules-create_row">
                                    <label></label>
                                    <div>
                                        <p>Cancel call</p>
                                    </div>
                                </div>
                                <!--<call-rules-timeout [value]="getTimeout(i)" (onChange)="onTimeoutChange(i, $event)"></call-rules-timeout>-->
                            </ng-template>
                            <ng-template [ngSwitchCase]="5">

                                <pbx-input name="Voice greeting"
                                           displayKey="fileName"
                                           [form]="true"
                                           (onSelect)="selectFile(i, $event)"
                                           [options]="files"
                                           [(errors)]="service.errors"
                                           [(objectView)]="selectedFiles[i]"
                                           [object]="action">
                                    <div>
                                        <pbx-button [value]="'Play'" [buttonType]="'accent'"></pbx-button>
                                        <pbx-button [value]="'Upload'" [buttonType]="'accent'"></pbx-button>
                                    </div>
                                </pbx-input>

                                <pbx-input name="if I do not answer call within"
                                           description="seconds"
                                           inputClass="time"
                                           key="timeout"
                                           [form]="true"
                                           [object]="action">
                                </pbx-input>

                                <call-rules-time-rules [action]="action" (onChange)="onTimeRuleChange(i, $event)"></call-rules-time-rules>

                            </ng-template>

                            <pbx-input name="Action"
                                       displayKey="code"
                                       formKey="ruleActions"
                                       [form]="true"
                                       (onSelect)="selectAction($event, i + 1)"
                                       [options]="actionsList"
                                       [(errors)]="service.errors"
                                       [(objectView)]="selectedActions[i + 1]"
                                       [(object)]="callRulesForm">
                                <div>
                                    <svg-icon src="../../assets/icons/cancel_delete_12px.svg"
                                              (click)="deleteAction(i)"
                                              style="width: 13px; height: 13px; fill: #c76262; margin: 5px;"></svg-icon>
                                </div>
                            </pbx-input>

                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
        </form>
    </div>
</div>
