<pbx-form [background]="true"
          [confirm]="{value: 'Save', buttonType: 'success', inactive: saving}"
          [decline]="{value: 'Cancel', buttonType: 'cancel'}"
          (onConfirm)="save()"
          (onDecline)="cancel()"
>
    <pbx-loader *ngIf="loading"></pbx-loader>
        <form [formGroup]="callRulesForm" class="call-rules-create" *ngIf="!loading">
            <div class="call-rules-create_row">
                <h3>General</h3>
            </div>

            <pbx-input name="Enable Rule"
                       key="enabled"
                       [checkbox]="true"
                       [form]="true"
                       [(errors)]="service.errors"
                       [object]="callRulesForm">
            </pbx-input>
            <pbx-input name="Rule Name"
                       key="name"
                       [form]="true"
                       [required]="true"
                       [(errors)]="service.errors"
                       [object]="callRulesForm">
            </pbx-input>
            <pbx-input name="Description"
                       key="description"
                       [form]="true"
                       [(errors)]="service.errors"
                       [object]="callRulesForm">
            </pbx-input>
            <pbx-input *ngIf="mode !== 'edit'"
                       name="Phone number"
                       key="sipId"
                       displayKey="phoneNumber"
                       errorKey="sip"
                       [form]="true"
                       [required]="true"
                       (onSelect)="selectNumber($event)"
                       [options]="numbers"
                       [(errors)]="service.errors"
                       [(objectView)]="selectedNumber"
                       [(object)]="callRulesForm"
                       [placeholder]="'[choose one]'">
            </pbx-input>

            <ng-container *ngIf="!callRulesForm.get('sipId').value">
                <div class="call-rules-create_row">
                    <label></label>
                    <div><p>Please note: you must select a phone number before creating a new action.</p></div>
                </div>
            </ng-container>

            <pbx-loader *ngIf="loadingStuff"></pbx-loader>

            <ng-container *ngIf="!loadingStuff && callRulesForm.get('sipId').value">
                <div class="call-rules-create_row">
                    <h3>Options</h3>
                </div>

                <pbx-input name="Action"
                           displayKey="code"
                           [form]="true"
                           [required]="true"
                           [formKey]="getActionFormKey(0)"
                           (onSelect)="selectAction($event)"
                           [options]="actionsList"
                           [(errors)]="service.errors"
                           [(objectView)]="selectedActions[0]"
                           [(object)]="callRulesForm"
                           [placeholder]="'[choose one]'">
                </pbx-input>


                <ng-container formArrayName="ruleActions">
                    <ng-container *ngFor="let action of actionsControls.controls;let i = index" [formGroupName]="i">
                        <ng-container [ngSwitch]="selectedActions[i].id">
                            <ng-template [ngSwitchCase]="1">
                                <pbx-input name="Extension number"
                                           displayKey="phoneNumber"
                                           key="parameter"
                                           [errorKey]="'ruleActions.new_' + i + '.parameter'"
                                           [form]="true"
                                           [required]="true"
                                           (onSelect)="selectSipInner(i, $event)"
                                           [options]="sipInners"
                                           [(errors)]="service.errors"
                                           [(objectView)]="selectedSipInners[i]"
                                           [object]="action"
                                           [placeholder]="'[choose one]'">
                                </pbx-input>

                                <pbx-input name="If I do not answer call within"
                                           description="seconds"
                                           inputClass="time"
                                           key="timeout"
                                           [errorKey]="'ruleActions.new_' + i + '.timeout'"
                                           [form]="true"
                                           [(errors)]="service.errors"
                                           [object]="action">
                                </pbx-input>

                                <call-rules-time-rules [action]="action"
                                                       (onChange)="onTimeRuleChange(i, $event)"></call-rules-time-rules>
                            </ng-template>
                            <ng-template [ngSwitchCase]="2">
                                <pbx-input name="External number"
                                           key="parameter"
                                           [form]="true"
                                           [required]="true"
                                           [object]="action">
                                </pbx-input>

                                <pbx-input name="If I do not answer call within"
                                           description="seconds"
                                           inputClass="time"
                                           key="timeout"
                                           [errorKey]="'ruleActions.new_' + i + '.timeout'"
                                           [form]="true"
                                           [(errors)]="service.errors"
                                           [object]="action">
                                </pbx-input>

                                <call-rules-time-rules [action]="action"
                                                       (onChange)="onTimeRuleChange(i, $event)"></call-rules-time-rules>

                            </ng-template>
                            <ng-template [ngSwitchCase]="3">

                                <pbx-input name="Queue"
                                           displayKey="name"
                                           key="parameter"
                                           [errorKey]="'ruleActions.new_' + i + '.parameter'"
                                           [form]="true"
                                           [required]="true"
                                           (onSelect)="selectQueue(i, $event)"
                                           [options]="queues"
                                           [(errors)]="service.errors"
                                           [(objectView)]="selectedQueues[i]"
                                           [object]="action">
                                </pbx-input>

                                <pbx-input name="If I do not answer call within"
                                           description="seconds"
                                           inputClass="time"
                                           key="timeout"
                                           [errorKey]="'ruleActions.new_' + i + '.timeout'"
                                           [form]="true"
                                           [(errors)]="service.errors"
                                           [object]="action">
                                </pbx-input>

                                <call-rules-time-rules [action]="action"
                                                       (onChange)="onTimeRuleChange(i, $event)"></call-rules-time-rules>

                            </ng-template>
                            <ng-template [ngSwitchCase]="4">
                                <div class="call-rules-create_row">
                                    <label></label>
                                    <div>
                                        <p>Cancel call</p>
                                    </div>
                                </div>
                                <!--<call-rules-timeout [value]="getTimeout(i)" (onChange)="onTimeoutChange(i, $event)"></call-rules-timeout>-->
                            </ng-template>
                            <ng-template [ngSwitchCase]="5">

                                <pbx-input name="Voice greeting"
                                           displayKey="fileName"
                                           key="parameter"
                                           [errorKey]="'ruleActions.new_' + i + '.parameter'"
                                           [form]="true"
                                           [required]="true"
                                           (onSelect)="selectFile(i, $event)"
                                           [options]="files"
                                           [(errors)]="service.errors"
                                           [(objectView)]="selectedFiles[i]"
                                           [object]="action">
                                    <div class="greeting">
                                        <pbx-button [value]="playButtonText" buttonType="accent" (onClick)="togglePlay(i)"></pbx-button>
                                        <div class="hidden_button_wrapper">
                                            <pbx-button value="Upload" buttonType="accent" [loading]="storage.loading"></pbx-button>
                                            <input type="file" class="hidden_input" #fileInput (change)="uploadFile($event)">
                                        </div>
                                    </div>
                                </pbx-input>

                                <pbx-media-player
                                    #mediaPlayer
                                    [mediaStream]="currentMediaStream"
                                    (onGetMediaData)="getMediaData($event)"
                                    (onMediaStateChanged)="mediaStateChanged($event)"
                                    >
                                </pbx-media-player>

                                <pbx-input name="If I do not answer call within"
                                           description="seconds"
                                           inputClass="time"
                                           key="timeout"
                                           [errorKey]="'ruleActions.new_' + i + '.timeout'"
                                           [form]="true"
                                           [(errors)]="service.errors"
                                           [object]="action">
                                </pbx-input>

                                <call-rules-time-rules [action]="action"
                                                       (onChange)="onTimeRuleChange(i, $event)"></call-rules-time-rules>

                            </ng-template>

                            <pbx-input *ngIf="checkNextAction(i)" name="Action"
                                       displayKey="code"
                                       [form]="true"
                                       [required]="true"
                                       [formKey]="getActionFormKey(i + 1, true)"
                                       (onSelect)="selectAction($event, i + 1)"
                                       [options]="actionsList"
                                       [(errors)]="service.errors"
                                       [(objectView)]="selectedActions[i + 1]"
                                       [(object)]="callRulesForm"
                                       [placeholder]="'[choose one]'"
                                       class="noMargin">
                                <div>
                                    <div class="icon_wrap" (click)="deleteAction(i)">
                                        <svg-icon src="../../assets/icons/_middle/cancel_delete_12px.svg"></svg-icon>
                                    </div>
                                </div>
                            </pbx-input>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
        </form>
</pbx-form>
<pbx-modal [modalEx]="storage.modalUpload" (onConfirmEx)="storage.doUploadAction($event)" (onDecline)="storage.cancelUploadAction()"></pbx-modal>
